<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title, description, keyword, robots -->
        {% if isSingle%}
            {% list Posts %}
                <title>{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }} - {% endif %}{{Blog.Title}}</title>
                <meta name="description" content="{{ Post.Snippet }}" />
                <meta name="keywords" content="{% list Post.Tags %}{{ Tag.Title }}{% if loop.last == false %}, {% endif %}{% endlist %}" />
                <meta name="robots" content="index,follow" />
            {% endlist %}
        {% elseif isTag and Tag is not empty %}
            <title>{{ Tag.Title|title }} - {{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Tag.Title|title }}" />
            <meta name="robots" content="index,follow" />
        {% elseif isSearch and Search is not empty %}
            <title>{{ Search|title }} - {{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Search|title }}" />
            <meta name="robots" content="noindex" />
        {% else %}
            <title>{{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="robots" content="index,follow" />
        {% endif %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />


        <!-- Social setting : Facebook, G+ .. -->
        <meta property="og:site_name" content="{{ Blog.Title }}" />
        <meta property="og:type" content="blog" />
        <meta property="fb:app_id" content="{% if Custom('facebook_appid') is not empty %}{{ Custom('facebook_appid') }}{% endif %}" />
        <meta itemprop="name" content="{{ Blog.Title }}" />

        {% if isSingle %}
            {% list Posts %}
                <meta property="og:title" content="{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }}{% endif %}"/>
                <meta property="og:description" content="{{ Post.Snippet }}" />
                <meta itemprop="description" content="{{ Post.Snippet }}" />
                <meta property="og:url" content="{{ Post.Permalink }}" />
                {% if Post.Cover %}
                    <meta property="og:image" content="{{ Post.Cover }}"/>
                    <meta itemprop="image" content="{{ Post.Cover }}" />
                {% endif %}
            {% endlist %}
            <meta property="og:type" content="overblogkiwi:see" />
        {% else %}
            <meta property="og:title" content="{{ Blog.Title }}"/>
            <meta property="og:description" content="{{ Blog.Description }}" />
            <meta itemprop="description" content="{{ Blog.Description }}" />
            {% if Blog.Avatar %}
            <meta property="og:image" content="{{ Blog.Avatar }}"/>
            <meta itemprop="image" content="{{ Blog.Avatar }}" />
            {% else %}
                {% list Posts %}
                {% if loop.index == 1 and Post.Cover %}
            <meta property="og:image" content="{{ Post.Cover }}"/>
            <meta itemprop="image" content="{{ Post.Cover }}" />
                {% endif %}
                {% endlist %}
            {% endif %}

            {% if isSearch %}
                <meta property="og:type" content="overblogkiwi:search" />
            {% else %}
                <meta property="og:type" content="overblogkiwi:visit" />
            {% endif %}
        {% endif %}


        <!-- shortcut:[Custom vars] -->
        <meta name="constant:displayArticlesLimit" content="6" />

        <meta name="string:text_publishedby:&quot;Published by&quot;" default="Published by" group="Wordings" />

        <meta name="list:snippet:On index, display post as" items="snippet, first section, full post" default="snippet" group="Posts" />
        <meta name="image:default_post_cover:Default post cover (Only with snippet display mode)" group="Posts" />

        <meta name="boolean:display_widget_profile:Hide Widget &quot;Blog Profile&quot;" group="Widgets" />
        <meta name="boolean:display_widget_search:Hide Widget &quot;Search&quot;" group="Widgets" />
        <meta name="boolean:display_widget_pages:Hide Widget &quot;Pages&quot;" group="Widgets" />
        <meta name="boolean:display_widget_tags:Hide Widget &quot;Tags&quot;" group="Widgets" />
        <meta name="boolean:display_widget_navigation:Hide Widget &quot;Navigation&quot;" group="Widgets" />
        <meta name="boolean:display_widget_social:Hide Widget &quot;Social&quot;" group="Widgets" />

        <meta name="string:facebook:Enter your Facebook Username" default="overblog" group="Social" />
        <meta name="string:twitter:Enter your Twitter Username" default="overblog" group="Social" />
        <meta name="list:share_button:Chose your share button" items="Facebook, Twitter, Google +, All" default="All" group="Social">

        <meta name="list:comment:Comment service" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comment" />
        <meta name="string:comment_disqus:Disqus account" default="obcomment" group="Comment" />

        <meta name="string:facebook_account:Enter your Facebook Account" default="overblog" group="Settings" />
        <meta name="string:twitter_account:Enter your Twitter Account" default="overblog" group="Settings" />
        <meta name="string:facebook_appid:Enter your FaceBook App ID" group="Settings" />
        <meta name="string:google_analytics:Enter your Google Analytics ID" group="Settings" />
        <meta name="string:google_webmaster_id:Enter your Google Webmaster Tools ID" group="Settings" />
        <meta name="string:msn_webmaster_id:Enter your MSN Webmaster Tools ID" group="Settings" />

        <!-- shortcut:[Includes] -->
        <!-- favicon -->
        {% if Blog.FaviconUrl is not empty %}
            <link rel="icon" type="image/png" href="{{ Blog.FaviconUrl }}" />
        {% else %}
            <link rel="shortcut icon" type="image/x-icon" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.ico" />
            <link rel="icon" type="image/png" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.png" />
            <link rel="apple-touch-icon" href="http://fdata.over-blog.net/99/00/00/01/img/mobile-favicon.png" />
        {% endif %}

        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {# Styles #}
        <!-- Fancybox -->
        <link rel="stylesheet" type="text/css" href="http://assets.over-blog-kiwi.com/themes/1/js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

        <style type="text/css">
            .clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix {display: inline-block;} /* Hides from IE-mac \*/ * html .clearfix {height: 1%; } .clearfix {display: block;}
            /* Structure */
            #ln_0 {height:325px; position:relative;}
            #ln_0 .title {color:#714400; font-family:Georgia,serif; font-size:30px; font-weight:bold; left:310px; position:absolute; top:120px;}
            #ln_0 .title a {color:#714400; text-decoration:none;}
            #cl_0_0.cl {}
            #cl_1_0 {float:left; margin: 0; padding-left:75px; width:550px;}
            #cl_1_0 .column_content {position: relative; }
            #cl_1_1 {position:relative; top:-80px; width:320px; float: left;}
            #cl_1_1 .column_content {}
            #cl_2_0 {float:none; text-align:center;}
            #cl_2_0 p {background:none !important; color:#fff; padding:50px 0px; text-align:center;}
            #cl_2_0 p a {color:#636363; font-size:14px; line-height:18px;}
            body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
            table {border-collapse:collapse; border-spacing:0;}
            fieldset,img {border:0;}
            address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
            .box ol,.box ul {list-style:none;}
            caption,th {text-align:left;}
            h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
            q:before,q:after {content:'';}
            abbr,acronym {border:0;}

            body {background:url('http://assets.over-blog-kiwi.com/themes/3/images/body.png') repeat top center; color:#fff; font-family:Georgia,serif; font-size: 13px;}
            a {color:#c2e074; text-decoration:none;}
            a:hover {text-decoration:underline;}
            input {}
            #ln_1 {background:url('http://assets.over-blog-kiwi.com/themes/3/images/main.png') repeat-y 50px 0px;}
            #global {background:url('http://assets.over-blog-kiwi.com/themes/3/images/wall.png') no-repeat top center;}
            #ln_2 {background:url('http://assets.over-blog-kiwi.com/themes/3/images/footer.png') no-repeat 50px 0px; height:200px;}

            /* General */
            .ln {clear:both; margin:0 auto; width:990px;}
            .cl {float:left;}
            .clear {clear:both;}
            article {margin: 0 0 5em 0;}
            .articles {position:relative; top:0px;}
            .article {margin-bottom:40px; position:relative;}
            .beforeArticle .date {background:url('http://assets.over-blog-kiwi.com/themes/3/images/date.png') no-repeat top left; color:#714400; display:block; font-size: 10px; height:66px; left:-20px; position:absolute; top:0px; width:60px; padding:5px 15px 0 12px;}
            .date .day,
            .date .month,
            .date .year {display: block; font-size: 2.5em; text-align: center;}
            .date .month {font-size: 1.2em;}
            .date .year {font-size: 1em;}
            .divTitreArticle, .divPageTitle {border-bottom:1px solid #636360; color:#fff; font-size:35px; margin:0 0 20px 2px; padding:10px 0 15px 65px; width:453px;}
            .contenuArticle {line-height:18px; width: 480px; margin-left: 39px; padding-bottom: 10px;}
            .contenuArticle p,
            .contenuArticle ol,
            .contenuArticle ul {margin-bottom:10px;}
            .contenuArticle a {color:#c2e074;}
            .afterArticle {border:solid #636360; border-width:1px 0; margin-left:40px; padding:5px 0; position:relative; width:480px;}
            .afterArticle a {color:#e7d08b; font-weight:bold;}
            .afterArticle .linkAddComment {color:#c1e073;}
            .afterArticle .spanRecommend {}
            .afterArticle .linkRecommend {color:#e6bbe0;}
            .list-title {position: absolute; top: -50px; left: 20px; font-size: 24px; font-weight: normal;}
            .ob-section {margin: 1em 0;}
            .ob-text pre {color: #aaa;}

            /* Box */
            .box {color:#f6f2ba; margin:30px 0 0 15px; width: 98%;}
            .box a {color:#fff;}
            .box-content {font-size:11px; font-style:italic;}
            .box-content li {background:url('http://assets.over-blog-kiwi.com/themes/3/images/box-li.png') no-repeat 0px 10px; margin-bottom:5px; padding-left:10px;}
            .box-content form input[type="text"] {background:#d8d8d5; border:none; padding:2px;}
            .box-content form input[type="submit"] {width: 60px; height: 17px; border: 1px solid #a4c871; cursor: pointer; background-color: #C2E074; font-size: 13px; font-family: 'Georgia', serif;}
            .box-content form input[type="submit"]:hover {background-color: #a4c871;}
            .box-content form input[type="submit"]:active {background-color: #94b565;}
            .box-titre {background:url('http://assets.over-blog-kiwi.com/themes/3/images/h2-border.png') no-repeat bottom left; color:#f2aa3e; font-size:13px; margin-bottom:5px; padding-bottom:5px; text-transform:uppercase;}
            .box-titre a {color:#f2aa3e;}

            /* Profile */
            .box.profil {background:url('http://assets.over-blog-kiwi.com/themes/3/images/post-it.png') no-repeat top left; color:#636363; height:256px; margin:0; padding:45px 0 0 35px; position:relative; width:284px;}
            .box.profil .box-titre h2 {color:#ae6100; font-size:23px; margin-bottom:20px;}
            .box.profil .box-content {color:#636363; font-size:12px;}
            .box.profil .box-content li {color:#636363;}
            .box.profil img {position:absolute; right:34px; top:40px;}
            .box.profil a {color:#ae6100; text-decoration:underline;}

            /* Calendar */
            .box.calendrier {background:url('http://assets.over-blog-kiwi.com/themes/3/images/cal.png') no-repeat top left; height:269px; margin:0; overflow:hidden; padding:0 2px 0 7px; width:295px;}
            .box.calendrier .box-titre {height:25px; margin-bottom:20px;}
            .box.calendrier .box-titre h2 {color:#ae6100; font-size:23px; padding:15px 0 0 20px;}
            .calendarTable1 {color:#714400; width:298px;}
            .calendarTable1 td {font-size:12px; }
            .calendarTable1 td.calendarTop1 {color:#d65600; font-size:15px; height:30px;}
            .calendarTable1 td.calendarHeader1 {color:#b88600; font-style:normal; height:20px;}
            .calendarTable1 td.calendarDays1 {border-right:1px solid #fff; padding:1px;}
            .calendarTable1 td.calendarToday1 {background:#ae6100; color:#fff;}
            .calendarTable1 table {font-size:11px; font-weight:bold; margin-top:10px;}
            .calendarTable1 table td.calendarDays1 {border:none;}
            .calendarTable1 td a {color:#714400; display:block; padding:2px; text-align:center;}
            .calendarTable1 td a:hover {background:#ae6100; color:#fff; text-decoration:none;}

            /* Newsletter */
            .box.newsletter {color:#f6f2ba;}
            .box.newsletter li {background: transparent;}

            /* Form side */
            .box.newsletter form,
            .box.recherche form {}


            /* Share buttons */
            .share {width: 480px; margin: 0 0 20px 39px;}
            .fb-like iframe {margin-top: -3px;}

            /* Comments */
            .article_navigation {margin:10px 0 0 40px; width: 480px;}
            .h2commentMessage {margin-bottom: 10px; padding: 10px 10px 5px 0; color:#fff; font-size:20px; font-weight:bold;}
            .commentsList {}
            .item-comments {width: 480px; margin-left: 39px;}
            .commentContainer {border:1px solid #636360; margin:0 40px 20px 40px;}
            .commentMessage {font-size:14px; line-height:20px; padding:20px;}
            .commentOption {font-size:11px; height:20px; padding:0 20px 20px 20px; text-align:right;}
            .afterReactions {margin-left:40px;}
            .postText, .fbFeedbackPost {color: #FFF;}

            /* liste d'article */
            .listArticles {margin-left: 15px; margin-bottom: 15px; list-style: none;}
            .pagination {width: 480px; margin: 10px 40px; font-size: 11px; padding: 2px 0;}

            .pagination .previous {float: left;}
            .pagination .top {position: absolute; left: 49%;}
            .pagination .next {float: right;}
            .profile .avatar {float: left; margin-right: 10px;}

            .ob-repost {border: 1px solid #636360; background: #3D3E39; background: rgba(255, 255, 255, 0.1); text-align: center;}
            .ob-repost .ob-link {text-decoration: underline;}


            /* Sections */
            .ob-section-text, .ob-section-images, .ob-section-video, .ob-section-audio, .ob-section-quote, .ob-secton-map {width: 480px;}

             /* Medias */
            .ob-cell, .ob-img, .ob-media, .ob-video, .ob-video iframe, .ob-slideshow, .yui3-slideshow-content {max-width: 480px;}
            .ob-section-images .ob-slideshow {height: 370px;}

            /* Section text */
            .ob-text h3,
            .ob-text h4,
            .ob-text h5 {font-weight: normal; margin: 15px 0 5px;}
            .ob-text h3 {font-size: 18px;}
            .ob-text h4 {font-size: 16px;}
            .ob-text h5 {font-size: 14px; font-weight: bold;}
            .ob-text ol, .ob-text ul {margin-left: 15px;}
            .ob-text strong {font-weight: bold;}
            .ob-text pre {width: 480px;  white-space: pre-wrap; /* CSS 3 */ white-space: -moz-pre-wrap; /* Mozilla depuis 1999 */ white-space: -pre-wrap; /* Opera 4 - 6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* IE 5.5+ */ overflow: auto;/* IE 6 */}

            /* Section map */
            .ob-map div {color: #282924;}

            /* Section image */
            .ob-row-1-col img {width: 480px;}
            .ob-row-2-col img {width: 240px;}
            .ob-row-3-col img {width: 160px;}

            /* Section audio */
            .ob-section-audio .obsoundplayer .obsoundplayername {height: 31px; width: 117px; overflow: hidden;}

            /* Section File */
            .ob-section-file .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
            .ob-section-file .ob-ctn a.ob-link,
            .ob-section-file .ob-c a.ob-link:visited {color: #C2E074; text-decoration: none; text-shadow: none;}
            .ob-section-file .ob-ctn a.ob-link:hover {color: #C2E074; text-decoration: underline;}
            .ob-section-file .ob-ctn {display:block;width:100%;max-width:none;}
            .ob-section-file .ob-link {max-width:390px;}

            /* Section Quote */
            .ob-section-quote {background: #FFF; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); margin-bottom: 20px;}
            .ob-section-quote p {color: white; min-height: 20px;}
            .ob-section-quote .ob-quote p {color: white;font-size:1.2em; margin: 40px 70px 0px;}
            .ob-section-quote p:before {margin: -82px 0 0 -87px;}
            .ob-section-quote p:after {margin: -30px 0 0 -0;}
            .ob-section-quote .ob-quote p:before {color: #C2E074;}
            .ob-section-quote .ob-quote p:after {color: #C2E074;}
            .ob-section-quote p.ob-author,
            .ob-section-quote p.ob-source {background: #EEE; color: #555; font-size: 14px; font-style: italic; margin: 25px 0 0; max-height: 24px; max-width: 510px; overflow: hidden; padding-bottom: 0\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}

            .ob-section-quote p.ob-author, .ob-section-quote p.ob-source {background: #63645f; background:rgba(255, 255, 255, 0.2);}
            .ob-section-quote .ob-link {color: white;}
            .ob-section-quote .ob-link:hover {color:#CCC;}

            /* Section Link */
            .ob-section-link .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
            .ob-section-link .ob-media-left {margin: 0;}
            .ob-section-link .ob-img {float: left; width: 170px;}
            .ob-section-link p.ob-title {color: #C2E074; margin-left: 20px; max-height: 36px; overflow: hidden;}
            .ob-section-link p.ob-title .ob-link {color: #C2E074;}
            .ob-section-link p.ob-snippet {color: white;margin-bottom: 35px; margin-left: 20px; max-height: 26px; overflow: hidden;font-size:1.2em;}
            .ob-section-link p.ob-url {background: #63645f; background: rgba(255, 255, 255, 0.2);margin: 0; max-height: 24px; max-width: 270px; padding-bottom: 0\9;}
            .ob-section-link .ob-url .ob-link {color: white;}
            .ob-section-link .ob-url .ob-link:hover {color:#CCC;}
            .ob-section-link .ob-desc {margin-top: 5px;}

            .ob-section-link .ob-title .ob-link,
            .ob-section-link .ob-snippet,
            .ob-section-link .ob-url .ob-link {
                font-family: Georgia,serif;
            }

            .ob-section-link .ob-ctn,
            .ob-section-file .ob-ctn,
            .ob-section-quote {
                border: 1px solid #636360;
                background: #3d3e39; background: rgba(255, 255, 255, 0.1);
            }

            /* Contact */
            .ob-label {width: 20%; color: #C2E074; font-size: 14px;}
            .ob-form-field {margin-bottom: 20px;}
            .ob-input-submit, .ob-error {margin-left: 20%;}
            .ob-input-text, .ob-input-email, .ob-input-textarea {padding: 2px; border: none; background-color: #D8D8D5;}
            .ob-input-submit {width: 70px; height: 25px; margin-top: -10px; border: 1px solid #a4c871; cursor: pointer; background-color: #C2E074; font-size: 14px; font-family:Georgia,serif;}
            .ob-input-submit:hover {background-color: #a4c871;}
            .ob-input-submit:active {background-color: #94b565;}
        </style>
    </head>
    <body>
        <div id="global">
            <div id="ln_0" class="ln">
                <div id="cl_0_0" class="cl">
                    <div class="column_content">
                        <div class="header">
                            <div id="top">
                                <h1 class="title">
                                    <a href="{{ Blog.Url }}" title="{{ Blog.Description }}" class="topLien">{{ Blog.Title }}</a>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="ln_1" class="ln">
                <div id="cl_1_0" class="cl">
                    <div class="column_content">
                        <div>
                        {# List title #}
                            {% if isSearch %}
                            <p class="list-title">{{ Lang.Get('Search for') }} &quot;{{ Search }}&quot;</p>
                            {% endif %}

                            {% if isTag %}
                            <p class="list-title">{{ Lang.Get('Posts with') }} #<strong>{{ Tag.Title }}</strong> {{ Lang.Get('tag') }}</p>
                            {% endif %}

                            {# Posts #}
                            {% if Posts is empty %}
                                {% if isSearch %}
                                <div class="contenuArticle">
                                    <p>{{ Lang.Get('No result, try again') }}  !</p>
                                </div>
                                {% elseif isSpecial %}
                                <div class="contenuArticle">
                                    {{ SpecialContent }}
                                </div>
                                {% else %}
                                <div class="contenuArticle">
                                    <p>{{ Lang.Get('No post') }}</p>
                                </div>
                                {% endif %}
                            {% else %}
                            {# shortcut:[Posts list] #}
                                {% list Posts %}
                                <article>
                                    <div class="article index_{{ loop.index }} {% if (loop.index % 2) == 0 %}odd{% else %}even{% endif %}">
                                        <div class="option beforeArticle">
                                            <div class="date">
                                                <time datetime="{{ Post.Date }}">
                                                    <span class="day">{{ Post.Date | datel('dd') }}</span>
                                                    <span class="month">{{ Post.Date | datel('MMMM') | title }}</span>
                                                    <span class="year">{{ Post.Date | date('Y') }}</span>
                                                </time>
                                            </div>
                                        </div>
                                        <div class="divTitreArticle">
                                            <div class="post-title">
                                                <h2>
                                                    {% if isSingle %}
                                                    <a href="{{ Post.Permalink }}" class="titreArticle" title="{{ Post.Snippet }}">{% if Post.Title is not empty %}{{ Post.Title }}{% else %}{{ Lang.Get('From') }} {% list Post.Sources %}{{ Lang.Get(Source) }}{% if not loop.last %}{{ Lang.Get('and') }} {% endif %}{% endlist %}{% endif %}</a>
                                                    {% else %}
                                                    <a href="{{ Post.Permalink }}" class="titreArticle" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}">{% if Post.Title is not empty %}{{ Post.Title|truncate(27) }}{% else %}{{ Lang.Get('From') }} {% list Post.Sources %}{{ Lang.Get(Source) }}{% if not loop.last %}{{ Lang.Get('and') }} {% endif %}{% endlist %}{% endif %}</a>
                                                    {% endif %}
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="contenuArticle">
                                        {% if isSingle %}
                                            {{ Post.Body }}
                                        {% elseif Custom('snippet') == 'snippet' %}
                                            {% if Post.Cover is not empty %}
                                            <a href="{{ Post.Permalink }}" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}">
                                                <img src="{{ Post.Cover|resize(480,300)|crop }}" title="" alt="" width="480"/>
                                            </a>
                                            {% elseif Custom('default_post_cover') is not empty %}
                                            <a href="{{ Post.Permalink }}" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}">
                                                <img src="{{ Custom('default_post_cover')|resize(480,300)|crop }}" title="" alt="" width="480"/>
                                            </a>
                                            {% endif %}
                                            {{ Post.Snippet }}
                                        {% elseif Custom('snippet') == 'full post' %}
                                            {{ Post.Body }}
                                        {% else %}
                                            {{ Post.Body(1) }}
                                        {% endif %}
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>

                                    {# Author #}
                                    <div class="option afterArticle">
                                        <p>
                                        {% if Post.Author is not empty %}
                                            <span class="publishedBy">{{ Custom('text_publishedby') }} {{ Post.Author|default('Blog.Owner.Nickname') }}</span>
                                        {% endif %}
                                        {% if isPage == false and Post.ShowComments is not empty %}
                                            {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                                <a href="{{ Post.Permalink }}#disqus_thread" title="{{ Lang.Get('comments') }}" class="comments"></a>
                                            {% else %}
                                                <a href="{{ Post.PermaLink }}#comments" title="{{ Lang.Get('comments') }}" class="comments">
                                                    {% if Custom("comment") == "Facebook" %}
                                                        <fb:comments-count href="{{ Post.Permalink }}"></fb:comments-count>
                                                        {{ Lang.Get('comments') }}
                                                    {% else %}
                                                        {{ Post.CommentCount(Lang.Get('comment'), Lang.Get('comments')) }}
                                                    {% endif %}
                                               </a>
                                            {% endif %}
                                        {% endif %}
                                        {% if Post.Tags is not empty %} -
                                            {% list Post.Tags %}
                                            <a href="{{ Tag.Url }}">{{ Tag.Title }}</a>{% if loop.last is empty %}, {% endif %}
                                            {% endlist %}
                                        {% endif %}
                                        </p>
                                    </div>

                                    {# Share #}
                                    {% if isSingle %}
                                    {% if Custom ('share_button') is not empty %}
                                    <div class="share">
                                        <h4 class="h2commentMessage">{% if isPage == false %}{{ Lang.Get('Share this post') }}{% else %}{{ Lang.Get('Share this page') }}{% endif %}</h4>
                                        {%if Custom ('share_button') == 'Facebook' %}
                                        <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="120" data-show-faces="true" data-font="lucida grande"></div>
                                        {% elseif Custom ('share_button') == 'Twitter' %}
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}" {% if Custom('twitter_account') is not empty %} data-via="{{Custom('twitter_account')}}"{% endif %}></a>
                                        {% elseif Custom ('share_button') == 'Google +' %}
                                        <g:plusone size="medium"></g:plusone>
                                        {% elseif Custom ('share_button') == 'All' %}
                                        <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="120" data-show-faces="true" data-font="lucida grande"></div>
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}" {% if Custom('twitter_account') is not empty %} data-via="{{Custom('twitter_account')}}"{% endif %}></a>
                                        <g:plusone size="medium"></g:plusone>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    {% endif %}

                                    {# Comments #}
                                    {% if isSingle and isPage == false and Post.ShowComments is not empty %}
                                    <div class="item-comments">
                                        <h4 class="h2commentMessage" id="comments">{{ Lang.Get('Comments') }}</h4>
                                        {% if Custom("comment") == "Facebook" %}
                                        <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="480"></div>
                                        {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                            <div id="disqus_thread"></div>
                                            <script type="text/javascript">
                                            var disqus_shortname = '{{ Custom('comment_disqus') }}';

                                            (function() {
                                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                            })();
                                            </script>
                                            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                        {% else %}
                                            {{Post.Comments}}
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </article>
                                {% endlist %} {# Posts #}
                            {% endif %}
                        </div>
                        {# Pagination #}
                        {% if Navigation.PreviousPage is not empty or Navigation.NextPage is not empty or Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
                        {% if isPage == false %}
                        <div class="before_articles">
                            <div class="pagination clearfix">
                                {% if Navigation.PreviousPage is not empty %}
                                <a href="{{ Navigation.PreviousPage }}" class="previous">← {{ Lang.Get('Previous page') }}</a>
                                {% elseif Navigation.PreviousPost is not empty %}
                                <a href="{{ Navigation.PreviousPost.Permalink }}" title="{{ Navigation.PreviousPost.Title }}" class="previous">← {% if Navigation.PreviousPost.Title is not empty %}{{ Navigation.PreviousPost.Title | truncate(25) }}{% else %}{{ Lang.Get('Previous post') }}{% endif %}</a>
                                {% endif %}
                                <a href="#" title="{{ Lang.Get('Go top') }}" class="top">⇧ {{ Lang.Get('Top') }}</a>
                                {% if Navigation.NextPage is not empty %}
                                <a href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next page') }} →</a>
                                {% elseif Navigation.NextPost is not empty %}
                                <a href="{{ Navigation.NextPost.Permalink }}" title="{{ Navigation.NextPost.Title }}" class="next">{% if Navigation.NextPost.Title is not empty %}{{ Navigation.NextPost.Title | truncate(25) }}{% else %}{{ Lang.Get('Next post') }}{% endif %} →</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div id="cl_1_1" class="cl">
                    <div class="column_content">
                        {# Blog profile #}
                        {% if Custom('display_widget_profile') != true %}
                        <div class="box profile" >
                            <div class="box-titre">
                                <h3>
                                    <a href="{{ Blog.Url }}">{{ Blog.Title }}</a>
                                </h3>
                            </div>
                            <div class="box-content clearfix">
                                {% if Blog.Avatar is not empty %}
                                <p class="avatar">
                                    <img src="{{ Blog.Avatar | resize(100) }}" alt="{{ Blog.Title }}" />
                                </p>
                                {% endif %}
                                {% if Blog.Description is not empty %}
                                <p>
                                    &quot;{{ Blog.Description }}&quot;
                                </p>
                                {% endif %}
                                {% if Blog.Owner.Nickname is not empty %}
                                <p>
                                    {{ Lang.Get('Written by') }} {{ Blog.Owner.Nickname }}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}

                        {# Search #}
                        {% if Custom('display_widget_search') != true %}
                        <div class="box search" >
                            <div class="box-titre">
                                <h3><span>{{ Lang.Get('Search') }}</span></h3>
                            </div>
                            <div class="box-content">
                                <form action="/search" method="post">
                                    <div>
                                        <input type="text" name="q" value="{{ Search }}" placeholder="{{ Lang.Get('Search') }}" />
                                        <input type="submit" value="{{ Lang.Get('Search') }} !" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endif %}

                        {# Navigation #}
                        {% if Custom('display_widget_navigation') != true %}
                        <div class="box navigation" >
                            <div class="box-titre">
                                <h3><span>{{ Lang.Get('Navigation') }}</span></h3>
                            </div>
                            <div class="box-content">
                                <ul>
                                    <li>
                                        <a href="{{ Blog.Url }}">{{ Lang.Get('Home') }}</a>
                                    </li>
                                    <li>
                                        <a href="/contact">{{ Lang.Get('Contact') }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                        {# Pages #}
                        {% if Custom('display_widget_pages') != true and Blog.ListPages is not empty %}
                        <div class="box pages" >
                            <div class="box-titre">
                                <h3><span>{{ Lang.Get('Pages') }}</span></h3>
                            </div>
                            <div class="box-content">
                                <ul>
                                    {% list Blog.ListPages %}
                                    <li>
                                        <a  href="{{ ListPage.Url }}" title="{{ ListPage.Title }}">{{ ListPage.Title }}</a>
                                    </li>
                                    {% endlist %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                        {# Tags #}
                        {% if Custom('display_widget_tags') != true %}
                        <div class="box tags" >
                            <div class="box-titre">
                                <h3><span>{{ Lang.Get('Tags') }}</span></h3>
                            </div>
                            <div class="box-content">
                                <ul>
                                    {% list Blog.PostsTags(10) %}
                                    <li>
                                        <a  href="{{ PostsTag.Url }}"
                                            title="{{ PostsTag.Title }}">
                                            {{ PostsTag.Title }}
                                        </a>
                                        ({{ PostsTag.PostCount }})
                                    </li>
                                    {% endlist %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                        {# SOCIAL #}
                        {% if Custom('display_widget_social') != true %}
                        <div class="box social" >
                            <div class="box-titre">
                                <h3><span>{{ Lang.Get('Follow us') }}</span></h3>
                            </div>
                            <div class="box-content">
                                <ul>
                                    {% if Custom('facebook_account') is not empty %}
                                    <li>
                                        <a href="http://facebook.com/{{ Custom('facebook_account') }}" title="{{ Lang.Get('Follow us on') }} Facebook" >Facebook</a>
                                    </li>
                                    {% endif %}
                                    {% if Custom('twitter_account') is not empty %}
                                    <li>
                                        <a href="http://twitter.com/{{ Custom('twitter_account') }}" title="{{ Lang.Get('Follow us on') }} Twitter">Twitter</a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ Blog.RssUrl }}" title="{{ Lang.Get('Follow us with') }} RSS">Flux RSS</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="ln_2" class="ln">
                <div id="cl_2_0" class="cl">
                    <div class="column_content">
                        <p>{{ Lang.Get('Hosted by') }} <a href="http://www.over-blog.com" target="_blank">Overblog</a></p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% if isSingle %}
        <script src="http://assets.over-blog-kiwi.com/themes/1/js/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".ob-row-1-col a,.ob-row-2-col a,.ob-row-3-col a,.ob-link-img").attr("rel", "fancybox");
                $("a[rel=fancybox]").fancybox({
                    'overlayShow'   : false,
                    'transitionIn'  : 'fadin',
                    'transitionOut' : 'fadin',
                    'type'          : 'image'
                });
            });
        </script>

        <!-- Disqus comments count -->
        {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
        <script type="text/javascript">
            var disqus_shortname = "{{ Custom('comment_disqus') }}";
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
        {% endif %}

        <!-- Facebook Script -->
        <div id="fb-root"></div>
        <script type="text/javascript">
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('127607930619601')}}";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <!-- Twitter Script -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs); }}(document,"script","twitter-wjs");</script>


        <!-- Google + button -->
        <script type="text/javascript">
          window.___gcfg = {lang: '{{ Blog.Lang }}'};

          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    {% endif %}
        {% if Custom('google_analytics') is not empty %}
        <!-- Google Analytics -->
         <script type="text/javascript">
            window.google_analytics_uacct = '{{Custom('google_analytics')}}';
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{Custom('google_analytics')}}']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
    </body>
</html>
