<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}">
	<head>
		<!-- shortcut:[Meta] -->
	  	<!-- title -->
        {% title %}
        <!-- metas description, keyword, robots -->
        {% meta %}

		<!-- shortcut:[Options] -->
		<!-- options -->
		<meta name="list:background_type:label.appearance" items="Light, Dark" default="Dark" group="Theme" />
		<meta name="image:background_image:label.backgroundImage" group="Theme" />
		<meta name="list:background_repeat:label.backgroundImageRepeatMode" default="strech" items="none,strech" group="Theme" />
		<meta name="string:header_spacing:label.headerSpacing" default="20px" group="Theme" />

		<meta name="string:header_title:label.headerTitle" default="My personal timeline" group="Header" />
		<meta name="string:header_description:label.headerDescription" default="Welcome to my timeline" group="Header" />
		<meta name="list:display_mode:label.numberOfSections" items="1,2,3,4,5,6,7,8,9,10,All" default="1" group="Header" />

		<meta name="string:twitter_username:label.twitterUsername" group="Social" />
		<meta name="string:facebook_username:label.facebookUsername" group="Social" />
		<meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, All" default="All" group="Social" />

		<meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comment" />
		<meta name="string:comment_disqus:label.disqusAccount" default="obcomment" group="Comment" />

		<meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
		<meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
		<meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
		<meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />

		<!-- shortcut:[Includes] -->
		<!-- favicon -->
	    {% favicon %}

		<!-- SEO -->
		{% if Custom('google_webmaster_id') is not empty %}
			<meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
		{% endif %}
		{% if Custom('msn_webmaster_id') is not empty %}
			<meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
		{% endif %}

		<!-- includes -->
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />

		<!-- Fancybox style -->
		<link href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox2.1.2/jquery.fancybox.css" rel="stylesheet" type="text/css" />

		<!-- shortcut:[Styles] -->
		<style type="text/css">
			/*----- Reset -----*/
			body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,textarea,blockquote,th,td{ margin:0; padding:0;}
			table{ border-collapse:collapse; border-spacing:0;}
			fieldset,img{ border:0;}
			address,caption,cite,code,dfn,var{ font-style:normal; font-weight:normal;}
			ol,ul{ list-style:none;}
			caption,th{ text-align:left;}
			h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
			q:before,q:after{ content:'';}
			abbr,acronym{ border:0;}

			/*----- Intro -----*/
			body {
				{% if Custom('background_image') is not empty %}
					background: url({{ Custom('background_image') }}) center top no-repeat;
				{% elseif Custom('background_type') == 'Dark' or Custom('background_type') is empty %}
					background: #1f1c1e url("http://assets.over-blog-kiwi.com/themes/13/images/bg-black.png");
				{% else %}
					background: url("http://assets.over-blog-kiwi.com/themes/13/images/bg.jpg") repeat;
				{% endif %}
				{% if Custom('background_repeat') == 'strech' and Custom('background_image') is not empty %}
					background-attachment: fixed;
					-webkit-background-size: cover;
					   -moz-background-size: cover;
						-ms-background-size: cover;
						 -o-background-size: cover;
							background-size: cover;
				{% endif %}
				color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 1.3;
				min-width: 1024px;
			}

			textarea{ resize:none;}
			a:link, a:visited, a:hover, a:active { outline:none }
			a{color: #4c7999;cursor:pointer;outline:none;position:relative;text-decoration:none;font-weight:bold;}
			a:hover{text-decoration:none; color: #6594b5;}
			::-moz-focus-inner{ border:0; }

			.wrap {margin: 0 auto; overflow: hidden; position: relative; width: 980px;}
			.cl,.cr,.cb{ display:block !important; float:none !important; height:0 !important; width:0 !important;}
			.cl{ clear:left;}
			.cr{ clear:right;}
			.cb{ clear:both;}
			.bold {font-weight:bold;}
			.blue {color: #4c7999;}
			::selection {color: white;  background: #00a2ff;}
			::-moz-selection {color: white;  background: #00a2ff;}
			::-webkit-selection {color: white;  background: #00a2ff;}
			@font-face {
				font-family: 'Conv_Gotham-Black_0';
				src: url('http://assets.over-blog-kiwi.com/themes/13/fonts/Gotham-Black_0.eot');
				src: local('?'), url('http://assets.over-blog-kiwi.com/themes/13/fonts/Gotham-Black_0.woff') format('woff'),
							     url('http://assets.over-blog-kiwi.com/themes/13/fonts/Gotham-Black_0.ttf') format('truetype'),
								 url('http://assets.over-blog-kiwi.com/themes/13/fonts/Gotham-Black_0.svg') format('svg');
				font-weight: normal;a
				font-style: normal;
			}

			.clearfix {clear: both;}

			/*----- HEADER  -----*/
			.top {background: url("http://assets.over-blog-kiwi.com/themes/13/images/header.png") repeat; height: 60px; line-height: 60px;}
			.top .logo {float: left; width: 630px; height: 60px; overflow: hidden;}
			.top .logo a {color: #FFF;}
			.top a,
			.top a:visited {color: #FFF; float: left; font-family: 'Conv_Gotham-Black_0', Arial, sans-serif; font-size: 16px; color: #fff; margin-right: 5px; text-shadow: 0px 1px 1px #000;}
			.top p {float: left; font-size: 13px; font-style: italic; color: #a3a3a3; letter-spacing: -0.5px; text-shadow: 0px 1px 0px #000;}

			.top .search {width: 350px; float: right;}
			.top .search input[type="text"] {background: url("http://assets.over-blog-kiwi.com/themes/13/images/search.png") no-repeat; height: 24px; border: none; width: 328px; color: #FFF; outline: none; padding: 5px 10px;}
			.top .search input[type="text"]:focus {background: url("http://assets.over-blog-kiwi.com/themes/13/images/search.png") 0 -35px no-repeat; color: #000;}

			/*----- NAV DATE -----*/
			.date {background: url("http://assets.over-blog-kiwi.com/themes/13/images/date.png") repeat; height: 41px; line-height: 38px;}
			.date a {display: block; font-weight: bold;}
			.date .control-left {float: left; margin-top: 2px;}
			.date .control-right {float: right; margin-top: 2px;}
			.date ul {margin: 0 auto; width: 940px;overflow:hidden; text-align: center;}
			.date li {color: #969696; display: inline-block; margin: 0 13px;}
			.date li.last {margin-right: 0;}
			.date .active a {border-bottom: 2px solid #4b9fd3;}
			.date li a:hover{border-bottom: 2px solid #e2eaef;}
			.date .active a {color: #4c7999;}

			.year li{display:none;}
			.year li:nth-last-child(-n+12){display:inline-block;}

			/*----- CONTENT -----*/
			.container {margin: 0 auto; padding-bottom: 20px; width: 980px;}

			.informations {margin: 20px 20px {{ Custom('header_spacing')|default('20px') }};}
			.informations h2 {font-size: 36px;}
			.informations p {font-size: 18px;}
			.informations a {font-weight: bold; color: #fff; text-decoration: underline;}
			.informations .social {overflow: hidden; margin-top: 15px;}
			.informations .social li{float: left; margin-right: 10px;}

			.back {text-align: center;}

			.items.left {float:left;}
			.items.right {float:right;}

			.items .ob-section-html iframe,
			.items .ob-section-html object,
			.items .ob-section-html embed {max-height: 310px; max-width: 100%;}

			/* Item */
			.item {width: 408px;margin:20px 20px 0;background-color:#ffffff;border:solid 1px #cfdce3;border-radius: 4px;word-wrap:break-word;padding: 20px;box-shadow: inset 0px -2px 1px #f2f2f2; position: relative;}
			.item .title{border-bottom: 1px solid #e7edf1; padding-bottom: 10px; margin-bottom: 20px; min-height: 30px;}

			.item .title h2,
			.item .title h2 a,
			.item .comments h2,
			.special h3 {color: #000; font-weight: bold; font-size: 22px; margin-bottom: 10px;}

			.item .title h2 a:hover {color: #4e4e4e;}
			.item .title p.infos {color: #606060; font-size: 12px;}
			.item .comments {margin-top: 20px;}
			.item .comments h6 {font-size: 15px; font-weight: bold; margin-bottom: 15px;}


			/* Social Icon */
			.item .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-overblog.png"); width:34px; height:34px; display:block; float: right;}
			.item.FB .title .icon,
			.item.FP .title .icon{background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-facebook.png");}
			.item.TW .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-twitter.png");}
			.item.IG .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-instagram.png");}
			.item.FS .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-foursquare.png");}
			.item.YT .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-youtube.png");}
			.item.FL .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-flickr.png");}

			.item .read-more {color: #000; background: url("http://assets.over-blog-kiwi.com/themes/13/images/picto-originalpost.png") 0 0 no-repeat; padding-left: 15px; position: absolute; right: 20px;}
			.item .read-more:hover {color: #4e4e4e;}

			/* Social Share */
			.item .footer {background: #fafafa; border: 1px solid #e8ecf1; border-radius: 5px; line-height: 40px; margin-top: 25px; padding: 0 8px; position: relative;}

			.item .share .button {background: #FFF url("http://data.over-blog-kiwi.com/0/19/10/50/201212/ob_affac08056020ba0f8958205b031c5ca_share-buttons.png") no-repeat; border: 1px solid #CCC; border-radius: 4px; color: #333; display: inline-block; line-height: 18px; margin: 0 8px; font-size: 11px; padding: 2px 6px 2px 25px;}
			.item .share a.googleplus-one {background-position: 5px 4px;}
			.item .share a.twitter-share {background-position: 5px -23px;}
			.item .share a.facebook-like {background-position: 5px -50px;}
			.item .share .overblog-repost {background-position: 5px -76px}

			.share div.googleplus-one,
			.share div.twitter-share,
			.share div.facebook-like,
			.share .ob-repost-btn {display: inline-block; line-height: normal; vertical-align: middle;}
			.share div.googleplus-one {margin: 0 8px 0 0; width: 70px;}
			.share div.twitter-share {height: 22px; margin-right: 18px; width: 85px;}
			.share div.facebook-like {height: 22px; margin-right: 8px;  vertical-align: -2px; width: 85px;}
			.single div.facebook-like {vertical-align: middle;}
			.share .ob-repost-btn {display: none; vertical-align: 2px;}
			.single .ob-repost-btn {display: inline-block; margin-left: 10px;}
			.share .ob-repost-btn span {font-weight: normal; vertical-align: middle;}


			/* Enhance images */
			.yui3-slideshow {height: 460px;}
			.item .ob-section-text img {margin-bottom: 20px;}
			.item .ob-row-1-col img {width: 100%;}
			.item .ob-row-2-col img {width: 50%;}
			.item .ob-row-3-col img {width: 33.33%;}
			.item .ob-video iframe {max-height: 370px; width: 650px;}
			.item .ob-video embed,
			.item .ob-video object{max-width: 100%;}

			.item ol li {list-style:decimal; list-style-position: outside; margin-left: 30px;}
			.item ul li {list-style:disc; list-style-position: outside; margin-left: 30px;}
			.item pre {border-left: 3px solid #e7edf1; margin: 10px auto 15px; padding-left: 4px;}

			.item .post {overflow: hidden; color: #000;}
			.item .ob-section p {margin-bottom: 10px;}
			.item .post.link p {margin-bottom: 10px;}
			.item .post.link a{font-size: 18px; background: url("http://assets.over-blog-kiwi.com/themes/13/images/picto-originalpost.png") 0 4px no-repeat; padding-left: 15px; margin-left: 20px;}

			.ob-repost {border: 1px solid #DDD; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight: bold; padding: 0.5em 0.8em; text-align: center;}
			.ob-repost p {margin: 0;}
			.ob-repost .ob-link {text-decoration: underline;}

			/* Sections */
			.ob-section-text {margin-top: 10px; margin-bottom: 10px;}
			.ob-section-text h3,
			.ob-section-html h3,
			.ob-section-text h4,
			.ob-section-html h4,
			.ob-section-text h5,
			.ob-section-html h5 {margin: 15px 0 5px;}
			.ob-section-text h3,
			.ob-section-html h3 {font-size: 18px;}
			.ob-section-text h4,
			.ob-section-html h4 {font-size: 16px;}
			.ob-section-text h5,
			.ob-section-html h5 {font-size: 14px; font-weight: bold;}
			.ob-section-text ul,
			.ob-section-html ul {margin-bottom: 10px;}
			.ob-section-text li:last-child,
			.ob-section-html li:last-child {margin-bottom: 15px;}
			.ob-section-text li p,
			.ob-section-html li p {margin-bottom: 5px !important;}
			.ob-section-images img {max-width: 640px;}
			.ob-section-map .ob-map{width: 600px;height: 400px;}
			.ob-section-map .ob-desc {width: 100%;}


			/* hack new section layout */
			/* Section File */
			.ob-section-file .ob-ctn {display: block; max-width: 100% !important;}
			.ob-section-file .ob-ctn a.ob-link,
			.ob-section-file .ob-c a.ob-link:visited {color: gray; max-width: {% if isSingle %}553{% else %}321{% endif %}px; text-decoration: underline; text-shadow: none;}
			.ob-section-file .ob-ctn a.ob-link:hover {text-decoration: none;}
			.ob-section-file .ob-desc {margin-top: 5px;}
			.ob-section-file .ob-icon {background-image: url(http://assets.over-blog-kiwi.com/b/blog/bundles/overblogblogblog/images/paperclip.png?v=1);}

			/* Section Quote */
			.ob-section-quote {margin-bottom: 20px; max-width: 99.6% !important;}
			.ob-section-quote p {min-height: 20px;}
			.ob-section-quote .ob-quote p {color:gray;}
			.ob-section-quote .ob-quote p:before {margin: -74px 0 0 -85px;color:#ebebed;}
			.ob-section-quote .ob-quote p:after {margin: -25px 0 0 0;color:#ebebed;}
			.ob-section-quote .ob-link {color: gray;}
			.ob-section-quote p.ob-author,
			.ob-section-quote p.ob-source {color: gray; font-size: 13px; font-style: italic; margin: 35px 0 0; max-height: 20px; max-width: 550px; overflow: hidden; padding-bottom: 1px; padding-bottom: 0\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}
			.wrapper-timeline .ob-section-quote p.ob-author,
			.wrapper-timeline .ob-section-quote p.ob-source {max-width: 317px;}

			/* Section Link */
			.ob-section-link {margin-bottom: 20px;}
			.ob-section-link .ob-media-left {margin: 0;}
			.ob-section-link p.ob-url {margin: 0; max-width: 430px;}
			.ob-section-link .ob-url .ob-link {font-size: 13px;}
			.wrapper-timeline .ob-section-link p.ob-url {margin: 0; max-width: 195px;}
			.ob-section-link p.ob-title,
			.ob-section-link p.ob-snippet {margin-bottom: 10px; margin-left: 20px;}
			.ob-section-link p.ob-title .ob-link {color: gray;max-height: 40px; overflow: hidden;}
			.ob-section-link p.ob-snippet {margin-bottom: 35px; max-height: 28px; overflow: hidden;}
			.ob-section-link .ob-img {float: left; width: 170px;}
			.ob-section-link .ob-desc {margin-top: 5px;}


			.ob-section-link .ob-ctn,.ob-section-quote,.ob-section-file .ob-ctn {background-color: #fbfbfb;border: 1px solid #ebebed;}
			.ob-section-link .ob-url,.ob-section-quote .ob-author,.ob-section-quote .ob-source {background-color: #ebebed;}
			.ob-section-link .ob-url .ob-link,.ob-section-quote .ob-link {color: #4E4E4E;}


			/* hack for slideshow */
			.wrapper-timeline .ob-layout900,
			.wrapper-timeline .ob-layout900 .ob-slider-directionNav {width: 408px!important; height: 306px!important;}

			/* hacks for homepage */
			.wrapper-timeline {background: url("http://assets.over-blog-kiwi.com/themes/13/images/line.png") center 0 repeat-y;}

			.wrapper-timeline .item .post img.ob-img {width: 408px;}
			.wrapper-timeline .item .post.video {height: 233px; margin: 0 auto; width: 400px;}
			.wrapper-timeline .item .post.photo {margin: 0 auto; width: 400px;}
			.wrapper-timeline .item .post.photo  img{margin: 0 auto; width: 400px;}
			.wrapper-timeline .ob-section-images img {width: 408px;float:none;}
			.wrapper-timeline .ob-section-video,
			.wrapper-timeline .ob-section-video iframe,
			.wrapper-timeline .ob-section-images .ob-desc,
			.wrapper-timeline .ob-section object {width: 408px;}
			.wrapper-timeline .ob-section-video iframe {max-height: 235px;}
			.wrapper-timeline .ob-section object  {width: 408px; height:306px;}
			.wrapper-timeline .ob-section-map .ob-map{width: 408px; height: 200px;}
			.wrapper-timeline .obsoundplayer .obsoundplayername {width: 45px;}
			.wrapper-timeline {position: relative; padding-bottom: 50px;}

			/* hack for single post */
			.single .item {width: 640px; margin-left: auto; margin-right: auto; float: none;}
			.single .item .footer {width: 616px;}
			.single .item .post img,
			.single .item .ob-slideshow {-moz-box-shadow: 0px 1px 4px #AEAEAE; -webkit-box-shadow: 0px 1px 4px #AEAEAE; -o-box-shadow: 0px 1px 4px #AEAEAE; box-shadow: 0px 1px 4px #AEAEAE;}
			.single .item .ob-slideshow,
			.single .item .ob-slideshow .ob-img {width: 640px;}
			.single .ob-section {width: 100%; margin-left: 0;}
			.single .ob-section {clear: both;}
			.single .ob-section-map .ob-map{width: 650px;height: 400px;}

			/* Nav */
			.item .nav-post {overflow: hidden; margin: 20px 0; width: 100%;}
			.item .nav-post a {display: block; max-width: 44%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
			.item .nav-post .prev {float: left;}
			.item .nav-post .prev:before {content: "‹"; font-weight: bold; margin-right: 5px;}
			.item .nav-post .next {float: right;}
			.item .nav-post span {color: #4B9FD3; float: right; font-weight: bold; margin-left: 5px;}
			.item .nav-post:hover span {color: #6594B5;}

			/* Load more */
			.items-wrapper .item {display:none;}
			.items-wrapper .items .item {display:block;}
			.load-more {clear:both;position: relative;text-align: center;top: 20px;}
			.load-more a {color: #000; padding: 8px 15px;background:#fafafa;border:1px solid #e2eaee;border-radius: 4px;}

			/* Infinite Scroll loader */
			.ias_loader {bottom: 60px; background: #111; background: rgba(17, 17, 17, 0.7); color: #FFF; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; left: 50%; margin-left: -120px; padding: 10px; position: fixed; width: 220px;}
			.ias_loader img {margin-right: 20px; width: 30px;}
			.ias_loader img,
			.ias_loader p {display: inline-block; vertical-align: middle;}


			/* Date */
			.right .corner {background: url("http://assets.over-blog-kiwi.com/themes/13/images/left.png") no-repeat; display: block;height: 17px; margin-left: -50px; margin-top: 2px; position: absolute; width: 30px;}
			.left .corner {background: url("http://assets.over-blog-kiwi.com/themes/13/images/right.png") no-repeat; display: block;height: 17px; margin-left: 428px; margin-top: 0; padding: 0; position: absolute; width: 27px;}

			/* twitter box */
			.ob-section .twitter-tweet-rendered {max-width: 100% !important;}
			.ob-section .twt-border {max-width: 100% !important;}


			/* Contact page */
			.ob-form {margin: 0 0 100px 80px;}
			.ob-label {width: 20%;}
			.ob-input-text,.ob-input-email,.ob-input-textarea {background-color: #DDD;border: 1px solid #BBB;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;outline: none;padding: 7px 5px; }
			.ob-input-text:focus,.ob-input-email:focus,.ob-input-textarea:focus {background-color: #F8F8F8;}
			.ob-input-submit, .ob-error {margin-left: 20%;}
			.ob-input-submit {background: #232323;border-radius: 4px;border: 1px solid #BBB;color: #FFF;cursor: pointer;font-size: 12px;padding: 8px 17px;}
			.ob-input-submit:active {background: #CCC;}
			.ob-form + a {display: block;font-size: 13px;font-weight: normal;text-align: center;}

			/* Hack IE */
			.load-more{display: block\9!important;}
			.ob-section-link .ob-url {height:16px\9;overflow:hidden\9;}

			{% if Custom('background_type') == 'Dark' or Custom('background_type') is empty %}
				.wrapper-timeline {background-image: url("http://assets.over-blog-kiwi.com/themes/13/images/line-black.png");}
				.date {background-image: url("http://assets.over-blog-kiwi.com/themes/13/images/date-black.png");}
				.left .corner {background-image: url("http://assets.over-blog-kiwi.com/themes/13/images/right-black.png");}
				.right .corner {background-image: url("http://assets.over-blog-kiwi.com/themes/13/images/left-black.png"); margin-left: -47px;}
				a {color: #4b9fd3;}
				.date a {color: #fff;}
				.date .active a {color: #fff;}
				.container {color: #fff;}
				.item {border:solid 1px #1d1d1d;}
				.timeline{ background-color:#121212;}
			{% endif %}
		</style>
	</head>
	<body>
		<div id="fb-root"></div>
		<header class="header">
			<div class="top">
				<div class="wrap">
					<div class="logo">
						<h1>
							<a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Blog.Title }}</a>
						</h1>
						<p>{{ Blog.Description|truncate(25) }}</p>
					</div>
					<div class="search">
						<form class="search" method="post" action="/search">
							<input type="text" name="q" placeholder="{{ Lang.Get('Search something here') }}..." value="" />
						</form>
					</div>
				</div>
			</div>

			<nav class="date">
				<div class="wrap">
					<ul class="year">
					{% list Blog.Archives %}
						{% list Archive.Months %}
							{% if Month.PostCount > 0 %}
								<li {% if Archive.Year == 'now'|date('Y') and Month.isCurrent %}class="active"{% endif %} data-year="{{Archive.Year}}" data-month="{{Month.Index}}">
									<a href="{{ Month.Url }}" title="{{ Lang.Get('Archives')}} {{ Lang.Get(Month.Name) }} {{Archive.Year}}">{{ Lang.Get(Month.Name) }}</a>
								</li>
							{% endif %}
						{% endlist %}
					{% endlist %}
					</ul>
				</div>
			</nav>
		</header>
		{% if isSingle or isSpecial %}
			<div class="wrap single">
				{% if isSingle%}
					{% list Posts %}
						<div class="item {{ Post.getFirstSource }}">
							<div class="title">
								<span class="icon"></span>
								<h2>{{ Post.Title }}</h2>
								<p class="infos">
									{{ Lang.Get('Posted') }} {{ Post.Date|datel(Lang.Get('Default date format')) | title }}
									{% if Post.Author and Post.Author is not empty %}
										{{ Lang.Get('by') }} {{ Post.Author }}
									{% endif %}
									{% list Post.Tags %}
										{% if loop.index == 1 %}
											in
										{% endif %}
										<a href="{{Tag.Url}}" title="{{ Tag.Title }}">{{ Tag.Title }}</a>{% if loop.last is empty %}, {% endif %}
									{% endlist %}
								</p>
							</div>
							<div class="post">
								{{ Post.Body }}
							</div>
							<footer class="footer">
								<div class="share">
									{% if Custom('share_service') == 'Google +' %}
									    <div class="googleplus-one">
									        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://plusone.google.com/u/0/_/+1/fastbutton?url={{ Post.Permalink }}&amp;size=medium&amp;annotation=bubble&amp;lang={{ Blog.Lang }}" style="border:none; overflow:hidden; width: 70px; height: 22px;" align="left"></iframe>
									    </div>
									{% elseif Custom('share_service') == 'Twitter' %}
									    <div class="twitter-share">
									        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url={{ Post.PermaLink }}{% if Custom('twitter_username') is not empty %}&via={{ Custom('twitter_username')}}{% endif %}&text={% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}&lang={{ Blog.Lang }}" style="border:none; overflow:hidden; height: 22px; width: 100px;"></iframe>
									    </div>
									{% elseif Custom('share_service') == 'Facebook' %}
									    <div class="facebook-like">
									        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?&href={{ Post.Permalink }}&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font" style="border:none; overflow: hidden; height: 22px; width: 100px;"></iframe>
									    </div>
									{% elseif Custom('share_service') == 'All' or Custom('share_service') is empty %}
									    <div class="googleplus-one">
									        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://plusone.google.com/u/0/_/+1/fastbutton?url={{ Post.Permalink }}&amp;size=medium&amp;annotation=bubble&amp;lang={{ Blog.Lang }}" style="border:none; overflow:hidden; width: 70px; height: 22px;" align="left"></iframe>
									    </div>
									    <div class="twitter-share">
									        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url={{ Post.PermaLink }}{% if Custom('twitter_username') is not empty %}&via={{ Custom('twitter_username')}}{% endif %}&text={% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}&lang={{ Blog.Lang }}" style="border:none; overflow:hidden; height: 22px; width: 100px;"></iframe>
									    </div>
									    <div class="facebook-like">
									        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?&href={{ Post.Permalink }}&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90"  style="border:none; overflow: hidden; height: 20px; width: 100px;"></iframe>
									    </div>
									{% endif %}
									{{ Post.RepostButton }}
								</div>
							</footer>

							{% if Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
								<nav class="nav-post">
									{% if Navigation.PreviousPost is not empty %}
										<a class="prev" href="{{ Navigation.PreviousPost.Permalink }}" title="{{ Navigation.PreviousPost.Title }}">
											{% if Navigation.PreviousPost.Title is not empty %}
												{{ Navigation.PreviousPost.Title }}
											{% else %}
												{{ Lang.Get('Previous post') }}
											{% endif %}
										</a>
									{% endif %}
									{% if Navigation.NextPost is not empty %}
										<span>›</span>
										<a class="next" href="{{ Navigation.NextPost.Permalink }}" title="{{ Navigation.NextPost.Title }}" >
											{% if Navigation.NextPost.Title is not empty %}
												{{ Navigation.NextPost.Title }}
											{% else %}
												{{ Lang.Get('Next post') }}
											{% endif %}
										</a>
									{% endif %}
								</nav>
							{% endif %}

							{% if not isPage and Post.ShowComments is not empty %}
								<div class="comments" id="comments">
									<div class="item-comments">
										{% if Custom('comment') == 'Facebook' %}
											<h6>{{ Lang.Get('Comment this post') }}</h6>
											<div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="640"></div>
										{% elseif Custom('comment') == 'Disqus' and Custom('comment_disqus') is not empty %}
											<div id="disqus_thread"></div>
											<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
										{% else %}
											<h6>{{ Lang.Get('Comment this post') }}</h6>
											{{ Post.Comments }}
										{% endif %}
									</div>
								</div>
							{% endif %}

							<div class="back">
								<a href="{{ Blog.Url }}">{{ Lang.Get('Back to home') }}</a>
							</div>
						{% endlist %}
					{% else %}
						<div class="item">
							<div class="post special">
								{{ SpecialContent }}
							</div>
						</div>
						<div class="back">
							<a href="{{ Blog.Url }}">{{ Lang.Get('Back to home') }}</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% else %}
			<div class="container">
				<div class="informations">
					{% if isTag %}
						<h2>{{ Lang.Get('Posts with') }} #{{ Tag.Title }} {{ Lang.Get('tag') }}</h2>
					{% elseif isSearch %}
						<h2>{{ Lang.Get('Search results for') }} "{{ Search.Keyword }}"</h2>
					{% else %}
						<h2>{{ Custom('header_title') }}</h2>
						<p>{{ Custom('header_description') }}</p>
					{% endif %}

					<ul class="social">
						{% if Custom('twitter_username') is not empty %}
							<li>
								<a href="http://www.twitter.com/{{ Custom('twitter_username') }}" title="Twitter" target="_blank">
									<img src="http://assets.over-blog-kiwi.com/themes/13/images/icon-twitter.png" alt="Twitter" />
								</a>
							</li>
						{% endif %}
						{% if Custom('facebook_username') is not empty %}
							<li>
								<a href="http://www.facebook.com/{{ Custom('facebook_username') }}" title="Facebook" target="_blank">
									<img src="http://assets.over-blog-kiwi.com/themes/13/images/icon-facebook.png" alt="Facebook" />
								</a>
							</li>
						{% endif %}
						<li>
							<a href="{{ Blog.RssUrl }}" title="RSS" target="_blank">
								<img src="http://assets.over-blog-kiwi.com/themes/13/images/icon-rss.png" alt="RSS" />
							</a>
						</li>
						<li>
							<a href="{{ Blog.Url }}/contact" title="{{ Lang.Get('Contact us') }}">
								<img src="http://assets.over-blog-kiwi.com/themes/13/images/icon-contact.png" alt="{{ Lang.Get('Contact us') }}" />
							</a>
						</li>
					</ul>
				</div>

				<div class="wrapper-timeline">
					<!-- List items -->
					<div class="items-wrapper">
						{# left col #}
						<div class="items left">
							{% list Posts %}
								<div class="item {{ Post.getFirstSource }}" style="display:none;">
									<span class="corner"></span>
									<header class="title">
										<span class="icon"></span>
										<h2>
											<a href="{{ Post.PermaLink }}" title="{{ Post.Snippet }}">{{ Post.Title }}</a>
										</h2>
										<p class="infos">
											{{ Lang.Get('Posted') }} {{ Post.Date|datel(Lang.Get('Default date format'))|title }}
											{% if Post.Author and Post.Author is not empty %}
												{{ Lang.Get('by') }} {{ Post.Author }}
											{% endif %}
											{% if Post.Tags is not empty %}
												<span>{{ Lang.Get('in') }}</span>
												{% list Post.Tags %}
													<a href="{{ Tag.Url }}" title="{{ Tag.Title }}">{{ Tag.Title }}</a>{% if loop.last is empty %}, {% endif %}
												{% endlist %}
											{% endif %}
										</p>
									</header>

									<div class="post">
										{% if Custom('display_mode') != 'All' %}
											{{ Post.Body(Custom('display_mode')|default(2)) }}
										{% else %}
											{{ Post.Body }}
										{% endif %}
									</div>

									<a class="read-more" href="{{ Post.PermaLink }}{% if Custom('display_mode') == 'All' %}#comments{% endif %}" title="{{ Post.Snippet }}">
										{% if Custom('display_mode') == 'All' %}
											{{ Lang.Get('Comments') }}
										{% else %}
											{{ Lang.Get('Read the post') }}
										{% endif %}
									</a>
									<div class="footer">

										<div class="share">
											{% if Custom('share_service') == 'Google +' %}
												<a class="button socialite googleplus-one" href="http://twitter.com/share" data-size="medium" data-href="{{ Post.Permalink }}">Google +</a>
											{% elseif Custom('share_service') == 'Twitter' %}
												<a class="button socialite twitter-share" href="#" data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}>Twitter</a>
											{% elseif Custom('share_service') == 'Facebook' %}
												<a class="button socialite facebook-like" href="http://twitter.com/share" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false">Facebook</a>
											{% elseif Custom('share_service') == 'All' or Custom('share_service') is empty %}
												<a class="button socialite googleplus-one" href="#" data-size="medium" data-href="{{ Post.Permalink }}">Google +</a>

												<a class="button socialite twitter-share" href="#" data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}>Twitter</a>

												<a class="button socialite facebook-like" href="#" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-show-faces="false">Facebook</a>
											{% endif %}
											<a class="button overblog-repost" href="#">Repost</a>
											{{ Post.RepostButton }}
										</div>
									</div>
								</div>

							{% else %}
								<div class="item">
									<div class="title">
										<h2>
											<a href="{{ Post.PermaLink }}">{{ Lang.Get('No post found') }}</a>
										</h2>
									</div>
									{% if not isIndex %}
										<div class="post">
											<p style="text-align: center">
												<a href="/">{{ Lang.Get('Back to home') }}</a>
											</p>
										</div>
									{% endif %}
								</div>
							{% endlist %}
						</div>

						<!-- Right col -->
						<div class="items right"></div>
						<div class="clearfix"></div>
					</div>

					{% if Navigation.NextPage %}
						<p class="load-more">
							<a href="{{ Navigation.NextPage }}">{{ Lang.Get('Load more') }}</a>
						</p>
					{% endif %}
				</div>
			</div>
		{% endif %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="//assets.over-blog-kiwi.com/themes/jquery/fancybox2.1.2/jquery.fancybox.pack.js"></script>
		{% if not isSingle and not isSpecial %}
			<script src="//assets.over-blog-kiwi.com/themes/jquery/infinite-ajax-scroll/jquery.ias.min.js"></script>
			<script src="//assets.over-blog-kiwi.com/themes/jquery/imagesloaded/jquery.imagesloaded.min.js"></script>
			<script src="//assets.over-blog-kiwi.com/themes/13/js/socialite/socialite.min.js"></script>
		{% endif %}
		{% if Custom('background_repeat') == 'strech' and Custom('background_image') is not empty %}
			<script src="//assets.over-blog-kiwi.com/themes/jquery/backstretch/jquery.backstretch.min.js"></script>
		{% endif %}

		<script>
			var Calendar = new Array();
			// Constant
			Calendar.CSS_ACTIVE = 'active',
			Calendar.CSS_INACTIVE = 'inactive',

			Calendar.MONTHS = new Array(
				'{{ Lang.Get('January') }}',
				'{{ Lang.Get('February') }}',
				'{{ Lang.Get('March') }}',
				'{{ Lang.Get('April') }}',
				'{{ Lang.Get('May') }}',
				'{{ Lang.Get('June') }}',
				'{{ Lang.Get('July') }}',
				'{{ Lang.Get('August') }}',
				'{{ Lang.Get('September') }}',
				'{{ Lang.Get('October') }}',
				'{{ Lang.Get('November') }}',
				'{{ Lang.Get('December') }}'
			),
			Calendar.Init = function(){
				{% if not isArchive %}
					$('.date li a').last().parent().addClass(Calendar.CSS_ACTIVE);
				{% endif %}

				var d = new Date(),
				year = d.getFullYear();

				Calendar.Reload(year);

				prevEl = null;

				$('.year li').each(function(){
					if( prevEl != null)
					{
						// We are in a previous year
						if($(this).data('month')-1 < prevEl.data('month'))
						{
							// Année précédente à finir
							for(var i = prevEl.data('month'); i < 12; i++)
							{
								Calendar.AddMonth($(this), i);
							}

							// Année en cours à combler
							for(var i = 0; i < $(this).data('month') -1; i++)
							{
								Calendar.AddMonth($(this), i);
							}
						}
						// we are in the same year
						else if($(this).data('month')-1 > prevEl.data('month'))
						{
							// Interval à combler
							for(var i = prevEl.data('month'); i < $(this).data('month') -1; i++)
							{
								Calendar.AddMonth($(this), i);
							}
						}
					}

					prevEl = $(this);
				});
			},
			Calendar.Reload = function(year){
				var d = new Date();
				var currentYear = d.getFullYear();

				if (year > currentYear) {
					return;
				}
			},
			Calendar.AddMonth = function(el, idMonth){
				el.before('<li>'+Calendar.MONTHS[ idMonth ]+'</li>');
			}

			{% if Custom('comment') == 'Facebook' and isSingle %}
				// Facebook comments
				(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
						js = d.createElement(s);
						js.id = id;
						js.src = "//connect.facebook.net/{{ Blog.Lang }}_{{ Blog.Lang|upper }}/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
						fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			{% elseif Custom('comment') == 'Disqus' and isSingle %}
				// Disqus comments
				var disqus_shortname = '{{ Custom('comment_disqus') }}';
				(function() {
					var dsq = document.createElement('script');
						dsq.type = 'text/javascript';
						dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			{% endif %}

			// Social networks : Twitter
			!function(d,s,id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if(!d.getElementById(id)){
					js = d.createElement(s);
					js.id = id;
					js.src = "http://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document,"script","twitter-wjs");

			{% if Custom('google_analytics') is not empty %}
				// Google Analytics
				window.google_analytics_uacct = '{{Custom('google_analytics')}}';
				var _gaq = _gaq || [];
					_gaq.push(['_setAccount', '{{Custom('google_analytics')}}']);
					_gaq.push(['_trackPageview']);
					_gaq.push(['_trackPageLoadTime']);

				(function() {
					var ga = document.createElement('script');
						ga.type = 'text/javascript';
						ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			{% endif %}

			{% if not isSingle %}
				var Timeline = new Array();

				Timeline.elsStart = null,
				Timeline.counter = 1,
				Timeline.MAXPAGE = 10,

				// Dispatch posts on columns
				Timeline.ItemDispatcher = function(elements) {
					if (elements){
						$(elements).hide();
						for (var i = 0, len = elements.length; i < len; i++) {
							if ($(".items.left").outerHeight(true) <= $(".items.right").outerHeight(true)) {
								$(elements[i]).appendTo(".items.left");
							}
							else {
								$(elements[i]).appendTo(".items.right");
							}
							$(elements[i]).show();
						}
					}
				},

				// Set pictures height and width
				Timeline.EnhancePictures = function (elements) {
					$(elements).find('.ob-section-text img, .ob-section-images img').each(function() {
						$(this).attr(
							'src',
							$(this).attr('src').replace(/\/[0-9]+x[0-9]+(\-ct)?/, "/408x306-ct")
						);
					});
				},

				// Set fancybox to all img except img in slideshows
				Timeline.FancyboxControls = function(elements) {
	                $(elements).find(".ob-link-img").attr("rel","fancybox");
	            },

	            // Load sharing buttons on hover
	            Timeline.Socialite = function (elements, hover) {
	            	if(hover){
	            		$(elements).find('.share').one('mouseenter', function(){
	            			Socialite.load($(this)[0]);

	            		});
	            	} else{
	            		Socialite.load($(elements));
	            	}
	            },

	            // Show repost button like socialite
	            Timeline.RepostButtonShow = function (elements) {
	            	$(elements).find(".share").each(function() {
	            		$(this).hover(function (){
	            			$(this).find(".ob-repost-btn").css("display","inline-block");
	            			$(this).find(".overblog-repost").remove();
	            		});
	            	});
	            }
			{% endif %}

			$(document).ready(function() {
				// Init calendar
				Calendar.Init();

				// Fancy box
				$(".ob-link-img").attr("rel", "fancybox").fancybox({
				    type: "image"
				});

				{% if not isSingle %}
					Timeline.elsStart = $('.item');

					$('.items-wrapper').imagesLoaded(function() {
						Timeline.ItemDispatcher(Timeline.elsStart);
						Timeline.EnhancePictures(Timeline.elsStart);
						Timeline.FancyboxControls(Timeline.elsStart);
					});

					Timeline.Socialite(Timeline.elsStart, true);

					Timeline.RepostButtonShow(Timeline.elsStart);

					// loadmore plugin
					jQuery.ias({
						'container' 	: ".items-wrapper",
						'item' 			: ".item",
						'pagination' 	: ".load-more",
						'next'			: ".load-more a",
						'tresholdMargin': -250,
						'loader' 		: "<img src='http://assets.over-blog-kiwi.com/themes/14/images/ajax_loader.gif' alt='' title='' width='30' /><p>{{ Lang.Get('Loading new posts') }}...</p>",
						'history'		: false,
						beforePageChange: function(){
							if (Timeline.counter >= Timeline.MAXPAGE) {
								$('.load-more').show();
								return false;
							}
						},
						onRenderComplete: function(items){
							$('.items-wrapper').imagesLoaded(function() {
								Timeline.ItemDispatcher(items);
								Timeline.EnhancePictures(items);
								Timeline.FancyboxControls(items);
							});

							Timeline.Socialite(items, true);

							Timeline.RepostButtonShow(items);

							if (typeof OB != "undefined") {
								OB.restart && OB.restart();
							}

							if (typeof twttr != "undefined") {
								twttr.widgets.load();
							}

							Timeline.counter++;
						}
					});
				{% endif %}

				// Placeholder Script
				if($.browser.msie && $.browser.version <= 9.0 ){
					$('input[placeholder]').each(function(){
						var input = $(this);
						$(input).val(input.attr('placeholder'));
						$(input).focus(function(){
							 if (input.val() == input.attr('placeholder')) {
								 input.val('');
							 }
						});
						$(input).blur(function(){
							if (input.val() == '' || input.val() == input.attr('placeholder')) {
								input.val(input.attr('placeholder'));
							}
						});
					});
				}

				{% if Custom('background_repeat') == 'strech' and Custom('background_image') is not empty %}
					if($.browser.msie && $.browser.version <= 8.0 ){
						//  Backstrech
						$.backstretch('{{ Custom('background_image') }}');
						$('body').css('background', 'none');
					}
				{% endif %}
			});
		</script>
	</body>
</html>