<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}">
	<head>
			<!-- shortcut:[Meta] -->
	  	<!-- title, description, keyword, robots -->
		  	{% if isSingle%}
				{% list Posts %}
			  		<title>{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }} - {% endif %}{{Blog.Title}}</title>
			  		<meta name="description" content="{{ Post.Snippet }}" />
		  			<meta name="keywords" content="{% list Post.Tags %}{{ Tag.Title }}{% if loop.last == false %}, {% endif %}{% endlist %}" />
					<meta name="robots" content="index,follow" />
				{% endlist %}
			{% elseif isTag and Tag is not empty %}
				<title>{{ Tag.Title|title }} - {{Blog.Title}}</title>
				<meta name="description" content="{{ Blog.Description }}" />
				<meta name="keywords" content="{{ Tag.Title|title }}" />
				<meta name="robots" content="index,follow" />
			{% elseif isSearch and Search is not empty %}
				<title>{{ Search|title }} - {{Blog.Title}}</title>
				<meta name="description" content="{{ Blog.Description }}" />
				<meta name="keywords" content="{{ Search|title }}" />
				<meta name="robots" content="noindex" />
			{% else %}
				<title>{{Blog.Title}}</title>
				<meta name="description" content="{{ Blog.Description }}" />
				<meta name="robots" content="index,follow" />
			{% endif %}
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=yes"/>


			<!-- Social setting : Facebook, G+ .. -->
			<meta property="og:site_name" content="{{ Blog.Title }}" />
			<meta property="og:type" content="blog" />
			<meta property="fb:app_id" content="{% if Custom('facebook_appid') is not empty %}{{ Custom('facebook_appid') }}{% endif %}" />
			{% if Custom('facebook_username') is not empty %}
	        	<meta property="fb:admins" content="{{ Custom('facebook_username') }}"/>
			{% endif %}
			<meta itemprop="name" content="{{ Blog.Title }}" />

			{% if isSingle %}
				{% list Posts %}
					<meta property="og:title" content="{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }}{% endif %}"/>
					<meta property="og:description" content="{{ Post.Snippet }}" />
					<meta itemprop="description" content="{{ Post.Snippet }}" />
					<meta property="og:url" content="{{ Blog.Url }}{{ Post.Permalink }}" />
					{% if Post.Cover %}
						<meta property="og:image" content="{{ Post.Cover }}"/>
						<meta itemprop="image" content="{{ Post.Cover }}" />
					{% endif %}
				{% endlist %}
				<meta property="og:type" content="overblogkiwi:see" />
			{% else %}
				<meta property="og:title" content="{{ Blog.Title }}"/>
				<meta property="og:description" content="{{ Blog.Description }}" />
				<meta itemprop="description" content="{{ Blog.Description }}" />
				{% if Blog.Avatar %}
			<meta property="og:image" content="{{ Blog.Avatar }}"/>
			<meta itemprop="image" content="{{ Blog.Avatar }}" />
				{% else %}
					{% list Posts %}
					{% if loop.index == 1 and Post.Cover %}
				<meta property="og:image" content="{{ Post.Cover }}"/>
				<meta itemprop="image" content="{{ Post.Cover }}" />
					{% endif %}
					{% endlist %}
		  	{% endif %}

		  	{% if isSearch %}
					<meta property="og:type" content="overblogkiwi:search" />
				{% else %}
					<meta property="og:type" content="overblogkiwi:visit" />
				{% endif %}
			{% endif %}


			<!-- shortcut:[Options] -->

			<!-- options -->
			<meta name="list:background_type:label.appearance" items="Light, Dark" default="Dark" group="Theme" />
			<meta name="image:background_image:label.backgroundImage" group="Theme" />
			<meta name="list:background_repeat:label.backgroundImageRepeatMode" default="strech" items="none,strech" group="Theme" />
			<meta name="string:header_spacing:label.headerSpacing" default="0px" group="Theme" />

			<meta name="string:header_title:label.headerTitle" default="My personal timeline" group="Header" />
			<meta name="string:header_description:Hlabel.headerDescription" default="Welcome to my timeline" group="Header" />
			<meta name="list:display_mode:label.numberOfSections" items="1,2,3,4,5,6,7,8,9,10,All" default="2" group="Header" />

			<meta name="string:twitter_username:label.twitterUsername" group="Social" />
        	<meta name="string:facebook_username:label.facebookUsername" group="Social" />
        	<meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, All" default="All" group="Social" />

			<meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comment" />
	        <meta name="string:comment_disqus:label.disqusAccount" default="obcomment" group="Comment" />

	        <meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
	        <meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
	        <meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
	        <meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />


			<!-- shortcut:[Includes] -->
			<!-- favicon -->
			{% if Blog.FaviconUrl is not empty %}
				<link rel="icon" type="image/png" href="{{ Blog.FaviconUrl }}" />
			{% else %}
				<link rel="shortcut icon" type="image/x-icon" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.ico" />
				<link rel="icon" type="image/png" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.png" />
				<link rel="apple-touch-icon" href="http://fdata.over-blog.net/99/00/00/01/img/mobile-favicon.png" />
			{% endif %}

			<!-- SEO -->
			{% if Custom('google_webmaster_id') is not empty %}
				<meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
			{% endif %}
			{% if Custom('msn_webmaster_id') is not empty %}
				<meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
			{% endif %}

			<!-- includes -->
			<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />


			<!-- shortcut:[Styles] -->
			<style type="text/css">
				/*----- Reset -----*/
				body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,textarea,blockquote,th,td{ margin:0; padding:0;}
				table{ border-collapse:collapse; border-spacing:0;}
				fieldset,img{ border:0;}
				address,caption,cite,code,dfn,var{ font-style:normal; font-weight:normal;}
				ol,ul{ list-style:none;}
				caption,th{ text-align:left;}
				h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
				q:before,q:after{ content:'';}
				abbr,acronym{ border:0;}

				/*----- Intro -----*/
				body{background: url("http://assets.over-blog-kiwi.com/themes/13/images/bg.jpg") repeat; color: #000; font-family:Arial,Helvetica,sans-serif; font-size: 13px; line-height: 1.3;}
				textarea{ resize:none;}
				a:link, a:visited, a:hover, a:active { outline:none }
				a{color: #4c7999;cursor:pointer;outline:none;position:relative;text-decoration:none;font-weight:bold;}
				a:hover{text-decoration:none; color: #6594b5;}
				::-moz-focus-inner{ border:0; }
				.wrap{ margin:0 auto; position:relative; width: 986px; }
				.cl,.cr,.cb{ display:block !important; float:none !important; height:0 !important; width:0 !important;}
				.cl{ clear:left;}
				.cr{ clear:right;}
				.cb{ clear:both;}
				.bold {font-weight:bold;}
				.blue {color: #4c7999;}
				::selection {color: white;  background: #00a2ff;}
				::-moz-selection {color: white;  background: #00a2ff;}
				::-webkit-selection {color: white;  background: #00a2ff;}
				@font-face {font-family: 'Conv_Gotham-Black_0';src: url('http://assets.over-blog-kiwi.com/themes/13/fonts/Gotham-Black_0.eot');src: local('?'), url('http://assets.over-blog-kiwi.com/themes/13/fonts/Gotham-Black_0.woff') format('woff'), url('http://assets.over-blog-kiwi.com/themes/13/fonts/Gotham-Black_0.ttf') format('truetype'), url('http://assets.over-blog-kiwi.com/themes/13/fonts/Gotham-Black_0.svg') format('svg');font-weight: normal;font-style: normal;}

				.clearfix {clear: both;}

				/*----- HEADER  -----*/
				.header {background: url("http://assets.over-blog-kiwi.com/themes/13/images/header.png") repeat; height: 60px; line-height: 60px; position: relative; z-index: 1000;}
				.header .logo {float: left; width: 635px; height: 60px; overflow: hidden;}
				.header .logo a {color: #FFF;}
				.header a,
				.header a:visited {color: #FFF; float: left; font-family: 'Conv_Gotham-Black_0', Arial, sans-serif; font-size: 16px; color: #fff; margin-right: 5px; text-shadow: 0px 1px 1px #000;}
				.header p {float: left; font-size: 13px; font-style: italic; color: #a3a3a3; letter-spacing: -0.5px; text-shadow: 0px 1px 0px #000;}

				.header .search {width: 348px; float: right;}
				.header .search input[type="text"] {background: url("http://assets.over-blog-kiwi.com/themes/13/images/search.png") no-repeat; height: 24px; border: none; width: 308px; color: #FFF; outline: none; padding-left: 10px; padding-right: 30px; padding-top: 5px; padding-bottom: 5px;}
				.header .search input[type="text"]:focus {background: url("http://assets.over-blog-kiwi.com/themes/13/images/search.png") 0 -35px no-repeat; color: #000;}

				/*----- NAV DATE -----*/
				.date {background: url("http://assets.over-blog-kiwi.com/themes/13/images/date.png") repeat; height: 41px; line-height: 38px;}
				.date a {display: block; font-weight: bold;}
				.date .control-left {float: left; margin-top: 2px;}
				.date .control-right {float: right; margin-top: 2px;}
				.date ul {margin: 0 auto; width: 940px;overflow:hidden; text-align: center;}
				.date li {color: #969696; display: inline-block; margin: 0 13px;}
				.date li.last {margin-right: 0;}
				.date .active a {border-bottom: 2px solid #4b9fd3;}
				.date li a:hover{border-bottom: 2px solid #e2eaef;}
				.date .active a {color: #4c7999;}

				/*----- CONTENT -----*/
				#container{width:980px; margin: 0 auto;padding-bottom: 20px;}

				#container .informations {padding: 20px 0 0 22px;}
				#container .informations h2{font-size: 36px;}
				#container .informations p{font-size: 18px;}
				#container .informations a{font-weight: bold; color: #fff; text-decoration: underline;}
				#container .informations .social {overflow: hidden; margin-top: 15px;}
				#container .informations .social li{float: left; margin-right: 10px;}


				.back {text-align: center;}

				.items.left {float:left;}
				.items.right {float:right;}


				/* Item */
				.item {width: 408px;margin:20px;background-color:#ffffff;border:solid 1px #cfdce3;border-radius: 4px;word-wrap:break-word;padding: 20px;box-shadow: inset 0px -2px 1px #f2f2f2;}
				.item .title{border-bottom: 1px solid #e7edf1; padding-bottom: 10px; margin-bottom: 10px; min-height: 30px;}

				.item .title h2,
				.item .title h2 a,
				.item .comments h2,
				.special h3 {color: #000; font-weight: bold; font-size: 22px; margin-bottom: 10px;}

				.item .title h2 a:hover {color: #4e4e4e;}
				.item .title p.infos {color: #606060; font-size: 12px;}
				.item .comments {margin-top: 20px;}
				.item .comments h6 {font-size: 15px; font-weight: bold; margin-bottom: 15px;}


				/* Social Icon */
				.item .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-overblog.png"); width:34px; height:34px; display:block; float: right;}
				.item.FB .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-facebook.png");}
				.item.TW .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-twitter.png");}
				.item.IG .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-instagram.png");}
				.item.FS .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-foursquare.png");}
				.item.YT .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-youtube.png");}
				.item.FL .title .icon {background: url("http://assets.over-blog-kiwi.com/themes/13/images/social-flickr.png");}

				/* Social Share */
				.item .share {float: left; padding-top: 5px;padding-top: 9px; line-height: 20px;}
				.item .share .google-share {float: left; margin-right: 10px; width: 70px;}
				.item .share .twitter-share {float: left; margin-right: 7px; width: 100px;}
				.item .share .facebook-share {float: left;}

				.item .footer { background: #fafafa; border: 1px solid #e8ecf1; border-radius: 5px; line-height: 38px; height: 38px; padding-left: 7px; padding-right: 15px; width: 380px; margin-top: 15px;}
				.item .footer .count {font-weight: bold;}
				.item .footer a.like {background: url("http://assets.over-blog-kiwi.com/themes/13/images/like.png") no-repeat; width: 26px; height: 26px; text-indent: -1337px; display:block; float: left;margin-top: 6px;margin-right: 5px;}
				.item .footer a.like:hover {background: url("http://assets.over-blog-kiwi.com/themes/13/images/like.png") 0 -27px no-repeat;}
				.item .footer a.like:active {background: url("http://assets.over-blog-kiwi.com/themes/13/images/like.png") 0 -54px no-repeat;}
				.item .footer a.original {float: right; color: #000; background: url("http://assets.over-blog-kiwi.com/themes/13/images/picto-originalpost.png") 0 12px no-repeat; padding-left: 15px;}
				.item .footer a.original:hover {color: #4e4e4e;}

				/* Enhance images */
				.yui3-slideshow {height: 460px;}
				.item .ob-section-text img {margin-bottom: 20px;}
				.item .ob-row-1-col img {width: 100%;}
				.item .ob-row-2-col img {width: 50%;}
				.item .ob-row-3-col img {width: 33.33%;}
				.item .ob-video iframe {max-height: 370px; width: 650px;}

				.item ol li {list-style:decimal; list-style-position: inside; margin-left: 10px;}
				.item ul li {list-style:disc; list-style-position: inside; margin-left: 10px;}
				.item pre {border-left: 3px solid #e7edf1; margin: 10px auto 15px; padding-left: 4px;}

				.item .post {overflow: hidden; color: #000;}
				.item .post p {margin-bottom: 10px;}
				.item .post.link p {margin-bottom: 10px;}
				.item .post.link a{font-size: 18px; background: url("http://assets.over-blog-kiwi.com/themes/13/images/picto-originalpost.png") 0 4px no-repeat; padding-left: 15px; margin-left: 20px;}

				/* Sections */
				.ob-section-text {margin-top: 10px; margin-bottom: 10px;}
				.ob-section-text h3,
				.ob-section-text h4,
				.ob-section-text h5 {margin: 15px 0 5px;}
				.ob-section-text h3 {font-size: 18px;}
				.ob-section-text h4 {font-size: 16px;}
				.ob-section-text h5 {font-size: 14px; font-weight: bold;}
				.ob-section-text ul {margin-bottom: 10px;}
				.ob-section-text li:last-child {margin-bottom: 15px;}
				.ob-section-text li p {margin-bottom: 5px !important;}
				.ob-section-images a {cursor: default;}
				.ob-section-images img {max-width: 640px;}
				.ob-section-map .ob-map{width: 600px;height: 400px;}
				.ob-section-map .ob-desc {width: 100%;}


				/* hack new section layout */
				/* Section File */
				.ob-section-file .ob-ctn {display: block; max-width: 100% !important;}
		        .ob-section-file .ob-ctn a.ob-link,
		        .ob-section-file .ob-c a.ob-link:visited {color: gray; max-width: {% if isSingle %}553{% else %}321{% endif %}px; text-decoration: underline; text-shadow: none;}
		        .ob-section-file .ob-ctn a.ob-link:hover {text-decoration: none;}
		        .ob-section-file .ob-desc {margin-top: 5px;}
		        .ob-section-file .ob-icon {background-image: url(http://assets.over-blog-kiwi.com/b/blog/bundles/overblogblogblog/images/paperclip.png?v=1);}

				/* Section Quote */
				.ob-section-quote {margin-bottom: 20px; max-width: 99.6% !important;}
				.ob-section-quote p {min-height: 20px;}
				.ob-section-quote .ob-quote p {color:gray;}
				.ob-section-quote .ob-quote p:before {margin: -74px 0 0 -85px;color:#ebebed;}
				.ob-section-quote .ob-quote p:after {margin: -25px 0 0 0;color:#ebebed;}
				.ob-section-quote .ob-link {color: gray;}
				.ob-section-quote p.ob-author,
		        .ob-section-quote p.ob-source {color: gray; font-size: 13px; font-style: italic; margin: 35px 0 0; max-height: 20px; max-width: 550px; overflow: hidden; padding-bottom: 1px; padding-bottom: 0\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}
		        .wrapper-timeline .ob-section-quote p.ob-author,
		        .wrapper-timeline .ob-section-quote p.ob-source {max-width: 317px;}

		        /* Section Link */
		        .ob-section-link {margin-bottom: 20px;}
		        .ob-section-link .ob-media-left {margin: 0;}
		        .ob-section-link p.ob-url {margin: 0; max-width: 430px;}
		        .ob-section-link .ob-url .ob-link {font-size: 13px;}
		        .wrapper-timeline .ob-section-link p.ob-url {margin: 0; max-width: 195px;}
		        .ob-section-link p.ob-title,
		        .ob-section-link p.ob-snippet {margin-bottom: 10px; margin-left: 20px;}
		        .ob-section-link p.ob-title .ob-link {color: gray;max-height: 40px; overflow: hidden;}
	        	.ob-section-link p.ob-snippet {margin-bottom: 35px; max-height: 28px; overflow: hidden;}
		        .ob-section-link .ob-img {float: left; width: 170px;}
		        .ob-section-link .ob-desc {margin-top: 5px;}


		        .ob-section-link .ob-ctn,.ob-section-quote,.ob-section-file .ob-ctn {background-color: #fbfbfb;border: 1px solid #ebebed;}
				.ob-section-link .ob-url,.ob-section-quote .ob-author,.ob-section-quote .ob-source {background-color: #ebebed;}
				.ob-section-link .ob-url .ob-link,.ob-section-quote .ob-link {color: #4E4E4E;}


				/* hack for slideshow */
				.wrapper-timeline .ob-layout900,
				.wrapper-timeline .ob-layout900 .ob-slider-directionNav {width: 408px!important; height: 306px!important;}

				/* hacks for homepage */
				.wrapper-timeline {background: url("http://assets.over-blog-kiwi.com/themes/13/images/line.png") 485px 0 repeat-y;}

				.wrapper-timeline .item .post img.ob-img {max-width: 408px;}
				.wrapper-timeline .item .post.video {height: 233px; margin: 0 auto; width: 400px;}
				.wrapper-timeline .item .post.photo {margin: 0 auto; width: 400px;}
				.wrapper-timeline .item .post.photo  img{margin: 0 auto; width: 400px;}
				.wrapper-timeline .ob-section-images img {width: 408px;float:none;}
				.wrapper-timeline .ob-section-video,
				.wrapper-timeline .ob-section-video iframe,
				.wrapper-timeline .ob-section-images .ob-desc,
				.wrapper-timeline .ob-section object {width: 408px;}
				.wrapper-timeline .ob-section-video iframe {max-height: 235px;}
				.wrapper-timeline .ob-section object  {width: 408px; height:306px;}
				.wrapper-timeline .ob-section-map .ob-map{width: 408px; height: 200px;}
				.wrapper-timeline .obsoundplayer .obsoundplayername {width: 45px;}
				.wrapper-timeline {position: relative; padding-bottom: 50px;}

				/* hack for single post */
				.single .item {width: 640px; margin-left: auto; margin-right: auto; float: none;}
				.single .item .footer {width: 616px;}
				.single .item .post img,
				.single .item .ob-slideshow {-moz-box-shadow: 0px 1px 4px #AEAEAE; -webkit-box-shadow: 0px 1px 4px #AEAEAE; -o-box-shadow: 0px 1px 4px #AEAEAE; box-shadow: 0px 1px 4px #AEAEAE;}
				.single .item .ob-slideshow,
				.single .item .ob-slideshow .ob-img {width: 640px;}
				.single .ob-section {width: 100%; margin-left: 0;}
				.single .ob-section {clear: both;}
				.single .ob-section-map .ob-map{width: 650px;height: 400px;}

				/* Nav */
				.item .nav-post {width: 100%; margin: 20px 0;}
				.item .nav-post a {display: block; max-width: 44%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
				.item .nav-post .prev {float: left;}
				.item .nav-post .prev:before {content: "‹"; font-weight: bold; margin-right: 5px;}
				.item .nav-post .next {float: right;}
				.item .nav-post span {color: #4B9FD3; float: right; font-weight: bold; margin-left: 5px;}
				.item .nav-post:hover span {color: #6594B5;}

				/* Load more */
				.items-wrapper .item {display:none;}
				.items-wrapper .items .item {display:block;}
				.load-more {clear:both;position: relative;text-align: center;top: 20px;}
				.load-more a {color: #000; padding: 8px 15px;background:#fafafa;border:1px solid #e2eaee;border-radius: 4px;}

				/* Infinite Scroll loader */
				.ias_loader {text-align: center;z-index: 100;position: fixed;left: 50%; margin-left: -110px; bottom: 40px;width: 200px;padding: 10px;background: #000;opacity: 0.8;color: #FFF;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}

				/* Date */
				.right .corner {background: url("http://assets.over-blog-kiwi.com/themes/13/images/left.png") no-repeat; display: block;height: 17px; margin-left: -50px; margin-top: 2px; position: absolute; width: 30px;z-index: 2;}
				.left .corner {background: url("http://assets.over-blog-kiwi.com/themes/13/images/right.png") no-repeat; display: block;height: 17px; margin-left: 428px; margin-top: 0; padding: 0; position: absolute; vertical-align: top; width: 27px; z-index: 2;}

				/* twitter box */
				.ob-section .twitter-tweet-rendered {max-width: 100% !important;}
				.ob-section .twt-border {max-width: 100% !important;}


				/* default Tweet */
				.twitter-tweet img {width: 32px;height: 32px;min-height: 32px;}

				blockquote.ob-tweet {position: relative;font-family: 'Helvetica Neue', Arial, sans-serif;background: #FFFFFF;border-radius: 5px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);border: #DDD 1px solid;border-top-color: #EEE;border-bottom-color: #BBB;padding: 10px;}
				blockquote.ob-tweet .ob-tweet-author {left: 50px;position: absolute;top: 14px;font-size: 14px;font-weight:bold;color: #333333;}
				blockquote.ob-tweet .ob-tweet-author a {font-weight:normal;color: #999999;}
				blockquote.ob-tweet .ob-text {color: #333;font-family: Georgia, Palatino, serif;font-size: 16px;line-height: 22px;}
				blockquote.ob-tweet .ob-text a {color: #444;font-family: Georgia, Palatino, serif;font-weight:normal;}
				blockquote.ob-tweet .ob-media-left {width: 32px;height: 32px;min-height: 32px;border-radius: 5px;}
				blockquote.ob-tweet .ob-tweet-bird img {width: 16px;height: 16px;min-height: 16px;}
				blockquote.ob-tweet .ob-tweet-date, .ob-tweet .ob-tweet-date a {color: #999;font-size: 12px;font-weight: normal;}

				blockquote.ob-tweet .ob-tweet-bird {padding: 3px;position: absolute;right: 10px;top: 11px;background-color: #F8F8F8;background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#DEDEDE));background-image: -moz-linear-gradient(top,white,#DEDEDE);background-image: -o-linear-gradient(top,white,#DEDEDE);background-image: -ms-linear-gradient(top,white,#DEDEDE);background-image: linear-gradient(top,white,#DEDEDE);border: #CCC solid 1px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;color: #333;font-weight: bold;text-shadow: 0 1px 0 rgba(255, 255, 255, .5);-webkit-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;cursor: pointer;height: 18px;}


				/* Contact page */
				.ob-form {margin: 0 0 100px 80px;}
				.ob-label {width: 20%;}
				.ob-input-text,.ob-input-email,.ob-input-textarea {background-color: #DDD;border: 1px solid #BBB;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;outline: none;padding: 7px 5px; }
				.ob-input-text:focus,.ob-input-email:focus,.ob-input-textarea:focus {background-color: #F8F8F8;}
				.ob-input-submit, .ob-error {margin-left: 20%;}
				.ob-input-submit {background: #232323;border-radius: 4px;border: 1px solid #BBB;color: #FFF;cursor: pointer;font-size: 12px;padding: 8px 17px;}
				.ob-input-submit:active {background: #CCC;}
				.ob-form + a {display: block;font-size: 13px;font-weight: normal;text-align: center;}

				/* Hack IE */
				.load-more{display: block\9!important;}
				.ob-section-link .ob-url {height:16px\9;overflow:hidden\9;}

				{% if Custom('background_type') == 'Dark' or Custom('background_type') is empty %}
				body{background-color: #1f1c1e; background-image: url("http://assets.over-blog-kiwi.com/themes/13/images/bg-black.png");}
				.wrapper-timeline {background-image: url("http://assets.over-blog-kiwi.com/themes/13/images/line-black.png");}
				.date {background-image: url("http://assets.over-blog-kiwi.com/themes/13/images/date-black.png");}
				.left .corner {background-image: url("http://assets.over-blog-kiwi.com/themes/13/images/right-black.png");}
				.right .corner {background-image: url("http://assets.over-blog-kiwi.com/themes/13/images/left-black.png"); margin-left: -47px;}
				a{color: #4b9fd3;}
				.date a {color: #fff;}
				.date .active a {color: #fff;}
				#container{color: #fff;}
				.item {border:solid 1px #1d1d1d;}
				.timeline{background-color:#121212;}
				{% endif %}

				{% if Custom('background_image') is not empty %}
					#wrapper-container {background: url({{ Custom('background_image') }}) center top no-repeat;}
				{% else %}
					#wrapper-container {background: url(http://assets.over-blog-kiwi.com/themes/13/images/bg-justice.png) center top no-repeat;}
				{% endif %}

				{% if Custom('header_spacing') is not empty %}
					.informations {margin-bottom: {{Custom('header_spacing')}};}
				{% endif %}
			</style>

			<!-- shortcut:[Javascript] -->
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

			<!-- Fancybox -->
			<link rel="stylesheet" type="text/css" href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

			<!-- Timeline script -->
			<script type="text/javascript">

			var Calendar = new Array();
			// Constant
			Calendar.CSS_ACTIVE = 'active',
			Calendar.CSS_INACTIVE = 'inactive',

			Calendar.MONTHS = new Array(
				'{{ Lang.Get('January') }}',
				'{{ Lang.Get('February') }}',
				'{{ Lang.Get('March') }}',
				'{{ Lang.Get('April') }}',
				'{{ Lang.Get('May') }}',
				'{{ Lang.Get('June') }}',
				'{{ Lang.Get('July') }}',
				'{{ Lang.Get('August') }}',
				'{{ Lang.Get('September') }}',
				'{{ Lang.Get('October') }}',
				'{{ Lang.Get('November') }}',
				'{{ Lang.Get('December') }}'
			),
			Calendar.Reload = function(year){
				var d = new Date();
				var currentYear = d.getFullYear();

				if(year > currentYear){
					return;
				}

				if($('.year-'+year).length){
					$('.year').hide();
					$('.year-'+year).show();
					$('.control-left, .control-right').data('year', year);
				}
			}

			// On document load
			$(document).ready(function(){
				// -----------------------------------------------------------------
				//  Calendar
				// -----------------------------------------------------------------
				// Init calendar
				var d = new Date(),
					year = d.getFullYear(),
					currentYear = d.getFullYear(),
					nbMonths = $('.year-'+currentYear+' li').length;

				{% if Year %}
					year = {{ Year }};
				{% endif %}

				Calendar.Reload(year);

				{% if not isArchive %}
					$('.date li a').last().parent().addClass(Calendar.CSS_ACTIVE);
				{% endif %}

				// Display futur months
				if (nbMonths < 12){
					for (i = nbMonths; i<12; i++){
						var e = $('<li>'+Calendar.MONTHS[i]+'</li>');
						$('.year-'+currentYear).append(e);
					}
				}

				// Prev year
				$('.control-left').live(
					'click',
					function() {
						var year = $(this).data('year');
						year = year - 1;
						Calendar.Reload(year);
					}
				);

				// Next year
				$('.control-right').live(
					'click',
					function() {
						var year = $(this).data('year');
						year = year + 1;
						Calendar.Reload(year);
					}
				);
			});

			</script>
	</head>
	<body>
		<div id="fb-root"></div>
		<div class="top">
			<div class="header">
				<div class="wrap">
					<div class="logo">
						<h1>
							<a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Blog.Title }}</a>
						</h1>
						<p>{{ Blog.Description|truncate(25) }}</p>
					</div>
					<div class="search">
						<form class="search" method="post" action="/search/">
							<input type="text" name="q" placeholder="{{ Lang.Get('Search something here') }}..." value="{{ Lang.Get('Search something here') }}.." />
						</form>
					</div>
				</div>
			</div>
			<div class="date">
				<div class="wrap">
					<a class="control-left" href="#" data-year="{{ "now"|date("Y") }}"><img alt="{{ Lang.Get('Previous year') }}" src="http://assets.over-blog-kiwi.com/themes/13/images/control-left-black.png" /></a>
					<a class="control-right" href="#" data-year="{{ "now"|date("Y") }}"><img alt="{{ Lang.Get('Next year') }}" src="http://assets.over-blog-kiwi.com/themes/13/images/control-right-black.png" /></a>
					{% list Blog.Archives %}
						<ul class="year year-{{ Archive.Year }}"
							{% if Archive.Year == Year %}
								style="display:block;"
							{% elseif not Year and Archive.Year == "now"|date("Y") %}
								style="display:block;"
							{% else %}
								style="display:none;"
							{% endif %}
						>
							{% list Archive.Months %}
								{% if Month.PostCount > 0 %}
									<li {% if Month.isCurrent %}class="active"{% endif %}>
										<a href="{{ Month.Url }}">{{ Lang.Get(Month.Name) }}</a>
									</li>
								{% else %}
									<li>{{ Lang.Get(Month.Name) }}</li>
								{% endif %}
							{% endlist %}
						</ul>
					{% endlist %}
				</div>
			</div>
		</div>
		{# Display a single post #}
		{% if isSingle or isSpecial %}
		<div class="wrap single">
			{% if isSingle%}
				{% list Posts %}
					<div class="item{% list Post.Sources %} {{ Source }}{% endlist %}">
						<div class="title">
							<span class="icon"></span>
							<h2>{{ Post.Title }}</h2>
							<p class="infos">
								{{ Lang.Get('Posted') }} {{ Post.Date|datel(Lang.Get('Default date format')) | title }}
								{% if Post.Author and Post.Author is not empty %}
									{{ Lang.Get('by') }} {{ Post.Author }}
								{% endif %}
								{% list Post.Tags %}
									{% if loop.index == 1 %}
										in
									{% endif %}
									<a href="{{Tag.Url}}" title="{{ Tag.Title }}">{{ Tag.Title }}</a>{% if loop.last is empty %}, {% endif %}
								{% endlist %}
							</p>
						</div>
						<div class="post">
							{{ Post.Body }}
						</div>
					  	{% if Custom('share_service') != 'none' %}
					  		<div class="footer">
	                            <div class="share">
	                            	{% if Custom('share_service') == 'Google +' %}
	                                    <div class="google-share">
	                                    	<div class="g-plusone" data-size="medium" data-href="{{ Blog.Url }}{{ Post.Permalink }}"></div>
	                                    </div>
	                                {% endif %}
	                                {% if Custom('share_service') == 'Twitter' %}
	                                	<div class="twitter-share">
	                                    	<a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Blog.Url }}{{ Post.PermaLink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
	                                    </div>
	                                {% endif %}
	                                {% if Custom('share_service') == 'Facebook' %}
	                                    <div class="facebook-share">
	                                    	<div class="fb-like" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
	                                    </div>
	                                {% endif %}
	                                {% if Custom('share_service') == 'All' or Custom('share_service') is empty %}
	                                	<div class="google-share">
	                                    	<div class="g-plusone" data-size="medium" data-href="{{ Blog.Url }}{{ Post.Permalink }}"></div>
	                                    </div>
	                                    <div class="twitter-share">
	                                    	<a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Blog.Url }}{{ Post.PermaLink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
	                                    </div>
	                                    <div class="facebook-share">
	                                    	<div class="fb-like" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
	                                    </div>
	                                {% endif %}
	                            </div>
	                        </div>
	                    {% endif %}
	                    {% if Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
							<div class="nav-post">
								{% if Navigation.PreviousPost is not empty %}
			                    	<a class="prev" href="{{ Navigation.PreviousPost.Permalink }}" title="{{ Navigation.PreviousPost.Title }}">
				                    	{% if Navigation.PreviousPost.Title is not empty %}
				                    		{{ Navigation.PreviousPost.Title }}
				                    	{% else %}
				                    		{{ Lang.Get('Previous post') }}
				                    	{% endif %}
				                    </a>
			                    {% endif %}
								{% if Navigation.NextPost is not empty %}
									<span>›</span>
			                    	<a class="next" href="{{ Navigation.NextPost.Permalink }}" title="{{ Navigation.NextPost.Title }}" >
				                    	{% if Navigation.NextPost.Title is not empty %}
				                    		{{ Navigation.NextPost.Title }}
				                    	{% else %}
				                    		{{ Lang.Get('Next post') }}
				                    	{% endif %}
			                    	</a>
			                    {% endif %}
								<div class="cb"></div>
							</div>
						{% endif %}
						{% if not isPage %}
		                    {% if Post.ShowComments is not empty and Custom("comment") is not empty %}
								<div class="comments" id="comments">
									<div class="item-comments">
										{% if Custom("comment") == "Facebook" %}
											<h6>{{ Lang.Get('Comment this post') }}</h6>
											<div class="fb-comments" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-num-posts="2" data-width="640"></div>
										{% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
											<div id="disqus_thread"></div>
											<script type="text/javascript">
												var disqus_shortname = '{{ Custom('comment_disqus') }}';

												(function() {
													var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
													dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
													(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
												})();
											</script>
											<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
										{% else %}
											<h6>{{ Lang.Get('Comment this post') }}</h6>
											{{ Post.Comments }}
										{% endif %}
									</div>
								</div>
							{% endif %}
						{% endif %}
						<div class="back">
							<a href="{{ Blog.Url }}">{{ Lang.Get('Back to home') }}</a>
						</div>
					{% endlist %}
				{% else %}
				<div class="item">
					<div class="post special">
						{{ SpecialContent }}
					</div>
				</div>
				<div class="back">
					<a href="{{ Blog.Url }}">{{ Lang.Get('Back to home') }}</a>
				</div>
				{% endif %}
			</div>
		</div>
		{# Index #}
		{% else %}
			{% if Custom('background_image') is not empty %}
				<div id="wrapper-container">
			{% endif %}
				<div id="container">
					<div class="informations">
						{% if isTag %}
							<h2>{{ Lang.Get('Posts with') }} #{{ Tag.Title }} {{ Lang.Get('tag') }}</h2>
						{% elseif isSearch %}
							<h2>{{ Lang.Get('Search results for') }} "{{ Search.Keyword }}"</h2>
							{% if isSearch and Posts is empty %}
								<p>{{ Lang.Get('No result for this expression') }}</p>
							{% endif %}
						{% else %}
							<h2>{{ Custom('header_title') }}</h2>
							<p>{{ Custom('header_description') }}</p>
						{% endif %}

						<ul class="social">
						{% if Custom('twitter_username') is not empty %}
							<li>
								<a href="http://www.twitter.com/{{ Custom('twitter_username') }}" title="Twitter" target="_blank">
									<img src="http://assets.over-blog-kiwi.com/themes/13/images/icon-twitter.png" alt="Twitter" />
								</a>
							</li>
						{% endif %}
						{% if Custom('facebook_username') is not empty %}
							<li>
								<a href="http://www.facebook.com/{{ Custom('facebook_username') }}" title="Facebook" target="_blank">
									<img src="http://assets.over-blog-kiwi.com/themes/13/images/icon-facebook.png" alt="Facebook" />
								</a>
							</li>
						{% endif %}
							<li>
								<a href="{{ Blog.RssUrl }}" title="RSS" target="_blank">
									<img src="http://assets.over-blog-kiwi.com/themes/13/images/icon-rss.png" alt="RSS" />
								</a>
							</li>
							<li>
								<a href="{{ Blog.Url }}/contact" title="{{ Lang.Get('Contact us') }}">
									<img src="http://assets.over-blog-kiwi.com/themes/13/images/icon-contact.png" alt="{{ Lang.Get('Contact us') }}" />
								</a>
							</li>
						</ul>
					</div>

					<div class="wrapper-timeline">
						<!--- List items ---->
						<div class="items-wrapper">
							{# left col #}
							<div class="items left">
							{% list Posts %}

								<div class="item{% list Post.Sources %} {{ Source }}{% endlist %}" style="display:none;">
									<span class="corner"></span>

									<div class="title">
										<span class="icon"></span>
										<h2>
											<a href="{{ Post.PermaLink }}" title="{{ Post.Title }}">{{ Post.Title }}</a>
										</h2>
										<p class="infos">
											{{ Lang.Get('Posted') }} {{ Post.Date|datel(Lang.Get('Default date format')) | title }}
											{% if Post.Author and Post.Author is not empty %}
												{{ Lang.Get('by') }} {{ Post.Author }}
											{% endif %}
											{% list Post.Tags %}
												{% if loop.index == 1 %}
													in
												{% endif %}
												<a href="{{Tag.Url}}" title="{{ Tag.Title }}">{{ Tag.Title }}</a>{% if loop.last is empty %}, {% endif %}
											{% endlist %}
										</p>
									</div>

									<div class="post">
										<p>{% if Custom('display_mode') != 'All' %}{{ Post.Body(Custom('display_mode')|default(2)) }}{% else %}{{ Post.Body }}{% endif %}</p>
									</div>

									<div class="footer">
										{% if Custom('share_service') != 'none' %}
			                            <div class="share">
			                            	{% if Custom('share_service') == 'Google +' %}
		                                    <div class="google-share">
		                                    	<div class="g-plusone" data-size="medium" data-href="{{ Blog.Url }}{{ Post.Permalink }}"></div>
		                                    </div>
			                                {% endif %}
			                                {% if Custom('share_service') == 'Twitter' %}
		                                	<div class="twitter-share">
		                                    	<a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Blog.Url }}{{ Post.PermaLink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
		                                    </div>
			                                {% endif %}
			                                {% if Custom('share_service') == 'Facebook' %}
		                                    <div class="facebook-share">
		                                    	<div class="fb-like" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
		                                    </div>
			                                {% endif %}
			                                {% if Custom('share_service') == 'All' or Custom('share_service') is empty %}
		                                	<div class="google-share">
		                                    	<div class="g-plusone" data-size="medium" data-href="{{ Blog.Url }}{{ Post.Permalink }}"></div>
		                                    </div>
		                                    <div class="twitter-share">
		                                    	<a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Blog.Url }}{{ Post.PermaLink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
		                                    </div>
		                                    <div class="facebook-share">
		                                    	<div class="fb-like" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
		                                    </div>
			                                {% endif %}
			                            </div>
				                        {% endif %}

										{% if Custom('display_mode') != 'All' %}
										<a class="original" href="{{ Post.PermaLink }}" title="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }}{% endif %}">{{ Lang.Get('Read the post') }}</a>
										{% else %}
										<a class="original" href="{{ Post.PermaLink }}#comments">{{ Lang.Get('Comments') }}</a>
										{% endif %}
									</div>
								</div>

							{% else %}
								<div class="item">
									<div class="title">
										<h3>
											<a href="{{ Post.PermaLink }}">{{ Lang.Get('No post found') }}</a>
										</h3>
									</div>
									{% if not isIndex %}
										<div class="post">
											<p style="text-align: center">
												<a href="/">{{ Lang.Get('Back to home') }}</a>
											</p>
										</div>
									{% endif %}
								</div>
							{% endlist %}
							</div>

							{# right col #}
							<div class="items right">

							</div>
							<div class="clearfix"></div>
						</div>

					<p class="load-more">
						{% if Navigation.NextPage %}
							<a href="{{ Navigation.NextPage }}" title="Load more">{{ Lang.Get('Load more') }}</a>
						{% endif %}
					</p>

					</div>
				</div>
			{% if Custom('background_image') is not empty %}
				</div>
			{% endif %}
			</div>
		{% endif %}

		<script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
		<script src="http://assets.over-blog-kiwi.com/themes/jquery/infinite-ajax-scroll/jquery.ias.min.js"></script>
		{% if Custom('background_repeat') == 'strech' and Custom('background_image') is not empty %}
			<script src="http://assets.over-blog-kiwi.com/themes/13/js/jquery.backstretch.min.js" type="text/javascript"></script>
		{% endif %}


        <!-- Social networks : Google + -->
		<script type="text/javascript">
			window.___gcfg = {lang: '{{ Blog.Lang }}'};

			(function() {
		    	var po = document.createElement('script');
			    	po.type = 'text/javascript';
			    	po.async = true;
			    	po.src = 'http://apis.google.com/js/plusone.js';
		    	var s = document.getElementsByTagName('script')[0];
		    		s.parentNode.insertBefore(po, s);
		    })();
		</script>

        <!-- Social networks : Facebook -->
        <script type="text/javascript">
        	(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
					js = d.createElement(s);
					js.id = id;
					js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712') }}";
					fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

        <!-- Social networks : Twitter -->
        <script type="text/javascript">
			!function(d,s,id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if(!d.getElementById(id)){
					js = d.createElement(s);
					js.id = id;
					js.src = "http://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document,"script","twitter-wjs");
		</script>


		{% if Custom('google_analytics') is not empty %}
			<!-- Google Analytics -->
			 <script type="text/javascript">
				window.google_analytics_uacct = '{{Custom('google_analytics')}}';
				var _gaq = _gaq || [];
					_gaq.push(['_setAccount', '{{Custom('google_analytics')}}']);
					_gaq.push(['_trackPageview']);
					_gaq.push(['_trackPageLoadTime']);

				(function() {
					var ga = document.createElement('script');
						ga.type = 'text/javascript';
						ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
			<!-- End Google Analytics -->
		{% endif %}

		<script type="text/javascript">
			// FancyBox
			$(".ob-section-images a, .ob-link-img").attr("rel", "group1");
			$(".ob-section-images a, .ob-link-img").fancybox({
				'overlayShow'	: true,
				'overlayColor'  : '#000',
				'transitionIn'	: 'elastic',
				'transitionOut'	: 'elastic',
				'type'			: 'image'
			});


			// Placeholder Script
			$('input[placeholder]').each(function(){
			    var input = $(this);
			    $(input).val(input.attr('placeholder'));
			    $(input).focus(function(){
			         if (input.val() == input.attr('placeholder')) {
			             input.val('');
			         }
			    });
			    $(input).blur(function(){
			        if (input.val() == '' || input.val() == input.attr('placeholder')) {
			            input.val(input.attr('placeholder'));
			        }
			    });
			});

			// Search form hack
			$('form.search').submit(function(e){
				e.preventDefault();
				window.location = $(this).attr('action') + $(this).find('input').attr('value');
				return false;
			});


		{% if Custom('background_repeat') == 'strech' and Custom('background_image') is not empty %}
			// Backstretch
			$(document).ready(function(){
				//  Backstrech
				$.backstretch(
					'{{ Custom('background_image') }}'
				);
				$('#wrapper-container').css('background', 'none');
			});
		{% endif %}

			var Timeline = new Array(),
				elsStart;

			Timeline.EnhancePictures = function (elements) {
				$(elements).find('.ob-section-text img, .ob-section-images img').each(function(){
					$(this).attr(
						'src',
						$(this).attr('src').replace(/\/[0-9]+x[0-9]+(\-ct)?/, "/408x306-ct")
					);
				});
			},
			Timeline.ItemDispatcher = function(elements)
			{
				$(elements).hide();

				for (var i = 0, len = elements.length; i < len; i++)
				{
					if ($(".items.left").height() <= $(".items.right").height())
					{
						$(elements[i]).appendTo(".items.left");
					}
					else
					{
						$(elements[i]).appendTo(".items.right");
					}
					$(elements[i]).show();
				}
			}
			$(document).ready(function(){
				elsStart = $('.item');
				Timeline.EnhancePictures(elsStart);
				Timeline.ItemDispatcher(elsStart);

				jQuery.ias({
					'container' 	: ".items-wrapper",
					'item' 			: ".item",
					'pagination' 	: ".load-more",
					'next'			: ".load-more a",
					'tresholdMargin': -250,
					'loader' 		: "<div class='loader'><img src='http://assets.over-blog-kiwi.com/themes/13/images/loader.gif' alt='' title='' /></div>",
					onRenderComplete: function(items){
						Timeline.EnhancePictures(items);

						Timeline.ItemDispatcher(items);

						if (typeof OB != "undefined") { OB.restart && OB.restart(); }

						if (typeof FB != "undefined") { FB.XFBML.parse(document.body); }

						if (typeof twttr != "undefined") { twttr.widgets.load(); }

						if (typeof gapi != "undefined") { gapi.plusone.go(); }

						if (typeof DISQUSWIDGETS != "undefined" ){ DISQUSWIDGETS && DISQUSWIDGETS.getCount(); }

						$(".ob-section-images a, .ob-link-img").attr("rel", "fancybox");
						$("a[rel='fancybox']").fancybox({
							'overlayShow'	: true,
							'overlayColor'  : '#000',
							'transitionIn'	: 'elastic',
							'transitionOut'	: 'elastic',
							'type'			: 'image'
						});
					}
				});
			});
			$(window).load(function(){
				Timeline.ItemDispatcher(elsStart);
			});
		</script>
	</body>
</html>
