<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title, description, keyword, robots -->
        {% if isSingle%}
            {% list Posts %}
                <title>{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }} - {% endif %}{{Blog.Title}}</title>
                <meta name="description" content="{{ Post.Snippet }}" />
                <meta name="keywords" content="{% list Post.Tags %}{{ Tag.Title }}{% if loop.last == false %}, {% endif %}{% endlist %}" />
                <meta name="robots" content="index,follow" />
            {% endlist %}
        {% elseif isTag and Tag is not empty %}
            <title>{{ Tag.Title|title }} - {{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Tag.Title|title }}" />
            <meta name="robots" content="index,follow" />
        {% elseif isSearch and Search is not empty %}
            <title>{{ Search|title }} - {{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Search|title }}" />
            <meta name="robots" content="noindex" />
        {% else %}
            <title>{{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="robots" content="index,follow" />
        {% endif %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />


        <!-- Social setting : Facebook, G+ .. -->
        <meta property="og:site_name" content="{{ Blog.Title }}" />
        <meta property="og:type" content="blog" />
        <meta property="fb:app_id" content="{% if Custom('facebook_appid') is not empty %}{{ Custom('facebook_appid') }}{% endif %}" />
        <meta itemprop="name" content="{{ Blog.Title }}" />

        {% if isSingle %}
            {% list Posts %}
                <meta property="og:title" content="{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }}{% endif %}"/>
                <meta property="og:description" content="{{ Post.Snippet }}" />
                <meta itemprop="description" content="{{ Post.Snippet }}" />
                <meta property="og:url" content="{{ Post.Permalink }}" />
                {% if Post.Cover %}
                    <meta property="og:image" content="{{ Post.Cover }}"/>
                    <meta itemprop="image" content="{{ Post.Cover }}" />
                {% endif %}
            {% endlist %}
            <meta property="og:type" content="overblogkiwi:see" />
        {% else %}
            <meta property="og:title" content="{{ Blog.Title }}"/>
            <meta property="og:description" content="{{ Blog.Description }}" />
            <meta itemprop="description" content="{{ Blog.Description }}" />
            {% if Blog.Avatar %}
            <meta property="og:image" content="{{ Blog.Avatar }}"/>
            <meta itemprop="image" content="{{ Blog.Avatar }}" />
            {% else %}
                {% list Posts %}
                {% if loop.index == 1 and Post.Cover %}
            <meta property="og:image" content="{{ Post.Cover }}"/>
            <meta itemprop="image" content="{{ Post.Cover }}" />
                {% endif %}
                {% endlist %}
            {% endif %}

            {% if isSearch %}
                <meta property="og:type" content="overblogkiwi:search" />
            {% else %}
                <meta property="og:type" content="overblogkiwi:visit" />
            {% endif %}
        {% endif %}

        <!-- shortcut:[Options] -->
	    <meta name="constant:displayArticlesLimit" content="4" />
	    
	    <meta name="string:nav_1_title:Title navigation item 1" group="Navigation" />
		<meta name="string:nav_1_link:URL navigation item 1" group="Navigation" />
		<meta name="string:nav_2_title:Title navigation item 2" group="Navigation" />
		<meta name="string:nav_2_link:URL navigation item 2" group="Navigation" />
		<meta name="string:nav_3_title:Title navigation item 3" group="Navigation" />
		<meta name="string:nav_3_link:URL navigation item 3" group="Navigation" />

		<meta name="boolean:display_widget_last:Hide Widget &quot;Last posts&quot;" group="Widgets" />
		<meta name="boolean:display_widget_tags:Hide Widget &quot;Tags&quot;" group="Widgets" />
		<meta name="boolean:display_widget_archives:Hide Widget &quot;Archives&quot;" group="Widgets" />

		<meta name="string:twitter_account:Enter your Twitter Account" default="overblog" group="Settings" />
        <meta name="string:facebook_appid:Enter your FaceBook App ID" group="Settings" />
        <meta name="string:google_analytics:Enter your Google Analytics ID" group="Settings" />
        <meta name="string:google_webmaster_id:Enter your Google Webmaster Tools ID" group="Settings" />
        <meta name="string:msn_webmaster_id:Enter your MSN Webmaster Tools ID" group="Settings" />

		<meta name="list:comment:Comment service" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comment" />
		<meta name="string:comment_disqus:Disqus account" default="obcomment" group="Comment" /> 

        <!-- shortcut:[Includes] -->
        <!-- favicon -->       
        {% if Blog.FaviconUrl is not empty %}
            <link rel="icon" type="image/png" href="{{ Blog.FaviconUrl }}" />
        {% else %}
            <link rel="shortcut icon" type="image/x-icon" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.ico" />
            <link rel="icon" type="image/png" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.png" />
            <link rel="apple-touch-icon" href="http://fdata.over-blog.net/99/00/00/01/img/mobile-favicon.png" />
        {% endif %}   
       
        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />
        {% if Blog.CssUrl is not empty %}
        <link rel="stylesheet" href="{{ Blog.CssUrl }}" type="text/css" />
        {% endif %}

        {% if Blog.JsUrl is not empty %}
            <script src="{{Blog.JsUrl}}" type="text/javascript"></script>
        {% endif %}
		
		<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
        <!-- shortcut:[Styles] -->		
        <style rel="stylesheet" type="text/css">
			/**********
			** RESET **
			**********/
			* {margin: 0; padding: 0;}
			a, a:hover, a:active, a:active {color: #555555; text-decoration: none; border: none; outline: none;}
			img {border: none; outline: none;}
			
			
			/**********
			** BASIC **
			**********/
			body {width: 100%; background: url("http://assets.over-blog-kiwi.com/themes/17/img/background.png") no-repeat scroll left 255px #FBFAF5;}
			
			.cb {clear: both;}
			.cl {clear: left;}
			.cr {clear: right;}
					
			/********
			** TOP **
			********/
			#top {width: 100%; height: 259px; margin-bottom: 20px; background: url("http://assets.over-blog-kiwi.com/themes/17/png/top.jpg") repeat-x;}
			#header-wrapper {width: 960px; height: 90px; margin: 0 auto; padding: 10px 0 0 0;}
			
			/** menu **/
			#nav {float: right; margin: 20px 0px 0 0;}
			#nav ul {list-style: none;}
			#nav li {float: left;}
			#nav a { display: block; margin-left: 10px; padding: 10px 15px; background-color: #750005; border: 1px solid #7C1919; color: #fff; font-size: 12px; font-family: Helvetica, Arial, sans-serif;}
			#nav a:hover {background-color: #1E1B1B;}
			
			/** title + desctiption **/
			#header-inner { width: 100%; height: 103px;}
			#header-inner h1 a {display: block; margin-top: -12px; color: #fff; font-size: 40px;font-family: 'Pacifico'; font-weight: normal; text-transform: capitalize; text-shadow: 2px 2px 0px #740404;}
			#description {margin-top: 5px;}
			#description p {color: #fff; font-size: 9px; font-family: 'Trebuchet MS',Tahoma,Helvetica,Arial,Sans-serif; text-transform: uppercase; text-shadow: 2px 2px 0 #740404;}
			#cover {height: 150px; margin: 0 auto;}
			#cover p {float: left; width: 840px; padding-top: 35px; color: #C9C9C9; font-size: 20px; font-family: Tahoma, Helvetica, arial, Sans-serif;}
			#cover img {float: right; width: 100px; height: 100px; margin: 29px 0 0;}
			
			
			/************
			** CONTENT **
			************/
			#content-wrapper {width: 950px; margin: 0 auto; background-color: #FBFAF5; border: 5px solid #FBFAF5; font-size: 12px; font-family: Tahoma, Halvetica, Arial, Verdana, Sans-serif;}
			#content-inner {margin-top: 20px;}
			
			
			/** sidebar **/
			#sidebar {float: left; width: 280px; margin: 0 0 0 20px; padding-top: 10px;
				background: url("http://assets.over-blog-kiwi.com/themes/17/img/sidebar.jpg") repeat-y center top; color: #fff;}
			#sidebar h2 { height: 38px; padding: 5px 20px 0; background: url("http://assets.over-blog-kiwi.com/themes/17/img/sidebar_h2.jpg") no-repeat; text-align: center; color: #786854; font-size: 18px; font-family: 'Lobster',arial,serif; font-weight: normal; text-transform: capitalize; text-shadow: 1px 1px 0px #F2F1DB;}
			#sidebar ul {padding: 5px 20px 30px; list-style: none;}
			#last-posts li {margin-bottom: 4px; padding: 0px 0 7px; border-bottom: 1px dotted #DDDDDD; line-height: 18px;}
			#last-posts img {float: left; padding: 5px 10px 15px 0;}
			#last-posts a {display: block; padding: 2px 0 3px; color: #fff; font-weight: bold; text-shadow: 1px 1px 0px #9C957F;}
			#last-posts a:hover {text-decoration: underline;}
			#tags {margin: 5px 0; padding: 5px 20px 20px; text-align: center;}	
			#tags a {color: #fff; text-transform: capitalize; text-shadow: 1px 1px 0px #9C957F;}	
			#tags a:hover {text-decoration: underline;}	
			.tag-size-1 {font-size: 10px;}	
			.tag-size-2 {font-size: 19px; text-transform: capitalize; text-shadow: 1px 1px 0px #9C957F;}
			
			
			/** list post **/
			#content {width: 670px; margin-left: 280px;}
			#post-list {padding: 0 20px 0 0;}
			.post-block {margin: 20px 0 20px 40px;}
			.post-title h3 a {display: block; color: #424242; font-size: 30px; font-family: Tahoma,Helvetica,Arial,Sans; font-weight: normal; text-transform: capitalize; letter-spacing: -1px;}
			.post-title h3 a:hover{color: #000;}
			.post-infos {float: left; width: 150px; margin-top: 25px; text-align: right;}
			.post-infos ul {display: block; list-style: none;}
			.post-infos li {border-bottom: 1px solid #DDDDDD; font-size: 11px; line-height: 20px;}
			.post-infos li a {color: #797979;}
			.post-infos li a:hover {text-decoration: underline;}
			.post-infos .author, .date, .tags {text-transform: capitalize;}
			.list-post-body {float: right; width: 440px; margin: 20px 0 0 10px; padding: 10px 0; border-left: 1px solid #DDDDDD;}
			.post-cover {float: right; width: 410px; height: 140px; margin-bottom: 10px; border: 5px solid #DDDDDD;}
			.post-cover:hover {border: none; padding: 5px;}
			.post-cover img {width: 410px; height: 140px;}
			.post-snippet {width: 410px; margin-left: 20px; text-align: left; line-height: 19px;}
			.read-more {display: block; margin: 13px 0 0 20px; color: #797979; font-weight: bold; text-transform: capitalize;}
			.read-more:hover {color: #797979; text-decoration: underline;}


			/** single post **/
			#post-details {padding: 0 20px 0 0;}
			#post-body {float: right; width: 440px; margin: 20px 0 0 10px; padding: 10px 0; border-left: 1px solid #DDDDDD;}
			#post-body h1 {margin: 0 0 10px 20px; font-size: 24px;}
			#post-body h2 {margin: 0 0 10px 20px; font-size: 14px;}
			#post-body h3 {margin: 0 0 10px 20px; font-size: 12px; text-transform: uppercase;}
			#post-body h4 {margin: 0 0 10px 20px; font-size: 12px;}
			#post-body h5 {margin: 0 0 10px 20px; font-size: 10px;}
			#post-body h6 {margin: 0 0 10px 20px; font-size: 8px;}
			.ob-section-text, .ob-section-images, .ob-section-video, .ob-section-audio, .ob-section-quote {width: 410px; margin: 0 0 10px 20px;}
			.ob-text a, .ob-link {margin: 0 0 10px 20px; color: #797979; text-decoration: underline;}
			.ob-text a:hover,.ob-link:hover {text-decoration: none;}
			.ob-cell, .ob-img, .ob-media,  .ob-video {max-width: 410px; margin: 0 auto 10px;}
			.ob-row-2-col img {max-width: 200px; margin-right: 5px;}
			.ob-pull-left, .ob-media-left {float: left; margin: 0 10px 5px 0;}
			.ob-pull-right, .ob-media-right {float: right; margin: 0 0 5px 10px;}
			.ob-section-quote {border: none; padding: 0;} 
			.ob-section-quote blockquote {margin: 20px 30px; padding: 10px; background-color: #FBFBD8; border: 1px dashed #E3E556; text-align: center;}
			.ob-author {margin: -15px 0 0 30px;}
			.ob-author:before{content:"";}
			.ob-desc {margin: -10px auto 10px; color: #3D3D3D; font-size: 11px; font-style: italic;}
			.share {margin: 30px 0;}
			.share h4 {margin: 0 0 5px;}
			.item-comments h4 {margin: 0 0 10px;}
			
			/*****************
			** NAV + FOOTER **
			*****************/
			#footer-nav {padding: 10px; color: #797979; font-size: 14px; font-family: 'Lobster'; text-transform: capitalize; border-top: 1px solid #DDDDDD;}
			#pagination {}
			#pagination a {color: #797979;}
			#pagination a:hover {color: #1E1B1B;}
			.prev {float: left;}
			.next {float: right;}

			#footer {width: 100%; padding: 15px 0; border-top: 1px solid #DDDDDD; color: #999999; font-size: 11px; text-align: center; text-transform: capitalize;}
			#footer span {text-transform: lowercase;}
			#footer a {color: #AAAAAA;}
			#footer a:hover {text-decoration: underline;}
		</style>
		
		<script type="text/javascript">
	        function switch_arch(year) {
	            'use strict';
	            var archiveYear, archiveMonths, displayStyle;
	            displayStyle = '';
	            archiveYear = document.getElementById('arch_' + year);
	            if (typeof (archiveYear) !== 'undefined') {
	                if (archiveYear.style.display !== 'none') {
	                    // Hide years without months
	                    archiveMonths = archiveYear.getElementsByTagName('li');
	                    if (!archiveMonths.length) {
	                        archiveYear.parentNode.style.display = 'none';
	                    }
	                    // Onclick management
	                    displayStyle = 'none';
	                }
	                archiveYear.style.display = displayStyle;
	            }
	            return false;
	        }
	    </script>  		
	</head>
	<body>
		<!-- HEADER + MENU -->
		<div id="top">
			<div id="header-wrapper">
				<div id="nav">
					<ul>
						<li><a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Lang.Get('Home') }}</a></li>
						{% if Custom('nav_1_link') is not empty %}
						<li><a href="{{ Custom('nav_1_link')}}">{{ Custom('nav_1_title') }}</a></li>
						{% endif %}
						{% if Custom('nav_2_link') is not empty %}
						<li><a href="{{ Custom('nav_2_link')}}">{{ Custom('nav_2_title') }}</a></li>
						{% endif %}
						<li><a href="{{ Custom('nav_3_link')|default('/contact') }}">{{ Custom('nav_3_title')|default('Contact') }}</a></li>
					</ul>
				</div>
				<div id="header-inner">
					<h1><a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Blog.Title | truncate(27) }}</a></h1>
					<div id="description">
						<p>{{ Blog.Description }}</p>
					</div>
				</div>
				<div id="cover">
					<p>{{ Blog.Owner.Bio }}</p>
					{% if Blog.Owner.Avatar is not empty %}
					<img src="{{ Blog.Owner.Avatar }}" alt="Avatar" title="{{ Blog.Owner.Nickname }}" height="128" />
					{% else %}
					{% endif %}
				</div>
			</div>
		</div>
		<!-- CONTENT -->
		<div id="content-wrapper">
			<div id="content-inner">
				<!-- sidebar -->
				<div id="sidebar">
					{% if Custom('display_widget_last') != true and Blog.Posts is not empty %}	
					<div id="last-posts">
						<h2>{{ Lang.Get('Last Posts') }}</h2>
						<ul>
							{% list Blog.Posts(3) %}
							<li>
								<a href="{{ Post.Permalink }}" title="{{ Post.Title | default('No title') }}">
									<img src="{% if Post.Cover is not empty %}{{ Post.Cover | resize(72) }}{% else %}{{ 'http://assets.over-blog-kiwi.com/themes/17/img/LogoOverblog.gif' | resize(72) }}{% endif %}" alt="" title="" width="72" height="72"/>
								</a>
								<a class="popular-title" href="{{ Post.Permalink }}" title="{{ Post.Title | default('No title') }}">{{ Post.Title | default('No title') }}</a>
								<p class="popular-snippet">{{ Post.Snippet }}</p>
								<div class="cb"></div>
							</li>
							{% endlist %}
						</ul>
					</div>
					{% endif %}
					
					{% if Custom('display_widget_tags') != true and Blog.PostsTags is not empty %}
					<div id="category">
						<h2>{{ Lang.Get('Tags') }}</h2>
						<div id="tags">
							{% list Blog.PostsTags(10, 'SORT_POSTS_NUMBER_DESC') %}
							<span class="{% if loop.index is odd %}tag-size-1{% else %}tag-size-2{% endif %}"><a href="{{ PostsTag.Url }}">{{ PostsTag.Title }}</a></span>
							{% endlist %}
						</div>
					</div>
					{% endif %}
					
					{% if Custom('display_widget_archives') != true and Blog.Archives is not empty %}
					<div id="blog-archive">
						<h2>{{ Lang.Get('Archives') }}</h2>
	                    <div class="box archives">
	                        <div class="box-content">
	                        	<ul id="archivelist">
	                            {% list Blog.Archives %} 
	                            	<li>
	                                	<a href="#" class="plustext" onclick="javascript:switch_arch('{{ Archive.Year }}')">{{ Archive.Year }}</a>
	                                	<ul id="arch_{{ Archive.Year }}" class="arch_month">
	                                	{% list Archive.Months%}
	                                    	{% if Month.PostCount > 0 %}
	                                      	<li><a href="{{ Month.Url }}">{{Lang.Get(Month.Name)}}</a> ({{ Month.PostCount }})</li>
	                                    	{% endif %}
	                            		{% endlist %}
	                                	</ul>
	                            	</li>
	                          	{% endlist %}
	                          	</ul>
	                    	</div>
	                    </div>
                    </div>
                    {% endif %}
				</div>
				
				<!-- content-->
				<div id="content">
					<!-- shortcut:[Single Page] -->
					{% if isSingle %}
					<div id="post-details">
						<div class="post-block">
							<div class="post-title">
								<h3><a href="{{ Post.Permalink }}" title="{{ Post.Snippet }}">{{ Post.Title | default('No title') }}</a></h3>
							</div>
							<div class="post-infos">
								<ul>
									<li><span class="author">Author: {{ Post.Author.Nickname | default(Blog.Owner.Nickname) }}</span></li>
									<li><span class="date">{{ Post.Date | date('l, F d, Y') }}</span></li>
									<li><span class="comments"><a href="">2 comments</a></span></li>
									{% if Post.Tags is not empty %}
									<li><span class="tags">Labels: {% list Post.Tags %}<a href="">{{ Tag.title }}</a>{% if loop.last %}{% else %}, {% endif %}{% endlist %}</span></li>
									{% else %}
									{% endif %}
								</ul>
							</div>
							<div id="post-body">
								{{ Post.Body }}	
							</div>
							<div class="cr"></div>
							<div class="share">
		                		<h4>{{ Lang.Get('Share this post') }}</h4>
								<div class="fb-like" data-href="{{ Post.Permalink }}" data-send="true" data-layout="button_count" data-width="120" data-show-faces="true" data-font="lucida grande"></div>
								<a href="https://twitter.com/share" class="twitter-share-button" data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}" {% if Custom('twitter_account') is not empty %} data-via="{{Custom('twitter_account')}}"{% endif %}></a>
				         	</div>
				         	<div class="item-comments">
				         		<h4>{{ Lang.Get('Comment this post') }}</h4>
							    {% if Custom("comment") == "Facebook" %}
							    <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="610"></div>
							    {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
							        <div id="disqus_thread"></div>
							        <script type="text/javascript">
							        var disqus_shortname = '{{ Custom('comment_disqus') }}';
							
							        (function() {
							        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
							        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							        })();
							        </script>
							        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
							    {% else %}
							        {{Post.Comments}}
							    {% endif %}
							</div>	
						</div>
					</div>
					
					{% elseif isTag %}
					<!-- shortcut:[Tag Page] -->
					<div id="post-list">
						{% list Posts %}
						<div class="post-block">
							<div class="post-title">
								<h3><a href="{{ Post.Permalink }}" title="{{ Post.Snippet }}">{{ Post.Title | default('No title') }}</a></h3>
							</div>
							<div class="post-infos">
								<ul>
									<li><span class="author">Author: {{ Post.Author.Nickname | default(Blog.Owner.Nickname) }}</span></li>
									<li><span class="date">{{ Post.Date | date('l, F d, Y') }}</span></li>
									<li><span class="comments"><a href="">2 comments</a></span></li>
									{% if Post.Tags is not empty %}
									<li><span class="tags">Labels: {% list Post.Tags %}<a href="">{{ Tag.title }}</a>{% if loop.last %}{% else %}, {% endif %}{% endlist %}</span></li>
									{% else %}
									{% endif %}
								</ul>
							</div>
							<div class="list-post-body">
								<div class="post-cover">
									<a href="{{ Post.Permalink }}">
										<img src="{% if Post.Cover is not empty %}{{ Post.Cover | resize(410,140) | crop }}{% else %}{{ 'http://assets.over-blog-kiwi.com/themes/17/images/bg.jpg' | resize(410,140) }}{% endif %}" alt="" title"" />
									</a>
								</div>								

								<div class="post-snippet">
									<p>{{ Post.Snippet }}</p>
								</div>
								<a class="read-more" href="{{ Post.Permalink }}">Continue reading</a>
							</div>
							<div class="cr"></div>
						</div>
						{% endlist %}
					</div>

					{% else %}
					<!-- shortcut:[Index] -->
					<div id="post-list">
						{% list Blog.Posts %}
						<div class="post-block">
							<div class="post-title">
								<h3><a href="{{ Post.Permalink }}" title="{{ Post.Snippet }}">{{ Post.Title | default('No title') }}</a></h3>
							</div>
							<div class="post-infos">
								<ul>
									<li><span class="author">{{ Lang.Get('Author') }}: {{ Post.Author.Nickname | default(Blog.Owner.Nickname) }}</span></li>
									<li><span class="date">{{ Post.Date | date('l, F d, Y') }}</span></li>
									<li><span class="comments"><a href="">2 comments</a></span></li>
									{% if Post.Tags is not empty %}
									<li><span class="tags">{{ Lang.Get('Labels') }}: {% list Post.Tags %}<a href="">{{ Tag.title }}</a>{% if loop.last %}{% else %}, {% endif %}{% endlist %}</span></li>
									{% else %}
									{% endif %}
								</ul>
							</div>
							<div class="list-post-body">
								<div class="post-cover">
									<a href="{{ Post.Permalink }}">
										<img src="{% if Post.Cover is not empty %}{{ Post.Cover | resize(410,140) | crop }}{% else %}{{ 'http://assets.over-blog-kiwi.com/themes/17/images/bg.jpg' | resize(410,140) }}{% endif %}" alt="" title"" />
									</a>
								</div>	
															
								<div class="post-snippet">
									<p>{{ Post.Snippet }}</p>
								</div>
								<a class="read-more" href="{{ Post.Permalink }}">Continue reading</a>
							</div>
							<div class="cr"></div>
						</div>
						{% endlist %}
					</div>
					{% endif %}
					
					<!-- shortcut:[Pagination] -->
					<div id="footer-nav">
						{% if isSingle %}
						<div id="pagination"><a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Lang.Get('Go back home') }}</a></div>
						{% endif %}
						{% if (Navigation.PreviousPage is not empty or Navigation.NextPage is not empty) %}
						<div id="pagination">
							{% if Navigation.PreviousPage is not empty %}
							<a href="{{ Navigation.PreviousPage }}" class="prev">{{ Lang.Get('Previous page') }}</a>
							{% endif %}
								
							{% if Navigation.NextPage is not empty %}
							<a href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next page') }}</a>
							{% endif %}
						</div>
						{% endif %}
						<div class="cb"></div>
					</div>
				</div>
				<!-- footer -->
				<div id="footer">
					<p>copyright © 2010 pioneer champ, all rights reserved. design <span>by</span> <a href="http://www.dzignine.com/">DZignine</a></p>
				</div>
			</div>
		</div>
		<script type="text/javascript">
	      {% list Blog.Archives %}
	        switch_arch('{{ Archive.year }}');
	      {% endlist %}  
	    </script>
	    <!-- Facebook Script -->
		<div id="fb-root"></div>
		<script type="text/javascript">
		    (function(d, s, id) {
		        var js, fjs = d.getElementsByTagName(s)[0];
		        if (d.getElementById(id)) return;
		        js = d.createElement(s); js.id = id;
		        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('127607930619601')}}";
		        fjs.parentNode.insertBefore(js, fjs);
		    }(document, 'script', 'facebook-jssdk'));
		</script>
		
		<!-- Twitter Script -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs); }}(document,"script","twitter-wjs");</script>
        
		{% if Custom('google_analytics') is not empty %}
		<!-- Google Analytics -->
		 <script type="text/javascript">
		    window.google_analytics_uacct = '{{Custom('google_analytics')}}';
		    var _gaq = _gaq || [];
		    _gaq.push(['_setAccount', '{{Custom('google_analytics')}}']);
		    _gaq.push(['_trackPageview']);
		    _gaq.push(['_trackPageLoadTime']);
		
		    (function() {
		        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		    })();
		</script>
		<!-- End Google Analytics -->
		{% endif %}
	</body>
</html>