<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr_FR" lang="fr_FR">
	<head>
	    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
		<title>{{ Blog.Title }}</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>


		{% if Blog.FaviconUrl is not empty %}
			<link rel="icon" type="image/png" href="{{ Blog.FaviconUrl }}" rel="apple-touch-icon" />
		{% else %}
			<link rel="shortcut icon" type="image/x-icon" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.ico" />
			<link rel="icon" type="image/png" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.png" />
			<link rel="apple-touch-icon" href="http://fdata.over-blog.net/99/00/00/01/img/mobile-favicon.png" />
		{% endif %}	

		<link rel="stylesheet" type="text/css" href="{{Blog.CssUrl}}" />
		<style>
		/* common */
			html, body {
				margin: 0;
				padding: 0;
			}
			body {
				background: #FFF url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/background.jpg");
				color: #4b4b4b;
				font-family: Helvetica;
				font-size: 14px;
				-webkit-text-size-adjust: none;
			}
			.clearfix:after {
				content: ".";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
			.clearfix {display: inline-block;}
			/* Hides from IE-mac \*/
			* html .clearfix {
				height: 1%;
			}
			.clearfix {
				display: block;
			}
			/* End hide from IE-mac */
			.clear {
				clear: both;
				display: block;
			}
		/* end common */

		/* header */
			.header{
				background: #6b6b6b; /* Old browsers */
				background: -moz-linear-gradient(top, #6b6b6b 0%, #5b5e62 2%, #575b5f 11%, #4c525a 47%, #4b5158 51%, #464d56 52%, #404852 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(2%,#5b5e62), color-stop(11%,#575b5f), color-stop(47%,#4c525a), color-stop(51%,#4b5158), color-stop(52%,#464d56), color-stop(100%,#404852)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* IE10+ */
				background: linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#404852',GradientType=0 ); /* IE6-9 */
				border-top: 1px solid #222325;
				border-bottom: 2px solid #222325;
				height: 43px;
				position: fixed;
				top: 0px;
				width: 100%;
				z-index: 1000;
			}
			.header h1{
				float: left;
				margin: 0;
			}
			.header h1 a{
				color: #004664;
				text-decoration: none;
			}
			.header .logo{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/logo-overblog.png") no-repeat scroll 0 0;
				display: block;
				float: left;
				height: 35px;
				margin: 3px 0 0 20px;
				width: 100px;
			}
			.header .icon{
				display: block;
				height: 29px;
				width: 30px;
			}
			.header .home .icon{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons.png") no-repeat 6px 4px;
			}
			.header .categories .icon{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons.png") no-repeat -40px 5px;
			}
			.header .albums .icon{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons.png") no-repeat -89px 5px;
			}
			.header .search .icon{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons.png") no-repeat -134px 5px;
			}
			.header .button-box{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/header-separator.gif") no-repeat left top;
				float: right;
				padding: 7px 7px 7px 9px;
			}
			.header .button-icon,
			.searchForm, .ob-input-submit {
				background: #ececec; /* Old browsers */
				background: -moz-linear-gradient(top, #ececec 0%, #f8f8f8 2%, #fefefe 3%, #fcfcfc 10%, #d2d2d2 83%, #cccccc 98%, #434a54 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(2%,#f8f8f8), color-stop(3%,#fefefe), color-stop(10%,#fcfcfc), color-stop(83%,#d2d2d2), color-stop(98%,#cccccc), color-stop(100%,#434a54)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #ececec 0%,#f8f8f8 2%,#fefefe 3%,#fcfcfc 10%,#d2d2d2 83%,#cccccc 98%,#434a54 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #ececec 0%,#f8f8f8 2%,#fefefe 3%,#fcfcfc 10%,#d2d2d2 83%,#cccccc 98%,#434a54 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #ececec 0%,#f8f8f8 2%,#fefefe 3%,#fcfcfc 10%,#d2d2d2 83%,#cccccc 98%,#434a54 100%); /* IE10+ */
				background: linear-gradient(top, #ececec 0%,#f8f8f8 2%,#fefefe 3%,#fcfcfc 10%,#d2d2d2 83%,#cccccc 98%,#434a54 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#434a54',GradientType=0 ); /* IE6-9 */
				float: none;
			}
			.header .button-icon{
				-moz-border-radius: 5px;
				-o-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				display: block;
				padding: 1px;
			}
			.header .button-icon:active{
				-moz-box-shadow: inset 0 0 4px #000;
				-webkit-box-shadow: inset 0 0 4px #000;
				-o-box-shadow: inset 0 0 4px #000;
				box-shadow: inset 0 0 4px #000;
			}
			.searchForm{
				border: none;
				-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
				-o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
				-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
				box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
				-moz-border-radius: 2px;
				-o-border-radius: 2px;
				-webkit-border-radius: 2px;
				border-radius: 2px;
				-moz-transition: margin-top ease-in-out 300ms;
				-webkit-transition: margin-top ease-in-out 300ms;
				-o-transition: margin-top ease-in-out 300ms;
				transition: margin-top ease-in-out 300ms;
				right: 0;
				margin-left: -150px;
				padding: 2px;
				position: fixed;
				text-align: center;
				width: 300px;
				z-index: 200;
			}
			.searchQuery{
				border: 1px solid #CCC;
				-moz-border-radius: 5px;
				-o-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				font-size: 1.2em;
				padding: 2px;
				width: 250px;
			}
			.searchSubmit{
				-webkit-appearance: none;
				background-color: #0072BC;
				border: none;
				-moz-border-radius: 5px;
				-o-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				color: #FFF;
				cursor: pointer;
				font-size: 1em;
				padding: 5px;
			}
			.searchSubmit:active {
				-moz-box-shadow: inset 0 0 3px #000;
				-webkit-box-shadow: inset 0 0 3px #000;
				-o-box-shadow: inset 0 0 3px #000;
				box-shadow: inset 0 0 3px #000;
			}
		/* end header */

		/* main */
		
			li {
				list-styke: none;
			}
		
			.main,
			.searchResults{
				margin: 0;
				padding: 0 1em 1em;
			}
			.main{
				margin-top: 55px;
				padding: 0 10px 10px;
			}
			.h1{
				font-size: 20px;
				text-align: center;
				/*overflow: hidden;
				text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				white-space: nowrap;*/
				width: 100%;
			}
			.h2{
				margin: 0 0 10px 0;
			}
			.h1, .h2, .h2 a{
				color: #0072bc;
			}
			.bigtitle{
				color: #0072bc;
			}
			a{
				color: #0072bc;
				text-decoration: none;
			}
			.article-sample {
				margin: 0;
			}
			.article-sample a {
				display: block;
				width: 100%;
				height: 100%;
			}
			.article-inner {
				display: block;
				padding: 1em;
			}
			.post-title {
				font-size: 15px;
			}
			.post-snippet{
				display: block;
				color: #4B4B4B;
				font-size: 13px;
				font-weight: normal;
			}
			.box,
			.article,
			.post-search,
			.comment{
				background-color: #FFFFFF;
				-moz-border-radius: 4px;
				-o-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				-moz-box-shadow: 0px 2px 4px #656565;
				-webkit-box-shadow: 0px 2px 4px #656565;
				-o-box-shadow: 0px 2px 4px #656565;
				box-shadow: 0px 2px 4px #656565;
				margin: 15px 0;
				overflow: hidden;
			}
			.article,
			.post-search,
			.comment,
			.pagination{
				padding: 1em;
			}
			.box:active {
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				-o-box-shadow: none;
				box-shadow: none;
			}
			.pagination:active{
				-moz-box-shadow: 0px 2px 4px #656565;
				-webkit-box-shadow: 0px 2px 4px #656565;
				-o-box-shadow: 0px 2px 4px #656565;
				box-shadow: 0px 2px 4px #656565;
			}
			.article{
				margin: 0 0 40px 0;
			}
			.post-search {
				margin: 0 0 15px 0;
			}
			.fb-share,
			.tw-share,
			.gg-share {
				float: left;
				margin: 20px auto;
			}
			.fb-share {margin: 20px 30px 0 0;}
			.list{
				margin: 0;
				padding: 0;
			}
			.list p{
				margin: 0;
			}
			.post-cover{
				float: left;
			}
			.post-cover img{
				margin: 0 10px 0 0;
				padding: 2px;
			}
			.post-cover img,
			li.album .img span{
				border: 1px solid #d0d0d0;
			}
			.contenuArticle{
				overflow: hidden;
			}
			.ob-row-1-col img,
			.ob-row-2-col img,
			.ob-row-3-col img{
				display: block;
				height: auto;
			}

			.ob-video iframe {
				max-width: 100%;
			}
			
			.ob-section-audio .obsoundplayer .obsoundplayername {
				height: 31px;
				width: 240px;
				overflow: hidden;
			}
			.ob-section-map .ob-map {
				max-width: 100%;
				display: block;
				
			}

			.ob-section-file,
			.ob-ctn {
				margin-left: 0;
			}
			.contenuArticle pre {
				width: 100%;
				margin-bottom: 10px;
				white-space: -moz-pre-wrap;
				white-space: -webkit-pre-wrap;
				white-space: -o-pre-wrap;
				white-space: pre-wrap;
				word-wrap: break-word;
				overflow: auto;
			}
			.infoArticle{
				margin: 1em 0 0 0;
			}
			.infoArticle .date{
				float: left;
				font-weight: bold;
				text-transform: uppercase;
			}
			.infoArticle .nbComments{
				float: right;
				font-weight: bold;
				text-transform: uppercase;
			}
			.infoArticle .date,
			.infoArticle .nbComments{
				font-size: 12px;
			}
			.ancre{
				position: relative;
			}
			.ancre a{
				position: absolute;
				top: -50px;
			}
			form.search{
				margin-top: 10px;
				position: relative;
				z-index: 10;
			}
			.search fieldset{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/portal3/mobile/search.png") no-repeat 8px 5px;
				border: 0;
				display: block;
				padding: 2px 60px 2px 35px;
				z-index: 100;
			}
			.search .searchQuery{
				border: 1px solid black;
				-moz-border-radius: 5px;
				-o-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				color: #838383;
				display: block;
				font-size: 1.12em;
				height: 29px;
				padding: 0 3px;
				margin:0;
				width: 100%;
			}
			.search .searchSubmit{
				font-size: 1em;
				height: 26px;
				padding: 0;
				position: absolute;
				right: 11px;
				top: 5px;
				width: 39px;
				z-index: 20;
			}
			.button.submit,
			.search .searchSubmit{
				-webkit-appearance: none;
				background-color: #ff457e;
				   -moz-border-radius: 5px;
					 -o-border-radius: 5px;
				-webkit-border-radius: 5px;
				        border-radius: 5px;
				border: none;
				color: #FFF;
				cursor: pointer;
			}
			.comments ul.list{
				list-style: none;
			}
			.pagination .prev{
				float: left;
			}
			.pagination .next{
				float:	right;
			}
			.pagination a{
				font-weight: bold;
			}
			.bigtitle{
				color: #004664;
			}
			.contact-title {
				padding-left: 20px;
				color: #0072BC;
				font-size: 14px;
			}
			.ob-form {
				margin-top: -10px;
				padding: 1em;
			}
			.ob-label {
				width: 20%;
				margin-left: 2%;
				margin-right: 2%;
			}
			.ob-input {
				width: 100%;
				border-radius: 4px;
				font-size: 12px;
			}
			.ob-input-text, .ob-input-email {
				height: 25px; border: 1px solid #CCC;
			}
			.ob-input-textarea {
				border: 1px solid #CCC;
			}
			.ob-input-submit {
				max-width: 12%;
				height: 25px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				border: 0;
				cursor: pointer;
			}
			.ob-input-submit:active {
				-moz-box-shadow: inset 0 0 3px #000;
				-webkit-box-shadow: inset 0 0 3px #000;
				-o-box-shadow: inset 0 0 3px #000;
				box-shadow: inset 0 0 3px #000;
			}
			
            .ob-section-link img{
                padding: 14px 14px 0px 14px;
            }
            
            .ob-section-link .ob-title a{
                 margin: 0 20px;
            }
            
            .ob-section-quote .ob-quote p::before {
                margin: -46px 0px 0px -100px;
            }
            
            .ob-section-quote .ob-quote p::after {
                content: "";
            }
            
            .ob-section-quote .ob-quote p {
                margin: 40px 0px 20px 40px;
            }
            
            .ob-section-quote .ob-author,
            .ob-section-quote .ob-source {
                white-space: nowrap;
                overflow: hidden;
                max-width: 84%;
                text-overflow: ellipsis;
            }
            
            .ob-section-text,
            .ob-section-images,
            .ob-section-video,
            .ob-section-audio,
            .ob-section-quote,
            .ob-section-file,
            .ob-section-html,
            .ob-section-link,
            .ob-video iframe {
                margin: 0px auto 20px auto;
            }
                        
            .ob-section-link .ob-link{
                margin-bottom: 0px;
            }
            
            
            .ob-section-link .ob-img {
                padding:0px;
                display: block;
            }
            
            .ob-section-video iframe {
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
            
            .ob-section .ob-desc {
                font-style:italic;
                margin-top: 6px;
            }
            
            .ob-section-file .ob-ctn {
                width: 99%;
            }
            
            .ob-section-images, 
            .ob-section-text img, 
            .ob-section-video {
            	max-width: 100%;
            }

            .ob-section-text p {
            	text-align: justify;
            }
            .ob-section-images .ob-slideshow,
            .ob-section-images .ob-slideshow .ob-link-img,
            .ob-section-images .ob-slideshow img {width: 100%;}
            .ob-slider-controlNav,
            .ob-slider-directionNav {display: none !important;}
            
		/* end main */

		/* footer */
			.footer{
				font-family: Arial;
				font-size: 12px;
				margin: 0 20px 5px;
				text-align: right;
			}
			.footer ul{
				list-style:none;
				margin-top: 0;
			}
			.footer li{
				display: inline;
				margin-left: 20px;
			}
			.footer li{
				display: inline-block;
				margin-left: 10px;
				margin-right: 10px;
			}
			.footer a{
				color: #565656;
				text-decoration: underline;
			}
			.footer .copyright{
				color: #565656;
				text-align: center;
			}
		/* end footer */
							
		/* iPhone 1 - 2 - 3 - 3GS  (portrait) */
		@media only screen and (max-device-width: 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {
			.searchForm {margin-top: -9px;}
			.searchForm .searchQuery {width: 75%;}
			.searchForm.hide {margin-top: -50px;}

			.ob-section {max-width: 100%;}
			.ob-section ul {padding-left: 20px;}
			
			.ob-video iframe {max-height: 31%;}

			.ob-section-images img {max-width: 100%;}
			.ob-section-images .ob-slideshow {height: 204px;}
			.ob-section-images .ob-row-3-col img {width: 100%;}

			.ob-media-left,
			.ob-media-right {float: none; margin: 0;}

			.ob-section-map .ob-map {max-height: 272px;}
			.ob-section-map .ob-map > img {max-height: inherit;}

			.ob-section-file .ob-ctn {background: #DCDCDC; max-width: 100%;}
	        .ob-section-file .ob-link {color: #4B4B4B; max-width: 68%;}
	        .ob-section-file .ob-link:hover {color: #222;}
	        
	        .ob-section-quote {background: #DCDCDC;}
	        .ob-section-quote .ob-quote p,
	        .ob-section-quote .ob-quote p:before {color: #4B4B4B;}
	        .ob-section-quote .ob-quote p {margin-left: 0;}
	        .ob-section-quote .ob-quote p:before {font-size: 100px; margin: -50px 0px 0px -50px;}
	        .ob-section-quote .ob-author, 
	        .ob-section-quote .ob-source {background: #EEE; max-width: 78.2%;}

	        .ob-section-link .ob-ctn {background: #DCDCDC; padding: 20px;}
	        .ob-section-link .ob-media-left {float: left; margin: -20px 0 -20px -20px;}
	        .ob-section-link .ob-media-left img {-moz-border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px; -ms-border-radius: 8px 0 0 8px; -o-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; height: 110px; margin: 0 20px 0 0;}
	        .ob-section-link .ob-title {margin: 0; padding: 0;}
	        .ob-section-link .ob-title .ob-link {color: #4B4B4B; font-size: 1.3em; max-height: 22px; margin: 0 0 5px; padding: 0; overflow: hidden;}
	        .ob-section-link .ob-title .ob-link:hover {color: #222;}
	        .ob-section-link .ob-snippet {color: #4B4B4B; margin: 0 0 15px; overflow: hidden; padding: 0; text-overflow: ellipsis; white-space: nowrap;}
	        .ob-section-link .ob-url {background: #EEE; max-width: 44.2%;}
	        .ob-section-link .ob-url .ob-link {color: #444;}
	        .ob-section-link .ob-desc {font-variant: italic;}

	        .fb-share,
	        .tw-share,
	        .gg-share {float: none;}
		}

		/* iPhone 1 - 2 - 3 - 3GS (landscape) */
		@media only screen and (max-device-width: 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) {
			.searchForm {margin-top: -9px;}
			.searchForm .searchQuery {width: 75%;}
			.searchForm.hide {margin-top: -50px;}

			.ob-section {width: 100%;}
			.ob-section ul {padding-left: 20px;}

			.ob-media-left,
			.ob-media-right {float: none; margin: 0;}

			.ob-section-images img {width: 100%;}
			.ob-section-images .ob-slideshow {height: 324px;}
			.ob-section-images .ob-row-3-col img {width: 100%;}

			.ob-row-2-col,
			.ob-row-3-col {clear: both;}
			.ob-row-2-col img,
			.ob-row-3-col img {float: left;}
			.ob-row-1-col img {max-width: 100%;}
			.ob-row-2-col img {max-width: 50%;}
			.ob-row-3-col img {max-width: 33.3%;}

			.ob-video iframe {max-height: 242px;}

			.ob-section-map .ob-map {max-height: 250px;}
			.ob-section-map .ob-map > img {max-height: inherit;}
			
			.ob-section-file .ob-ctn {background: #DCDCDC; max-width: 100%;}
	        .ob-section-file .ob-link {color: #4B4B4B; max-width: 80%;}
	        .ob-section-file .ob-link:hover {color: #222;}
	        
	        .ob-section-quote {background: #DCDCDC;}
	        .ob-section-quote .ob-quote p,
	        .ob-section-quote .ob-quote p:before {color: #4B4B4B;}
	        .ob-section-quote .ob-quote p {margin-left: 0;}
	        .ob-section-quote .ob-quote p:before {font-size: 100px; margin: -50px 0px 0px -50px;}
	        .ob-section-quote .ob-author, 
	        .ob-section-quote .ob-source {background: #EEE; max-width: 86.2%;}

	        .ob-section-link .ob-ctn {background: #DCDCDC; padding: 20px;}
	        .ob-section-link .ob-media-left {float: left; margin: -20px 0 -20px -20px;}
	        .ob-section-link .ob-media-left img {-moz-border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px; -ms-border-radius: 8px 0 0 8px; -o-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; height: 110px; margin: 0 20px 0 0;}
	        .ob-section-link .ob-title {margin: 0; padding: 0;}
	        .ob-section-link .ob-title .ob-link {color: #4B4B4B; font-size: 1.3em; max-height: 22px; margin: 0 0 5px; padding: 0; overflow: hidden;}
	        .ob-section-link .ob-title .ob-link:hover {color: #222;}
	        .ob-section-link .ob-snippet {color: #4B4B4B; margin: 0 0 15px; overflow: hidden; padding: 0; text-overflow: ellipsis; white-space: nowrap;}
	        .ob-section-link .ob-url {background: #EEE; max-width: 65%;}
	        .ob-section-link .ob-url .ob-link {color: #444;}
	        .ob-section-link .ob-desc {font-variant: italic;}
		}

		/* iPhone 4 - 4S (portrait) */
		@media only screen and (max-device-width: 960px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
			.header .logo{background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/logo-overblog@2x.png") no-repeat scroll 0 0; -webkit-background-size: 100px 36px; -moz-background-size: 100px 36px; -o-background-size: 100px 36px; background-size: 100px 36px;}
			.header .home .icon,
			.header .categories .icon,
			.header .albums .icon,
			.header .search .icon{-webkit-background-size: 155px 19px; -moz-background-size: 155px 19px; -o-background-size: 155px 19px; background-size: 155px 19px;}
			
			.header .home .icon {background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat 6px 5px;}
			.header .categories .icon {background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat -40px 5px;}
			.header .albums .icon {background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat -89px 5px;}
			.header .search .icon {background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat -134px 5px;}

			.searchForm {margin-top: -9px;}
			.searchForm.hide {margin-top: -50px;}

			.ob-section {max-width: 100%;}

			.ob-media-left,
			.ob-media-right {float: none; margin: 0;}
			
			.ob-section-file .ob-ctn {background: #DCDCDC; max-width: 100%;}
	        .ob-section-file .ob-link {color: #4B4B4B; max-width: 68%;}
	        .ob-section-file .ob-link:hover {color: #222;}
	        
	        .ob-section-quote {background: #DCDCDC;}
	        .ob-section-quote .ob-quote p,
	        .ob-section-quote .ob-quote p:before {color: #4B4B4B;}
	        .ob-section-quote .ob-quote p {margin-left: 0;}
	        .ob-section-quote .ob-quote p:before {font-size: 100px; margin: -50px 0px 0px -50px;}
	        .ob-section-quote .ob-author, 
	        .ob-section-quote .ob-source {background: #EEE; max-width: 78.2%;}

	        .ob-section-link .ob-ctn {background: #DCDCDC; padding: 20px;}
	        .ob-section-link .ob-media-left {float: left; margin: -20px 0 -20px -20px;}
	        .ob-section-link .ob-media-left img {-moz-border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px; -ms-border-radius: 8px 0 0 8px; -o-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; height: 110px; margin: 0 20px 0 0;}
	        .ob-section-link .ob-title {margin: 0; padding: 0;}
	        .ob-section-link .ob-title .ob-link {color: #4B4B4B; font-size: 1.3em; max-height: 22px; margin: 0 0 5px; padding: 0; overflow: hidden;}
	        .ob-section-link .ob-title .ob-link:hover {color: #222;}
	        .ob-section-link .ob-snippet {color: #4B4B4B; margin: 0 0 15px; overflow: hidden; padding: 0; text-overflow: ellipsis; white-space: nowrap;}
	        .ob-section-link .ob-url {background: #EEE; max-width: 44.2%;}
	        .ob-section-link .ob-url .ob-link {color: #444;}
	        .ob-section-link .ob-desc {font-variant: italic;}

	        .fb-share,
	        .tw-share,
	        .gg-share {float: none;}
		}

		/* iPhone 4 - 4S (landscape) */
		@media only screen and (max-device-width: 960px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
			.header .logo{background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/logo-overblog@2x.png") no-repeat scroll 0 0; -webkit-background-size: 100px 36px; -moz-background-size: 100px 36px; -o-background-size: 100px 36px; background-size: 100px 36px;}
			.header .home .icon,
			.header .categories .icon,
			.header .albums .icon,
			.header .search .icon{-webkit-background-size: 155px 19px; -moz-background-size: 155px 19px; -o-background-size: 155px 19px; background-size: 155px 19px;}
			
			.header .home .icon {background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat 6px 5px;}
			.header .categories .icon {background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat -40px 5px;}
			.header .albums .icon {background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat -89px 5px;}
			.header .search .icon {background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat -134px 5px;}

			.searchForm {margin-top: -9px;}
			.searchForm.hide {margin-top: -50px;}

			.ob-section {width: 100%;}
			.ob-media-left,
			.ob-media-right {float: none; margin: 0;}

			.ob-section-images .ob-slideshow {height: 324px; max-width: 100%;}
			.ob-section-images .ob-slideshow img {max-width: inherit;}
			
			.ob-section-file .ob-ctn {background: #DCDCDC; max-width: 100%;}
	        .ob-section-file .ob-link {color: #4B4B4B; max-width: 80%;}
	        .ob-section-file .ob-link:hover {color: #222;}
	        
	        .ob-section-quote {background: #DCDCDC;}
	        .ob-section-quote .ob-quote p,
	        .ob-section-quote .ob-quote p:before {color: #4B4B4B;}
	        .ob-section-quote .ob-quote p {margin-left: 0;}
	        .ob-section-quote .ob-quote p:before {font-size: 100px; margin: -50px 0px 0px -50px;}
	        .ob-section-quote .ob-author, 
	        .ob-section-quote .ob-source {background: #EEE; max-width: 86.2%;}

	        .ob-section-link .ob-ctn {background: #DCDCDC; padding: 20px;}
	        .ob-section-link .ob-media-left {float: left; margin: -20px 0 -20px -20px;}
	        .ob-section-link .ob-media-left img {-moz-border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px; -ms-border-radius: 8px 0 0 8px; -o-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; height: 110px; margin: 0 20px 0 0;}
	        .ob-section-link .ob-title {margin: 0; padding: 0;}
	        .ob-section-link .ob-title .ob-link {color: #4B4B4B; font-size: 1.3em; max-height: 22px; margin: 0 0 5px; padding: 0; overflow: hidden;}
	        .ob-section-link .ob-title .ob-link:hover {color: #222;}
	        .ob-section-link .ob-snippet {color: #4B4B4B; margin: 0 0 15px; overflow: hidden; padding: 0; text-overflow: ellipsis; white-space: nowrap;}
	        .ob-section-link .ob-url {background: #EEE; max-width: 65%;}
	        .ob-section-link .ob-url .ob-link {color: #444;}
	        .ob-section-link .ob-desc {font-variant: italic;}
		}
							
			
		/* Tablets (portrait & landscape) */		
		@media only screen and (min-device-width : 768px) and (max-device-width: 1024px) {
			.header {height: 86px;}
			.header .logo {background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/logo-overblog@2x.png") no-repeat scroll 0 0; height: 70px; margin: 6px 0 0 20px; width: 200px;}
			.header .icon{height: 58px; width: 60px;}
			.header .button-box {padding: 14px 16px 14px 22px;}
			.header .home .icon {background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat 12px 10px;}
			.header .search .icon{background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat -268px 10px;}
			.searchForm {margin-top: -21px;}
			.searchForm.hide {margin-top: -60px;}
			.main {margin-top: 110px;}
			.divTitreArticle h2 {margin-left: auto; margin-right: auto; width: 600px;}
			
			.ob-section-text,
			.ob-section-images,
			.ob-section-video,
			.ob-section-audio,
			.ob-section-quote,
			.ob-section-file,
			.ob-section-html,
			.ob-section-link,
			.ob-video iframe {margin-left: auto; margin-right: auto; width: 600px;}
			
			.ob-row-2-col,
			.ob-row-3-col {clear: both;}
			.ob-row-2-col img,
			.ob-row-3-col img {float: left;}
			.ob-row-1-col img {max-width: 100%;}
			.ob-row-2-col img {max-width: 50%;}
			.ob-row-3-col img {max-width: 33.3%;}

			.ob-section-file .ob-ctn {background: #DCDCDC; max-width: 100%;}
	        .ob-section-file .ob-link {color: #4B4B4B; max-width: 85%;}
	        .ob-section-file .ob-link:hover {color: #222;}
	        
	        .ob-section-quote {background: #DCDCDC;}
	        .ob-section-quote .ob-quote p,
	        .ob-section-quote .ob-quote p:before {color: #4B4B4B;}
	        .ob-section-quote .ob-quote p {margin-left: 0;}
	        .ob-section-quote .ob-quote p:before {font-size: 100px; margin: -50px 0px 0px -50px;}
	        .ob-section-quote .ob-author, 
	        .ob-section-quote .ob-source {background: #EEE; max-width: 90.2%;}

	        .ob-section-link .ob-ctn {background: #DCDCDC; padding: 20px;}
	        .ob-section-link .ob-media-left {margin: -20px 0 -20px -20px;}
	        .ob-section-link .ob-media-left img {-moz-border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px; -ms-border-radius: 8px 0 0 8px; -o-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; margin: 0 20px 0 0;}
	        .ob-section-link .ob-title {margin: 0; padding: 0;}
	        .ob-section-link .ob-title .ob-link {color: #4B4B4B; font-size: 1.3em; max-height: 22px; margin: 0 0 5px; padding: 0; overflow: hidden;}
	        .ob-section-link .ob-title .ob-link:hover {color: #222;}
	        .ob-section-link .ob-snippet {color: #4B4B4B; margin: 0 0 25px; padding: 0;}
	        .ob-section-link .ob-url {background: #EEE; max-width: 65%;}
	        .ob-section-link .ob-url .ob-link {color: #444;}
	        .ob-section-link .ob-desc {font-variant: italic;}
			
			.ob-section-audio .obsoundplayer .obsoundplayername {width: 200px;}
			.post-cover img {height: 100px; width: 100px;}
			.infoArticle {margin-left: auto; margin-right: auto; width: 600px;}
		}

		/* tablets retina */
		@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2) {
			.header .logo{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/logo-overblog-big@2x.png") no-repeat scroll 0 0;
				-moz-background-size: 200px 72px;
				-o-background-size: 200px 72px;
				-webkit-background-size: 200px 72px;
				background-size: 200px 72px;
				float: left;
				height: 140px;
				margin: 6px 0 0 20px;
				width: 200px;
			}
			.header .home .icon,
			.header .categories .icon,
			.header .albums .icon,
			.header .search .icon{
				-moz-background-size: 310px 38px;
				-o-background-size: 310px 38px;
				-webkit-background-size: 310px 38px;
				background-size: 310px 38px;
			}
			.header .home .icon:active,
			.header .categories .icon:active,
			.header .albums .icon:active,
			.header .search .icon:active{
				-moz-background-size: 310px 38px;
				-o-background-size: 310px 38px;
				-webkit-background-size: 310px 38px;
				background-size: 310px 38px;
			}
			.header .button-icon{
				margin: 14px 12px 0 0;
			}
			.header .home .icon{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat 12px 10px;
			}
			.header .categories .icon{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat -80px 10px;
			}
			.header .albums .icon{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat -178px 10px;
			}
			.header .search .icon{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/icons@2x.png") no-repeat -268px 10px;
			}
		}
		</style>
	</head>
	<body class="yui-skin-ob __blog __mobile fr FR" >
		<div class="header clearfix">
			<a class="logo" href="{{ Blog.Url }}" title="{{ Blog.Title }}"></a>
			<div class="topLinks">
				<div class="button-box">
		            <a class="button-icon search" href="#" title="{{ Lang.Get('Search') }}">
		                <span class="icon"></span>
		            </a>
				</div>
			</div>

            <div class="topLinks">
				<div class="button-box">
		            <a class="button-icon home" href="{{ Blog.Url }}" title="{{ Lang.Get('Back') }}">
		                <span class="icon"></span>
		            </a>
				</div>
			</div>
		</div>
		<form class="searchForm hide" name="search" action="/search" method="get">
			<input id="" class="searchQuery" name="q" type="text" placeholder="{{ Lang.Get('Search') }}..." />
			<input class="searchSubmit" type="submit" value="OK" />
		</form>

		<div class="main ">
			<h1 class="h1">{{ Blog.Title }}</h1>
			{% if isIndex %}
				<div>
					<ul class="list">
						{% list Posts %}
							<li class="element clearfix box">
								<h2 class="h2 article-sample clearfix">
									<a href="{{ Post.Permalink }}" title="{{ Post.Title }}">
										<span class="article-inner">
											{% if Post.Cover is not empty %}
												<span class="post-cover">
													<img src="{{ Post.Cover|resize(100,100)|crop }}" title="{{ Post.Title }}" alt="{{ Post.Title }}" />
												</span>
											{% endif %}
											<span class="post-title">
												{% if Post.Title is not empty %}
	                                                {{ Post.Title }}
	                                            {% else %}
	                                                {{ Lang.Get('Posted from') }} 
	                                                {% list Post.Sources %}
	                                                    {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
	                                                {% endlist %}
	                                            {% endif %}
											</span>
											<span class="post-snippet sample text_mobile">
												{{ Post.Snippet }}
											</span>
											<span class="clear"></span>
										</span>
									</a>
								</h2>
							</li>
						{% endlist %}
					</ul>
				</div>
			{% elseif isSingle %}
				{% list Posts %}
					<div class="article">
						<div class="divTitreArticle">
							<h2 class="h2">
								<a href="{{ Post.Permalink }}" title="{{ Post.Title }}">
									{% if Post.Title is not empty %}
                                        {{ Post.Title }}
                                    {% else %}
                                        {{ Lang.Get('Posted from') }} 
                                        {% list Post.Sources %}
                                            {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                        {% endlist %}
                                    {% endif %}
								</a>
							</h2>
						</div>
						<div class="contenuArticle">
							{{ Post.Body }}
							<div class="clear center"></div>
						</div>
						<div class="infoArticle clearfix">
							<span class="date">
								{{ Post.Date|datel(Lang.Get('Default date format'))}}
							</span>
							<div class="clear"></div>
							<div class="fb-share">
								<div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-show-faces="false" data-font="lucida grande" data-width="90"></div>
							</div>
							<div class="tw-share">
								<a href="https://twitter.com/share" class="twitter-share-button" data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}" {% if Custom('twitter_account') is not empty %} data-via="{{Custom('twitter_account')}}"{% endif %}></a>
							</div>
							<div class="gg-share">
								<g:plusone size="medium"></g:plusone>
							</div>
						</div>
					</div>
					{% if Post.ShowComments is not empty %}
						{% if Custom("comment") == "Facebook" %}
							<div class="comment">
								<div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="620"></div>
							</div>
						{% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
							<div class="comment">
								<div id="disqus_thread"></div>
								<script type="text/javascript">
									var disqus_shortname = '{{ Custom('comment_disqus') }}';
			
									(function() {
										var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
										dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
										(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
									})();
								</script>
								<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
							</div>
						{% else %}
							<div class="comment">
								{{ Post.Comments }}
							</div>
						{% endif %}
					{% endif %}
				{% endlist %}
			{% elseif isSearch %}
				<div class="post-search">
					<div class="divTitreArticle">
						<h2 class="h2">
							{{ Lang.Get('Search results for') }} "{{ Search.Keyword }}"
						</h2>
					</div>
					{% if isSearch and Posts is empty %}
						<p>{{ Lang.Get('No results for this expression.') }}</p>
					{% endif %}
				</div>
				<div>
					<ul class="list">
						{% list Posts %}
							<li class="element clearfix box">
								<h2 class="h2 article-sample clearfix">
									<a href="{{ Post.Permalink }}" title="{{ Post.Title }}">
										<span class="article-inner">
											{% if Post.Cover is not empty %}
												<span class="post-cover">
													<img src="{{ Post.Cover|resize(100,100)|crop }}" title="{{ Post.Title }}" alt="{{ Post.Title }}" />
												</span>
											{% endif %}
											<span class="post-title">
												{% if Post.Title is not empty %}
	                                                {{ Post.Title }}
	                                            {% else %}
	                                                {{ Lang.Get('Posted from') }} 
	                                                {% list Post.Sources %}
	                                                    {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
	                                                {% endlist %}
	                                            {% endif %}
											</span>
											<span class="post-snippet sample text_mobile">
												{{ Post.Snippet }}
											</span>
											<span class="clear"></span>
										</span>
									</a>
								</h2>
							</li>
						{% endlist %}
					</ul>
				</div>
			{% elseif isSpecial %}
				<div class="box clearfix">
					<h2 class="contact-title">{{ Lang.Get('Contact us') }}</h2>
					<form class="ob-form" action="" method="post">
						<div class="ob-form-field">
							<input id="form_name" class="ob-input ob-input-text" type="text" name="form[name]" placeholder="Name" required="required" />
						</div>
						<div class="ob-form-field">
							<input id="form_email" class="ob-input ob-input-email" type="email" name="form[email]" placeholder="Email" required="required" />
						</div>
						<div class="ob-form-field">
							<input id="form_title" class="ob-input ob-input-text" type="text" name="form[title]" placeholder="Title" required="required" />
						</div>
						<div class="ob-form-field">
							<textarea id="form_message" class="ob-input ob-input-textarea" name="form[message]" placeholder="Message" required="required"></textarea>
						</div>
						<input type="submit" class="ob-input ob-input-submit" value="{{ Lang.Get('Send') }}" />
					</form>
				</div>

			{% endif %}
			{% if Navigation.PreviousPage is not empty or Navigation.NextPage is not empty or Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
				<div class="box pagination clearfix">
					{% if Navigation.PreviousPage is not empty %}
						<a class="prev" href="{{ Navigation.PreviousPage }}">&lt; {{ Lang.Get('Previous Page') }}</a>
					{% elseif Navigation.PreviousPost is not empty %}
						<a class="prev" href="{{ Navigation.PreviousPost.Permalink }}">&lt; {{ Lang.Get('Previous Post') }}</a>
					{% endif %}
					{% if Navigation.NextPage is not empty %}
						<a class="next" href="{{ Navigation.NextPage }}">{{ Lang.Get('Next Page') }} &gt;</a>
					{% elseif Navigation.NextPost is not empty %}
						<a class="next" href="{{ Navigation.NextPost.Permalink }}">{{ Lang.Get('Next Post') }} &gt;</a>
					{% endif %}
				</div>
			{% endif %}

		</div>

		<div class="footer">
			<ul>
				<li>
					<a href="{{ Blog.Url }}/contact">{{ Lang.Get('Contact us') }}</a>
				</li>
				<li>
					<a href="" class="noMob">{{ Lang.Get('Classic site') }}</a>
				</li>
			</ul>
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">
			$('.noMob').click(function() {
                document.cookie = "_noMob=1;path=/";
                window.location.reload();
                return false;
			});
		</script>

		<script type="text/javascript">
			$('.search').click(function() {
				$('.searchForm').toggleClass('hide');
			    $('.searchQuery').focus();
			    return false;
			});
			$(document).ready(function() {
				$('.ob-slideshow').removeClass('.ob-slideshow');
			});

		</script>

		<!-- Facebook Script -->
		<div id="fb-root"></div>
		<script type="text/javascript">
		    (function(d, s, id) {
		        var js, fjs = d.getElementsByTagName(s)[0];
		        if (d.getElementById(id)) return;
			        js = d.createElement(s); js.id = id;
			        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('127607930619601')}}";
			        fjs.parentNode.insertBefore(js, fjs);
		    }(document, 'script', 'facebook-jssdk'));
		</script>

		<!-- Twitter button -->
        <script>
        	!function(d,s,id){
        		var js, fjs = d.getElementsByTagName(s)[0];
        		if(!d.getElementById(id)){
	        		js = d.createElement(s);
	        		js.id = id;
	        		js.src = "//platform.twitter.com/widgets.js";
	        		fjs.parentNode.insertBefore(js,fjs);
	        	}
	        }(document,"script","twitter-wjs");
        </script>

		<!-- Google + button -->
		<script type="text/javascript">
		  window.___gcfg = {lang: '{{ Blog.Lang }}'};
		  (function() {
		      var po = document.createElement('script');
		      po.type = 'text/javascript';
		      po.async = true;
		      po.src = 'https://apis.google.com/js/plusone.js';
		      var s = document.getElementsByTagName('script')[0];
		      s.parentNode.insertBefore(po, s);
		  })();
		</script>
	</body>
</html>
