<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}">
	<head>
		<!-- title, description, keyword, robots -->
         {% if isSingle %}
            <title>{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }} - {% endif %}{{ Blog.Title }}</title>
            <meta name="description" content="{{ Post.Snippet }}" />
            <meta name="keywords" content="{% list Post.Tags %}{{ Tag.Title }}{% if loop.last == false %}, {% endif %}{% endlist %}" />
            <meta name="robots" content="index,follow" />
        {% elseif isTag and Tag is not empty %}
            <title>{{ Tag.Title|title }} - {{ Blog.Title }}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Tag.Title|title }}" />
            <meta name="robots" content="index,follow" />
        {% elseif isSearch and Search is not empty %}
            <title>{{ Search|title }} - {{ Blog.Title }}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Search|title }}" />
            <meta name="robots" content="noindex" />
        {% else %}
            <title>{{ Blog.Title }}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="robots" content="index,follow" />
        {% endif %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		{% if Blog.FaviconUrl is not empty %}
			<link rel="icon" type="image/png" href="{{ Blog.FaviconUrl }}" rel="apple-touch-icon" />
		{% else %}
			<link rel="shortcut icon" type="image/x-icon" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.ico" />
			<link rel="icon" type="image/png" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.png" />
			<link rel="apple-touch-icon" href="http://fdata.over-blog.net/99/00/00/01/img/mobile-favicon.png" />
		{% endif %}

		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css" />

		<style type="text/css">
			/*
			KNACSS.com V1.3 @author : Raphael Goetter, Alsacreations
			Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
			*/

			/* ----------------------------- */
			/* ==reset */
			/* ----------------------------- */

			/* base font-size corresponds to equiv 10px */
			html {
			    font-size: 62.5%;
			}

			/* HTML5 tags */
			article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
			    display: block;
			}

			/* soft reset */
			html, body, blockquote, ul, ol, form {margin: 0; padding: 0}
			p {margin: 0 0 1em;}
			ul, ol {padding-left: 2em;}
			.mreset {margin: 0 !important;}
			.preset {padding: 0 !important;}

			/* font-sizing for content */
			p, li, td, th, textarea, caption, pre {font-size: 1.2em;}
			li li, li p, td p, th p, li h1, li h2, li h3, li h4, li h5, li h6, button, input, select {font-size: 100%;}
			h1, .h1-like {font-size: 2.4em;} /* equiv 24 pixels */
			h2, .h2-like {font-size: 2em;} /* equiv 20 pixels */
			h3, .h3-like {font-size: 1.8em;} /* equiv 18 pixels */
			h4, .h4-like {font-size: 1.6em;} /* equiv 16 pixels */
			h5, .h5-like {font-size: 1.4em;} /* equiv 14 pixels */

			/* blocks that needs to be placed under floats */
            .clear {
                clear: both;
            }

            /* blocks that can contain floats */
            .clearfix:before,
            .clearfix:after {
                content: "";
                display: table;
            }
            .clearfix:after {
                clear: both;
            }

            a {color: #222;}
			/* ----------------------------- */
            /* ==BASICAL */
            /* ----------------------------- */
			body {
				background: #FFF url(http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/background.jpg);
			    color: #222;
				font-family: "Lato",  sans-serif;
				font-size: 1.4em;
			}

			/* ----------------------------- */
            /* ==HEADER */
            /* ----------------------------- */
			.header{
				background: #6b6b6b; /* Old browsers */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(2%,#5b5e62), color-stop(11%,#575b5f), color-stop(47%,#4c525a), color-stop(51%,#4b5158), color-stop(52%,#464d56), color-stop(100%,#404852)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* Chrome10+,Safari5.1+ */
				   background: -moz-linear-gradient(top, #6b6b6b 0%, #5b5e62 2%, #575b5f 11%, #4c525a 47%, #4b5158 51%, #464d56 52%, #404852 100%); /* FF3.6+ */
					background: -ms-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* IE10+ */
					 background: -o-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* Opera 11.10+ */
						background: linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#404852',GradientType=0 ); /* IE6-9 */
				border-bottom: 2px solid #222325;
				border-top: 1px solid #222325;
				height: 43px;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 1000;
			}
			.header .logo{
				background: url("http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/logo-overblog.png") no-repeat scroll 0 0;
				background-size: 100px;
				display: block;
				float: left;
				height: 35px;
				margin: 6px 0 0 10px;
				width: 100px;
			}
			.header nav {
				float: right;
			}
			.header nav ul {
				padding: 0;
			}
			.header .button-box {
				background: url(http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/header-separator.gif) no-repeat left top;
				display: inline-block;
				padding: 6px 4px 5px 10px;
			}
			.header .button-icon {
				background: #ececec; /* Old browsers */
				background: -moz-linear-gradient(top, #ececec 0%, #f8f8f8 2%, #fefefe 3%, #fcfcfc 10%, #d2d2d2 83%, #cccccc 98%, #434a54 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(2%,#f8f8f8), color-stop(3%,#fefefe), color-stop(10%,#fcfcfc), color-stop(83%,#d2d2d2), color-stop(98%,#cccccc), color-stop(100%,#434a54)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #ececec 0%,#f8f8f8 2%,#fefefe 3%,#fcfcfc 10%,#d2d2d2 83%,#cccccc 98%,#434a54 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #ececec 0%,#f8f8f8 2%,#fefefe 3%,#fcfcfc 10%,#d2d2d2 83%,#cccccc 98%,#434a54 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #ececec 0%,#f8f8f8 2%,#fefefe 3%,#fcfcfc 10%,#d2d2d2 83%,#cccccc 98%,#434a54 100%); /* IE10+ */
				background: linear-gradient(top, #ececec 0%,#f8f8f8 2%,#fefefe 3%,#fcfcfc 10%,#d2d2d2 83%,#cccccc 98%,#434a54 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#434a54',GradientType=0 ); /* IE6-9 */
				-webkit-border-radius: 5px;
						border-radius: 5px;
				display: block;
				float: none;
				padding: 1px;
			}
			.button-icon:active{
				-webkit-box-shadow: inset 0 0 4px #000;
						box-shadow: inset 0 0 4px #000;
			}
			.header .icon {
				background: url(http://assets.over-blog-kiwi.com/themes/mobile/images/icons.png) no-repeat center center;
				background-size: 20px;
				display: block;
				height: 30px;
				width: 30px;
			}
			.header .home .icon {
				background-position: 5px 5px;
			}
			.header .contact .icon {
				background-position: 5px -39px;
			}
			.header .search .icon{
				background-position: 5px -84px;
			}
			.header .noMob .icon {
				background-position: 5px -129px;
			}

			/***** SEARCH FORM *****/
			.search-form {
				background: #FFF;
				background: rgba(170, 170, 170, 0.8);
				display: none;
				top: 45px;
				height: 50px;
				position: absolute;
				width: 100%;
			}
			.search-input-text {
				border: 2px solid #DDD;
				-webkit-border-radius: 3px;
					  	border-radius: 3px;
				left: 12px;
				padding: 5px 10px;
				position: absolute;
				right: 12px;
				top: 6px;
			}
			.search-input-submit {
				background-color: #F8B33D;
				background-image: linear-gradient(top,#F8B33D 0,#F59A28 100%);
				background-image: -o-linear-gradient(top,#F8B33D 0,#F59A28 100%);
				background-image: -moz-linear-gradient(top,#F8B33D 0,#F59A28 100%);
				background-image: -webkit-linear-gradient(top,#F8B33D 0,#F59A28 100%);
				background-image: -ms-linear-gradient(top,#F8B33D 0,#F59A28 100%);
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F8B33D),color-stop(1,#F59A28));
				border: 0;
				border: 2px solid #F59A28;
				-webkit-border-radius: 0 3px 3px 0;
				border-radius: 0 3px 3px 0;
				color: #FFF;
				cursor: pointer;
				font-size: 0.9em;
				font-weight: bold;
				padding: 6px 10px;
				position: absolute;
				right: 12px;
				top: 6px;
				text-decoration: none;
				text-shadow: 2px 2px 3px #777;
			}

			h1 {
				font-weight: bold;
				margin: 0 0 30px;
				text-align: center;
			}
			h1 a {
				color: #222;
				text-decoration: none;
			}
			/* ----------------------------- */
            /* ==POSTS */
            /* ----------------------------- */
            .main {
            	margin: 80px 0 20px;
            	padding: 0 12px;
            }
            .main.index {
            	margin-bottom: 120px;
            }
			article {
				background: #FDFDFD;
				border: 1px solid #DDD;
				border-bottom-color: #BBB;
				-webkit-border-radius: 5px;
						border-radius: 5px;
				border-top-color: #EEE;
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
					 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
			    -webkit-hyphens: auto;
			       -moz-hyphens: auto;
			   			hyphens: auto;
				margin: 0 0 20px;
				padding: 20px;
				word-wrap: break-word;
			}
			.post-cover {
				display: block;
				margin-bottom: 10px;
			}
			.post-cover img {
				border: 1px solid #d0d0d0;
				width: 100%;
			}
			.post h2 {
				line-height: 1em;
				margin: 0;
			}
			.post .title {
				color: #333;
				font-weight: bold;
				text-decoration: none;
			}
			.post h2 + p {
				color: #666;
				margin: 10px 0 30px;
			}
			.index .post h2 + p {
				margin: 10px 0 0;
			}
			.post .snippet {
				margin-top: 25px;
			}
			.post .tags a {
				background: #F8B33D;
				background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F8B33D),color-stop(1,#F59A28));
				background: -webkit-linear-gradient(top,#F8B33D 0,#F59A28 100%);
				background: -moz-linear-gradient(top,#F8B33D 0,#F59A28 100%);
				background: -ms-linear-gradient(top,#F8B33D 0,#F59A28 100%);
				background: -o-linear-gradient(top,#F8B33D 0,#F59A28 100%);
				background: linear-gradient(top,#F8B33D 0,#F59A28 100%);
				-webkit-border-radius: 3px;
						border-radius: 3px;
				border: 1px solid #F59A28;
				color: #FFF;
				display: inline-block;
				font-size: 1em;
				font-weight: bold;
				margin-bottom: 3px;
				padding: 5px 10px;
				text-decoration: none;
				text-shadow: 1px 1px 0 #555;
			}
			.post .tags a:active {
				background: #F8B33D;
			}

			/**** SECTIONS ***/
			.ob-section {
				width: 100%;
			}
			.ob-section a {
				max-width: 100%;
			}
			.ob-section .ob-desc {
           		font-size: 1.1em;
           		font-style: italic;
           		font-weight: bold;
           		margin-top: 5px;
           		width: auto;
           	}
			/**** IMAGES ****/
			.ob-img {
				max-width: 100%;
				width: 100%;
			}

			/**** SECTION TEXTE ****/
			.ob-text pre {
				margin-bottom: 10px;
				overflow: auto;
				white-space: -webkit-pre-wrap;
				   white-space: -moz-pre-wrap;
					 white-space: -o-pre-wrap;
						white-space: pre-wrap;
				width: 100%;
				word-wrap: break-word;
			}
			.ob-section li p {
				margin-bottom: 0;
			}
			/**** SECTION IMAGE ****/
			.ob-section-images {
				text-align: center;
			}
			.ob-section-images img {
				max-width: none;
			}
			.ob-section-images .ob-slideshow,
			.ob-section-images .ob-slideshow .ob-img {
				height: 240px;
			} 
			.ob-section-images .ob-slideshow {
				text-align: center;
				width: 100%;
			}
			.ob-section-images .ob-slideshow .ob-img {
				height: 100%;
				left: 0;
			}
			.ob-slider-directionNav {
				width: 100% !important;
			}
			.ob-section-images .ob-desc {
				text-align: center;
			}

			/**** SECTION VIDEO ****/
			.ob-section-video iframe,
			.ob-section-video object,
			.ob-section-video embed{
				max-height: 200px;
				width: 100%;
			}

			/**** SECTION HTML ****/
			.ob-section-html iframe,
			.ob-section-html object,
			.ob-section-html embed{
				max-width: 100%;
			}
            /**** SECTION QUOTE ****/
            .ob-section-quote {
            	background: #EEE;
            	border-color: #DDD;
            	-webkit-border-radius: 3px;
            	border-radius: 3px;
            	margin: 0 0 20px;
            	max-width: none;
            }
            .ob-section-quote .ob-quote {
            	padding: 30px 20px;
            }
            .ob-section-quote .ob-quote p {
            	color: #222;
            	font-size: 1.2em;
            	margin: 0;
            	max-width: none;
            	text-indent: 30px;
            }
            .ob-section-quote .ob-quote p:before {
            	font-size: 110px;
            	left: -40px;
            	margin: 0;
            	top: 0;
            }
            .ob-section-quote .ob-quote p:after {
            	display: none;
            }
            .ob-section-quote .ob-author,
            .ob-section-quote .ob-source {
            	-webkit-border-radius: 3px;
            	border-radius: 3px;
            	max-width: 84%;
            	overflow: hidden;
            	text-overflow: ellipsis;
            	white-space: nowrap;
            }
            
            /**** SECTION FILE ****/
            .ob-section-file .ob-ctn {
            	background: #EEE;
            	border-color: #DDD;
            	-webkit-border-radius: 3px;
            	border-radius: 3px;
            	max-width: none;
            	width: 100%;
            }
            .ob-section-file .ob-link {
            	color: #222;
            	max-width: 87.6%;
            }
            /**** SECTION LINK ****/
            .ob-section-link .ob-ctn {
            	-webkit-border-radius: 3px;
            	border-radius: 3px;
            }
            .ob-section-link .ob-title .ob-link {
            	color: inherit;
            	font-size: 0.8em;
            	padding-left: 20px;
            }
            .ob-section-link .ob-media-left {
            	margin: 0 20px 0 0;
            }
            .ob-section-link .ob-img {
            	-webkit-border-radius: 3px 0 0 3px;
            	border-radius: 3px 0 0 3px;
				display: block;
				margin-right: 0;
				width: 100px;
            }
            .ob-section-link .ob-snippet,
            .ob-section-link .ob-url {
            	display: none;
            }
           	/**** SECTION MAP ****/
           	.ob-section-map .ob-map {
           		height: 270px;
           		max-width: 100%;
           		width: 100%;
           	}

            /***** SHARE BUTTONS ****/
            .share {
            	background: #EEE;
            	-webkit-border-radius: 5px;
            	border-radius: 5px;
            	padding: 15px;
            }
            .share h3 {
            	font-size: 1.2em;
            	font-weight: bold;
            	margin: 0;
            }
            .share div {
            	display: inline-block;
            	margin-top: 10px;
            	vertical-align: bottom;
            }
            .share div + div {
            	margin-left: 20px;
            }
            .twitter-share {
            	height: 62px;
            }
            .facebook-share {
            	height: 62px;
            }

            .fb_iframe_widget span {
				display: block;
			}

	        /* ----------------------------- */
            /* ==PAGINATION */
            /* ----------------------------- */
	        .pagination {
	        	margin: 30px 0 20px;
	        	overflow: hidden;
	        }
			.pagination a {
				background: #6b6b6b;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(2%,#5b5e62), color-stop(11%,#575b5f), color-stop(47%,#4c525a), color-stop(51%,#4b5158), color-stop(52%,#464d56), color-stop(100%,#404852));
				background: -moz-linear-gradient(top, #6b6b6b 0%, #5b5e62 2%, #575b5f 11%, #4c525a 47%, #4b5158 51%, #464d56 52%, #404852 100%);
				background: -webkit-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%);
				background: -o-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%);
				background: -ms-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%);
				background: linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#404852',GradientType=0 );
				border: 1px solid #555;
				-webkit-border-radius: 3px;
						border-radius: 3px;
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
					 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
				color: #FFF;
				display: block;
				font-size: 1em;
				padding: 8px 10px;
				text-decoration: none;
				text-shadow: 1px 1px 0 #555;
			}
			.pagination a:active {
				background: #6b6b6b;
			}
			.pagination .prev {
				float: left;
			}
			.pagination .next {
				float: right;
			}

			/* ----------------------------- */
            /* ==SPECIAL */
            /* ----------------------------- */
			.special .ob-label {
				margin: 0;
				margin-bottom: 5px;
			}
			.special .ob-input,
			.special .ob-input-email {
				border: 1px solid #DDD;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				background: #F5F5F5;
				font-size: 1.4em;
				padding: 5px 10px;
			}
			.special .ob-input-submit {
				background: #6b6b6b; /* Old browsers */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(2%,#5b5e62), color-stop(11%,#575b5f), color-stop(47%,#4c525a), color-stop(51%,#4b5158), color-stop(52%,#464d56), color-stop(100%,#404852)); /* Chrome,Safari4+ */
				background: -moz-linear-gradient(top, #6b6b6b 0%, #5b5e62 2%, #575b5f 11%, #4c525a 47%, #4b5158 51%, #464d56 52%, #404852 100%); /* FF3.6+ */
				background: -webkit-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* IE10+ */
				background: linear-gradient(top, #6b6b6b 0%,#5b5e62 2%,#575b5f 11%,#4c525a 47%,#4b5158 51%,#464d56 52%,#404852 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#404852',GradientType=0 ); /* IE6-9 */
				border: 1px solid #555;
				-webkit-border-radius: 3px;
						border-radius: 3px;
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
					 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
				color: #FFF;
				font-size: 1.4em;
				height: auto;
				max-width: none;
				padding: 10px 15px;
				text-transform: capitalize;
				width: auto;
			}
			.special .ob-terms {
				color: #222;
				display: block;
				font-weight: bold;
				margin-top: 50px;
				text-align: center;
			}

			.ias_loader {
				bottom: 20px; 
				left: 50%; 
				margin-left: -100px; 
				position: fixed; 
				text-align: center;
				width: 200px;
			}
			.ias_loader p {
				margin-top: 10px;
			}			
				
			/* ----------------------------- */
            /* ==MEDIA QUERIES */
            /* ----------------------------- */

			/**** Retina devices ****/
			@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-device-pixel-ratio: 1.5) {
				
				.header .logo {
					background: url(http://fdata.over-blog.net/99/00/00/01/images/blog/mobile/logo-overblog@2x.png) no-repeat scroll 0 0;
				}
				.header .icon {
					background: url(http://assets.over-blog-kiwi.com/themes/mobile/images/icons@2x.png) no-repeat; 
				}
			}
		</style>
	</head>
	<body>
		<div id="fb-root"></div>
		<header class="header">
			<a class="logo" href="{{ Blog.Url }}" title="{{ Blog.Description }}"></a>
			<nav>
				<ul>
					<li class="button-box">
						<a class="button-icon home" href="/" title="{{ Lang.Get('Back to home') }}">
			                <span class="icon"></span>
			            </a>
					</li>
					<li class="button-box">
						<a class="button-icon contact" href="/contact" title="{{ Lang.Get('Contact') }}">
			                <span class="icon"></span>
			            </a>
					</li>
					<li class="button-box">
						<a class="button-icon search" href="#" title="{{ Lang.Get('Search') }}">
			                <span class="icon"></span>
			            </a>
					</li>
					<li class="button-box">
						<a class="button-icon noMob" href="#" title="{{ Lang.Get('Classic version') }}">
			                <span class="icon"></span>
			            </a>
					</li>
				</ul>
			</nav>
			<form class="search-form hide" name="search" action="/search" method="post">
				<input class="search-input-text" name="q" type="text" placeholder="{{ Lang.Get('Search something here') }}..." />
				<input class="search-input-submit" type="submit" value="{{ Lang.Get('Search') }}" />
			</form>
		</header>
		<section class="main{% if isIndex %} index{% endif %}">
			<h1>
				{% if isSearch %}
					{{ Lang.Get('Search results for') }} “{{ Search.Keyword }}”
				{% elseif isTag %}
					#{{ Tag.Title }}
				{% else %}
					<a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Blog.Title }}</a>
				{% endif %}
			</h1>

			{% if isSpecial %}
				<article class="special">
					{{ SpecialContent }}
				</article>
			{% else %}
				{% list Posts %}
					<article class="post">
						{% if not isSingle and Post.Cover is not empty %}
							<a class="post-cover" href="{{ Post.Permalink }}" title="{{ Post.Snippet }}">
								<img src="{{ Post.Cover|resize(686,384)|crop }}" title="" alt="" />
							</a>
						{% endif %}

						<!-- Post title -->
						<h2>
							<a class="title" href="{{ Post.Permalink }}" title="{{ Post.Snippet }}">
								{% if Post.Title is not empty %}
                                    {{ Post.Title }}
                                {% else %}
                                    {{ Lang.Get('Posted from') }}
                                    {% list Post.Sources %}
                                        {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                    {% endlist %}
                                {% endif %}
                            </a>
						</h2>

						<!-- Post date -->
						<p>
							{{ Lang.Get('Posted on') }} <time class="date" datetime="{{ Post.Date }}">{{ Post.Date|datel(Lang.Get('Default date format'))|title }}</time> {{ Lang.Get('by') }} {{ Post.Author }}
						</p>

						{% if isSingle %}
							<div class="body">
								{{ Post.Body }}
							</div>
						{% elseif Post.Snippet is not empty %}
							<p class="snippet">
								{{ Post.Snippet }}
							</p>
						{% endif %}

						{% if isSingle %}
	                        <footer>
	                    		{% if Post.Tags is not empty %}
	                                <p class="tags">
	                                    {% list Post.Tags %}
	                                    	<a href="{{ Tag.Url }}" rel="tag">#{{ Tag.Title }}</a>{% if loop.last is empty %} {% endif %}
	                                    {% endlist %}
	                                </p>
	                            {% endif %}
	                            
	                    		<div class="share">
	                        		{% if Custom('share_service') != 'None' %}
	                                	<h3>{% if isPage %}{{ Lang.Get('Share this page') }}{% else %}{{ Lang.Get('Share this post') }}{% endif %}</h3>
	                                	{% if Custom('share_service') == 'Google +' %}
											<div class="google-share">
		                                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://plusone.google.com/u/0/_/+1/fastbutton?url={{ Post.Permalink }}&amp;size=tall&amp;annotation=bubble&amp;lang={{ Blog.Lang }}" style="border:none; overflow:hidden; width: 50px; height: 60px;" align="left"></iframe>
		                                    </div>
	                                    {% elseif Custom('share_service') == 'Twitter' %}
	                                        <div class="twitter-share">
	                                            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url={{ Post.PermaLink }}&via={% if Custom('twitter_username') is not empty %}{{ Custom('twitter_username')}}{% else %}{{ Blog.Owner.Nickname }}{% endif %}&text={% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}&lang={{ Blog.Lang }}&count=vertical" style="border:none; overflow:hidden; height: 62px;"></iframe>
	                                        </div>
	                                    {% elseif Custom('share_service') == 'Facebook' %}
	                                        <div class="facebook-share">
	                                            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?&href={{ Post.Permalink }}&amp;send=false&amp;layout=box_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90"  style="border:none; overflow:hidden; width: 61px; height:61px;"></iframe>
	                                        </div>
	                                    {% elseif Custom('share_service') == 'All' or Custom('share_service') is empty %}
	                                        <div class="google-share">
		                                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://plusone.google.com/u/0/_/+1/fastbutton?url={{ Post.Permalink }}&amp;size=tall&amp;annotation=bubble&amp;lang={{ Blog.Lang }}" style="border:none; overflow:hidden; width: 50px; height: 60px;" align="left"></iframe>
		                                    </div>
		                                    <div class="twitter-share">
	                                            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url={{ Post.PermaLink }}&via={% if Custom('twitter_username') is not empty %}{{ Custom('twitter_username')}}{% else %}{{ Blog.Owner.Nickname }}{% endif %}&text={% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}&lang={{ Blog.Lang }}&count=vertical" style="border:none; overflow:hidden; height: 62px; width: 65px;"></iframe>
	                                        </div>
	                                        <div class="facebook-share">
	                                            <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?&href={{ Post.Permalink }}&amp;send=false&amp;layout=box_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90"  style="border:none; overflow:hidden; width: 61px; height:61px;"></iframe>
	                                        </div>
	                                    {% endif %}
	                            	{% endif %}
	                            </div>

	                            {% if (Navigation.PreviousPost is not empty or Navigation.NextPost is not empty) %}
	                                <nav class="pagination">
	                                    {% if Navigation.PreviousPost is not empty %}
	                                        <a href="{{ Navigation.PreviousPost.Permalink }}" title="{{ Navigation.PreviousPost.Title }}" class="prev">&laquo; {{ Lang.Get('Previous post') }}</a>
	                                    {% endif %}

	                                    {% if Navigation.NextPost is not empty %}
	                                        <a href="{{ Navigation.NextPost.Permalink }}" title="{{ Navigation.NextPost.Title }}" class="next">{{ Lang.Get('Next post') }} &raquo;</a>
	                                    {% endif %}
	                                </nav>
	                            {% endif %}

								{% if isSingle and not isPage %}
		                            <!-- Comments -->
		                            <div class="item-comments">
							            <h3>{{ Lang.Get('Comment this post') }}</h3>
		                                {% if Custom("comment") == "Facebook" %}
		                                    <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2"></div>
		                                {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
		                                    <div id="disqus_thread"></div>
		                                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		                                {% elseif Post.ShowComments %}
		                                    {{ Post.Comments }}
		                                {% endif %}
		                            </div>
		                        {% endif %}
		                    </footer>
	                    {% endif %}
					</article>
				{% else %}
					<article>
						<h2>{{ Lang.Get('No post found') }}...</h2>
					</article>
				{% endlist %}
			{% endif %}

            <nav class="load-more">
                <a href="{{ Navigation.NextPage }}" class="next" rel="next"></a>
            </nav>
		</section>

		<!-- jQuery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="http://assets.over-blog-kiwi.com/themes/jquery/infinite-ajax-scroll/jquery.ias.min.js"></script>

		<!-- Scripts -->
		<script>
			{% if Custom('google_analytics') is not empty %}
    		    // Google Analytics
    		    window.google_analytics_uacct = '{{Custom('google_analytics')}}';
    		    var _gaq = _gaq || [];
    		        _gaq.push(['_setAccount', '{{Custom('google_analytics')}}']);
    		        _gaq.push(['_trackPageview']);
    		        _gaq.push(['_trackPageLoadTime']);

    		    (function() {
    		        var ga = document.createElement('script');
                        ga.type = 'text/javascript';
                        ga.async = true;
    		            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(ga, s);
    		    })();
    		{% endif %}

			{% if isSingle %}
	        	// Twitter renderer
	        	!function(d,s,id){
	        		var js, fjs = d.getElementsByTagName(s)[0];
	        		if(!d.getElementById(id)){
		        		js = d.createElement(s);
		        		js.id = id;
		        		js.src = "//platform.twitter.com/widgets.js";
		        		fjs.parentNode.insertBefore(js,fjs);
		        	}
		        }(document,"script","twitter-wjs");

		        {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
	            	var disqus_shortname = '{{ Custom('comment_disqus') }}';
	            	(function() {
	            	    var dsq = document.createElement('script');
	            	        dsq.type = 'text/javascript';
	            	        dsq.async = true;
	            	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	            	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	            	})();
	            {% elseif Custom('comment') == 'Facebook' %}
	            	// Facebook comments
				    (function(d, s, id) {
				        var js, fjs = d.getElementsByTagName(s)[0];
				        if (d.getElementById(id)) return;
					        js = d.createElement(s); js.id = id;
					        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
					        fjs.parentNode.insertBefore(js, fjs);
				    }(document, 'script', 'facebook-jssdk'));
	            {% endif %}

	            // Disabled pictures resizing
	    		var EnhancePictures = function(elements) {
	            	$(elements).find('.ob-section-text img, .ob-section-images img').each(function(){
						$(this).attr(
							'src',
							$(this).attr('src').replace(/\/[0-9]+x[0-9]+(\-ct)?/, "")
						);
					});
	            }
	        {% endif %}

    		$(document).ready(function() {
    			// Switch to web version
				$('.noMob').click(function() {
	                document.cookie = "_noMob=1;path=/";
	                window.location.reload();
	                return false;
				});

				// Hide/sho search form
				$('.search-form').hide();
				$('.search').click(function() {
					$('.search-form').slideToggle(0).find('.search-input-text').focus();
					return false;
				});

				{% if isSingle %}
					// Disabled pictures resizing
					EnhancePictures(".post");
				{% elseif not isSpecial %}
					// Load more
					jQuery.ias({
						'container' 	 : ".main",
						'item' 			 : ".post",
						'pagination' 	 : ".load-more",
						'next'			 : ".next",
						'history'		 : false,
						'loader' 		 : "<img src='http://assets.over-blog-kiwi.com/themes/14/images/ajax_loader.gif' alt='' title='' width='30' /><p>{{ Lang.Get('Loading new posts...') }}</p>"
					});
				{% endif %}
			});
		</script>
	</body>
</html>
