<!doctype html>
<html lang="{{ Blog.Lang | default('en') }}">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title -->
        {% title %}
        <!-- metas description, keyword, robots -->
        {% meta %}

        <!-- shortcut:[Includes] -->
        <!-- favicon -->
        {% favicon %}

        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- Custom vars -->
        <meta name="constant:displayArticlesLimit" content="9" />

        <meta name="string:custom_tagline_text:label.headline" default="Welcome to my blog" />
        <meta name="string:custom_footer_left:label.footer" default="Theme: Elegant press &copy; 2012" />

        <meta name="list:tag_number:label.numberOfTags" items="0,1,2,3,4,5,6,7,8,9,10,20,30,40,50" default="10" group="Navigation" />

        <meta name="image:custom_default_post_thumbnail:label.defaultPostCover" default="http://assets.over-blog-kiwi.com/themes/32/images/thumb.jpg" group="Design" />

        <meta name="tag:pinned_tag:label.pinnedTag" group="Slider" />
        <meta name="image:custom_home_slider_default_image:label.defaultSliderCover" default="http://assets.over-blog-kiwi.com/themes/32/images/slider3.jpg" group="Slider" />

        <meta name="string:twitter_username:label.twitterUsername" group="Social" />
        <meta name="string:facebook_username:label.facebookUsername" group="Social" />
        <meta name="string:flickr_username:label.flickrUsername" group="Social" />
        <meta name="string:youtube_username:Enter your Youtube username" group="Social" />

        <meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, Pinterest, All" default="All" group="Social" />

        <meta name="boolean:custom_hide_widget_search_form:label.hideSearchForm" group="Widgets" />
        <meta name="boolean:custom_hide_widget_biography:label.hideBiography" group="Widgets" />
        <meta name="boolean:custom_hide_widget_about_blog:label.hideBlogAbout" group="Widgets" />
        <meta name="boolean:custom_hide_widget_blog_archive:label.hideArchives" group="Widgets" />
        <meta name="boolean:custom_hide_widget_follow_us:label.hideFollowUs" group="Widgets" />
        <meta name="boolean:custom_hide_widget_last_post:label.hideLastPosts" group="Widgets" />

        <meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comments" />
        <meta name="list:facebook_comments_theme_color:label.facebookCommentsColorTheme" items="Light, Dark" default="Light" group="Comments" />
        <meta name="string:comment_disqus:label.disqusAccount" default="obcomment" group="Comments" />

        <meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
        <meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
        <meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
        <meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />

        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />

        <!-- jQuery (loaded by template script) -->
        <script src="http://assets.over-blog-kiwi.com/themes/32/scripts/elegant-press.js" type="text/javascript"></script>

        <!-- NivoSlider -->
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/themes/default/default.css" type="text/css" />
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>

        <!-- Fancybox -->
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>



        <!-- Template resources -->
        <style type="text/css">
            /*
            Template Name:  Elegant Press
            Theme URI:  http://www.priteshgupta.com/templates/elegant-press
            File:  Layout CSS
            Description:  HTML5 and CSS3 Free Website Theme
            Author:  Pritesh Gupta
            Author URI:  http://www.priteshgupta.com/
            Version:  1.2.0
            License:  New BSD License
            License URI:  license.txt
            */

            /* Distributed by http://freehtml5templates.com */

            /**
             * Elegant Press Template Version 1.2.0
             * By PriteshGupta.com
             * Download for free at http://www.priteshgupta.com/templates/elegant-press

                Released under New BSD License
                http://www.opensource.org/licenses/bsd-license.php

                Copyright (c) 2011, PriteshGupta.com
                All rights reserved.

                Redistribution and use in source and binary forms, with or without modification,
                are permitted provided that the following conditions are met:

                    * Redistributions of source code must retain the above copyright notice,
                      this list of conditions and the following disclaimer.

                    * Redistributions in binary form must reproduce the above copyright notice,
                      this list of conditions and the following disclaimer in the documentation
                      and/or other materials provided with the distribution.

                    * Neither the name of PriteshGupta.com nor the names of its
                      contributors may be used to endorse or promote products derived from this
                      software without specific prior written permission.

                THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
                ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
                WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
                DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
                ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
                (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
                LOSS OF USE, DATA, OR PROFITS;  OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
                ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
                (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
                SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
            */

            /*----- Reset -----*/
            body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,textarea,blockquote,th,td {
                margin:0;
                padding:0;
            }
            table {
                border-collapse:collapse;
                border-spacing:0;
            }
            fieldset,img {
                border:0;
            }
            address,caption,cite,code,dfn,var {
                font-style:normal;
                font-weight:normal;
            }
            caption,th {
                text-align:left;
            }
            h1,h2,h3,h4,h5,h6 {
                font-size:100%;
                font-weight:normal;
            }
            q:before,q:after {
                content:'';
            }
            abbr,acronym {
                border:0;
            }
            /*----- Import fonts -----*/
            @font-face {
                font-family:'Artifika';
                font-style: normal;
                font-weight: normal;
                src: local('Artifika Medium'),
                     local('Artifika-Medium'),
                     url('http://assets.over-blog-kiwi.com/themes/32/styles/fonts/Artifika-Regular.woff') format('woff'),
                     url('http://assets.over-blog-kiwi.com/themes/32/styles/fonts/Artifika-Regular.ttf') format('truetype');
            }

            /*****************************************
            ***************** GLOBAL *****************
            *****************************************/
            body {
                font-size:13px;
                font-family:Tahoma,Georgia,"Times New Roman",Times,serif;
                color:#333;
                background:#eee url(http://assets.over-blog-kiwi.com/themes/32/images/bg.png) repeat;
                padding:0
            }

            .container {
                margin: 0 auto;
                width: 960px;
            }

            .right {
                text-align: right
            }
            .clear {
                clear:both
            }

            a,
            a:visited {
                color: #A3443E;
                outline: none;
                text-decoration: none;
            }
            .imgl,
            .imgr {
                border:1px solid #C7C5C8;
                padding:5px
            }
            .imgl {
                float: left;
                clear: left;
                margin: 0 8px 8px 0
            }
            .imgr {
                float: right;
                clear: right;
                margin: 0 0 8px 8px
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: "Cagliostro", sans-serif;
                font-weight:400;
                line-height:normal;
                margin:0 0 15px;
                padding:0
            }
            h1 {
                font-size: 32px;
            }
            h2 {
                font-size: 28px;
            }

            h3 {
                font-size: 22px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            h6 {
                font-size: 12px;
            }

            /*****************************************
            ***************** HEADER *****************
            *****************************************/
            .header {
                padding: 30px 0;
            }

            /**** blog title ***/
            .header .blog-title {
                font-family: "Bevan", cursive;
                font-size: 55px;
                line-height: 70px;
                max-width: 960px;
                text-align: center;
                text-shadow: 0 3px 3px #555;
                text-transform: uppercase
            }
            .header .blog-title a,
            .header .blog-title a:visited {
                color: #292929;
            }
            /**** blog description ****/
            .header .description {
                font-family: "Cagliostro", sans-serif;
                font-size: 25px;
                letter-spacing: 2px;
                max-width: 960px;
                text-align: center;
            }
            /**** headline + search form ****/
            .headline {
                border-bottom: 1px solid #666;
                padding: 15px 0
            }
            .headline p {
                font-family: "Cagliostro", sans-serif;
                font-size: 20px;
                letter-spacing: 2px;
                padding-top: 5px;
            }
            .headline input {
                display:block;
                float:left;
                color: #565656;
                border:1px solid #C3C3C3;
                font-size:12px;
                margin:0 5px 0 0;
                padding:5px
            }
            .headline input[type="text"] {
                background-color: #EBEBEB;
            }
            .headline input:focus {
                background-color:#FFF;
            }
            .headline input #go {
                text-transform:uppercase;
                color:#FFF;
                background-color:#565656;
                cursor:pointer;
                font-weight:700;
                border-color:#C3C3C3;
                margin:0;
                padding:4px 10px
            }

            /***************************************
            ***************** MENU *****************
            ****************************************/
            .menu {
                border-top: 1px dashed #666;
                border-bottom: 1px dashed #666;
                font-size: 14px;
                list-style:none;
                text-align: center;
                text-transform: uppercase;
                z-index: 1000;
            }
            .nav ul {
                position:absolute;
                top:-999em;
                width:10em
            }
            .nav ul li {
                width:100%
            }
            .nav li:hover {
                visibility:inherit
            }
            .nav li {
                position:relative;
                display:inline-block;
                zoom:1;
                *display:inline;
            }
            .nav a {
                display:block;
                position:relative;
                color:#333!important;
                text-decoration:none;
                padding:.75em 1em
            }
            .nav li:hover ul,.nav li.sfHover ul {
                left:0;
                top:2.5em;
                z-index:99
            }
            .nav a,.nav a:visited,.nav li.active li a {
                color:#333
            }
            .nav a.sf-with-ul {
                padding-right:2.25em
            }
            .nav li ul a.sf-with-ul {
                padding-right:1em
            }
            .sf-sub-indicator {
                position:absolute;
                display:block;
                right:.75em;
                top:1.05em;
                width:10px;
                height:10px;
                text-indent:-999em;
                overflow:hidden;
                background:url(http://assets.over-blog-kiwi.com/themes/32/images/nav_arrows.png) no-repeat -10px -100px
            }
            a>.sf-sub-indicator {
                top: .8em;
                background-position:0 -100px
            }
            a:focus > .sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfHover>a>.sf-sub-indicator {
                background-position:-10px -100px
            }
            .nav ul a > .sf-sub-indicator {
                background-position:0 0
            }

            /********************************************
            ***************** SLIDESHOW *****************
            ********************************************/
            .slideshow {
                position: relative;
            }
            #jFlowSlider {
                border-top: 1px solid #666;
                color: #FFF;
                {% if Custom('custom_hide_widget_biography') == true %}
                    margin-bottom: 80px;
                {% endif %}
                padding: 30px 0;
            }
            .jFlowSlideContainer a {
                color:#F90;
                text-decoration:none
            }
            .jFlowSlideContainer a:hover {
                text-decoration:none
            }
            .jFlowSlideContainer a:focus {
                position:relative;
                top:1px
            }
            .jFlowNext div {
                background:url(http://assets.over-blog-kiwi.com/themes/32/images/arrows.png) no-repeat scroll 0 -35px transparent;
                height:130px;
                position:absolute;
                top:140px;
                right:-50px;
                width:50px;
                cursor:pointer
            }
            .jFlowPrev div {
                background:url(http://assets.over-blog-kiwi.com/themes/32/images/arrows.png) no-repeat scroll -84px -35px transparent;
                height:130px;
                position:absolute;
                top:140px;
                left:-50px;
                width:50px;
                cursor:pointer
            }
            .jFlowPrev div:hover {
                background-position:-84px -235px
            }
            .jFlowNext div:hover {
                background-position:0 -235px
            }
            .m-slides span {
                background:#333;
                background:rgba(0,0,0,0.5);
                bottom: 20px;
                display: block;
                max-width: 420px;
                padding: 10px;
                position:absolute;
                right:20px;
            }
            .m-slides a {
                display: block;
            }
            .m-slides .slideheading {
                color: white;
                display: block;
                font-family: "Cagliostro", Georgia, serif;
                font-weight: 100;
                font-size: 25px;
                line-height: normal;
                max-width: 100%;
            }
            .m-slides .readmore {
                background:#454545;
                -webkit-border-radius: 10px;
                   -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                     -o-border-radius: 10px;
                        border-radius: 10px;
                color:#fff !important;
                float:right;
                font-size:13px;
                margin-top: 20px;
                padding:10px;
                text-align:center;
                text-decoration:none;
            }
            .m-slides .readmore:hover {
                background:#272727;
            }

            /****************************************
            ***************** ABOUT *****************
            *****************************************/
            .callout {
                background: #f2f2f2;
                margin: 20px 0 40px;
            }
            .calloutoverlay {
                height: 77px;
                background: url(http://assets.over-blog-kiwi.com/themes/32/images/hash-overlay.png) repeat-x top left;
                left:0;
                position: absolute;
                top: -40px;
                width: 100%;
            }
            .calloutoverlaybottom {
                height:77px;
                background: url(http://assets.over-blog-kiwi.com/themes/32/images/hash-overlay-bottom.png) repeat-x top left;
                position:absolute;
                bottom:-41px;
                left:0;
                width:100%;
            }
            .calloutcontainer {
                position:relative;
                padding:20px 0;
            }
            .about .more {
                float: right;
            }
            a.read_more {
                width:200px;
                text-align:center;
                float:left;
                font-size:13px;
                color:#fff;
                text-decoration:none;
                margin-top:18px;
                background:#454545 url(http://assets.over-blog-kiwi.com/themes/32/images/arrow_01.png) no-repeat right 7px;
                margin-left:15px;
                padding:5px 30px 5px 10px;
                -webkit-border-radius: 10px;
                   -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                     -o-border-radius: 10px;
                        border-radius: 10px;
            }
            a.read_more:hover {
                background-color:#272727;
                -webkit-transition: all 1s ease-out;
                   -moz-transition: all 1s ease-out;
                    -ms-transition: all 1s ease-out;
                     -o-transition: all 1s ease-out;
                        transition: all 1s ease-out;
            }

            .box:before {
                border-top: 1px solid #666;
                content: '';
                left: 0;
                position: absolute;
                top: -31px;
                width: 960px;
            }
            .box {
                background-color:#FFF;
                border:1px solid #666;
                -webkit-border-radius:5px;
                   -moz-border-radius:5px;
                    -ms-border-radius:5px;
                     -o-border-radius:5px;
                        border-radius:5px;
                -webkit-box-shadow:5px 5px 5px #ccc;
                   -moz-box-shadow:5px 5px 5px #ccc;
                    -ms-box-shadow:5px 5px 5px #ccc;
                     -o-box-shadow:5px 5px 5px #ccc;
                        box-shadow:5px 5px 5px #ccc;
                margin-top: 30px;
                padding: 29px;
                position: relative;
            }
            .content {
                display: block;
                float: left;
                width: 600px
            }

            /*----- Sidebar -----*/
            .sidebar {
                display:block;
                float:right;
                width:270px
            }
            .sidebar h3 {
                font-size: 22px;
            }

            .sidebar .subnav {
                display: block;
                background-color: #F9F9F9;
                margin-bottom: 30px;
                padding: 25px;
            }
            .sidebar .subnav li {
                margin: 0 0 3px;
                padding: 0;
            }
            .sidebar .subnav a {
                display: block;
                color: black;
                background: url(http://assets.over-blog-kiwi.com/themes/32/images/red_file.gif) no-repeat 10px center #F9F9F9;
                text-decoration: none;
                border-bottom: 1px dotted #666;
                margin: 0;
                padding: 5px 10px 5px 20px;
            }
            .sidebar .subnav a:hover {
                color: #A3443E;
                background-color: #F9F9F9;
            }
            .sidebar .holder,
            .sidebar #featured {
                display: block;
                width: 270px;
                margin-bottom:  20px
            }
            .sidebar div.imgholder {
                border: 1px solid #666;
                display: block;
                margin: 0 0 10px;
                padding: 4px;
                width: 260px;
            }
            .sidebar .holder p.readmore {
                display: block;
                width: 100%;
                font-weight: 700;
                text-align: right;
                line-height: normal
            }
            .sidebar #featured li {
                display:block;
                width:220px;
                margin:0;
                padding:20px 25px
            }
            .sidebar #featured li p.imgholder {
                display:block;
                width:210px;
                height:90px;
                border:1px solid #CCC;
                margin:20px 0 15px;
                padding:4px
            }
            .sidebar #featured li h2 {
                font-weight:400;
                font-family: 'Artifika',Georgia,Times New Roman,Times,serif;
                line-height:normal;
                border-bottom:1px dotted #666;
                margin:0;
                padding:0 0 8px
            }
            .sidebar #featured p.readmore {
                display:block;
                width:100%;
                margin-top:15px;
                font-weight:700;
                text-align:right;
                line-height:normal
            }
            .sidebar .latestnews {
                display:block;
                width:100%;
                list-style:none;
                margin:0;
                padding:0
            }
            .sidebar .latestnews li {
                display:block;
                width:100%;
                height:99px;
                border-bottom:1px dotted #C7C5C8;
                overflow:hidden;
                margin:0 0 11px;
                padding:0 0 21px
            }
            .sidebar .latestnews img {
                float:left;
                border:1px solid #C7C5C8;
                clear:left;
                margin:0 10px 0 0;
                padding:4px
            }

            .grid-container {
                background: url(http://assets.over-blog-kiwi.com/themes/32/images/textured-light-bg.gif) repeat #f2f2f2;
                width: 100%
            }
            .grid h1,
            .grid h2,
            .grid h3,
            .grid p,
            .grid ul,
            .grid a {
                font-weight: 400;
                list-style: none;
                line-height: normal;
                margin:0;
                padding:0
            }
            .grid h1,
            .grid h2,
            .footbox h3,
            .latestgallery h3 {
                border-bottom: 1px dotted #585858 !important;
                font-size: 16px !important;
                font-weight: 400 !important;
                margin-bottom: 10px !important;
                padding-bottom: 6px !important;
                text-align: center;

            }
            .latestgallery {
                display:block;
                float:right;
                width:420px;
                margin:0;
                padding:0
            }
            .latestgallery h3 {
                margin-left: 50px!important;
                text-align: center
            }
            .latestgallery ul li {
                -webkit-transition: opacity 300ms ease-out;
                   -moz-transition: opacity 300ms ease-out;
                    -ms-transition: opacity 300ms ease-out;
                     -o-transition: opacity 300ms ease-out;
                        transition: opacity 300ms ease-out;
            }
            .latestgallery ul:hover li {
                -webkit-opacity: 0.7;
                   -moz-opacity: 0.7;
                    -ms-opacity: 0.7;
                     -o-opacity: 0.7;
                        opacity: 0.7;
            }
            .latestgallery ul:hover li:hover {
                -webkit-opacity: 1;
                   -moz-opacity: 1;
                    -ms-opacity: 1;
                     -o-opacity: 1;
                        opacity: 1;
            }
            .latestgallery li {
                float:right;
                display:block;
                background: url(http://assets.over-blog-kiwi.com/themes/32/images/image-frames-thumb.png) top left no-repeat;
                height: 110px;
                width: 160px;
                padding: 4px
            }
            .footbox {
                display:block;
                float: left;
                margin: 0 0 0 50px;
                padding: 0;
                width: 220px;
            }

            .footbox li {
                color: #333!important;
                margin: 22px 0 0;
            }
            div.last,
            .latestgallery li.last {
                margin-right: 0;
            }

            .footbox .plustext {
                color: #333;
                font-family: 'Artifika',Georgia,Times New Roman,Times,serif;
                font-size: 20px;
                font-weight:2000;
            }
            #social a.s3d {
                clear:both;
                -webkit-border-radius: 3px;
                   -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                     -o-border-radius: 3px;
                        border-radius: 3px;
                -webkit-box-shadow:0 4px 5px rgba(0,0,0,.3);
                   -moz-box-shadow:0 4px 5px rgba(0,0,0,.3);
                    -ms-box-shadow:0 4px 5px rgba(0,0,0,.3);
                     -o-box-shadow:0 4px 5px rgba(0,0,0,.3);
                        box-shadow:0 4px 5px rgba(0,0,0,.3);
                display:inline-block !important;
                font: 700 13px/36px 'Arial',Helvetica,Clean,sans-serif;
                height: 26px;
                margin: 0 0 10px;
                padding: 0 10px 11px;
                position: relative;
                text-decoration: none;
                text-align: center;
                text-shadow: 0 1px 1px rgba(255,255,255,.35);
                width: 200px;
            }
            .icons {
                background: url('http://assets.over-blog-kiwi.com/themes/32/images/social.png') no-repeat;
                bottom: 5px;
                display:  block;
                height: 26px;
                position: absolute;
                right: 10px;
                width: 25px;
            }

            .icons.rss {background: url('http://assets.over-blog-kiwi.com/themes/32/images/rss.png') no-repeat;}

            .icons.youtube {background: url('http://assets.over-blog-kiwi.com/themes/32/images/social_youtube.png') no-repeat 4px top;}

            #social a.facebook .icons.facebook {
                background-position:-50px 0;
            }
            #social a.twitter .icons.twitter {
                background-position:-25px 0;
            }
            #social a.flickr .icons.flickr {
                background-position:-125px 0;
            }
            #social a.facebook {
                background:#4669AB;
                background:-webkit-linear-gradient(#4669AB,#304886);
                background:-moz-linear-gradient(#4669AB,#304886);
                background:-o-linear-gradient(#4669AB,#304886);
                background:-ms-linear-gradient(#4669AB,#304886);
                background:linear-gradient(#4669AB,#304886);
                border-top:1px solid #8EA4CD;
                color: #151F35;
                color: rgb(21,31,53);
                text-shadow:0 1px 1px rgba(255,255,255,.35);
            }
            #social a.facebook:active {
                background: #304886;
                background: -webkit-linear-gradient(#304886, #4669AB);
                background: -moz-linear-gradient(#304886, #4669AB);
                background: -o-linear-gradient(#304886, #4669AB);
                background: -ms-linear-gradient(#304886, #4669AB);
                background: linear-gradient(#304886, #4669AB);
            }
            #social a.twitter {
                background:#65ACC8;
                background:-webkit-linear-gradient(#65ACC8,#4586AE);
                background:-moz-linear-gradient(#65ACC8,#4586AE);
                background:-o-linear-gradient(#65ACC8,#4586AE);
                background:-ms-linear-gradient(#65ACC8,#4586AE);
                background:linear-gradient(#65ACC8,#4586AE);
                border-top:1px solid #A1CDDE;
                color: #192D37;
                color:rgba(25,45,55,.9);
            }
            #social a.twitter:active {
                background: #4586AE;
                background: -webkit-linear-gradient(#4586AE, #65ACC8);
                background: -moz-linear-gradient(#4586AE, #65ACC8);
                background: -o-linear-gradient(#4586AE, #65ACC8);
                background: -ms-linear-gradient(#4586AE, #65ACC8);
                background: linear-gradient(#4586AE, #65ACC8);
            }
            #social a.rss {
                background: #ed8b00;
                background: -webkit-linear-gradient(#ed8b00,#b76b00);
                background: -moz-linear-gradient(#ed8b00,#b76b00);
                background: -o-linear-gradient(#ed8b00,#b76b00);
                background: -ms-linear-gradient(#ed8b00,#b76b00);
                background: linear-gradient(#ed8b00,#b76b00);
                border-top: 1px solid #ff9600;
                color: #192D37;
                color: rgba(25,45,55,.9);
            }
            #social a.rss:active {
                background: #d87603;
                background: -webkit-linear-gradient(#b76b00,#ed8b00);
                background: -moz-linear-gradient(#b76b00,#ed8b00);
                background: -o-linear-gradient(#b76b00,#ed8b00);
                background: -ms-linear-gradient(#b76b00,#ed8b00);
                background: linear-gradient(#b76b00,#ed8b00);
            }
            #social a.flickr {
                background: #EA66AC;
                background:-webkit-linear-gradient(#EA66AC,#DA3868);
                background:-moz-linear-gradient(#EA66AC,#DA3868);
                background:-o-linear-gradient(#EA66AC,#DA3868);
                background:-ms-linear-gradient(#EA66AC,#DA3868);
                background:linear-gradient(#EA66AC,#DA3868);
                border-top:1px solid #F3A2CD;
                color: #4A0420;
                color: rgba(74,4,32,1);
            }
            #social a.flickr:active {
                background: #DA3868;
                background: -webkit-linear-gradient(#DA3868, #EA66AC);
                background: -moz-linear-gradient(#DA3868, #EA66AC);
                background: -o-linear-gradient(#DA3868, #EA66AC);
                background: -ms-linear-gradient(#DA3868, #EA66AC);
                background: linear-gradient(#DA3868, #EA66AC);
            }
            #social a.youtube {
                background: #BBB;
                background:-webkit-linear-gradient(#EAEAEA,#BBB);
                background:-moz-linear-gradient(#EAEAEA,#BBB);
                background:-o-linear-gradient(#EAEAEA,#BBB);
                background:-ms-linear-gradient(#EAEAEA,#BBB);
                background:linear-gradient(#EAEAEA,#BBB);
                border-top:1px solid #CCC;
                color: #444;
            }
            #social a.youtube:active {
                background: #EAEAEA;
                background:-webkit-linear-gradient(#BBB,#EAEAEA);
                background:-moz-linear-gradient(#BBB,#EAEAEA);
                background:-o-linear-gradient(#BBB,#EAEAEA);
                background:-ms-linear-gradient(#BBB,#EAEAEA);
                background:linear-gradient(#BBB,#EAEAEA);
            }

            #list1 li,
            #list2 li,
            #list3 li {
                padding-bottom:6px;
                margin-bottom:2px
            }
            #list1,
            #list2,
            #list3 {
                text-indent:5px;
                list-style-position:outside;
                list-style-image:url(http://assets.over-blog-kiwi.com/themes/32/images/list-checkmark.png);
                list-style-type:square;
                margin:2px;
                padding:6px;
            }

            .search {
                float: right;
            }
            .ob-terms {
                display: block;
                margin-top: 80px;
                text-align: center;
            }
            .ob-form .ob-label {
                width: 12%;
            }
            input[type=text],
            input[type=email],
            input[type=url],
            textarea {
                background: rgba(206,205,205,0.6);
                border: 2px solid #666;
                line-height: 2em;
                -webkit-box-shadow: inset -1px 1px 1px rgba(255,255,255,0.65);
                   -moz-box-shadow: inset -1px 1px 1px rgba(255,255,255,0.65);
                    -ms-box-shadow: inset -1px 1px 1px rgba(255,255,255,0.65);
                     -o-box-shadow: inset -1px 1px 1px rgba(255,255,255,0.65);
                        box-shadow: inset -1px 1px 1px rgba(255,255,255,0.65);
                -webkit-border-radius:8px;
                -moz-border-radius:8px;
                border-radius:8px;
                margin-bottom:10px;
                width:600px;
                padding:6px 5px;
            }
            textarea {
                height: 250px;
                overflow: auto;
            }
            input[type=text],
            input[type=email],
            input[type=url] {
                height: 23px;
                width: 300px;
            }
            input[type=submit],
            input[type=reset] {
                background: #333;
                background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#333),color-stop(100%,#333333));
                background: -webkit-linear-gradient(top,#333 0%,#333333 100%);
                background:    -moz-linear-gradient(top,#333 0%,#333333 100%);
                background:     -ms-linear-gradient(top,#333 0%,#333333 100%);
                background:      -o-linear-gradient(top,#333 0%,#333333 100%);
                background:         linear-gradient(top,#333 0%,#333333 100%);
                color: #fff;
                border-radius: 10px 0 10px 0;
                font-weight: 700;
                text-shadow: 0 0 1px #aaa;
                -webkit-transition: all 100ms linear;
                   -moz-transition: all 100ms linear;
                    -ms-transition: all 100ms linear;
                     -o-transition: all 100ms linear;
                        transition: all 100ms linear;
                font-family: 'Verdana',Geneva,sans-serif;
                border-color:transparent;
                padding: 10px 20px
            }
            .ob-input-submit,
            .ob-error {
                margin-left: 12%;
            }
            #sub-headline input[type=submit] {
                height: 35px;
                padding: 5px 10px;
            }
            input[type=submit]:hover,
            input[type=reset]:hover {
                border-radius: 0 10px 0 10px;
                color: #fff;
                opacity: 1;
            }
            a.more {
                background: url(http://assets.over-blog-kiwi.com/themes/32/images/futured_button.png) no-repeat left top;
                color: #A2A2A2;
                float: left;
                font-family: 'Artifika',Verdana,Geneva,sans-serif;
                font-size: 15px;
                height: 45px;
                margin-top: 12px;
                padding: 18px;
                text-decoration: none;
                text-transform: uppercase;
                width: 140px;
            }
            a.more:hover {
                color:#ddd;
            }

            .bold,
            #comments .commentlist .author .name {
                font-weight:700
            }
            .center,.block h2 {
                text-align:center
            }
            #breadcrumb,
            .container1 {
                position: relative;
                display: block;
                width: 960px;
                margin: 0 auto;
            }
            .sidebar #featured ul,
            .sidebar #featured h2,
            .sidebar #featured p {
                list-style:none;
                margin:0;
                padding:0
            }
            .sidebar .latestnews p {
                display:inline
            }

            .sidebar .latestnews li.last,
            .grid .footbox li.last {
                margin-bottom:0
            }


            #home_featured21 .block {
                display:inline;
                float:left;
                width:280px;
                margin:0 30px 0 0;
                padding:0
            }
            #home_featured21 .last {
                width:275px;
                margin-right:0
            }
            #home_featured21 img {
                display:inline;
                float:left
            }
            #home_featured21 strong {
                float:left;
                font-size:22px;
                font-weight:400;
                color:#4A4A4A;
                background-color:#FFF;
                margin:8px 0 0 10px;
                padding:0
            }
            #home_featured21 h2 {
                max-height: 35px;
                overflow: hidden;
            }

            #home_featured21 p {
                display:block;
                clear:both;
                line-height:1.6em;
                margin:0;
                padding:10px 0 0
            }
            #home_featured21 .spacer {
                clear:both;
                line-height:normal;
                padding:8px 0
            }
            #home_featured2 {
                {% if isTag or isSearch %}
                    border-top: 1px solid #666;
                {% endif %}
                overflow: hidden;
                padding: 30px 0 0;
            }

            #home_featured2 .imgholder {
                display:block;
                width: 290px;
                background: url(http://assets.over-blog-kiwi.com/themes/32/images/image-frames.png) top left no-repeat;
                height: 160px!important;
                margin: 0;
                padding: 9px
            }
            #home_featured2 .imgholder img {
                -webkit-opacity: 1;
                  -moz-opacity: 1;
                   -ms-opacity: 1;
                    -o-opacity: 1;
                       opacity: 1;
               -webkit-transition: opacity 300ms ease-out;
                  -moz-transition: opacity 300ms ease-out;
                   -ms-transition: opacity 300ms ease-out;
                    -o-transition: opacity 300ms ease-out;
                       transition: opacity 300ms ease-out;
            }
            #home_featured2 .imgholder:hover img {
                webkit-opacity: 0.8;
                  -moz-opacity: 0.8;
                   -ms-opacity: 0.8;
                    -o-opacity: 0.8;
                       opacity: 0.8;
            }

            #home_featured2 li {
                display:block;
                float:left;
                width:295px;
                margin: 0 12px 50px 12px;
                padding: 0;
            }
            #home_featured2 h2 a {
                color: #000;
                display: block;
                font-size: 24px;
                max-width: 270px;
                padding: 0 10px;
                text-align: left;
            }
            #home_featured2 h3 a {
                color: #333;
            }
            #home_featured2 p {
                margin:0;
                padding:0 10px;
            }
            #home_featured2 p strong {
                display:block;
                margin-bottom:10px;
                font-size:22px;
                font-weight:400;
                color:#4A4A4A;
                background-color:#E0E0E0
            }

            #container {
                width:800px;
                height: 350px;
                position:relative;
                border-top:5px solid #999;
                border-bottom:5px solid #999;
                margin:0 auto
            }
            #slide1 span,
            #slide2 span,
            #slide3 span {
                background:url(http://assets.over-blog-kiwi.com/themes/32/images/contentBg.png) repeat top left transparent;
                position:absolute;
                bottom:20px;
                right:20px;
                padding:10px
            }
            #slide1 .slideheading,
            #slide2 .slideheading,
            #slide3 .slideheading {
                font-family: "ChunkFive Regular", Georgia, serif;
                color: #FFF!important;
                font-size: 35px;
                letter-spacing:2px;
                margin:0 0 10px
            }
            #slide1 p,
            #slide2 p,
            #slide3 p {
                font-family: Artifika,Georgia,serif;
                color:#FFF;
                margin:0
            }

            .nav li:hover li ul,.nav li.sfHover li ul,ul.nav li li:hover li ul,ul.nav li li.sfHover li ul {
                top:-999em
            }
            .nav li li:hover ul,ul.nav li li.sfHover ul,ul.nav li li li:hover ul,ul.nav li li li.sfHover ul {
                left:10em;
                top:0
            }
            .nav li.active a,.nav li:hover,.nav li.sfHover,.nav a:focus,.nav a:hover,.nav a:active {
                background:#e0e0e0
            }
            .nav li li,.nav li li li {
                background:#eee url(http://assets.over-blog-kiwi.com/themes/32/images/bg.png) repeat
            }
            .nav ul .sf-sub-indicator,
            .nav ul a:focus>.sf-sub-indicator,
            .nav ul a:hover>.sf-sub-indicator,
            .nav ul a:active>.sf-sub-indicator,
            .nav ul li:hover>a>.sf-sub-indicator,.nav ul li.sfHover>a>.sf-sub-indicator {
                background-position:-10px 0
            }
            .sidebar .subnav ul,
            #home_featured2 ul,
            #gallery ul {
                list-style:none;
                margin:0;
                padding:0
            }
            #home_featured2 li.last,
            #gallery li.last {
                margin-right:0
            }


            /*----- UItoTop jQuery Plugin 1.1 | http://www.mattvarone.com/web-design/uitotop-jquery-plugin/ ------ */
            #toTop {
                display:none;
                text-decoration:none;
                position:fixed;
                bottom:10px;
                right:10px;
                overflow:hidden;
                width:51px;
                height:51px;
                border:none;
                text-indent:-999px;
                background:url(http://assets.over-blog-kiwi.com/themes/32/images/ui.totop.png) no-repeat left top;
            }
            .withsharebar #toTop {
                bottom: 50px;
            }
            #toTopHover {
                background:url(http://assets.over-blog-kiwi.com/themes/32/images/ui.totop.png) no-repeat left -51px;
                width:51px;
                height:51px;
                display:block;
                overflow:hidden;
                float:left;
                opacity:0;
                -moz-opacity:0;
                filter:alpha(opacity=0)
            }
            #toTop:active,#toTop:focus {
                outline: none
            }

            .ob-text h3,
            .ob-text h4,
            .ob-text h5 {margin: 15px 0 5px !important;}
            .ob-text h3 {font-size: 18px; font-weight: normal !important;}
            .ob-text h4 {font-size: 16px; font-weight: normal !important;}
            .ob-text h5 {font-size: 14px; font-weight: bold !important;}

            .ob-text ol,
            .ob-text ul {
                margin:0 0 0 25px;
            }

            .ob-text ol li:last-child,
            .ob-text ul li:last-child {margin-bottom: 15px;}

            .ob-text ol li,.ob-text ul li {
                list-style:disc;
                margin:3px 0;
            }
            .ob-text ol li {
                list-style:decimal;
            }
            .bloc-comment {
                margin-top: 30px;
            }
            .m-social-networks .google,
            .m-social-networks .twitter,
            .m-social-networks .facebook,
            .m-social-networks .pinterest {
                float: left;
            }
            .m-social-networks .facebook,
            .m-social-networks .pinterest {
                margin-right: 30px;
            }
            .m-social-networks .ob-share {
                margin-top: -1px;
            }
            #archivelist ul {
                margin: 3px 0 3px 18px;
            }
            #archivelist ul li {
                margin:6px 0;
            }
            .grid .post h1 {
                font-size:2em;
                font-weight:bold;
                text-align:left;
            }
            .grid .meta {
                color:#666;
                font-weight:bold;
                margin: 5px 0;
            }
            .grid .entry {
                margin: 40px 0 15px;
                width: 600px;
            }
            .bio .title {
                font-family: "Cagliostro", sans-serif;
                font-size: 26px;
                font-weight: 400;
                line-height: normal;
                margin: 0 0 15px;
                padding: 0;
            }
            .m-bio {
                max-width:480px;
            }
            .m-bio .ob-media-left {
                margin:0 10px 10px 0;
            }
            .m-bio img {
                background:#DCDADA;
                border:1px solid #999;
                margin-top:2px;
                padding: 5px;
            }

            .ob-section img {
                display:inline;
            }
            .ob-slideshow .ob-img {
                width: 100%;
            }
            .container_12 {
                margin:10px 0 14px 0;
            }
            .post-img-max {
                max-height:125px;
                max-width:314px;
            }
            #pagination {
                display: block;
            }
            #pagination a,
            #pagination a:visited {
                color: #A2A2A2;
                font-family: 'Artifika',Verdana,Geneva,sans-serif;
                font-size: 15px!important;
                height: 40px;
                text-decoration: none;
                text-transform: uppercase;
                -webkit-transition: color 200ms;
                   -moz-transition: color 200ms;
                    -ms-transition: color 200ms;
                     -o-transition: color 200ms;
                        transition: color 200ms;
            }
            #pagination a:hover {
                color: #FFF;
            }
            #pagination .prev {
                background: url(http://assets.over-blog-kiwi.com/themes/32/images/futured_button_left.png) no-repeat left top;
                float: left;
                padding: 19px 0 0 {% if Blog.Lang == 'fr' %}33px{% else %}25px{% endif %};
                text-align: center;
                width: 130px;
            }
            #pagination .return {
                position:absolute;
                left: 48%;
            }
            #pagination .next {
                background: url(http://assets.over-blog-kiwi.com/themes/32/images/futured_button.png) no-repeat left top;
                float: right;
                padding: 19px 47px 0 {% if Blog.Lang == 'fr' %}27px{% endif %};
                text-align: left;
                width: {% if Blog.Lang == 'fr' %}83px{% else %}62px{% endif %};
            }

            .ob-repost {
                border: 1px solid #DDD;
                -webkit-border-radius: 5px;
                   -moz-border-radius: 5px;
                        border-radius: 5px;
                font-family: "Cagliostro", sans-serif;
                font-weight: bold;
                padding: 0.5em 0.8em;
                text-align: center;
            }
            .ob-repost .ob-link {
                text-decoration: underline;
            }
            .entry {
                margin-top: 25px;
                padding-bottom:12px !important;
            }
            .entry,.m-slides span,
            #home_featured21 .block {
                word-wrap: break-word;
            }
            .ob-section {
                width: 100%;
            }
            .ob-section .twitter-tweet-rendered {
                margin-left: auto!important;
                margin-right: auto!important;
            }
             .ob-section h2 {
                border-bottom: 0;
                font-size: 22px;
                font-weight: bold;
            }

             .ob-section h2,
             .ob-section h3,
             .ob-section h4 {
                margin:10px 0 15px;
            }

             .ob-section p {
                margin-bottom: 15px;
            }
            .ob-section li p {
                margin-bottom: 0;
            }
            .ob-section-text img {
                max-width: 100%;
            }

            /* Section File */
            .ob-section-file .ob-ctn {background: #EEE; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); display: block; max-width: 100%}
            .ob-section-file .ob-ctn a.ob-link,
            .ob-section-file .ob-c a.ob-link:visited {color: #A3443E; text-decoration: underline; max-width: 513px;}
            .ob-section-file .ob-ctn a.ob-link:hover {color: #A3443E; text-decoration: none;}
            .ob-section-file .ob-desc {margin-top: 5px;}

            /* Section Quote */
            .ob-section-quote {background: #EEE; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); margin-bottom: 20px;}
            .ob-section-quote .ob-quote p {color: #333; min-height: 20px; margin-bottom: 40px;}
            .ob-section-quote .ob-quote p:before {color: #A3443E; margin: -64px 0 0 -85px;}
            .ob-section-quote .ob-quote p:after {color: #A3443E; margin: -16px 0 0 0;}
            .ob-section-quote p.ob-author,
            .ob-section-quote p.ob-source {background: #E2E2E2; color: #A3443E; font-size: 14px; font-style: italic; margin: 25px 0 0; max-height: 19px; max-width: 510px; overflow: hidden; padding-bottom: 0\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}
            .ob-section-quote p.ob-author:hover,
            .ob-section-quote p.ob-source:hover,
            .ob-section-quote p.ob-author .ob-link:hover,
            .ob-section-quote p.ob-source .ob-link:hover {color: #333 !important;}

            /* Section Link */
            .ob-section-link .ob-ctn {background: #EEE; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
            .ob-section-link .ob-media-left {margin: 0;}
            .ob-section-link .ob-img {float: left; width: 170px;}
            .ob-section-link p.ob-title {color: #333; margin-left: 20px; max-height: 37px; ovearflow: hidden;}
            .ob-section-link p.ob-title .ob-link {color: #A3443E;}
            .ob-section-link p.ob-snippet {color: #333; margin-bottom: 35px; margin-left: 20px; max-height: 20px; overflow: hidden;}
            .ob-section-link p.ob-url {background: #E2E2E2; color: #A3443E; margin: 0; max-height: 19px; max-width: 376px; padding-bottom: 0\9;}
            .ob-section-link .ob-desc {margin-top: 5px;}
            .ob-section-link p.ob-url:hover,
            .ob-section-link .ob-url .ob-link:hover {color: #333 !important;}

            /* twitter box */
            .ob-section .twitter-tweet-rendered,
            .ob-section .twt-border {max-width: 100% !important;}

            .ob-text pre {
                background: #FCFCFC;
                border: 1px dashed #CCC;
                padding: 15px;
                overflow: auto;
                white-space: -webkit-pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -ms-pre-wrap;
                white-space: -o-pre-wrap;
                white-space: pre-wrap;
                word-wrap: break-word;
            }
            .ob-link .ob-img {
                padding-right: 12px;
            }
            /* section video */
            .ob-section-video iframe,
            .ob-section-video embed,
            .ob-section-video object {
                max-height: 346px; 
                width: 100%;
            }

            /* Section HTML */
            .ob-section-html iframe,
            .ob-section-html object,
            .ob-section-html embed {
                max-width: 100%
            }


            .ob-section-audio .obsoundplayer .obsoundplayername {
                height: 31px;
                overflow: hidden;
                width: 140px;
            }
            .ob-desc {
                font-style: italic;
                font-weight: bold;
            }
            input[type="submit"],
            input[type="reset"] {
                cursor: pointer;
                text-transform: uppercase;
            }
            .container_12 .post {
                float: left;
                width: 600px;
            }
            .container_12 .post-sidebar {
                float: right;
                margin-left: 60px;
                width: 300px;
            }

            .footer {
                font-size: 12px;
                margin: 30px auto;
                overflow: hidden;
            }
            .footer .right {
                float: right;
            }
            .footer .right a {
                -webkit-transition: color 300ms ease-out;
                   -moz-transition: color 300ms ease-out;
                    -ms-transition: color 300ms ease-out;
                     -o-transition: color 300ms ease-out;
                        transition: color 300ms ease-out;
            }
            .footer .right a:hover {
                color: #ED8B00;
            }
        </style>
        <!--[if IE]>
            <style>#header h1 a:hover{font-size: 75px; }</style>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>
        <div id="fb-root"></div>
        <div class="container">
            <!-- shortcut:[Header content] -->
            <header class="header">
                <h1 class="blog-title">
                    <a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Blog.Title }}</a>
                </h1>

                <p class="description">
                    <strong>{{ Blog.Description }}</strong>
                </p>
            </header>

            {% if Custom('custom_hide_widget_search_form') == false or Custom('custom_tagline_text') is not empty %}
                <div class="headline">
                    <!-- Search form -->
                    {% if Custom('custom_hide_widget_search_form') == false %}
                        <form class="search" action="/search" method="post">
                            <fieldset>
                                <input type="text" name="q" placeholder="{{ Lang.Get('Search our blog...') }}" value="{{ Search }}" />
                                <input type="submit" name="go" id="go" value="{{ Lang.Get('Search') }}" />
                            </fieldset>
                        </form>
                    {% endif %}
                    {% if Custom('custom_tagline_text') is not empty %}
                        <p id="tagline2">{{ Custom('custom_tagline_text') }}</p>
                    {% endif %}
                    <br class="clear" />
                </div>
            {% endif %}

            <!-- menu -->
            <nav class="menu">
                <ul class="nav">
                    <!-- Index -->
                    <li {% if isIndex %} class="active" {% endif %}>
                        <a {% if isIndex %} {% endif %} href="{{ Blog.Url }}">{{ Lang.Get('Home') }}</a>
                    </li>

                    {% if Blog.PostsTags is not empty %}
                        <!-- Tags -->
                        <li>
                            <a href="#">{{ Lang.Get('Tags') }}</a>
                            <ul>
                                {% list Blog.PostsTags(Custom('tag_number')|default('10'), 'SORT_POSTS_NUMBER_DESC') %}
                                    <li {% if isTag and Tag.Title == PostsTag.Title %} class="active" {% endif %}>
                                        <a href="{{ PostsTag.Url }}">{{ PostsTag.Title }}</a>
                                    </li>
                                {% endlist %}
                            </ul>
                        </li>
                    {% endif %}
                    
                    <!-- Pages -->
                    {% list Blog.ListPages %}
                        {% if loop.first %}
                            <li>
                                <a href="#">{{ Lang.Get('Pages') }}</a>
                                <ul>
                        {% endif %}
                                    <li>
                                        <a href="{{ ListPage.Url }}">{{ ListPage.Title }}</a>
                                    </li>
                        {% if loop.last %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endlist %}
                    <li class="last">
                        <a href="{{ Blog.url }}/contact">{{ Lang.Get('Contact') }}</a>
                    </li>
                </ul>
            </nav>

            {% if isSpecial or isSingle %}
                <div class="box">
                    <div class="container_12">
                        <div class="content">
                            {% if isSpecial %}
                                {{ SpecialContent }}
                            {% else %}
                                <h2 class="title">
                                    {% if Post.Title is not empty %}
                                        {{ Post.Title }}
                                    {% else %}
                                        {{ Lang.Get('Published from') }}
                                        {% list Post.Sources %}
                                            {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                        {% endlist %}
                                    {% endif %}
                                </h2>
                                <p class="meta">
                                    {% if Post.Author and Post.Author is not empty %}
                                        {{ Lang.Get('Posted by') }} {{ Post.Author }} {{ Lang.Get('on') }}
                                    {% else %}
                                        {{ Lang.Get('Posted on') }}
                                    {% endif %}
                                    {{ Post.Date|datel(Lang.Get('Default date format')) | title }}, {{ Post.Date|date("H:ia") }}
                                </p>
                                {% list Post.Tags %}
                                    {% if loop.index == 1 %}
                                        <p class="meta">
                                            <strong>{{ Lang.Get('Tags:') }}</strong>
                                    {% endif %}
                                    <a href="{{ Tag.Url }}" title="{{ Tag.Title }}">#{{ Tag.Title }}</a>{% if not loop.last %}, {% endif %}
                                    {% if loop.length > 0 and loop.last %}
                                         </p>
                                    {% endif %}
                                {% endlist %}

                                <div class="entry">
                                    {{ Post.Body }}

                                    <div class="ob-section m-social-networks clear">
                                        <h6>{% if isPage %}{{ Lang.Get('Share this page') }}{% else %}{{ Lang.Get('Share this post') }}{% endif %}</h6>
                                        {% if Custom('share_service') != 'None' %}
                                            {% if Custom('share_service') == 'Google +' %}
                                                <div class="google">
                                                    <div class="g-plusone" data-size="medium" data-href="{{ Post.Permalink }}"></div>
                                                </div>
                                            {% elseif Custom('share_service') == 'Twitter' %}
                                                <div class="twitter">
                                                    <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
                                                </div>
                                            {% elseif Custom('share_service') == 'Facebook' %}
                                                <div class="facebook">
                                                    <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
                                                </div>
                                            {% elseif Custom('share_service') == 'Pinterest' %}
                                                <div class="pinterest">
                                                    <a href="http://pinterest.com/pin/create/button/?url={{ Post.Permalink }}&media={{ Post.Cover }}&description={{ Post.Snippet }}" class="pin-it-button" count-layout="horizontal">
                                                        <img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
                                                    </a>
                                                </div>
                                            {% elseif Custom('share_service') == 'All' or Custom('share_service') is empty %}
                                                <div class="google">
                                                    <div class="g-plusone" data-size="medium" data-href="{{ Post.Permalink }}"></div>
                                                </div>
                                                <div class="twitter">
                                                    <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
                                                </div>
                                                <div class="facebook">
                                                    <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
                                                </div>
                                                <div class="pinterest">
                                                    <a href="http://pinterest.com/pin/create/button/?url={{ Post.Permalink }}&media={{ Post.Cover }}&description={{ Post.Snippet }}" class="pin-it-button" count-layout="horizontal" always-show-count="true">
                                                        <img src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="ob-share">
                                            {{ Post.RepostButton }}
                                        </div>
                                    </div>
                                </div>
                                {% if Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
                                    <!-- Pagination -->
                                    <div id="pagination">
                                         {% if Navigation.PreviousPost is not empty %}
                                            <a href="{{ Navigation.PreviousPost.Permalink }}" class="btn prev" title="{{ Lang.Get('Go to') }} {% if Navigation.PreviousPost.Title is not empty %}&quot;{{ Navigation.PreviousPost.Title|truncate(30) }}&quot;{% else %}{{ Lang.Get('previous post') }}{% endif %}">{{ Lang.Get('Previous') }}</a>
                                        {% endif %}

                                        {% if Navigation.NextPost is not empty %}
                                            <a href="{{ Navigation.NextPost.Permalink }}" class="btn next" title="{{ Lang.Get('Go to') }} {% if Navigation.NextPost.Title is not empty %}&quot;{{ Navigation.NextPost.Title|truncate(30) }}&quot;{% else %}{{ Lang.Get('next post') }}{% endif %}">{{ Lang.Get('Next') }}</a>
                                        {% endif %}
                                        <div class="clear"></div>
                                    </div>
                                {% endif %}
                                {% if not isPage and Post.ShowComments is not empty %}
                                    <div class="bloc-comment" id="comments">
                                        <!-- Comments -->
                                        <div class="item-comments">
                                            {% if Custom("comment") == "Facebook" %}
                                                <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="10" data-width="600" data-colorscheme="{{ Custom('facebook_comments_theme_color')|default('Light')|lower }}"></div>
                                            {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                                <div id="disqus_thread"></div>
                                                <script type="text/javascript">
                                                    var disqus_shortname = '{{ Custom('comment_disqus') }}';
                                                    (function() {
                                                        var dsq = document.createElement('script');  dsq.type = 'text/javascript';  dsq.async = true;
                                                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                                    })();
                                                </script>
                                                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                            {% else %}
                                                <h6>{{ Lang.Get('Comment this post') }}</h6>
                                                {{ Post.Comments }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="sidebar">
                            {% if Custom('custom_hide_widget_about_blog') == false or Custom('custom_hide_widget_biography') == false %}
                                <div id="featured">
                                    <ul>
                                        {% if Custom('custom_hide_widget_about_blog') == false %}
                                            <li>
                                                <h3>{{ Lang.Get('About this blog') }}</h3>
                                                {% if Blog.Avatar is not empty %}
                                                    <p class="imgholder">
                                                        <a href="{{ Blog.Avatar }}" class="avatar" title="{{ Blog.Title }}">
                                                            <img src="{{ Blog.Avatar | resize(210,90) | crop }}" width="210" height="90" alt="{{ Blog.Title }}" />
                                                        </a>
                                                    </p>
                                                {% endif %}
                                                <p>{{ Blog.Description }}</p>
                                            </li>
                                        {% endif %}
                                        {% if Custom('custom_hide_widget_biography') == false %}
                                            <li>
                                                <h3>
                                                    {% if Blog.Owner.Nickname is not empty %}
                                                        {{ Blog.Owner.Nickname }}
                                                    {% else %}
                                                        {{ Lang.Get('About me') }}
                                                    {% endif %}
                                                </h3>
                                                {% if Blog.Owner.Avatar is not empty %}
                                                    <p class="imgholder">
                                                        <a href="{{ Blog.Owner.Avatar }}" class="avatar" title="{{ Blog.OWner.Nickname }}">
                                                            <img src="{{ Blog.Owner.Avatar | resize(210,90) | crop }}" width="210" height="90" alt="{{ Blog.Title }}" />
                                                        </a>
                                                    </p>
                                                {% endif %}
                                                <p>{{ Blog.Owner.Bio }}</p>
                                                {% if not isSpecial %}
                                                    <p class="readmore">
                                                        <a href="{{ Blog.Url }}/contact">{{ Lang.Get('Contact me') }} </a>
                                                    </p>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if Custom('custom_hide_widget_follow_us') == false %}
                                <div class="subnav">
                                    <h3>{{ Lang.Get('Follow us') }}</h3>
                                    <ul>
                                        {% if Custom('facebook_username') is not empty %}
                                            <li><a href="http://facebook.com/{{ Custom('facebook_username') }}" target="_blank">Facebook</a></li>
                                        {% endif %}
                                        {% if Custom('twitter_username') is not empty %}
                                            <li><a href="http://twitter.com/{{ Custom('twitter_username') }}" target="_blank">Twitter</a></li>
                                        {% endif %}
                                        {% if Custom('flickr_username') is not empty %}
                                            <li><a href="http://flickr.com/{{ Custom('flickr_username') }}" target="_blank">Flickr</a></li>
                                        {% endif %}
                                        <li><a href="{{ Blog.RssUrl }}" target="_blank">RSS</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            {% else %}
                {% if isIndex %}
                    <!-- shortcut:[Slider] -->
                    <div class="slideshow">
                        <div id="mySlides">
                            {% if Custom('pinned_tag') is not empty %}
                                {% list Blog.TaggedPosts(Custom('pinned_tag')) %}
                                    <div class="m-slides">
                                        {% if TaggedPost.Cover is not empty %}
                                            <img src="{{ TaggedPost.Cover|resize(960, 426)|crop }}" alt="{{ TaggedPost.Title }}" />
                                        {% elseif Custom('custom_home_slider_default_image') is not empty %}
                                            <img src="{{ Custom('custom_home_slider_default_image')|resize(960, 426)|crop }}" alt="{{ TaggedPost.Title }}" />
                                        {% else %}
                                            <img src="http://assets.over-blog-kiwi.com/themes/32/images/slider3.jpg" alt="{{ TaggedPost.Title }}" />
                                        {% endif %}
                                        <span>
                                            {% if TaggedPost.Title is not empty %}
                                                <b class="slideheading">{{ TaggedPost.Title }}</b>
                                            {% endif %}
                                            {{ TaggedPost.Snippet }}
                                            <a href="{{ TaggedPost.Permalink }}" title="{{ TaggedPost.Title }}" class="readmore">{{ Lang.Get('Read More!') }}</a>
                                        </span>
                                    </div>
                                {% endlist %}
                            {% else %}
                                {% list Blog.Posts(10) %}
                                    <div class="m-slides">
                                        {% if Post.Cover is not empty %}
                                            <img src="{{ Post.Cover|resize(960, 426)|crop }}" alt="{{ Post.Title }}" />
                                        {% elseif Custom('custom_home_slider_default_image') is not empty %}
                                            <img src="{{ Custom('custom_home_slider_default_image')|resize(960, 426)|crop }}" alt="{{ Post.Title }}" />
                                        {% else %}
                                            <img src="http://assets.over-blog-kiwi.com/themes/32/images/slider3.jpg" alt="{{ Post.Title }}" />
                                        {% endif %}
                                        <span>
                                            {% if Post.Title is not empty %}
                                                <b class="slideheading">{{ Post.Title }}</b>
                                            {% endif %}
                                            {{ Post.Snippet }}
                                            <a href="{{ Post.Permalink }}" title="{{ Post.Title }}" class="readmore">{{ Lang.Get('Read More!') }}</a>
                                        </span>
                                    </div>
                                {% endlist %}
                            {% endif %}
                        </div>

                        <section class="jFlowPrev">
                            <div></div>
                        </section>
                        <section class="jFlowNext">
                            <div></div>
                        </section>

                        <div id="myController">
                            {% if Custom('pinned_tag') is not empty %}
                                {% list Blog.TaggedPosts(Custom('pinned_tag')) %}
                                    <span class="jFlowControl"></span>
                                {% endlist %}
                            {% else %}
                                {% list Blog.Posts(10) %}
                                    <span class="jFlowControl"></span>
                                {% endlist %}
                            {% endif %}
                        </div>
                    </div>

                    {% if Custom('custom_hide_widget_biography') == false %}
                        </div>
                            <div class="callout about">
                                <div class="calloutcontainer">
                                    {% if Blog.Owner.Nickname is not empty and Blog.Owner.Bio is not empty %}
                                        <div class="container bio">
                                            <p class="title">{{ Lang.Get('About me') }}</p>
                                            <a title="{{ Lang.Get('Contact') }} {{ Blog.Owner.Nickname }}" href="/contact" class="more">{{ Lang.Get('Contact') }}</a>
                                            <p class="m-bio">
                                                {% if Blog.Owner.Avatar is not empty %}
                                                    <a href="{{ Blog.Owner.Avatar }}" class="avatar ob-pull-left ob-media-left" title="{{ Blog.Owner.Nickname }}">
                                                        <img class="m-avatar-img" src="{{ Blog.Owner.Avatar|resize(100,80)|crop }}" alt="" width="100" height="80" />
                                                    </a>
                                                {% endif %}
                                                {{ Blog.Owner.Bio }}
                                            </p>
                                        </div>
                                    {% endif %}
                                    <div class="clear"></div>
                                    <div class="calloutoverlay"></div>
                                    <div class="calloutoverlaybottom"></div>
                                </div>
                            </div>
                        <div class="container">
                    {% endif %}
                {% endif %}
                <div id="home_featured2">
                    {% if isSearch %}
                        <h2>{{ Lang.Get('Search results for') }} {{ Search.Keyword }}</h2>
                    {% elseif isTag %}
                        <h2>{{ Lang.Get('Post(s) with') }} #{{ Tag.Title }} tag</h2>
                    {% endif %}
                    <ul>
                        {% list Posts %}
                            <li>
                                <div class="imgholder">
                                    <a title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot; {{ Post.Title }}&quot; {% else %}{{ Lang.Get('this post') }}{% endif %}" href="{{ Post.PermaLink }}">
                                        {% if Post.Cover is not empty %}
                                            <img class="ob-media ob-img ob-pull-left ob-media-left" src="{{ Post.Cover|resize(275,145)|crop }}" alt="" width="275" height="145" />
                                        {% elseif Custom('custom_default_post_thumbnail') is not empty %}
                                            <img class="ob-media ob-img ob-pull-left ob-media-left" src="{{ Custom('custom_default_post_thumbnail')|resize(275, 145)|crop }}" alt="" width="275" height="145" />
                                        {% else %}
                                            <img class="ob-media ob-img ob-pull-left ob-media-left" src="http://assets.over-blog-kiwi.com/themes/32/images/thumb.jpg" width="275" height="145" alt="" />
                                        {% endif %}
                                    </a>
                                </div>
                                <h2 class="post-title">
                                    <a title="{{ Post.Snippet }}" href="{{ Post.PermaLink }}">
                                        {% if Post.Title is not empty %}
                                            {{ Post.Title }}
                                        {% else %}
                                            {{ Lang.Get('Published from') }}
                                            {% list Post.Sources %}
                                                {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }}{% endif %}
                                            {% endlist %}
                                        {% endif %}
                                    </a>
                                </h2>
                                <p class="entry">
                                    {{ Post.Snippet }}
                                </p>
                            </li>
                            {% if loop.index % 3 == 0 %}
                                <div class="clear"></div>
                            {% endif %}
                        {% else %}
                            <p>{{ Lang.Get('No result for this expression') }}</p>
                        {% endlist %}
                    </ul>
                    <!-- Pagination -->
                    {% if Navigation.PreviousPage is not empty or Navigation.NextPage is not empty %}
                        <div id="pagination">
                            {% if Navigation.PreviousPage is not empty %}
                                <a href="{{ Navigation.PreviousPage }}" class="prev">{{ Lang.Get('Previous') }}</a>
                            {% endif %}

                            {% if Navigation.NextPage is not empty %}
                                <a href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next') }} </a>
                            {% endif %}
                            <div class="clear"></div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="callout">
            <div class="calloutcontainer">
                <div class="container">
                    <div class="footbox">
                        <!-- Archives -->
                        {% if Custom('custom_hide_widget_blog_archive') == false %}
                            {% if Blog.Archives is not empty %}
                                <h3>{{ Lang.Get('Blog archives') }}</h3>
                                <ul id="archivelist">
                                    {% list Blog.Archives %}
                                        <li>
                                            <a href="#" class="plustext" onclick="javascript: return switch_arch('{{Archive.Year}}')">{{ Archive.Year }}</a>
                                            <ul id="arch_{{Archive.Year}}" class="arch_month">
                                            {% list Archive.Months %}
                                                {% if Month.PostCount > 0 %}
                                                    <li><a href="{{Month.Url}}">{{ Lang.Get(Month.Name) }}</a> ({{ Month.PostCount }})</li>
                                                {% endif %}
                                            {% endlist %}
                                            </ul>
                                        </li>
                                    {% endlist %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if Custom('custom_hide_widget_follow_us') == false %}
                        <div class="footbox last">
                            <!-- Social networks -->
                            <h3>{{ Lang.Get('We are social!') }}</h3>
                            <div id="social">
                                {% if Custom('facebook_username') is not empty %}
                                    <a href="http://www.facebook.com/{{ Custom('facebook_username') }}" class="s3d facebook" target="_blank">
                                        Facebook <span class="icons facebook"></span>
                                    </a>
                                {% endif %}
                                {% if Custom('twitter_username') is not empty %}
                                    <a href="http://www.twitter.com/{{ Custom('twitter_username') }}" class="s3d twitter" target="_blank">
                                        Twitter <span class="icons twitter"></span>
                                    </a>
                                {% endif %}
                                {% if Custom('flickr_username') is not empty %}
                                    <a href="http://www.flickr.com/{{ Custom('flickr_username') }}" class="s3d flickr" target="_blank">
                                        Flickr <span class="icons flickr"></span>
                                    </a>
                                {% endif %}
                                {% if Custom('youtube_username') is not empty %}
                                    <a href="http://www.youtube.com/user/{{ Custom('youtube_username') }}" class="s3d youtube" target="_blank">
                                        Youtube <span class="icons youtube"></span>
                                    </a>
                                {% endif %}
                                <a href="{{ Blog.RssUrl}}" class="s3d rss" target="_blank">
                                    Rss <span class="icons rss"></span>
                                </a>
                                <div class="clear"></div>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Custom tags group 3 -->
                    {% if Custom('custom_hide_widget_last_post') == false %}
                        <div class="latestgallery">
                            <h3>{{ Lang.Get('Last posts') }}</h3>
                            <ul>
                                {% list Blog.Posts(4) %}
                                    <li>
                                        <a title="{{ Post.Snippet}}" href="{{ Post.PermaLink }}">
                                            {% if Post.Cover is not empty %}
                                                <img  src="{{ Post.Cover|resize(150, 95)|crop }}" alt="{{ Post.Title }}" width="150" height="95" />
                                            {% elseif Custom('custom_default_post_thumbnail') is not empty %}
                                                <img src="{{ Custom('custom_default_post_thumbnail')|resize(150, 95)|crop }}" alt="{{ TaggedPost.Title }}" width="150" height="95" />
                                            {% else %}
                                                <img src="http://assets.over-blog-kiwi.com/themes/32/images/thumb.jpg" width="150" height="95" alt="{{ TaggedPost.Title }}" />
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endlist %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="clear"></div>
                    <div class="calloutoverlay"></div>
                    <div class="calloutoverlaybottom"></div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                {% if Custom('custom_footer_left') is not empty %}
                    <p class="left">{{ Custom('custom_footer_left') }}</p>
                {% endif %}
                <p class="right">
                    {{ Lang.Get('Hosted by') }} <a href="http://www.over-blog.com" target="_blank">Overblog</a>
                </p>
            </div>
        </footer>

        <script type="text/javascript">
            {% if Custom('custom_hide_widget_archives') == false %}
                // Archives
                function switch_arch(year) {
                    'use strict';
                    var archiveYear, archiveMonths, displayStyle;
                    displayStyle = '';
                    archiveYear = document.getElementById('arch_' + year);
                    if (typeof (archiveYear) !== 'undefined') {
                        if (archiveYear.style.display !== 'none') {
                            // Hide years without months
                            archiveMonths = archiveYear.getElementsByTagName('li');
                            if (!archiveMonths.length) {
                                archiveYear.parentNode.style.display = 'none';
                            }
                            // Onclick management
                            displayStyle = 'none';
                        }
                        archiveYear.style.display = displayStyle;
                    }
                    return false;
                }
                {% list Blog.Archives %}
                    {% if Archive.Year != "now"|date("Y") %}
                        switch_arch('{{Archive.Year}}');
                    {% endif %}
                {% endlist %}
            {% endif %}

            // Facebook button
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
                    fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            // Twitter button
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src="//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,"script","twitter-wjs");

            // Google + button
            window.___gcfg = {lang: '{{ Blog.Lang }}'};

            (function() {
                var po = document.createElement('script');
                    po.type = 'text/javascript';
                    po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(po, s);
            })();

            {% if Custom('google_analytics') is not empty %}
                // Google Analytics
                window.google_analytics_uacct = '{{ Custom('google_analytics') }}';

                var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', '{{ Custom('google_analytics') }}']);
                    _gaq.push(['_trackPageview']);
                    _gaq.push(['_trackPageLoadTime']);
                (function() {
                    var ga = document.createElement('script');
                        ga.type = 'text/javascript';
                        ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(ga, s);
                })();
            {% endif %}
        </script>

        {% if Custom('share_service') == 'All' or Custom('share_service') is empty or Custom('share_service') == 'Pinterest' %}
            <!-- Pinterest button -->
            <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
        {% endif %}

        <script type="text/javascript">
            jQuery(document).ready(function() {
                // Fancy box
                $(".ob-section-images a, .ob-link-img").attr("rel", "fancybox");
                $("a[rel=fancybox], .avatar").fancybox({
                    'overlayShow'   : true,
                    'titlePosition' : 'over',
                    'transitionIn'  : 'fadin',
                    'transitionOut' : 'fadin',
                    'type'          : 'image'
                });

                (function() {
                    {% if Custom('custom_hide_widget_search_form') == false %}
                        // HTML5 placeholder fallback
                        function isPlaceholderSupported() {
                            'use strict';
                            var o = document.createElement('input');
                            return 'placeholder' in o;
                        }
                        function initPlaceHolder(el){
                            if(jQuery.trim(el.val()) === '' || jQuery.trim(el.val()) === el.attr('placeholder')){
                                el.val(el.attr('placeholder'));
                                el.css({'color': '#999'});
                            }
                        }
                        function togglePlaceholder(el, submitMode) {
                            'use strict';
                            var v = jQuery.trim(el.val()), p = el.attr('placeholder');
                            if (v === '' && !submitMode) {
                                el.val(p);
                                el.css({'color': '#999'});
                            } else if (v === p) {
                                el.val('');
                            }
                        }
                        function emulatePlaceholder(form) {
                            'use strict';
                            if (!isPlaceholderSupported()) {
                                jQuery('input[placeholder]', form).each(function () {
                                    initPlaceHolder(jQuery(this));
                                }).focus(function () {
                                    togglePlaceholder(jQuery(this), false);
                                }).blur(function () {
                                    initPlaceHolder(jQuery(this));
                                });
                                form.submit(function () {
                                    jQuery(this).find('input[placeholder]').each(function () {
                                        togglePlaceholder(jQuery(this), true);
                                    });
                                });
                            }
                        }
                    {% endif%}
                })();
            });
        </script>
    </body>
</html>
