<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ Blog.Lang | default('en') }}">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title, description, keyword, robots -->
        {% if isSingle%}
            {% list Posts %}
            <title>{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }} - {% endif %}{{Blog.Title}}</title>
            <meta name="description" content="{{ Post.Snippet }}" />
            <meta name="keywords" content="{% list Post.Tags %}{{ Tag.Title }}{% if loop.last == false %}, {% endif %}{% endlist %}" />
                <meta name="robots" content="index,follow" />
            {% endlist %}
        {% elseif isTag and Tag is not empty %}
            <title>{{ Tag.Title|title }} - {{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Tag.Title|title }}" />
            <meta name="robots" content="index,follow" />
        {% elseif isSearch and Search is not empty %}
            <title>{{ Search|title }} - {{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Search|title }}" />
            <meta name="robots" content="noindex" />
        {% else %}
            <title>{{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="robots" content="index,follow" />
        {% endif %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
        <!-- Social setting : Facebook, G+ .. -->
        <meta property="og:site_name" content="{{ Blog.Title }}" />
        <meta property="og:type" content="blog" />
        <meta property="fb:app_id" content="{% if Custom('facebook_appid') is not empty %}{{ Custom('facebook_appid') }}{% endif %}" />
        <meta itemprop="name" content="{{ Blog.Title }}" />
        
        {% if isSingle %}
            {% list Posts %}
                <meta property="og:title" content="{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }}{% endif %}"/>
                <meta property="og:description" content="{{ Post.Snippet }}" />
                <meta itemprop="description" content="{{ Post.Snippet }}" />
                <meta property="og:url" content="{{ Post.Permalink }}" />
                {% if Post.Cover %}
                    <meta property="og:image" content="{{ Post.Cover }}"/>
                    <meta itemprop="image" content="{{ Post.Cover }}" />
                {% endif %}
            {% endlist %}
            <meta property="og:type" content="overblogkiwi:see" />
        {% else %}
            <meta property="og:title" content="{{ Blog.Title }}"/>
            <meta property="og:description" content="{{ Blog.Description }}" />
            <meta itemprop="description" content="{{ Blog.Description }}" />
            {% if Blog.Avatar %}
                <meta property="og:image" content="{{ Blog.Avatar }}"/>
                <meta itemprop="image" content="{{ Blog.Avatar }}" />
            {% else %}
                {% list Posts %}
                    {% if loop.index == 1 and Post.Cover %}
                        <meta property="og:image" content="{{ Post.Cover }}"/>
                        <meta itemprop="image" content="{{ Post.Cover }}" />
                    {% endif %}
                {% endlist %}
            {% endif %}
            {% if isSearch %}
                <meta property="og:type" content="overblogkiwi:search" />
            {% else %}
                <meta property="og:type" content="overblogkiwi:visit" />
            {% endif %}
        {% endif %}

        <!-- shortcut:[Includes] -->
        <!-- favicon -->
        {% if Blog.FaviconUrl is not empty %}
            <link rel="icon" type="image/png" href="{{ Blog.FaviconUrl }}" />
        {% else %}
            <link rel="shortcut icon" type="image/x-icon" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.ico" />
            <link rel="icon" type="image/png" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.png" />
            <link rel="apple-touch-icon" href="http://fdata.over-blog.net/99/00/00/01/img/mobile-favicon.png" />
        {% endif %}	
        
        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />
        {% if Blog.CssUrl is not empty %}
            <link rel="stylesheet" href="{{ Blog.CssUrl }}" type="text/css" />
        {% endif %}
        {% if Blog.JsUrl is not empty %}
            <script src="{{Blog.JsUrl}}" type="text/javascript"></script>
        {% endif %}

        <!-- Style -->
        <style type="text/css">
            /*----- Reset -----*/
            body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,textarea,blockquote,th,td{ margin:0; padding:0;}
            table{ border-collapse:collapse; border-spacing:0;}
            fieldset,img{ border:0;}
            address,caption,cite,code,dfn,var{ font-style:normal; font-weight:normal;}
            ol,ul{ list-style:none;}
            caption,th{ text-align:left;}
            h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
            q:before,q:after{ content:'';}
            abbr,acronym{ border:0;}
						/*
						Design by Free CSS Templates
						http://www.freecsstemplates.org
						Released for free under a Creative Commons Attribution 3.0 License

						Name       : Nullified
						Description: A two-column, fixed-width design with dark color scheme.
						Version    : 1.0
						Released   : 20120326
						*/

						* {
							padding: 0;
							margin: 0;
						}

						a {
							text-decoration: underline;
							color: #FFF;
						}

						a:hover {
							text-decoration: none;
						}

						body {
							font-size: 11.5pt;
							line-height: 1.75em;
							color: #3D3D3D;
							background: #0D0D0D url(http://assets.over-blog-kiwi.com/themes/22/images/bg.jpg) top center no-repeat;
							letter-spacing: -0.02em;
						}

						body,input {
							font-family: Arial, sans-serif;
						}

						br.clearfix {
							clear: both;
						}

						h1,h2,h3,h4 {
							text-transform: uppercase;
							letter-spacing: -1px;
							font-weight: normal;
						}

						h2 {
							font-size: 1.75em;
						}

						h2,h3,h4 {
							color: #FFF;
							font-family: Oswald, sans-serif;
							margin-bottom: 1em;
						}

						h3 {
							font-size: 1.5em;
						}

						h4 {
							font-size: 1em;
						}

						img.alignleft {
							margin: 5px 20px 20px 0;
							float: left;
						}

						img.aligntop {
							margin: 5px 0 20px 0;
						}

						p {
							margin-bottom: 1.5em;
						}

						ul {
							margin-bottom: 1.5em;
						}

						ul h4 {
							margin-bottom: 0.35em;
						}

						#content {
							width: 655px;
							padding: 0;
							float: left;
						}

						#footer {
							text-align: center;
							padding: 40px 0 100px 0;
							font-size: 0.9em;
						}

						#footer a {
							color: #555;
						}

						#header {
							color: #FFF;
							position: relative;
							height: 80px;
							background: #854646 url(http://assets.over-blog-kiwi.com/themes/22/images/bg2.jpg) bottom center no-repeat;
							width: 910px;
							padding: 35px;
						}

						#logo {
							position: absolute;
							top: 60px;
						}

						#logo a {
							color: #FFF;
							text-decoration: none;
							text-shadow: 0 1px 1px rgba(0,0,0,0.8);
						}

						#logo h1 {
							font-size: 3em;
							font-family: Oswald, sans-serif;
						}

						#menu {
							line-height: 60px;
							font-family: Oswald, sans-serif;
							padding: 0 35px 0 35px;
							width: 910px;
							height: 60px;
							font-size: 1.2em;
							background: #854646;
							text-shadow: 0 1px 1px rgba(0,0,0,0.8);
						}

						#menu {
							text-transform: uppercase;
							letter-spacing: -1px;
							color: #FFF;
						}

						#menu a {
							color: #FFF;
							text-decoration: none;
						}

						#menu ul {
							list-style: none;
						}

						#menu ul li {
							padding: 0 20px 0 20px;
							height: 60px;
							display: inline-block;
						}

						#menu ul li.first {
							padding-left: 0;
						}

						#menu ul li.active {
							background: #743737;
						}

						#menu .arrow {
							display: inline-block;
							margin: 0 0 0 0.5em;
							position: relative;
							width: 0;
							height: 0;
							top: -3px;
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
							border-top: 7px solid #492222;
						}

						#page {
							color: #AAA;
							padding: 60px 35px 25px 35px;
							margin: 0;
							width: 910px;
							position: relative;
						}

						#page strong {
							color: #FFF;
						}

						#page .section-list {
							list-style: none;
							padding-left: 0;
						}

						#page .section-list li {
							padding: 20px 0 20px 0;
							clear: both;
						}

						#page ul {
							list-style: none;
						}

						#page ul li {
							padding: 10px 0 10px 0;
							border-top: dotted 1px #333;
						}

						#page ul li.first {
							padding-top: 0;
							border-top: 0;
						}

						.box {
							margin: 0 0 30px 0;
							overflow: hidden;
						}

						#col1 {
							float: left;
							width: 310px;
							overflow: hidden;
						}

						#col2 {
							width: 310px;
							overflow: hidden;
							margin: 0 0 0 340px;
						}

						#search {
							position: absolute;
							top: 58px;
							right: 35px;
						}

						#search input.form-text {
							padding: 8px 42px 8px 12px;
							width: 175px;
							border: 0;
							background: #5B2B2B url(http://assets.over-blog-kiwi.com/themes/22/images/search.gif) top right no-repeat;
							border-top: solid 1px #541C1B;
							color: #DBBCBC;
						}

						#sidebar {
							width: 225px;
							margin: 0 0 0 685px;
							padding: 0;
						}

						#splash {
							height: 180px;
							position: relative;
							width: 980px;
							background: #FFF;
							overflow: hidden;
						}

						#wrapper {
							width: 980px;
							position: relative;
							background: #151515 url(http://assets.over-blog-kiwi.com/themes/22/images/bg3.jpg) bottom center no-repeat;
							margin: 80px auto 0 auto;
						}

						.dropotron {
							min-width: 200px;
							padding: 20px 15px 20px 15px;
							background: #743737 url(http://assets.over-blog-kiwi.com/themes/22/images/bg4.jpg) top left no-repeat;
							list-style: none;
							line-height: 2.75em;
						}

						.dropotron li {
							text-shadow: 0 1px 1px rgba(0,0,0,0.8);
							color: #F2E6E6;
							position: relative;
							border-top: dotted 1px #9f6262;
							padding: 0 20px 0 20px;
						}

						.dropotron li:hover {
							background: #5B2B2B;
						}

						.dropotron li.first {
							border-top: 0;
						}

						.dropotron li.last {
							border-bottom: 0;
						}

						.dropotron li a {
							color: #F2E6E6;
							text-decoration: none;
						}

						.dropotron .arrow {
							display: inline-block;
							margin: 0 0 0 0.5em;
							position: absolute;
							right: 15px;
							top: 15px;
							width: 0;
							height: 0;
							border-top: 6px solid transparent;
							border-bottom: 6px solid transparent;
							border-left: 7px solid #391212;
						}

        </style>
        
        <!-- jQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        
        <!-- NivoSlider -->
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/themes/default/default.css" type="text/css" />
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>

        <!-- Fancybox -->
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
        
        <!-- Template resources -->
		<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="http://assets.over-blog-kiwi.com/themes/22/jquery.dropotron-1.0.js"></script>
		<script type="text/javascript">
			$(function() {
				$('#menu > ul').dropotron();
			});
		</script>
        <style type="text/css">
            .clear{
                clear: both;
            }
            #menu a:hover,
            .current_page_item a{
                background: #4C2322;
            }
            #header{
                height: auto;
            }
            #menu ul li{
                padding: 0 12px;
            }
            #menu a{
                padding: 0 8px;
            }
            #page .ob-section-text ol,
            #page .ob-section-text ul{
                margin: 0 0 1.5em 25px;
            }
            #page .ob-section-text ul li{
                border: 0;
                list-style: disc;
                padding: 2px 0 3px 0;
            }
            #page .ob-section-text ol p,
            #page .ob-section-text ul p{
                margin-bottom: 0;
            }
            #page ul li li{
                margin-left: 18px;
            }
            #logo{
                position: static;
                top: auto;
                width: 645px;
            }
            #logo h1{
                line-height: 1.2em;
            }
            #wrapper{
                background: #151515;
            }
        </style>
        
        <!-- Custom vars -->
        <meta name="constant:displayArticlesLimit" content="10" />
        
        <meta name="string:custom_home_title:Home title" content="Welcome to my blog" group="Settings" />
        <meta name="string:custom_footer:Enter your footer text" group="Settings" />
        <meta name="string:google_analytics:Enter your Google Analytics ID" group="Settings" />
        <meta name="string:facebook_appid:Enter your FaceBook App ID" group="Settings" />
        <meta name="string:twitter_account:Enter your Twitter login" group="Settings" />
        <meta name="string:google_webmaster_id:Enter your Google Webmaster Tools ID" group="Settings" />
        <meta name="string:msn_webmaster_id:Enter your MSN Webmaster Tools ID" group="Settings" />
        
        <meta name="list:comment:Comment service" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comments" />
		<meta name="string:comment_disqus:Disqus website's shortname (Mandatory)" group="Comments" />
        
        <meta name="image:custom_header_picture:Home header picture" group="Home" />
        <meta name="string:custom_home_list_tag:Home list tag" group="Home" />
        <meta name="string:custom_home_list_tag_title:Home list tag title" group="Home" />
        <meta name="string:custom_home_list_tag_text:Home list tag text" group="Home" />
        
        <meta name="boolean:custom_hide_widget_search_form:Hide Widget &quot;Search form&quot;" group="Widgets" />
        <meta name="boolean:custom_hide_widget_biography:Hide Widget &quot;Biography&quot;" group="Widgets" />
        <meta name="boolean:custom_hide_widget_categories:Hide Widget &quot;Categories&quot;" group="Widgets" />
        <meta name="boolean:custom_hide_widget_pages:Hide Widget &quot;Pages&quot;" group="Widgets" />
        <meta name="boolean:custom_hide_widget_archives:Hide Widget &quot;Archives&quot;" group="Widgets" />
    </head>
	<body>
		<div id="wrapper">
            <!-- shortcut:[Header content] -->
			<div id="splash">
                {% if Custom('custom_header_picture') is not empty %}
                    <img src="{{ Custom('custom_header_picture')|resize(980, 285)|crop }}" alt="" />
                {% else %}
                    <img src="http://assets.over-blog-kiwi.com/themes/22/images/pic1.jpg" alt="" />
                {% endif %}
			</div>
			<div id="menu">
                <ul>
                    <li {% if isIndex %} class="current_page_item" {% endif %}><a href="{{ Blog.Url }}">{{ Lang.Get('Home') }}</a></li>
                    {% list Blog.PostsTags(6) %}
                        <li {% if isTag and Tag is not empty and Tag.Title == PostsTag.Title %} class="current_page_item" {% endif %}><a href="{{ PostsTag.Url }}">{{ PostsTag.Title }}</a></li>
                    {% endlist %}
                    <li><a href="/contact">{{ Lang.Get('Contact') }}</a></li>
                </ul>
				<br class="clearfix">
			</div>
			<div id="header">
				<div id="logo">
					<h1><a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Blog.Title }}</a></h1>
				</div>
                {% if Custom('custom_hide_widget_search_form') == false %}
                    <div id="search">
                        <form method="post" action="/search">
                            <div>
                                <input class="form-text" size="32" maxlength="64" type="text" name="q" placeholder="{{ Lang.Get('Search') }}..."  id="search-text" value="" />
                            </div>
                        </form>
                    </div>
                {% endif %}
                <div class="clear"></div>
			</div>
			<div id="page">
				<div id="content">
                    <!-- shortcut:[Main content] -->
                    {% if isSingle %}
                        <!-- Single Page -->
                        <div class="post">
                            <h2 class="title"><a href="{{ Post.PermaLink }}">{{ Post.Title }}</a></h2>
                            <p class="meta">
                                {% if Post.Author and Post.Author is not empty %}
                                    {{ Lang.Get('Posted by') }} {{Post.Author}} {{ Lang.Get('on') }} {{ Post.Date|date("M d Y, H:ia") }}
                                {% else %}
                                    {{ Lang.Get('Posted on') }} {{ Post.Date|date("M d Y, H:ia") }}
                                {% endif %}
                            </p>
                            <div class="entry">
                                {{ Post.Body }}
                                <div class="ob-section m-social-networks">
                                    <!-- Social networks : share -->
                                    <h4>{{ Lang.Get('Share this post') }}</h4>
                                    <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="true" data-layout="button_count" data-width="120" data-show-faces="true" data-font="lucida grande"></div>
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}" {% if Custom('twitter_account') is not empty %} data-via="{{Custom('twitter_account')}}" {% endif %}></a>
                                </div>
                                {% if not isPage %}
                                    <div class="bloc-comment">
                                        <!-- Comments -->
                                        <h4>{{ Lang.Get('Comment this post') }}</h4>
                                        <div class="item-comments">
                                            {% if Custom("comment") == "Facebook" %}
                                                <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="620" data-colorscheme="dark"></div>
                                            {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                                <div id="disqus_thread"></div>
                                                <script type="text/javascript">
                                                    var disqus_shortname = '{{ Custom('comment_disqus') }}';
                                                    (function() {
                                                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                                    })();
                                                </script>
                                                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                            {% else %}
                                                {{ Post.Comments }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="return">
                            <a href="{{ Blog.Url }}">{{ Lang.Get('Return to home') }}</a>
                        </div>
                    {% elseif isTag or isArchive or isSearch %}
                        <!-- Search Page -->
                        {% list Posts %}
                            <div class="post">
                                <h2 class="title">
                                    <a href="{{ Post.PermaLink }}">
                                        {% if Post.Title is not empty %}
                                            {{ Post.Title }}
                                        {% else %}
                                            {{ Post.Date|date("M d Y, H:ia") }}
                                        {% endif %}
                                    </a>
                                </h2>
                                <p class="meta">
                                    {% if Post.Author and Post.Author is not empty %}
                                        {{ Lang.Get('Posted by') }} {{Post.Author}} {{ Lang.Get('on') }} {{ Post.Date|date("M d Y, H:ia") }}
                                    {% else %}
                                        {{ Lang.Get('Posted on') }} {{ Post.Date|date("M d Y, H:ia") }}
                                    {% endif %}
                                    <a href="{{ Post.PermaLink }}">{{ Lang.Get('Full article') }}</a></p>
                                <div class="entry">
                                    {% if Post.Cover is not empty %}
                                        <div><img src="{{ Post.Cover|resize(314, 125) }}" alt="" class="border" /></div>
                                    {% endif %}
                                    <p>{{ Post.Snippet }}</p>
                                </div>
                            </div>
                        {% endlist %}
                        {% if isSearch and Posts is empty %}
                            <!-- No result for search -->
                            <p>{{ Lang.Get('No result found') }}</p>
                        {% endif %}
                    {% else %}
                        <!-- Index Page -->
                        <div class="box">
                            {% if Custom('custom_home_title') is not empty %}
                                <h2>{{ Custom('custom_home_title') }}</h2>
                            {% endif %}
                            <p>{{ Blog.Description }}<p>
                        </div>
                        <div id="col1">
                            <h3>{{ Lang.Get('Last posts') }}</h3>
                            {% if Posts and Posts is not empty %}
                                <ul class="section-list">
                                    {% list Posts %}
                                        {% if loop.index == 1 %}
                                            <li class="first">
                                        {% elseif loop.index <= 4 %}
                                            <li>
                                        {% endif %}
                                        {% if loop.index == 1 or loop.index <= 4 %}
                                                <h4><a href="{{ Post.PermaLink }}">{{ Post.Title }}</a></h4>
                                                {% if Post.Cover is not empty %}
                                                    <div><img src="{{ Post.Cover|resize(152, 114) }}" alt="" /></div>
                                                {% endif %}
                                                {{ Post.Snippet }}
                                            </li>
                                        {% endif %}
                                    {% endlist %}
                                </ul>
                            {% endif %}
                        </div>
                         {% if Custom('custom_home_list_tag') is not empty %}
                            <h3>
                                {% if Custom('custom_home_list_tag_title') is not empty %}
                                    {{ Custom('custom_home_list_tag_title') }}
                                {% else %}
                                    {{ Custom('custom_home_list_tag') }}
                                {% endif %}
                            </h3>
                            {% if Custom('custom_home_list_tag_text') is not empty %}
                                <p>{{ Custom('custom_home_list_tag_text') }}</p>
                            {% endif %}
                            <div id="col2">
                                <ul class="list">
                                    {% list Blog.TaggedPosts(Custom('custom_home_list_tag'), 10) %}
                                        {% if loop.index == 1 %}
                                            <li class="first">
                                        {% else %}
                                            <li>
                                        {% endif %}
                                                <a href="{{ TaggedPost.PermaLink }}">
                                                    {% if TaggedPost.Title is not empty %}
                                                        {{ TaggedPost.Title }}
                                                    {% else %}
                                                        {{ TaggedPost.Snippet|truncate(50) }}
                                                    {% endif %}
                                                </a>
                                            </li>
                                    {% endlist %}
                                </ul>
                            </div>
                            <br class="clearfix" />
                        {% endif %}
                    {% endif %}
                    
                    <!-- Pagination -->
                    {% if (Navigation.PreviousPage is not empty or Navigation.NextPage is not empty) %}
                        <div class="pagination">
                            {% if Navigation.PreviousPage is not empty %}
                                <a href="{{ Navigation.PreviousPage }}" class="prev">{{ Lang.Get('Previous page') }}</a>
                            {% endif %}
                            {% if Navigation.PreviousPage is not empty and Navigation.NextPage is not empty %}
                                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if Navigation.NextPage is not empty %}
                                <a href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next page') }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
				</div>
                
                <!-- shortcut:[Sidebar content] -->
				<div id="sidebar">
					<!-- Categories -->
                    {% if Custom('custom_hide_widget_categories') == false %}
                        {% if Blog.PostsTags() and Blog.PostsTags() is not empty %}
                            <div class="box">
                                <h3>{{ Lang.Get('Categories') }}</h3>
                                <ul class="list">
                                    {% list Blog.PostsTags(10) %}
                                        <li><a href="{{ PostsTag.Url }}">{{ PostsTag.Title }} ({{ PostsTag.PostCount }})</a></li>
                                    {% endlist %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                    
                    <!-- Pages -->
                    {% if Custom('custom_hide_widget_pages') == false %}
                        {% if Blog.ListPages and Blog.ListPages is not empty %}
                             <div class="box">
                                <h3>{{ Lang.Get('Pages') }}</h3>
                                <ul class="list">
                                    {% list Blog.ListPages %}
                                        <li>
                                            <a href="{{ListPage.Url}}">{{ListPage.Title}}</a>
                                        </li>
                                    {% endlist %} 
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                    
                    <!-- Archives -->
                    {% if Custom('custom_hide_widget_archives') == false %}
                        {% if Blog.Archives is not empty %}
                            <div class="box">
                                <h3>{{ Lang.Get('Archives') }}</h3>
                                <ul class="list" id="archivelist">
                                    {% list Blog.Archives %}
                                        <li>
                                            <a href="#" class"plustext" onclick="javascript: return switch_arch('{{Archive.Year}}')">{{Archive.Year}}</a>
                                            <ul id="arch_{{Archive.Year}}" class="arch_month">
                                            {% list Archive.Months %}
                                                {% if Month.PostCount > 0 %}
                                                    <li><a href="{{Month.Url}}">{{Lang.Get(Month.Name)}}</a> ({{Month.PostCount}})</li>
                                                {% endif %}
                                            {% endlist %}
                                            </ul>
                                        </li>
                                    {% endlist %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                    
                    <!-- Blog owner -->
                    {% if Custom('custom_hide_widget_biography') == false %}
                        <div class="box">
                            {% if Blog.Owner.Nickname is not empty and Blog.Owner.Bio is not empty %}
                                <h3>
                                    <a href="/about">{{ Blog.Owner.Nickname }}</a>
                                </h3>
                                {% if Blog.Owner.Bio is not empty %}
                                    <p>
                                        {% if Blog.Owner.Avatar is not empty %}
                                            <a href="/about"><img class="m-avatar-img" src="{{ Blog.Owner.Avatar|resize(45,45) }}" alt="" /></a>
                                        {% endif %}
                                        {{Blog.Owner.Bio}}
                                    </p>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
				</div>
				<br class="clearfix" />
			</div>
		</div>
        
		<!-- shortcut:[Footer content] -->
        <div id="footer">
            {% if Custom('custom_footer') %}
                <p>{{ Custom('custom_footer') }}</p>
            {% endif %} 
        </div>
        
        <!-- Google Analytics -->
        {% if Custom('google_analytics') is not empty %}
            <script type="text/javascript">
                window.google_analytics_uacct = '{{ Custom('google_analytics') }}';
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ Custom('google_analytics') }}']);
                _gaq.push(['_trackPageview']);
                _gaq.push(['_trackPageLoadTime']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}
        
        <!-- Archives -->
        <script type="text/javascript">
            function switch_arch(year) {
                'use strict';
                var archiveYear, archiveMonths, displayStyle;
                displayStyle = '';
                archiveYear = document.getElementById('arch_' + year);
                if (typeof (archiveYear) !== 'undefined') {
                    if (archiveYear.style.display !== 'none') {
                        // Hide years without months
                        archiveMonths = archiveYear.getElementsByTagName('li');
                        if (!archiveMonths.length) {
                            archiveYear.parentNode.style.display = 'none';
                        }
                        // Onclick management
                        displayStyle = 'none';
                    }
                    archiveYear.style.display = displayStyle;
                }
                return false;
            }
        </script>
        
        <!-- Social networks : Facebook -->
        <div id="fb-root"></div>
        <script type="text/javascript">
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('127607930619601')}}";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <!-- Social networks : Twitter -->
        <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs); }}(document,"script","twitter-wjs");</script>
        
        <!-- jQuery onReady -->
        <script type="text/javascript">
            jQuery(document).ready(function() {
                // Fancy box
                jQuery(".ob-section-images a").fancybox({
                    'overlayShow'	: true,
                    'transitionIn'	: 'elastic',
                    'transitionOut'	: 'elastic',
                    'type': 'image'
                });
                
                (function() {
                    // Search form
                    var forms = document.getElementsByTagName('form');
                    for (var i = 0, len = forms.length; i < len; i++) {
                        if (forms[i].className.indexOf('search') > -1) {
                            forms[i].addEventListener(
                                'submit',
                                function (e) {
                                    e.preventDefault();
                                    window.location = this.getAttribute('action')+this.q.value;
                                },
                                true
                            );
                            forms[i].q.value = window.location.pathname.match(/^\/search\//) && window.location.pathname.replace(/^\/search\//, '');
                        }
                    }
                    
                    // Fluid video containers
                    var vidContainers;
                    var frameParentWidth;
                    var frameWidth;
                    var frameHeight;
                    var ratioFrame;
                    vidContainers = jQuery('.ob-section-video iframe, .ob-section-video object');
                    if (vidContainers.length > 0) {
                        vidContainers.each(function () {
                            frameParentWidth = jQuery(this).parent().innerWidth();
                            frameWidth = vidContainers.innerWidth();
                            if (frameWidth && frameParentWidth < frameWidth) {
                                frameHeight = vidContainers.innerHeight();
                                if (frameHeight) {
                                    ratioFrame = frameHeight / frameWidth;
                                    vidContainers.attr('width', frameParentWidth + 'px');
                                    vidContainers.attr('height', frameParentWidth * ratioFrame + 'px');
                                }
                            }
                        });
                    }
                    
                    // Archives
                    {% list Blog.Archives %}
                        switch_arch('{{Archive.year}}');
                    {% endlist %}
                })();
            });
        </script>
	</body>
</html>