<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}" itemscope="" itemtype="http://schema.org/Blog">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title -->
        {% title %}
        <!-- metas description, keyword, robots -->
        {% meta %}

        <!-- shortcut:[Includes] -->
        <!-- favicon -->
        {% favicon %}

        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />
        {% if Blog.CssUrl is not empty %}
            <link rel="stylesheet" href="{{ Blog.CssUrl }}" type="text/css" />
        {% endif %}

        <!-- Custom vars -->
        <meta name="list:display_mode:label.numberOfSections" items="Summary,1,2,3,4,5,6,7,8,9,10,All" default="All" />

        <meta name="list:custom_titles_font:label.titlesFont" items="Arial, Dosis, Crushed, Italiana, Italianno, Lobster, Marmelad, Metamorphous, Ovo, Oxygen, Salsa, Sancreek, Sunshiney, Wellfleet" default="Lobster" group="Design" />
        <meta name="color:custom_theme_color:label.primaryColor" default="#00AAFF" group="Design" />

        <meta name="string:facebook_profile_id:label.facebookUsername" group="Social" />
        <meta name="string:twitter_account:label.twitterUsername" group="Social" />
        <meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, All" default="All" group="Social" />

        <meta name="boolean:custom_hide_widget_search_form:label.hideSearchForm" group="Widgets" />
        <meta name="boolean:custom_hide_widget_follow_us:label.hideFollowUs" group="Widgets" />
        <meta name="boolean:display_widget_lastPosts:label.hideLastPosts" group="Widgets" />
        <meta name="boolean:custom_hide_widget_subscribe:label.hideSubscribeForm" group="Widgets" />
        <meta name="boolean:custom_hide_widget_archives:label.hideArchives" group="Widgets" />

        <meta name="string:footer:label.footer" default="Theme: Autofocus &copy; 2013" group="Wording"  />

        <meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comments" />
        <meta name="string:comment_disqus:label.disqusAccount" default="obcomment" group="Comments" />
        <meta name="list:custom_facebook_comments_color_theme:label.facebookCommentsColorTheme" items="light, dark" default="light" group="Comments" />

        <meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
        <meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
        <meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
        <meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />

        <!-- Template resources -->
        {% if Custom('custom_titles_font') != "Arial" %}
            <link href="http://fonts.googleapis.com/css?family={{ Custom('custom_titles_font') }}" rel="stylesheet" type="text/css" />
        {% endif %}
        <style type="text/css">
            /*----- Reset -----*/
            body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,textarea,blockquote,th,td{ margin:0; padding:0;}
            table{ border-collapse:collapse; border-spacing:0;}
            fieldset,img{ border:0;}
            address,caption,cite,code,dfn,var{ font-style:normal; font-weight:normal;}
            ol,ul{ list-style:none;}
            caption,th{ text-align:left;}
            h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
            q:before,q:after{ content:'';}
            abbr,acronym{ border:0;}

            /* Standard styles */
            .clear{
                clear: both;
            }
            .clearfix:before, .clearfix:after{
                content: "";
                display: table;
            }
            .clearfix:after{
                clear: both;
            }
            .ob-form-subscription label {
              position: absolute;
              overflow: hidden;
              clip: rect(0 0 0 0);
              height: 1px; width: 1px;
              margin: -1px; padding: 0; border: 0;
            }

            .ob-section-video iframe,
            .ob-section-video object,
            .ob-section-video embed,
            .ob-section-html iframe,
            .ob-section-html object,
            .ob-section-html embed{
                max-width: 700px;
                max-height: 394px;
            }
            .ob-section-html iframe.twitter-tweet{
                max-height: none;
            }
            .entry-content,
            .ob-section-images,
            .ob-section-video,
            .ob-section-map{
                width: 100%;
            }
            .ob-text ol,
            .ob-text ul{
                margin: 0 0 0 35px;
            }
            .ob-text ol li,
            .ob-text ul li{
                list-style: disc;
                margin: 3px 0;
            }
            .ob-text ol li{
                list-style: decimal;
            }

            /* Theme styles */
            body{
                background: #333 url(http://assets.over-blog-kiwi.com/themes/31/images/pattern-2.png);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 1.36em;
            }
            .m-page-wrapper{
                margin: 0 auto;
                width: 980px;
            }
            .m-page{
                background: #FFF;
                min-height: 480px;
                padding-bottom: 20px;
            }
            h1,
            h2,
            h3 {
                font-family: {% if Custom("custom_titles_font") is not empty %}'{{ Custom("custom_titles_font") }}', {%endif %}Helvetica, sans-serif;
            }
            .m-header{
                padding: 30px 0 35px 0;
                position: relative;
            }
            .m-avatar{
                display: inline-block;
                margin-right: 10px;
                vertical-align: top;
            }
            .m-logo{
                display: inline-block;
                width: 460px;
                vertical-align: top;
                padding-top: 10px;
            }
            .m-logo a{
                font-size: 3em;
                line-height: 1.15em;
                text-decoration: none;
            }
            .m-logo .s-headline{
                color: #666;
                padding: 3px 0;
            }
            .m-navigation{
                display: inline-block;
                vertical-align: top;
                text-align: right;
                padding: 15px 0 0 0;
                width: 400px;
            }
            .m-navigation li{
                display: inline-block;
                position: relative;
                z-index: 1000;
                word-wrap:break-word;
            }
            .m-navigation li a{
                display: inline-block;
                font-size: 1.143em;
                margin: 0;
                padding: 2px 12px;
                text-decoration: none;
            }
            .m-navigation li a:hover{
                background: #EEE;
            }
            .m-navigation .children{
                background: #FFF;
                border-left: solid 3px #CCC;
                border-right: solid 1px #EEE;
                left: 0;
                opacity: 0;
                padding: 7px;
                position: absolute;
                text-align: left;
                top: 0;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                -ms-transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                visibility: hidden;
                width: 150px;
                z-index: 1000;
            }
            .m-navigation .children li{
                display: block;
            }
            .m-navigation .children li a{
                border-bottom: solid 1px #EEE;
                display: block;
                padding: 3px 12px;
            }
            .m-navigation li:hover .children{
                opacity: 1;
                top: 23px;
                visibility: visible;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                -ms-transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
            }
            .pagination{
                padding: 5px 0 25px;
                overflow: hidden;
            }
            .pagination a{
                text-decoration: none;
            }
            .pagination .next,
            .pagination .prev{
                min-height: 21px;
            }
            .pagination a:hover{
                text-decoration: underline;
            }
            .pagination .next{
                background: url(http://assets.over-blog-kiwi.com/themes/31/images/arrow-r.png) no-repeat right center;
                float:right;
                padding: 0 30px 0 0;
            }
            .pagination .prev{
                background: url(http://assets.over-blog-kiwi.com/themes/31/images/arrow-l.png) no-repeat left center;
                padding: 0 0 0 30px;
                float: left;
            }
            .gotop{
                padding-top:20px;
                text-align: center;
            }
            .gotop img{
                margin-right:5px;
              -webkit-transform: rotate(90deg) scale(.6);
                 -moz-transform: rotate(90deg) scale(.6);
                  -ms-transform: rotate(90deg) scale(.6);
                   -o-transform: rotate(90deg) scale(.6);
                      transform: rotate(90deg) scale(.6);
                         -moz-transform-origin: 60% 75%;
                      -webkit-transform-origin: 60% 75%;
                           -o-transform-origin: 60% 75%;
                          -ms-transform-origin: 60% 75%;
                              transform-origin: 60% 75%;
            }
            .search .s-input,
            .ob-form-subscription .ob-input-email{
                padding: 2px 3px;
            }
            .ob-input-submit{
                background: #FFF;
                border: solid 1px #BBB;
                cursor: pointer;
                padding: 1px 11px;
            }
            .search .ob-input-submit{
                margin: 0;
            }
            .ob-form-subscription .ob-form-field{
                display: inline-block;
                 width: 62%;
                 margin:5px 0;
            }
           .ob-form-subscription .ob-form-field .ob-input{
                width: 92%;
                display: inline-block;
                vertical-align: top;
                height: 14px;
            }
            .ob-form-subscription .ob-input-submit{
                width: 35%;
                display: inline-block;
                margin:4px 0;
                vertical-align: top;
                line-height: 24px;
                height: 24px;
                padding: 0 3px 5px 2px;
                cursor: pointer;
            }
            .m-networks a{
                margin-right: 4px;
            }
            .m-networks a:last-child{
                margin-right: 0;
            }
            .m-footer{
                color: #FFF;
                padding: 15px 15px 70px 15px;
                text-align: center;
            }

            .m-main .post{
                background: url(http://assets.over-blog-kiwi.com/themes/31/images/pattern-1.png);
                float: left;
                height: 360px;
                margin-bottom: 5px;
                position: relative;
            }
            .m-main .box{
                height: 360px;
                left: 0;
                overflow: hidden;
                position: absolute;
                top: 0;
            }
            .m-main .box_1{
                width: 980px;
            }
            .m-main .box_2,
            .m-main .box_8{
                width: 600px;
            }
            .m-main .box_3,
            .m-main .box_7{
                width: 375px;
            }
            .m-main .box_4,
            .m-main .box_6{
                width: 240px;
            }
            .m-main .box_5{
                width: 490px;
            }
            .m-main .box_9{
                width: 490px;
            }
            .m-main .box_10{
                width: 485px;
            }
            .m-main .box_3,
            .m-main .box_5,
            .m-main .box_6,
            .m-main .box_8,
            .m-main .box_10{
                margin-left: 5px;
            }
            .m-main .post .box_3,
            .m-main .post .box_5,
            .m-main .post .box_6,
            .m-main .post .box_8,
            .m-main .post .box_10{
                margin-left: 0;
            }
            .m-main .post .meta,
            .m-main .post .entry{
                opacity: 0;
            }
            .ob-repost {
                margin-top: 2em;
                text-align: center;
            }
            .m-main .post .box-cover{
                z-index: 500;
            }
            .m-main .post .box-overlay{
                -moz-transition: all 0.5s ease 0s;
                -o-transition: all 0.5s ease 0s;
                -ms-transition: all 0.5s ease 0s;
                -webkit-transition: all 0.5s ease 0s;
                transition: all 0.5s ease 0s;
                z-index: 501;
            }
            .m-main .post .box-text{
                z-index: 502;
            }
            .m-main .post .box-link{
                z-index: 503;
            }
            .m-main .post .box-text,
            .m-main .post .box-text h2,
            .m-main .post .box-text a{
                color: #FFF;

            }
            .m-main .post .box-text h2{
                background-position: 0 24px;
                background-color: rgba(56,56,56,.6);
                margin-top: 0;
                padding: 20px 20px 10px;
                text-shadow: 2px 2px 4px #333;
            }
            .post h2 a{
                display: block;
                padding-right: 20px;
            }
            .post:hover h2 a{
                padding-right: 10px;
             }
            .m-main .post:hover .box-text h2{
                background: transparent url(http://assets.over-blog-kiwi.com/themes/31/images/arrow.png) no-repeat 12px 24px;
                padding-left: 48px;
                -moz-transition: all 0.5s ease 0s;
                -o-transition: all 0.5s ease 0s;
                -ms-transition: all 0.5s ease 0s;
                -webkit-transition: all 0.5s ease 0s;
                transition: all 0.5s ease 0s;
            }
            .m-main .box-text .s-wrapper{
                height: 320px;
                word-wrap: break-word;
                overflow: hidden;
            }
            .m-main .post:hover .box-text .s-wrapper{
                border: solid 4px #FFF;
                height: 352px;
                text-shadow: 2px 2px 4px #333;
            }
             .m-main .box-text .s-wrapper p{
                padding:0 16px;
            }
            .m-main .post:hover .box-overlay{
                opacity: 0.95;
                -moz-transition: all 0.5s ease 0s;
                -o-transition: all 0.5s ease 0s;
                -ms-transition: all 0.5s ease 0s;
                -webkit-transition: all 0.5s ease 0s;
                transition: all 0.5s ease 0s;
            }
            .m-main .post:hover .meta,
            .m-main .post:hover .entry{
                opacity: 1;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                -ms-transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
            }
            .m-main .post .box .wrapper{
                padding: 20px;
            }
            .m-main .post .box .wrapper,
            .m-main .post .box .wrapper a{
                color: #FFF;
            }
            .arch_month li{
                margin: 3px 0 3px 16px;
            }
            h2{
                font-size: 2em;
                line-height: 1.2em;
                margin: 0 0 7px 0;
            }
            .sidebar h3{
                font-size: 2em;
                line-height: 1.2em;
                margin-top: 25px;
            }
            h2.title,
            .sidebar h3:first-child{
                margin-top: 12px;
            }
            .list .left{
                float:left;
                margin-right:5px;
            }
            .list > li > a{
                display: block;
                position: relative;
            }
            .list a span{
                display: none;
            }
            .list a:hover span{
                border-width: 5px;
                border-style: solid;
                display: block;
                height: 70px;
                left:0;
                opacity: .8;
                position: absolute;
                top: 0;
                width: 90px;
                 {% if Custom("custom_theme_color") is not empty %}
                    border-color: {{ Custom("custom_theme_color") }};
                {% else %}
                    border-color: #00AAFF;
                {% endif %}
            }
            .meta{
                margin: 6px 0;
            }
            .sidebar p{
                margin-bottom: 7px;
            }
            .m-main .post .s-wrapper h2 a{
                text-decoration: none;
            }
            .col-post{
                float: left;
                width: 700px;
            }
            .col-post h3{
                margin-bottom: 10px;
                font-size: 18px;
            }
            .sidebar{
                float: right;
                margin: 0 0 0 20px;
                width: 240px;
            }

            /* Custom theme 1 */
            a,
            h1,
            h2,
            h3,
            .m-logo a{
                {% if Custom("custom_theme_color") is not empty %}
                    color: {{ Custom("custom_theme_color") }};
                {% else %}
                    color: #00AAFF;
                {% endif %}
            }
            {% if Custom("custom_theme_color") == 'HotPink' %}
                .m-main .post:hover .box-text{
                    background: url(http://assets.over-blog-kiwi.com/themes/31/images/hearts.png) no-repeat right bottom;
                }
            {% endif %}
            .m-main .post:hover .box-overlay{
                {% if Custom("custom_theme_color") is not empty %}
                    background: {{ Custom("custom_theme_color") }};
                {% else %}
                    background: #00AAFF;
                {% endif %}
            }
            .ob-form-field{
                margin: 8px 0;
            }
            .ob-input-submit{
                {% if Custom("custom_theme_color") is not empty %}
                    background: {{ Custom("custom_theme_color") }};
                {% else %}
                    background: #00AAFF;
                {% endif %}
                border: 1px solid #EEE;
                color: #FFF;
                padding: 3px 15px;
            }
            .meta .links a{
                margin-right: 2px;
                text-decoration: none;
            }
                 .meta .links a:hover{
                    text-decoration: underline;
                }
            .meta .links a:after{
                content:",";
            }
            .meta .links a:last-child:after{
                content:"";
            }
            .ob-text h3,
            .ob-text h4,
            .ob-text h5 {
                {% if Custom("custom_theme_color") is not empty %}
                    color: {{ Custom("custom_theme_color") }};
                {% else %}
                    color: #0AF;
                {% endif %}
                font-family: {% if Custom("custom_titles_font") is not empty %}'{{ Custom("custom_titles_font") }}', {%endif %}Helvetica, sans-serif;
                font-weight: normal;
                margin: 15px 0 5px;
            }
            .ob-text h3 {
                font-size: 18px;
            }
            .ob-text h4 {
                font-size: 16px;
            }
            .ob-text h5 {
                font-size: 14px;
                font-weight: bold;
            }
            .ob-text p {margin-bottom: 15px;}
            .ob-text ul p,
            .ob-text ol p {margin-bottom: 5px;}
            .ob-text pre{
                border: 1px dashed #CCC;
                margin: 10px;
                padding: 10px;
                white-space: pre-wrap;
            }
            /** Search **/
            .search{
                position: absolute;
                right: 10px;
                top: 10px;
            }

            /** Social Media **/
            .m-social-networks > div{
                float:left;
                height:20px;
                margin-right:28px;
            }
            .m-social-networks .google-share{
                margin-right: 0;
            }
            .m-social-networks iframe{
                border:none;
                width:90px;
            }

            /* Section File */
            .ob-section-file .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
            .ob-section-file .ob-ctn a.ob-link,
            .ob-section-file .ob-c a.ob-link:visited {color: {{ Custom("custom_theme_color") }}; text-decoration: underline; text-shadow: none;}
            .ob-section-file .ob-ctn a.ob-link:hover {color: {{ Custom("custom_theme_color") }}; text-decoration: none;}
            .ob-section-file .ob-ctn {display:block;width:100%;max-width:none;}
            .ob-section-file .ob-link,
            .ob-section-file{
                max-width:640px;
                font-weight:normal;
            }
            .ob-tweet {
                max-width: 620px;
            }

            /* Section Quote */
            .ob-section-quote {background: #FFF; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); margin-bottom: 20px;}
            .ob-section-quote .ob-quote {background :none;margin: 0;min-height: auto;overflow: none;padding: 0;}
            .ob-section-quote p {color: #4D4D4F; min-height: 20px;}
            .ob-section-quote .ob-quote p {color: #4D4D4F; margin: 40px 70px 0px;}
            .ob-section-quote p:before {margin: -82px 0 0 -87px;}
            .ob-section-quote p:after {margin: -50px 0 0 -0;}
            .ob-section-quote .ob-quote p:before {color: {{ Custom("custom_theme_color") }};}
            .ob-section-quote .ob-quote p:after {color: {{ Custom("custom_theme_color") }};}
            .ob-section-quote p.ob-author,
            .ob-section-quote p.ob-source {background: #EEE; color: #555; font-size: 14px; font-style: italic; margin: 25px 0 0; max-height: 24px; max-width: 430px; overflow: hidden; padding-bottom: 0\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}

            .ob-section-quote p.ob-author, .ob-section-quote p.ob-source {background: #EFEFEF;}
            .ob-section-quote .ob-link {color: #4D4D4F;}
            .ob-section-quote .ob-link:hover {color:#CCC;}

            /* Section Link */
            .ob-section-link .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
            .ob-section-link .ob-media-left {margin: 0;}
            .ob-section-link .ob-img {float: left; width: 170px;}
            .ob-section-link p.ob-title {color: #C2E074; margin-left: 20px; max-height: 36px; overflow: hidden;}
            .ob-section-link p.ob-title .ob-link {color: {{ Custom("custom_theme_color") }};}
            .ob-section-link p.ob-snippet {color: #4D4D4F;margin-bottom: 35px; margin-left: 20px; max-height: 26px; overflow: hidden;}
            .ob-section-link p.ob-url {background: #EFEFEF; margin: 0; max-height: 24px; max-width: 430px; padding-bottom: 0\9;}
            .ob-section-link .ob-url .ob-link {color: #4D4D4F;}
            .ob-section-link .ob-url .ob-link:hover {color:#CCC;}
            .ob-section-link .ob-desc {margin-top: 5px;}

            .ob-section-link .ob-title .ob-link,
            .ob-section-link .ob-snippet,
            .ob-section-link .ob-url .ob-link {font-family: Georgia,serif;}

            .ob-section-link .ob-ctn,
            .ob-section-file .ob-ctn,
            .ob-section-quote {-moz-border-radius: 5px;-webkit-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;border: 1px solid #DDDDDD;background: white; background: rgba(255, 255, 255, 0.1);}

            .ob-section-link .ob-url,
            .ob-section-quote .ob-author,
            .ob-section-quote .ob-source {
                border-bottom-right-radius: 5px;
            }
        </style>
        <!--[if lt IE 8]>
            <style type="text/css">
                .m-navigation li,
                .m-navigation a{
                    display: inline;
                    zoom: 1;
                }
                .m-navigation a{
                    margin-right: 15px;
                }
            </style>
        <![endif]-->

        <!-- jQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <!-- NivoSlider -->
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/themes/default/default.css" type="text/css" />
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>

        <!-- Fancybox -->
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
    </head>
    <body>
        <div class="m-page">
            <div class="m-page-wrapper">
                <!-- shortcut:[Header content] -->
                <div class="m-header">
                    {% if Blog.Avatar %}
                        <div class="m-avatar">
                            <a href="{{ Blog.Url }}"><img src="{{ Blog.Avatar|resize(100,100)|crop }}" alt="{{ Blog.Title}}" width="100" height="100"  /></a>
                        </div>
                    {% endif %}
                    <div class="m-logo">
                        <!-- Main title -->
                        <h1>
                            <a href="{{ Blog.Url }}" title="{{ Blog.Description }}">
                                {{ Blog.Title }}
                            </a>
                        </h1>
                        <p class="s-headline">{{ Blog.Description }}</p>
                    </div>
                    <ul class="m-navigation">
                        <!-- Index -->
                        <li{% if isIndex %} class="active"{% endif %}>
                            <a {% if isIndex %} {% endif %} href="{{ Blog.Url }}">{{ Lang.Get('Home') }}</a>
                        </li>
                        <!-- Pages -->
                        {% list Blog.Pages(2) %}
                            {% if loop.first %}
                                <li>
                                    <a href="#">{{ Lang.Get('Pages') }}</a>
                                    <ul class="children">
                            {% endif %}
                                        <li>
                                            <a href="{{Page.Url}}">{{Page.Title}}</a>
                                        </li>
                            {% if loop.last %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endlist %}
                        <!-- Tags -->
                        {% list Blog.PostsTags(15) %}
                            {% if loop.first %}
                                <li>
                                    <a href="#">{{ Lang.Get('Tags') }}</a>
                                    <ul class='children'>
                            {% endif %}
                                            <li class="{% if isTag and Tag is not empty and Tag.Title == PostsTag.Title %} current_menu_item{% endif %}">
                                                <a href="{{ PostsTag.Url }}"><span>{{ PostsTag.Title }}</span>
                                            </a></li>
                            {% if loop.last %}
                                    </ul>
                                </li>
                             {% endif %}
                        {% endlist %}
                        {% if Custom('custom_hide_widget_subscribe') == false %}
                        <!-- Subscribe -->
                        <li>
                            <a href="{{ Blog.Url }}/mail/form">{{ Lang.Get('Subscribe') }}</a>
                        </li>
                        {% endif %}
                        <!-- Contact -->
                        <li class="end"><a href="/contact">{{ Lang.Get('Contact') }}</a></li>
                    </ul>
                    <div class="clear"></div>

                    <!-- Search form -->
                    {% if Custom('custom_hide_widget_search_form') == false %}
                        <form method="post" class="search" action="/search">
                            <input type="text" class="s-input" title="search" value="{{ Search }}" placeholder="{{ Lang.Get('Search') }}..." name="q" />
                            <input type="submit" class="ob-input-submit" title="Search" value="{{ Lang.Get('Go') }}" />
                        </form>
                    {% endif %}
                </div>
                <div class="m-main clear">
                    {% if isSpecial %}
                        <div class="col-post clear">
                            {{SpecialContent}}
                        </div>
                    {% elseif isIndex %}
                        <!-- Index -->
                        {% list Posts %}
                            {% if loop.index <= 10 %}
                                <div class="post box_{{ loop.index}}">
                                    <div class="box box-cover box_{{ loop.index}}">
                                        {% if Post.Cover is not empty %}
                                            {% if loop.index == 1 %}
                                                <img alt="" src="{{ Post.Cover|resize(980, 360)|crop }}">
                                            {% endif %}
                                            {% if loop.index == 2 %}
                                                <img alt="" src="{{ Post.Cover|resize(600, 360)|crop }}">
                                            {% endif %}
                                            {% if loop.index == 3 %}
                                                <img alt="" src="{{ Post.Cover|resize(375, 360)|crop }}">
                                            {% endif %}
                                            {% if loop.index == 4 %}
                                                <img alt="" src="{{ Post.Cover|resize(240, 360)|crop }}">
                                            {% endif %}
                                            {% if loop.index == 5 %}
                                                <img alt="" src="{{ Post.Cover|resize(490, 360)|crop }}">
                                            {% endif %}
                                            {% if loop.index == 6 %}
                                                <img alt="" src="{{ Post.Cover|resize(240, 360)|crop }}">
                                            {% endif %}
                                            {% if loop.index == 7 %}
                                                <img alt="" src="{{ Post.Cover|resize(375, 360)|crop }}">
                                            {% endif %}
                                            {% if loop.index == 8 %}
                                                <img alt="" src="{{ Post.Cover|resize(600, 360)|crop }}">
                                            {% endif %}
                                            {% if loop.index == 9 %}
                                                <img alt="" src="{{ Post.Cover|resize(490, 360)|crop }}">
                                            {% endif %}
                                            {% if loop.index == 10 %}
                                                <img alt="" src="{{ Post.Cover|resize(485, 360)|crop }}">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="box box-overlay box_{{ loop.index}}"></div>
                                    <div class="box box-text box_{{ loop.index}}">
                                        <div class="s-wrapper">
                                            <h2 class="title">
                                                <a title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}" href="{{ Post.PermaLink }}">
                                                    {% if Post.Title is not empty %}
                                                        {{ Post.Title }}
                                                    {% else %}
                                                        {{ Lang.Get('From') }}
                                                        {% list Post.Sources %}
                                                            {{ Lang.Get(Source) }}
                                                            {% if not loop.last %}
                                                                 {{ Lang.Get('and') }}
                                                            {% endif %}
                                                        {% endlist %}
                                                    {% endif %}
                                                </a>
                                            </h2>
                                            <p class="meta">
                                                {% if Post.Author and Post.Author is not empty %}
                                                    <span class="author">{{ Lang.Get('By') }} {{ Post.Author }}</span>
                                                {% endif %}
                                                {% if not isPage %}
                                                    <span class="date">{{ Post.Date|datel(Lang.Get('Default date format')) | title }}, {{ Post.Date|date("H:i") }}</span>
                                                {% endif %}
                                                <span class="links">
                                                    {% list Post.Tags %}
                                                        {% if loop.index <= 5 %}
                                                            <a href="{{Tag.Url}}" title="{{Tag.Title}}">{{Tag.Title}}</a>{% if not loop.last and loop.index != 5 %} - {% endif %}
                                                        {% endif %}
                                                    {% endlist %}
                                                </span>
                                            </p>
                                            <p class="entry">
                                                {{ Post.Snippet|truncate(150) }}
                                            </p>
                                        </div>
                                    </div>
                                    <a class="box box-link box_{{ loop.index}}" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}{{ Post.Title }}{% else %}{{ Lang.Get('this post') }}{% endif %}" class="link" href="{{ Post.PermaLink }}"></a>
                                </div>
                            {% endif %}
                        {% else %}
                            {{ Lang.Get('No post') }}
                        {% endlist %}
                    {% else %}
                        <div class="col-post clear">
                            {% if isSingle %}
                                <!-- Single Page -->
                                <h2 class="title">
                                    {% if Post.Title is not empty %}
                                        {{ Post.Title }}
                                    {% elseif not isPage%}
                                        {{ Post.Date|datel(Lang.Get('Default date format')) | title }}, {{ Post.Date|date("H:i") }}
                                    {% endif %}
                                </h2>
                                <p class="meta">
                                    {% if Post.Author and Post.Author is not empty %}
                                        <span class="author">{{ Lang.Get('By') }} {{ Post.Author }}</span>
                                    {% endif %}
                                    {% if not isPage %}
                                        <span class="date">{{ Post.Date|datel(Lang.Get('Default date format')) | title }}, {{ Post.Date|date("H:i") }}</span>
                                    {% endif %}
                                    <span class="links">
                                        {% list Post.Tags %}
                                            <a href="{{Tag.Url}}" title="{{Tag.Title}}">{{Tag.Title}}</a>
                                        {% endlist %}
                                    </span>
                                </p>
                                <div class="entry">
                                     {% if isSingle or Custom('display_mode') == 'All' %}
                                        {{ Post.Body }}
                                    {% elseif not isSingle and Custom('display_mode') != 'Summary' and Custom('display_mode') != 'All'  %}
                                        {{ Post.Body(Custom('display_mode')) }}
                                    {% else %}
                                        <p>{{ Post.Snippet }}</p>
                                    {% endif %}
                                </div>

                                <!-- Pagination -->
                                {% if Navigation.PreviousPage is not empty or Navigation.NextPage is not empty or Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
                                    {% if not isIndex %}<div class="col-post clear">{% endif %}
                                    <div class="pagination">
                                        {% if Navigation.PreviousPage is not empty or Navigation.PreviousPost is not empty %}
                                            {% if Navigation.PreviousPage is not empty %}
                                                <a href="{{ Navigation.PreviousPage }}" class="prev">{{ Lang.Get('Previous page') }}</a>
                                            {% elseif Navigation.PreviousPost is not empty %}
                                                <a href="{{ Navigation.PreviousPost.Permalink }}" class="prev" title="{{ Lang.Get('Go to') }} {% if Navigation.PreviousPost.Title is not empty %}&quot;{{ Navigation.PreviousPost.Title|truncate(30) }}&quot;{% else %}{{ Lang.Get('previous post') }}{% endif %}">{{ Lang.Get('Previous post') }}</a>
                                            {% endif %}
                                        {% endif %}
                                        {% if Navigation.NextPage is not empty or Navigation.NextPost is not empty %}
                                            {% if Navigation.NextPage is not empty %}
                                                <a href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next page') }}</a>
                                            {% elseif Navigation.NextPost is not empty %}
                                                <a href="{{ Navigation.NextPost.Permalink }}" class="next" title="{{ Lang.Get('Go to') }} {% if Navigation.NextPost.Title is not empty %}&quot;{{ Navigation.NextPost.Title|truncate(30) }}&quot;{% else %}{{ Lang.Get('next post') }}{% endif %}">{{ Lang.Get('Next post') }}</a>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                    {% if not isIndex %}</div>{% endif %}
                                    <div class="clear"></div>
                                {% endif %}

                                {% if Custom('share_service') != 'None' %}
                                    <div class="ob-section m-social-networks clear">
                                        {{ Post.Share }}
                                    </div>
                                {% endif %}
                                 {% if isSingle and isPage == false and Post.ShowComments is not empty %}
                                    <div class="bloc-comment ob-section clear" id="comments">
                                        <!-- Comments -->
                                        <div class="item-comments">
                                            <h3>{{ Lang.Get('Comments') }}</h3>
                                            {% if Custom("comment") == "Facebook" %}
                                                <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="640" data-colorscheme="{{ Custom("custom_facebook_comments_color_theme")|default('light') }}"></div>
                                            {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                                <div id="disqus_thread"></div>
                                                <script type="text/javascript">
                                                    var disqus_shortname = '{{ Custom('comment_disqus') }}';
                                                    (function() {
                                                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                                    })();
                                                </script>
                                                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                            {% else %}
                                                {{ Post.Comments }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% list Posts %}
                                    <div class="clear">
                                        <h2 class="title">
                                            <a title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}" href="{{ Post.PermaLink }}">
                                                {% if Post.Title is not empty %}
                                                    {{ Post.Title }}
                                                {% else %}
                                                    {{ Lang.Get('From') }}
                                                    {% list Post.Sources %}
                                                        {{ Lang.Get(Source) }}
                                                        {% if not loop.last %}
                                                             {{ Lang.Get('and') }}
                                                        {% endif %}
                                                    {% endlist %}
                                                {% endif %}
                                            </a>
                                        </h2>
                                        <p class="meta">
                                            {% if Post.Author and Post.Author is not empty %}
                                                <span class="author">{{ Lang.Get('By') }} {{ Post.Author }}</span>
                                            {% endif %}
                                            <span class="date">{{ Post.Date|datel(Lang.Get('Default date format')) | title }}, {{ Post.Date|date("H:i") }}</span>
                                            <span class="links">
                                                {% list Post.Tags %}
                                                    {% if loop.index < 5 %}
                                                        <a href="{{Tag.Url}}" title="{{Tag.Title}}">{{Tag.Title}}</a>
                                                    {% endif %}
                                                {% endlist %}
                                            </span>
                                        </p>
                                        <div class="entry">
                                            <p>
                                                {% if Post.Cover is not empty %}
                                                    <a class="ob-media ob-img ob-pull-left ob-media-left" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}" href="{{ Post.PermaLink }}">
                                                        <img alt="" src="{{ Post.Cover|resize(200, 150) }}">
                                                    </a>
                                                {% endif %}
                                                {{ Post.Snippet|truncate(75) }}
                                            </p>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                {% endlist %}
                                {% if isSearch and Posts is empty %}
                                    <!-- No result for search -->
                                    <p>{{ Lang.Get('No result found') }}.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if Custom('custom_hide_widget_categories') == false or Custom('custom_hide_widget_pages') == false or Custom('custom_hide_widget_biography') == false or Custom('custom_hide_widget_archives') == false %}
                            <div class="sidebar">
                                <ul>
                                    <!--Follow Us-->
                                    {% if Custom('custom_hide_widget_follow_us') == false %}
                                        <li>
                                            <h3>{{ Lang.Get('Follow us') }}</h3>
                                            <p class="m-networks clear">
                                                {% if Custom('facebook_profile_id') is not empty %}
                                                    <a title="Facebook" target="_blank" href="http://www.facebook.com/profile.php?id={{ Custom('facebook_profile_id') }}"><img alt="Facebook" src="http://assets.over-blog-kiwi.com/themes/31/images/facebook.png"></a>
                                                {% endif %}
                                                {% if Custom('twitter_account') is not empty %}
                                                    <a title="Twitter" target="_blank" href="https://www.twitter.com/{{ Custom('twitter_account') }}"><img alt="Twitter" src="http://assets.over-blog-kiwi.com/themes/31/images/twitter.png"></a>
                                                {% endif %}
                                                <a title="RSS" target="_blank" href="{{ Blog.RssUrl }}"><img alt="Twitter" src="http://assets.over-blog-kiwi.com/themes/31/images/rss.png"></a>
                                            </p>
                                        </li>
                                    {% endif %}

                                    {# lastPost #}
                                    {% if Custom('display_widget_lastPosts') != true %}
                                    <li class="last-posts" >
                                        <h3>{{ Lang.Get('Last Posts') }}</h3>
                                        <ul class="list clearfix">
                                            {% list Blog.Posts(6) %}
                                                {% if Post.Cover is not empty or Custom('post_cover') is not empty %}
                                                    <li class="left">
                                                            <a href="{{ Post.Permalink }}" title="{{Post.Title}}">
                                                                <img src="{% if Post.Cover is not empty %}{{ Post.Cover|resize(100,80)|crop }}{% else %}{{ Custom('post_cover')|resize(100,80)|crop }}{% endif %}" alt="{{Post.Title}}" width="100" height="80" /><span></span>
                                                            </a>
                                                    </li>
                                                {% endif %}
                                            {% endlist %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                    {% if Custom('custom_hide_widget_subscribe') == false %}
                                        <li class="subscribe">
                                            <h3>{{ Lang.Get('Subscribe') }}</h3>
                                            <div class="box-content">
                                                <p>{{ Lang.Get('Subscribe to be notified about future posts.') }}</p>
                                                {% email_notification %}
                                            </div>
                                        </li>
                                    {% endif %}
                                    <!-- Archives -->
                                    {% if Custom('custom_hide_widget_archives') == false %}
                                        {% if Blog.Archives is not empty %}
                                            <li>
                                                <h3>{{ Lang.Get('Archives') }}</h3>
                                                <ul class="list" id="archivelist">
                                                    {% list Blog.Archives %}
                                                        <li>
                                                            <a href="#" class"plustext" onclick="javascript: return switch_arch('{{Archive.Year}}')">{{Archive.Year}}</a>
                                                            <ul id="arch_{{Archive.Year}}" class="arch_month">
                                                            {% list Archive.Months %}
                                                                {% if Month.PostCount > 0 %}
                                                                    <li><a href="{{Month.Url}}">{{Lang.Get(Month.Name)}}</a> ({{Month.PostCount}})</li>
                                                                {% endif %}
                                                            {% endlist %}
                                                            </ul>
                                                        </li>
                                                    {% endlist %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="clear"></div>
                    <!-- Pagination -->
                    {% if isIndex %}
                        {% if Navigation.PreviousPage is not empty or Navigation.NextPage is not empty or Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}

                            <div class="pagination">
                                {% if Navigation.PreviousPage is not empty or Navigation.PreviousPost is not empty %}
                                    {% if Navigation.PreviousPage is not empty %}
                                        <a href="{{ Navigation.PreviousPage }}" class="prev">{{ Lang.Get('Previous page') }}</a>
                                    {% elseif Navigation.PreviousPost is not empty %}
                                        <a href="{{ Navigation.PreviousPost.Permalink }}" class="prev" title="{{ Lang.Get('Go to') }} {% if Navigation.PreviousPost.Title is not empty %}&quot;{{ Navigation.PreviousPost.Title|truncate(30) }}&quot;{% else %}{{ Lang.Get('previous post') }}{% endif %}">{{ Lang.Get('Previous post') }}</a>
                                    {% endif %}
                                {% endif %}
                                {% if Navigation.NextPage is not empty or Navigation.NextPost is not empty %}
                                    {% if Navigation.NextPage is not empty %}
                                        <a href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next page') }}</a>
                                    {% elseif Navigation.NextPost is not empty %}
                                        <a href="{{ Navigation.NextPost.Permalink }}" class="next" title="{{ Lang.Get('Go to') }} {% if Navigation.NextPost.Title is not empty %}&quot;{{ Navigation.NextPost.Title|truncate(30) }}&quot;{% else %}{{ Lang.Get('next post') }}{% endif %}">{{ Lang.Get('Next post') }}</a>
                                    {% endif %}
                                {% endif %}

                            </div>
                            <div class="clear"></div>
                        {% endif %}
                    {% endif %}
                    {% if isSpecial is empty %}
                     <p class="gotop clear"><a href="#top" ><img alt="" src="http://assets.over-blog-kiwi.com/themes/31/images/arrow-l.png" />{{ Lang.Get('Go top') }}</a></p>
                     {% endif %}
                </div>
            </div>
        </div>
        <div class="m-footer">
            {% if Custom('footer') %}
                <div class="m-page-wrapper">
                    <p>{{ Custom('footer') }}&nbsp;-&nbsp;{{ Lang.Get('Hosted by') }} <a href="http://www.over-blog.com" target="_blank">Overblog</a></p>
                </div>
            {% endif %}
        </div>

        <!-- Google Analytics -->
        {% if Custom('google_analytics') is not empty %}
            <script type="text/javascript">
                window.google_analytics_uacct = '{{ Custom('google_analytics') }}';
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ Custom('google_analytics') }}']);
                _gaq.push(['_trackPageview']);
                _gaq.push(['_trackPageLoadTime']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}

        <!-- Archives -->
        {% if Custom('custom_hide_widget_archives') == false %}
            <script type="text/javascript">
                function switch_arch(year) {
                    'use strict';
                    var archiveYear, archiveMonths, displayStyle;
                    displayStyle = '';
                    archiveYear = document.getElementById('arch_' + year);
                    if (typeof (archiveYear) !== 'undefined') {
                        if (archiveYear.style.display !== 'none') {
                            // Hide years without months
                            archiveMonths = archiveYear.getElementsByTagName('li');
                            if (!archiveMonths.length) {
                                archiveYear.parentNode.style.display = 'none';
                            }
                            // Onclick management
                            displayStyle = 'none';
                        }
                        archiveYear.style.display = displayStyle;
                    }
                    return false;
                }
            </script>
        {% endif%}

        <!-- Social networks : Facebook -->
        <div id="fb-root"></div>
        <script type="text/javascript">
            {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                // Disqus comments count -->
                var disqus_shortname = "{{ Custom('comment_disqus') }}";
                (function () {
                    var s = document.createElement('script');
                        s.async = true;
                        s.type = 'text/javascript';
                        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
            {% elseif Custom('comment') == 'Facebook' %}
                // Facebook comments + share
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
                        fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            {% endif %}

            {% if isSingle %}
                //Twitter render
                !function(d,s,id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if(!d.getElementById(id)){
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js,fjs);
                    }
                }(document,"script","twitter-wjs");
            {% endif %}
        </script>

        <!-- jQuery onReady -->
        <script type="text/javascript">
            jQuery(document).ready(function() {
                // Fancy box
                {% if isSingle %}
                    jQuery('.ob-section-images .ob-img').parent('a').attr('rel', 'fancyGroup');
                {% endif%}
                jQuery(".ob-section-images .ob-img").parent('a').add(".fancybox").fancybox({
                    'overlayShow'   : true,
                    'transitionIn'  : 'elastic',
                    'transitionOut' : 'elastic',
                    'type': 'image'
                });

                (function() {
                    {% if Custom('custom_hide_widget_search_form') == false %}
                        // HTML5 placeholder fallback
                        function isPlaceholderSupported() {
                            'use strict';
                            var o = document.createElement('input');
                            return 'placeholder' in o;
                        }
                        function initPlaceHolder(el){
                            if(jQuery.trim(el.val()) === '' || jQuery.trim(el.val()) === el.attr('placeholder')){
                                el.val(el.attr('placeholder'));
                                el.css({'color': '#999'});
                            }
                        }
                        function togglePlaceholder(el, submitMode) {
                            'use strict';
                            var v = jQuery.trim(el.val()), p = el.attr('placeholder');
                            if (v === '' && !submitMode) {
                                el.val(p);
                                el.css({'color': '#999'});
                            } else if (v === p) {
                                el.val('');
                            }
                        }
                        function emulatePlaceholder(form) {
                            'use strict';
                            if (!isPlaceholderSupported()) {
                                jQuery('input[placeholder]', form).each(function () {
                                    initPlaceHolder(jQuery(this));
                                }).focus(function () {
                                    togglePlaceholder(jQuery(this), false);
                                }).blur(function () {
                                    initPlaceHolder(jQuery(this));
                                });
                                form.submit(function () {
                                    jQuery(this).find('input[placeholder]').each(function () {
                                        togglePlaceholder(jQuery(this), true);
                                    });
                                });
                            }
                        }
                    {% endif%}

                    // Archives
                    {% if Custom('custom_hide_widget_archives') == false %}
                        {% list Blog.Archives %}
                            switch_arch('{{Archive.year}}');
                        {% endlist %}
                    {% endif%}
                })();
            });
        </script>
    </body>
</html>
