<!DOCTYPE html>
<html lang="{{ Blog.Lang | default('en') }}">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title -->
        {% title %}
        <!-- metas description, keyword, robots -->
        {% meta %}

        <!-- shortcut:[Includes] -->
        <!-- favicon -->
        {% favicon %}

        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />

        <!-- Custom vars -->
        <meta name="list:display_mode:label.numberOfSections" items="Summary,1,2,3,4,5,6,7,8,9,10,All" default="All" />

        <meta name="list:tag_number:label.numberOfTags" items="0,1,2,3,4,5,6,7,8,9,10,15,20,25,30,35,40" default="10" group="Navigation" />

        <meta name="tag:pinned_tag:label.pinnedTag" group="Slider" />
        <meta name="image:custom_default_slider_cover:label.defaultSliderCover" default="http://assets.over-blog-kiwi.com/themes/28/images/header/header.jpg" group="Slider" />
        <meta name="boolean:replace_slider:label.replaceSlider" group="Slider" />

        <meta name="string:footer:label.footer" default="Theme: Delicate &copy; 2012" group="Wording"  />

        <meta name="boolean:custom_hide_widget_search_form:label.hideSearchForm" group="Widgets" />
        <meta name="boolean:custom_hide_widget_follow_us:label.hideFollowUs" group="Widgets" />
        <meta name="boolean:custom_hide_widget_biography:label.hideBiography" group="Widgets" />
        <meta name="list:categories_number:label.numberOfTags" items="0,1,2,3,4,5,6,7,8,9,10,15,20,25,30,35,40" default="10" group="Widgets" />
        <meta name="boolean:custom_hide_widget_blog_archive:label.hideArchives" group="Widgets" />

        <meta name="string:twitter_username:label.twitterUsername" group="Social" />
        <meta name="string:facebook_username:label.facebookUsername" group="Social" />
        <meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, All" default="All" group="Social" />

        <meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comment" />
        <meta name="string:comment_disqus:label.disqusAccount" default="obcomment" group="Comment" />

        <meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
        <meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
        <meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
        <meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Template resources -->
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.css" type="text/css" />
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/nivo-slider.css" type="text/css" />
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/themes/default/default.css" type="text/css" />

        <style type="text/css">
            /*
            ------------------------------------------------------------------------
            Theme Name:    Delicate
            Theme URI:     http://www.nattywp.com/view-natty-theme.php?theme_id=99900&theme_name=Delicate
            Description:   With Delicate you can adjust Color scheme, display Header image or Page-based Slideshow, choose custom Slideshow effects and control Transition speed. This is a free professional WordPress theme built on the NattyWP CMS Framework.
            Version:       3.5.3
            Author:        NattyWP
            Author URI:    http://www.nattywp.com
            Tags:          light, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, theme-options
            ------------------------------------------------------------------------

            Support:       NattyWP, contactus@nattywp.com
            Updated:       Jan 25 2012
            License:       This version licensed under the terms of GNU General Public License v2.0.
            License URI:   http://www.gnu.org/licenses/gpl-2.0.html
            */

            /***** Reset *****/
            body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,textarea,blockquote,th,td{ margin:0; padding:0;}
            table{ border-collapse:collapse; border-spacing:0;}
            fieldset,img{ border:0;}
            address,caption,cite,code,dfn,var{ font-style:normal; font-weight:normal;}
            ol,ul{ list-style:none;}
            caption,th{ text-align:left;}
            h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
            q:before,q:after{ content:'';}
            abbr,acronym{ border:0;}

            .left {float: left;}
            .right {float: right;}
            .clear {clear: both; display: block; visibility: hidden;}

            a {color: #2786C2; -webkit-transition: color 300ms ease; -moz-transition: color 300ms ease; -ms-transition: color 300ms ease; -o-transition: color 300ms ease; transition: color 200ms ease; text-decoration: none;}
            .button {
                background: #eeeeee; /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
                border: 1px solid #DDD;
            }
            .button:active {
                background: #dddddd; /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                background: -moz-linear-gradient(top,  #dddddd 0%, #eeeeee 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #dddddd 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #dddddd 0%,#eeeeee 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #dddddd 0%,#eeeeee 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #dddddd 0%,#eeeeee 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
            }


            body {background: #EDEEEF {% if Custom('background_image') is not empty %}url({{ Custom(background_image) }}) no-repeat center center fixed {% endif %}; color: #222; font-family:"Trebuchet MS",Arial,Helvetica,sans-serif; font-size: 12px; line-height: 18px;}
            .content {background: #FFF; margin: 0 auto; padding: 0 30px; position: relative; width: 970px;}


            /**** HEADER *****/
                /*** logo ***/
                .logo {font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-size: 30px; margin: 25px 0 0 0; padding-top: 13px; text-shadow: 2px 2px 3px #CCC; width: 550px;}
                .logo a {color: #454545; display: block; line-height: 40px; max-width: 500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

                .search {margin-top: 50px; width: 372px;}
                .search input[type="text"] {background: url(http://assets.over-blog-kiwi.com/themes/28/images/search.png) no-repeat scroll 0 0; border: none; color: #9499A1; float:left; font-family: Arial; font-size:13px; height:17px; margin: 0; padding: 5px 10px 0 38px; width:240px;}
                .search input[type="submit"] {-webkit-border-radius: 12px; -moz-border-radius: 12px; -ms-border-radius: 12px; -o-border-radius: 12px; border-radius: 12px; cursor: pointer; padding: 5px 10px; -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; transition: all all 0.3s ease 0s;}

                /*** menu ***/
                .menu {border-bottom:1px solid #EEE; border-top:1px solid #EEE; margin: 15px 0 30px; overflow: hidden;}
                .ul-top li {display: inline-block; padding-right: 30px; width: auto;}
                .ul-top li a {color: #454545; display: block; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 17px; line-height: 18px; padding: 5px 0; position: relative; text-decoration: none; text-transform: uppercase;}
                .ul-top li.active a {color: #0E73B8;}
                .ul-top li a:hover {text-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);}
                .ul-bottom {background: #FFF; border: 1px solid #dbdbdb; -webkit-opacity: 0; -moz-opacity: 0; -ms-opacity: 0; -o-opacity: 0; opacity: 0; position: absolute; -webkit-transition: opacity 500ms ease; -moz-transition: opacity 500ms ease; -ms-transition: opacity 500ms ease; -o-transition: opacity 500ms ease; transition: opacity 500ms ease; visibility: hidden; width: 180px; z-index: 999;}
                .ul-top li:hover .ul-bottom {-webkit-opacity: 1; -moz-opacity: 1; -ms-opacity: 1; -o-opacity: 1; opacity: 1; visibility: visible;}
                .ul-bottom li {background: #FFF; border-top: 1px solid #fff; border-bottom: 1px solid #dbdbdb; padding-right: 0;}
                .ul-bottom li a {color: #454545; font-size: 11px; line-height: 23px; padding: 5px 10px; overflow: hidden; text-overflow: ellipsis; text-transform: none; white-space: nowrap; width: 160px;}
                .ul-bottom li:last-child {border-bottom: 0;}

                .ul-top .indicator {background: url(http://assets.over-blog-kiwi.com/themes/28/images/arrow-superfish.png) no-repeat; display:block; height: 10px; overflow:hidden; position: absolute; right:-0.8em; text-indent:-999em; top: 0.7em; width: 10px;}

                /*** slideshow ***/
                .slideshow-bg {margin-bottom:20px; overflow: hidden; position: relative; width: 970px;}
                .slideshow {background: #F9F9F9; margin-bottom: 15px; overflow: hidden; position:relative; width: 970px;}
                .slideshow article {height: 300px; width: 100%;}
                .slideshow img {height: 100%; width: 100%;}
                .tagline {background: #fff; height: 30px; margin-top: -15px; max-width: 500px; padding: 0 12px; position: absolute; right: 0px; text-transform: uppercase; top: 50%;}
                .tagline a {color: #333; display: block; font-size: 12px; font-weight: bold; line-height: 30px; max-width: 500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
                .tagline a:hover {color: #0E73B8;}
                .slideshow-nav {bottom: 0px; left: 47%; position: absolute;}
                .slideshow-nav a.activeSlide {background:url("http://assets.over-blog-kiwi.com/themes/28/images/pagination-small.png") no-repeat 0 0;}
                .slideshow-nav a {background:url("http://assets.over-blog-kiwi.com/themes/28/images/pagination-small.png") no-repeat 0 -9px; display: block; float: left; height: 9px; margin:0 1px; text-indent: -9999px; width: 9px;}


            /***** MAIN ****/
            .main {border-bottom: 1px solid #EEE;}

                /*** posts ***/
                .posts {padding: 12px 40px 40px 0; width: 610px;}
                .notification {font-size: 20px; font-style: italic; margin-bottom: 30px; text-transform: uppercase;}
                .empty {margin-top: -20px;}
                .post {margin: 0px 10px 20px 0px;}
                .comments {background: url(http://assets.over-blog-kiwi.com/themes/28/images/comments.png) no-repeat 0 2px; margin: 10px 0 10px 30px; padding: 0 0 0 20px;}
                .comments:hover {color: #01ADF1;}
                .title {color: #4D4D4F; display: block; font-size: 24px; line-height: 35px;}
                .title:hover {color: #0E73B8;}
                .meta {color: #878789; font-size: 11px; padding-left: 3px;}
                .meta p {display: inline-block;}
                .entry {margin-top: 26px;}

                    /* repost banner */
                    .ob-repost {border: 1px solid #E2E2E2; font-weight: bold; padding: 0.5em 0.8em; text-align: center;}
                    .ob-repost .ob-link {text-decoration: underline;}

                    /* sections */
                    .ob-section {width: 100%;}
                    .ob-media {max-width: 100%;}
                    .ob-desc {font-style: italic; font-weight: bold;}
                    .ob-section ul {list-style: disc; margin-bottom: 20px; padding-left: 20px;}
                    .ob-section ol {list-style: decimal; margin-bottom: 20px; padding-left: 45px;}

                    .ob-media-left {margin: 0 30px 20px 0;}

                    /* section texte */
                    .ob-text h3,
                    .ob-text h4,
                    .ob-text h5 {margin: 15px 0 5px;}
                    .ob-text h3 {font-size: 18px;}
                    .ob-text h4 {font-size: 16px;}
                    .ob-text h5 {font-size: 14px; font-weight: bold;}

                    /* section file */
                    .ob-section-file .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
                    .ob-section-file .ob-ctn a.ob-link,
                    .ob-section-file .ob-c a.ob-link:visited {color: #0E73B8; text-decoration: underline; text-shadow: none;}
                    .ob-section-file .ob-ctn a.ob-link:hover {color: #0E73B8; text-decoration: none;}
                    .ob-section-file .ob-ctn {display:block;width:100%;max-width:none;}
                    .ob-section-file .ob-link {max-width:555px;font-weight:normal;}
                    .ob-section-file .ob-desc {margin-top: 5px;}

                    /* section quote */
                    .ob-section-quote {background: #FFF; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); margin-bottom: 20px;}
                    .ob-section-quote .ob-quote {background: none; margin: 0; min-height: auto; overflow: none; padding: 0;}
                    .ob-section-quote p {color: #4D4D4F; min-height: 20px;}
                    .ob-section-quote .ob-quote p {color: #4D4D4F; margin: 40px 70px 20px;}
                    .ob-section-quote p:before {margin: -82px 0 0 -87px;}
                    .ob-section-quote p:after {margin: 72px 0 0 0 !important;}
                    .ob-section-quote .ob-quote p:before {color: #0E73B8;}
                    .ob-section-quote .ob-quote p:after {color: #0E73B8;}
                    .ob-section-quote p.ob-author,
                    .ob-section-quote p.ob-source {background: #EEE; color: #555; font-size: 14px; font-style: italic; margin: 25px 0 0; max-height: 20px; max-width: 510px; overflow: hidden; padding-bottom: 0\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}

                    .ob-section-quote p.ob-author, .ob-section-quote p.ob-source {background: #EFEFEF;}
                    .ob-section-quote .ob-link {color: #4D4D4F;}

                    /* section video */
                    .ob-section-video iframe,
                    .ob-section-video embed,
                    .ob-section-video object {max-height: 346px; width: 100%;}

                    /* Section HTML */
                    .ob-section-html iframe,
                    .ob-section-html object,
                    .ob-section-html embed {max-width: 100%}

                    .tags {border-top: 1px dotted #d5d5d5; color: #878789; font-size: 11px; margin-top: 15px; padding: 3px 2px 10px 2px; text-align: left;}
                    .tags .tag {padding: 5px 0 6px 0;}
                    .tags .tag a {padding-top: 5px; color: #878789;}
                    .tags .tag a:hover {color: #0E73B8;}
                    .tags .tag:first-child {background: url(http://assets.over-blog-kiwi.com/themes/28/images/icons/meta-tags.gif) no-repeat 0 5px; padding-left: 18px;}

                    /* Section audio */
                    .obsoundplayer .obsoundplayername {width: 175px !important;}

                    /* section links */
                    .ob-section-link .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
                    .ob-section-link .ob-media-left {margin: 0;}
                    .ob-section-link .ob-img {float: left; width: 170px;}
                    .ob-section-link p.ob-title {color: #C2E074; margin-left: 20px; max-height: 36px; overflow: hidden;}
                    .ob-section-link p.ob-title .ob-link {color: #0E73B8; font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
                    .ob-section-link p.ob-snippet {color: #4D4D4F; font-family:"Trebuchet MS",Arial,Helvetica,sans-serif; margin-bottom: 35px; margin-left: 20px; max-height: 26px; overflow: hidden;}
                    .ob-section-link p.ob-url {background: #EFEFEF; margin: 0; max-height: 20px; max-width: 386px; padding-bottom: 0\9;}
                    .ob-section-link .ob-url .ob-link {color: #4D4D4F; font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
                    .ob-section-link .ob-desc {margin-top: 5px;}

                    .ob-section-link .ob-ctn,
                    .ob-section-file .ob-ctn,
                    .ob-section-quote {-moz-border-radius: 5px ;-webkit-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;border: 1px solid #DDDDDD; background: white; background: rgba(255, 255, 255, 0.1);}

                    .ob-section-link .ob-url,
                    .ob-section-quote .ob-author,
                    .ob-section-quote .ob-source {border-bottom-right-radius: 5px;}

                    /* twitter box */
                    .twitter-tweet-rendered,
                    .twt-border {max-width: 100% !important; width: 100% !important;}

                    .social-sharing {margin: 30px 0;}
                    .social-sharing .fb-like {width: 105px;}
                    .social-sharing .ob-repost-btn {margin-top: -2px;}
                    .social-sharing h6,
                    .item-comments h6 {font-size: 16px; margin-bottom: 5px;}


                /*** SPECIAL PAGE ***/
                .special h3 {color: #4D4D4F; font-size: 24px; line-height: 35px;}
                .ob-input-text,
                .ob-input-email,
                .ob-input-textarea {border: 1px solid #C3C3C3; padding: 8px;}
                .ob-input-submit {-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #333; cursor: pointer; display: block; font-size: 12px; font-weight: bold; padding: 3px 8px; text-decoration: none;}
                .ob-terms {display: block; margin-top: 60px; text-align: center;}
                .ob-terms:hover {color: #0E73B8;}

            .pagination {display: block; margin: 10px 0 {% if isSingle %}30px{% else %}0{% endif %};}
            .pagination a {-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #333; display: block; font-size: 11px; font-weight: bold; padding: 3px 8px;}

            /*** sidebar ***/
            .sidebar {color: #454547; margin-top: 10px; padding: 0 10px 0 10px; width: 280px;}
            .sidebar h3 {color: #4D4D4F; font-size: 19px; margin-bottom: 15px;}
            .widget {border-bottom: 2px dashed #c3c3c3; color: #454547; margin-bottom: 15px; padding: 10px 10px 30px 10px;}
            .widget li {border-bottom: 1px solid #E8E8E8; margin-top: 5px; padding-bottom: 5px;}
            .widget li:last-child {border-bottom: none;}
            .widget a {background: url(http://assets.over-blog-kiwi.com/themes/28/images/bullets/6.gif) no-repeat left 6px; color: #4D4D4F; display: block; font-size: 14px; line-height: 16px; padding: 4px 0 4px 22px;}
            .widget li.active a,
            .widget a:hover {color: #0e73b8;}
            .widget a:before,
            .widget a:after {display: inline-block; margin-right: 8px; vertical-align: middle;}
            .avatar {display: inline !important;}
            .avatar img {margin: 0 10px 10px 0;}
            a.facebook,
            a.twitter,
            a.rss {background-position: left 12px;}
            .facebook:before {content: url(http://assets.over-blog-kiwi.com/themes/28/images/facebook.png);}
            .twitter:before {content: url(http://assets.over-blog-kiwi.com/themes/28/images/twitter.png);}
            .rss:before {content: url(http://assets.over-blog-kiwi.com/themes/28/images/rss.png);}
            #archivelist a {display: inline-block;}
            .arch_month li {border-bottom: none; margin-left: 15px;}
            .arch_month a {background: url(http://assets.over-blog-kiwi.com/themes/28/images/ico-meta.gif) no-repeat left 8px; padding-left: 15px;}

            /*** footer ***/
            .footer {border-top: 2px solid #EDEEEF; text-align: center;}
            .footer p {color: #969696; padding: 15px;}
            .footer a,
            .footer a:hover {color: #ffae00; text-decoration: none;}
        </style>
    </head>
    <body class="home">
        <div id="fb-root"></div>
        <div class="content">
            <header class="header">
                <h1 class="logo left">
                    <a href="{{ Blog.Url }}" title="{{ Blog.Description }}">
                        {% if Custom('custom_logo_picture') is not empty %}
                            <img src="{{ Custom('custom_logo_picture')|resize(400,100) }}" alt="{{ Blog.Title }}" title="{{ Blog.Title }}" width="400" height="100" />
                        {% else %}
                            {{ Blog.Title }}
                        {% endif %}
                    </a>
                </h1>

                {% if Custom('custom_hide_widget_search_form') == false %}
                    <!-- Search form -->
                    <form class="search right" action="/search" method="post">
                        <input type="text" class="left" title="search" value="{% if isSearch %}{{ Search.Keyword }}{% endif %}" placeholder="{{ Lang.Get('Search something here') }}..." name="q" />
                        <input type="submit" class="right button" value="{{ Lang.Get('Search') }}" />
                    </form>
                {% endif %}
                <div class="clear"></div>

                <nav class="menu">
                    <ul class="ul-top">
                        <li {% if isIndex %}class="active"{% endif %}>
                            <a href="{{ Blog.Url }}">
                                {{ Lang.Get('Home') }}
                            </a>
                        </li>
                        <li {% if isTag %}class="active"{% endif %}>
                            <a href="#">
                                {{ Lang.Get('Tags') }} <span class="indicator"></span>
                            </a>
                            <ul class="ul-bottom">
                                {% list Blog.PostsTags(Custom('tag_number')) %}
                                    <li {% if isTag and Tag.Title == PostsTag.Title %}class="active"{% endif %}>
                                        <a href="{{ PostsTag.Url }}">
                                            <span>{{ PostsTag.Title|title }}</span>
                                        </a>
                                    </li>
                                {% endlist %}
                            </ul>
                        </li>
                        {% list Blog.ListPages %}
                            {% if loop.first %}
                                <li {% if isPage %}class="active"{% endif %}>
                                    <a href="#">
                                        {{ Lang.Get('Pages') }} <span class="indicator"></span>
                                    </a>
                                    <ul class="ul-bottom">
                            {% endif %}
                                        <li>
                                            <a href="{{ ListPage.Url }}">{{ ListPage.Title|title }}</a>
                                        </li>
                            {% if loop.last %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endlist %}
                        <li {% if isSpecial %}class="active"{% endif %}>
                            <a href="/contact">{{ Lang.Get('Contact') }}</a>
                        </li>
                    </ul>
                </nav>

                <div class="slideshow-bg module">
                    <div class="slideshow">
                        {% if Custom('replace_slider') == false %}
                            {% if Custom('pinned_tag') is not empty %}
                                {% list Blog.TaggedPosts(Custom('pinned_tag'), 10) %}
                                    <article>
                                        <div class="tagline">
                                            <h2>
                                                <a title="{{ TaggedPost.Snippet }}" href="{{ TaggedPost.PermaLink }}">
                                                    {% if TaggedPost.Title is not empty %}
                                                        {{ TaggedPost.Title }}
                                                    {% else %}
                                                        {{ Lang.Get('Posted from') }}
                                                        {% list TaggedPost.Sources %}
                                                            {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                                        {% endlist %}
                                                    {% endif %}
                                                </a>
                                            </h2>
                                        </div>
                                        <img src="{% if TaggedPost.Cover is not empty %}{{ TaggedPost.Cover|resize(970,301)|crop }}{% else %}{{ Custom('custom_default_slider_cover')|default('http://assets.over-blog-kiwi.com/themes/28/images/header/header.jpg')|resize(970,301)|crop }}{% endif %}" title="{{ TaggedPost.Title }}" alt="" width="970" height="301" />
                                    </article>
                                {% endlist %}
                            {% else %}
                                {% list Blog.Posts(10) %}
                                    <article>
                                        <div class="tagline">
                                            <a title="{{ Post.Snippet }}" href="{{ Post.PermaLink }}">
                                                {% if Post.Title is not empty %}
                                                    {{ Post.Title }}
                                                {% else %}
                                                    {{ Lang.Get('Posted from') }}
                                                    {% list Post.Sources %}
                                                        {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                                    {% endlist %}
                                                {% endif %}
                                            </a>
                                        </div>
                                        <img src="{% if Post.Cover is not empty %}{{ Post.Cover|resize(970,301)|crop }}{% else %}{{ Custom('custom_default_slider_cover')|default('http://assets.over-blog-kiwi.com/themes/28/images/header/header.jpg')|resize(970,301)|crop }}{% endif %}" title="{{ Post.Title }}" alt="" width="970" height="301" />
                                    </article>
                                {% endlist %}
                            {% endif %}
                        {% else %}
                            <img src="{{ Custom('custom_default_slider_cover')|default('http://assets.over-blog-kiwi.com/themes/28/images/header/header.jpg')|resize(970,301)|crop }}" title="{{ Post.Title }}" alt="" width="970" height="301" />
                        {% endif %}
                    </div>
                    <div class="slideshow-nav"></div>
                </div>
            </header>
            <div class="main">
                <section class="posts left">
                    {% if isSpecial %}
                        <article class="post special">
                            {{ SpecialContent }}
                        </article>
                    {% else %}
                        {% if isSearch %}
                            <p class="notification">
                                {{ Lang.Get('Search results for') }} &ldquo;{{ Search.Keyword }}&rdquo;
                            </p>
                        {% elseif isTag %}
                            <p class="notification">
                                {{ Lang.Get('Posts with') }} #{{ Tag.Title }} {{ lang.Get('tag') }}
                            </p>
                        {% endif %}
                        {% list Posts %}
                            <article class="post">
                                <header>
                                    {% if not isSingle and Post.ShowComments is not empty %}
                                        {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                            <a title="{{ Lang.Get('comments') }}" class="comments right" href="{{ Post.PermaLink }}#disqus_thread"></a>
                                        {% else %}
                                            <a title="{{ Lang.Get('comments') }}" class="comments right" href="{{ Post.PermaLink }}#comments">
                                                {% if Custom("comment") == "Facebook" %}
                                                    <fb:comments-count href={{ Post.Permalink }}></fb:comments-count> {{ Lang.Get('comments') }}
                                                {% else %}
                                                    {{ Post.CommentCount(Lang.Get('ncomment'), Lang.Get('ncomments')) }}
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                    {% endif %}

                                    <h2>
                                        <a class="title" title="{{ Post.Snippet }}" href="{{ Post.PermaLink }}">
                                            {% if Post.Title is not empty %}
                                                {{ Post.Title }}
                                            {% else %}
                                                {{ Lang.Get('Published from') }}
                                                {% list Post.Sources %}
                                                    {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                                {% endlist %}
                                            {% endif %}
                                        </a>
                                    </h2>

                                    <div class="meta">
                                        <p>{{ Post.Date|datel(Lang.Get('Default date format'))|title }}, {{ Post.Date|date("H:ia") }}</p>
                                        {% if Post.Author and Post.Author is not empty %}
                                            |&nbsp;<p>{{ Lang.Get('Posted by') }} {{ Post.Author }}</p>
                                        {% endif %}
                                    </div>
                                </header>
                                <div class="entry">
                                    {% if isSingle or Custom('display_mode') == 'All' %}
                                        {{ Post.Body }}
                                    {% elseif not isSingle and Custom('display_mode') != 'Summary' and Custom('display_mode') != 'All'  %}
                                        {{ Post.Body(Custom('display_mode')) }}
                                    {% else %}
                                        {% if Post.Cover is not empty %}
                                            <a href="{{ Post.Permalink }}" title="{{ Post.Cover }}">
                                                <img src="{{ Post.Cover|resize(600,350)|crop }}" alt="" width="600" height="350" />
                                            </a>
                                        {% endif %}
                                        <p>{{ Post.Snippet }}</p>
                                    {% endif %}
                                </div>
                                <div class="social-sharing">
                                    <h6>{% if isPage %}{{ Lang.Get('Share this page') }}{% else %}{{ Lang.Get('Share this post') }}{% endif %}</h6>
                                    {% if Custom('share_service') != 'None' %}
                                        {% if Custom('share_service') == 'Google +' %}
                                            <div class="left">
                                                <div class="g-plusone" data-size="medium" data-href="{{ Post.Permalink }}"></div>
                                            </div>
                                        {% elseif Custom('share_service') == 'Twitter' %}
                                           <div class="left">
                                                <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
                                            </div>
                                        {% elseif Custom('share_service') == 'Facebook' %}
                                            <div class="left">
                                                <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="110" data-show-faces="false"></div>
                                            </div>
                                        {% elseif Custom('share_service') == 'All' or Custom('share_service') is empty %}
                                            <div class="left">
                                                <div class="g-plusone" data-size="medium" data-href="{{ Post.Permalink }}"></div>
                                            </div>
                                            <div class="left">
                                                <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
                                            </div>
                                            <div class="left">
                                                <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="110" data-show-faces="false"></div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="left">
                                        {{ Post.RepostButton }}
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                {% if Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
                                    <!-- Pagination -->
                                    <nav class="pagination">
                                        {% if Navigation.PreviousPost is not empty %}
                                            <a class="prev left button" href="{{ Navigation.PreviousPost.Permalink }}" class="prev" title="{{ Lang.Get('Go to') }} {% if Navigation.PreviousPost.Title is not empty %}&quot;{{ Navigation.PreviousPost.Title|truncate(30) }}&quot;{% else %}{{ Lang.Get('previous post') }}{% endif %}">&laquo; {{ Lang.Get('Previous post') }}</a>
                                        {% endif %}
                                        {% if Navigation.NextPost is not empty %}
                                            <a class="next right button" href="{{ Navigation.NextPost.Permalink }}" class="next" title="{{ Lang.Get('Go to') }} {% if Navigation.NextPost.Title is not empty %}&quot;{{ Navigation.NextPost.Title|truncate(30) }}&quot;{% else %}{{ Lang.Get('next post') }}{% endif %}">{{ Lang.Get('Next post') }} &raquo;</a>
                                        {% endif %}
                                        <div class="clear"></div>
                                    </nav>
                                {% endif %}

                                {% if isSingle and not isPage and Post.ShowComments is not empty%}
                                    <!-- Comments -->
                                    <div class="item-comments">
                                        {% if Custom("comment") == "Facebook" %}
                                            <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="600" data-colorscheme="{{ Custom("custom_facebook_comments_color_theme")|default('light') }}"></div>
                                        {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                            <div id="disqus_thread"></div>
                                            <script type="text/javascript">
                                                var disqus_shortname = '{{ Custom('comment_disqus') }}';
                                                (function() {
                                                    var dsq = document.createElement('script');
                                                        dsq.type = 'text/javascript';
                                                        dsq.async = true;
                                                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                                })();
                                            </script>
                                            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                        {% else %}
                                            <h6>{{ Lang.Get('Comment this post') }}</h6>
                                            {{ Post.Comments }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if Post.Tags is not empty %}
                                    <footer class="tags">
                                        <p class="tag">
                                            {% list Post.Tags %}
                                                <a href="{{ Tag.Url }}" title="{{ Tag.Title }}">{{ Tag.Title|title }}</a>{% if loop.last is empty %}, {% endif %}
                                            {% endlist %}
                                        </p>
                                    </footer>
                                {% endif %}
                            </article>
                        {% else %}
                            <p class="empty">
                                {{ Lang.Get('No results for this expression.') }}
                            </p>
                        {% endlist %}
                    {% endif %}

                    {% if Navigation.PreviousPage is not empty or Navigation.NextPage %}
                        <!-- Pagination -->
                        <nav class="pagination">
                            {% if Navigation.PreviousPage is not empty %}
                                <a class="prev left button" href="{{ Navigation.PreviousPage }}" class="prev">&laquo; {{ Lang.Get('Previous page') }}</a>
                            {% endif %}
                            {% if Navigation.NextPage is not empty %}
                                <a class="next right button" href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next page') }} &raquo;</a>
                            {% endif %}
                            <div class="clear"></div>
                        </nav>
                    {% endif %}
                </section>

                <div class="sidebar right">
                    {% if Custom('custom_hide_widget_biography') == false %}
                        <!-- Blog owner bio -->
                        <div class="widget">
                            {% if Blog.Owner.Nickname is not empty and Blog.Owner.Bio is not empty %}
                                <h3>{{ Blog.Owner.Nickname }}</h3>
                                {% if Blog.Owner.Bio is not empty %}
                                    <p>
                                        {% if Blog.Owner.Avatar is not empty %}
                                            <a class="avatar" href="{{ Blog.Owner.Avatar }}" title="{{ Blog.Owner.Nickname }}">
                                                <img class="left" src="{{ Blog.Owner.Avatar|resize(100)|crop }}" alt="" />
                                            </a>
                                        {% endif %}

                                        {{ Blog.Owner.Bio }}
                                    </p>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if Custom('custom_hide_widget_follow_us') == false %}
                        <!-- Social widget -->
                        <div class="widget">
                            <h3>{{ Lang.Get('Follow me') }}</h3>
                            <ul>
                                {% if Custom('facebook_username') %}
                                    <li>
                                        <a class="facebook" href="http://facebook.com/{{ Custom('facebook_username') }}" target="_blank">{{ Lang.Get('Find me on') }} Facebook</a>
                                    </li>
                                {% endif %}
                                {% if Custom('twitter_username') %}
                                    <li>
                                        <a class="twitter" href="http://twitter.com/{{ Custom('twitter_username') }}" target="_blank">{{ Lang.Get('Follow me on') }} Twitter</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="rss" href="{{ Blog.RssUrl }}" target="_blank">{{ Lang.Get('Subscribe to RSS feed') }}</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}

                    <!-- Categories -->
                    {% if Custom('categories_number') > 0 %}
                        <div class="widget">
                            <h3>{{ Lang.Get('Categories') }}</h3>
                            <ul>
                                {% list Blog.PostsTags(10) %}
                                    <li {% if isTag and Tag.Title == PostsTag.Title %}class="active"{% endif %}>
                                        <a href="{{ PostsTag.Url }}">
                                            {{ PostsTag.Title|title }} ({{ PostsTag.PostCount }})
                                        </a>
                                    </li>
                                {% endlist %}
                            </ul>
                        </div>
                    {% endif %}

                    <!-- Archives -->
                    {% if Custom('custom_hide_widget_blog_archive') == false and Blog.Archives is not empty %}
                        <div class="widget">
                            <h3>{{ Lang.Get('Archives') }}</h3>
                            <ul class="list" id="archivelist">
                                {% list Blog.Archives %}
                                    <li>
                                        <a href="#" class"plustext" onclick="javascript: return switch_arch('{{Archive.Year}}')">{{ Archive.Year }}</a>
                                        <ul id="arch_{{ Archive.Year }}" class="arch_month">
                                        {% list Archive.Months %}
                                            {% if Month.PostCount > 0 %}
                                                <li><a href="{{ Month.Url }}">{{ Lang.Get(Month.Name) }}</a> ({{ Month.PostCount }})</li>
                                            {% endif %}
                                        {% endlist %}
                                        </ul>
                                    </li>
                                {% endlist %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <!-- shortcut:[Footer content] -->
            <footer class="footer">
                <p>{{ Custom('footer')|default('Theme: Delicate &copy; 2012') }}&nbsp;-&nbsp;{{ Lang.Get('Hosted by') }} <a href="http://www.over-blog.com" target="_blank">Overblog</a></p>
            </footer>
        </div>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <script src="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/jquery.nivo.slider.pack.js"></script>
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
        {% if Custom('replace_slider') == false %}
            <script src="http://assets.over-blog-kiwi.com/themes/28/js/jquery.cycle.all.min.js?ver=3.3.1"></script>
        {% endif %}

        <script>
            jQuery(document).ready(function($) {
                var formSubmit = $(".ob-input-submit")
                formSubmit.addClass("button");

                {% if Custom('replace_slider') == false %}
                    $('.slideshow').cycle({
                        fx                  : 'fade',
                        timeout             : 5000,
                        pager               : '.slideshow-nav',
                        speed               : 1000,
                        pagerEvent          : 'click',
                        pauseOnPagerHover   : true,
                        cleartypeNoBg       : true
                    });
                {% endif %}

                // Fancybox
                $(".ob-section-images a, .ob-link-img").attr("rel", "fancybox");
                $("a[rel=fancybox], .avatar").fancybox({
                    'overlayShow'   : true,
                    'titlePosition' : 'over',
                    'transitionIn'  : 'fadin',
                    'transitionOut' : 'fadin',
                    'type'          : 'image'
                });

                {% if Custom('custom_hide_widget_search_form') == false %}
                    (function() {
                        // HTML5 placeholder fallback
                        function isPlaceholderSupported() {
                            'use strict';
                            var o = document.createElement('input');
                            return 'placeholder' in o;
                        }
                        function initPlaceHolder(el){
                            if(jQuery.trim(el.val()) === '' || jQuery.trim(el.val()) === el.attr('placeholder')){
                                el.val(el.attr('placeholder'));
                                el.css({'color': '#999'});
                            }
                        }
                        function togglePlaceholder(el, submitMode) {
                            'use strict';
                            var v = jQuery.trim(el.val()), p = el.attr('placeholder');
                            if (v === '' && !submitMode) {
                                el.val(p);
                                el.css({'color': '#999'});
                            } else if (v === p) {
                                el.val('');
                            }
                        }
                        function emulatePlaceholder(form) {
                            'use strict';
                            if (!isPlaceholderSupported()) {
                                jQuery('input[placeholder]', form).each(function () {
                                    initPlaceHolder(jQuery(this));
                                }).focus(function () {
                                    togglePlaceholder(jQuery(this), false);
                                }).blur(function () {
                                    initPlaceHolder(jQuery(this));
                                });
                                form.submit(function () {
                                    jQuery(this).find('input[placeholder]').each(function () {
                                        togglePlaceholder(jQuery(this), true);
                                    });
                                });
                            }
                        }
                    })();
                {% endif%}
            });

            {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                // Disqus comments count
                var disqus_shortname = "{{ Custom('comment_disqus') }}";
                (function () {
                    var s = document.createElement('script'); s.async = true;
                        s.type = 'text/javascript';
                        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
            {% endif %}

            {% if Custom('google_analytics') is not empty %}
                // Google Analytics
                window.google_analytics_uacct = '{{ Custom('google_analytics') }}';
                var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', '{{ Custom('google_analytics') }}']);
                    _gaq.push(['_trackPageview']);
                    _gaq.push(['_trackPageLoadTime']);

                (function() {
                    var ga = document.createElement('script');
                        ga.type = 'text/javascript';
                        ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(ga, s);
                })();
            {% endif %}

            {% if Custom('custom_hide_widget_archives') == false %}
                // Archives
                function switch_arch(year) {
                    'use strict';
                    var archiveYear, archiveMonths, displayStyle;
                    displayStyle = '';
                    archiveYear = document.getElementById('arch_' + year);
                    if (typeof (archiveYear) !== 'undefined') {
                        if (archiveYear.style.display !== 'none') {
                            // Hide years without months
                            archiveMonths = archiveYear.getElementsByTagName('li');
                            if (!archiveMonths.length) {
                                archiveYear.parentNode.style.display = 'none';
                            }
                            // Onclick management
                            displayStyle = 'none';
                        }
                        archiveYear.style.display = displayStyle;
                    }
                    return false;
                }
                {% list Blog.Archives %}
                    {% if Archive.Year != "now"|date("Y") %}
                        switch_arch('{{Archive.Year}}');
                    {% endif %}
                {% endlist %}
            {% endif %}

            // FAcebook button + comments
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
                    fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            // Twitter share + tweets
            !function(d,s,id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,"script","twitter-wjs");

            // Google + button
                (function() {
                    var po = document.createElement('script');
                        po.type = 'text/javascript';
                        po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                })();
        </script>
    </body>
</html>
