<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ Blog.Lang | default('en') }}">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title -->
        {% title %}
        <!-- metas description, keyword, robots -->
        {% meta %}

        <!-- shortcut:[Includes] -->
        <!-- favicon -->
        {% favicon %}

        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- Custom vars -->
        <meta name="constant:displayArticlesLimit" content="10" />
        <meta name="list:display_mode:label.numberOfSections" items="Summary,1,2,3,4,5,6,7,8,9,10,All" default="All" />

        <meta name="string:custom_footer:label.footerText" default="Theme: Nullified &copy; 2012" />

        <meta name="image:custom_header_picture:label.headerImage" default="http://assets.over-blog-kiwi.com/themes/29/images/105.jpg" group="Home" />
        <meta name="string:custom_home_subtitle:label.mainSubtitle" default="Welcome to my blog" group="Home" />

        <meta name="boolean:custom_hide_widget_search_form:label.hideSearchForm" group="Widgets" />
        <meta name="boolean:custom_hide_widget_biography:label.hideBiography" group="Widgets" />
        <meta name="list:tag_number:label.numberOfTags" items="0,1,2,3,4,5,6,7,8,9,10,20,30,40,50" default="5" group="Widgets" />
        <meta name="boolean:custom_hide_widget_pages:label.hidePages" group="Widgets" />
        <meta name="boolean:custom_hide_widget_archives:label.hideArchives" group="Widgets" />

        <meta name="string:facebook_username:label.facebookUsername" group="Social" />
        <meta name="string:twitter_username:label.twitterUsername" group="Social" />
        <meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, All" default="All" group="Social" />

        <meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comments" />
        <meta name="string:comment_disqus:label.disqusAccount" group="Comments" />
        <meta name="list:custom_facebook_comments_color_theme:label.facebookCommentsColorTheme" items="light, dark" default="dark" group="Comments" />

        <meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
        <meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
        <meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
        <meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />

        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />

        <!-- jQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <!-- Fancybox -->
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

        <!-- Template resources -->
        <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <style type="text/css">
            /*
            Design by Free CSS Templates
            http://www.freecsstemplates.org
            Released for free under a Creative Commons Attribution 3.0 License

            Name       : Nullified
            Description: A two-column, fixed-width design with dark color scheme.
            Version    : 1.0
            Released   : 20120326
            */

            /*----- Reset -----*/
            body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,textarea,blockquote,th,td{ margin:0; padding:0;}
            table{ border-collapse:collapse; border-spacing:0;}
            fieldset,img{ border:0;}
            address,caption,cite,code,dfn,var{ font-style:normal; font-weight:normal;}
            ol,ul{ list-style:none;}
            caption,th{ text-align:left;}
            h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
            q:before,q:after{ content:'';}
            abbr,acronym{ border:0;}

            a {
                color: #FFF;
                text-decoration: none;
                -webkit-transition: color 100ms ease-out;
                   -moz-transition: color 100ms ease-out;
                    -ms-transition: color 100ms ease-out;
                     -o-transition: color 100ms ease-out;
                        transition: color 100ms ease-out;
            }

            a:hover {
                color: #854646;
                text-decoration: none;
            }

            body {
                font-size: 11.5pt;
                line-height: 1.75em;
                color: #3D3D3D;
                background: #0D0D0D url(http://assets.over-blog-kiwi.com/themes/29/images/bg.jpg) top center no-repeat;
            }

            body,
            input {
                font-family: Arial, sans-serif;
            }

            br.clearfix {
                clear: both;
            }

            h1,h2,h3,h4, h5 {
                text-transform: uppercase;
                font-weight: normal;
            }


            h2, h3, h4, h5 {
                color: #FFF;
                font-family: 'Oswald', sans-serif;
                /*margin-bottom: 1em;*/
            }

            h2 {
                font-size: 1.75em;
            }

            h3 {
                font-size: 1.5em;
            }

            h4 {
                font-size: 1em;
            }

            p {
                margin-bottom: 1.5em;
            }

            ul {
                margin-bottom: 1.5em;
            }

            ul h4 {
                margin-bottom: 0.35em;
            }

            #header {
                color: #FFF;
                position: relative;
                height: auto;
                background: #854646 url(http://assets.over-blog-kiwi.com/themes/29/images/bg2.jpg) bottom center no-repeat;
                width: 910px;
                padding: 35px;
            }

             #logo {
                position: absolute;
                top: 60px;
            }

            #logo a {
                color: #FFF;
                text-decoration: none;
                text-shadow: 0 1px 1px rgba(0,0,0,0.8);
            }

            #logo h1 {
                font-size: 3em;
                font-family: Oswald, sans-serif;
            }

            #menu {
                line-height: 60px;
                font-family: 'Oswald', sans-serif;
                padding: 0 35px 0 35px;
                width: 910px;
                height: 60px;
                font-size: 1.2em;
                background: #854646;
                text-shadow: 0 1px 1px rgba(0,0,0,0.8);
                text-transform: uppercase;
                color: #FFF;
            }

            #menu a {
                color: #FFF;
                padding: 0 8px;
                text-decoration: none;
                -webkit-transition: all 0.2s ease 0s;
                   -moz-transition: all 0.2s ease 0s;
                    -ms-transition: all 0.2s ease 0s;
                     -o-transition: all 0.2s ease 0s;
                        transition: all 0.2s ease 0s;
            }

            #menu a:hover,
            .current_page_item a {
                background: #4C2322;
            }

            #menu ul {
                list-style: none;
            }

            #menu ul li {
                padding: 0 20px 0 20px;
                height: 60px;
                display: inline-block;
            }

            #menu ul li.first {
                padding-left: 0;
            }

            #menu ul li.active {
                background: #743737;
            }

            #menu .arrow {
                display: inline-block;
                margin: 0 0 0 0.5em;
                position: relative;
                width: 0;
                height: 0;
                top: -3px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 7px solid #492222;
            }

            #page {
                color: #AAA;
                padding: 45px 35px 25px;
                margin: 0;
                width: 910px;
                position: relative;
            }

            #page strong {
                color: #FFF;
            }

            #page .section-list {
                list-style: none;
                padding-left: 0;
            }

            #page .section-list li {
                padding: 20px 0 20px 0;
                clear: both;
            }

            #page .ob-section-text ol,
            #page .ob-section-text ul {
                margin: 0 0 1.5em 25px;
            }
            #page .ob-section-text ul li{
                border: 0;
                list-style: disc;
                padding: 2px 0 3px 0;
            }
            #page .ob-section-text ol p,
            #page .ob-section-text ul p {
                margin-bottom: 0;
            }
            #page ul li li {
                margin-left: 18px;
            }

            #page ul {
                list-style: none;
            }

            #page ul li {
                padding: 10px 0 10px 0;
                border-top: dotted 1px #333;
            }

            #page ul li.first {
                padding-top: 0;
                border-top: 0;
            }

            #content {
                width: 655px;
                padding: 0;
                float: left;
            }

            #footer {
                color: #AAA;
                font-size: 0.9em;
                padding: 15px 0 30px 0;
                text-align: center;
            }

            #footer a,
            #footer a:visited {
                color: #555;
                -webkit-transition: color 300ms ease-out;
                   -moz-transition: color 300ms ease-out;
                    -ms-transition: color 300ms ease-out;
                     -o-transition: color 300ms ease-out;
                        transition: color 300ms ease-out;
            }
            #footer a:hover {
                color: #ffae00;
            }


            #content .box {
                margin-bottom: 50px;
                max-width: 600px;
            }
            .box .tagline {
                color: #854646;
                font-family: 'Oswald', sans-serif;
                font-size: 1.7em;
                margin-bottom: {% if isSearch and Posts is empty %}20px{% else %}5px{% endif %};
                text-shadow: 0 1px 1px #000;
            }

            #col1 {
                float: left;
                width: 310px;
                overflow: hidden;
            }

            #col2 {
                width: 310px;
                overflow: hidden;
                margin: 0 0 0 340px;
            }

            #search {
                position: absolute;
                top: 58px;
                right: 35px;
            }

            #search input.form-text {
                padding: 8px 42px 8px 12px;
                width: 175px;
                border: 0;
                background-color: #5B2B2B;
                background-image: url(http://assets.over-blog-kiwi.com/themes/29/images/search.gif);
                background-repeat: no-repeat;
                background-position: right -3px;
                background: #5B2B2B url(http://assets.over-blog-kiwi.com/themes/29/images/search.gif)no-repeat right -3px;
                border-top: solid 1px #541C1B;
                color: #DBBCBC;
            }

            #search input.submit {
                background: transparent;
                border: 0;
                color: #FFF;
                cursor: pointer;
                font-family: 'Oswald', sans-serif;
                font-size: 16px;
                line-height: 29px;
                padding: 0 0 0 5px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
                text-transform: uppercase;
                vertical-align: middle;
            }
            #search input.submit:active {
                text-shadow: none;
            }

            #sidebar {
                width: 225px;
                margin: 0 0 0 685px;
                padding: 0;
            }

            #sidbar .box {
                margin-bottom: 30px;
            }

            #sidebar h3 {
                color: #854646;
                margin-bottom: 10px;
            }

            #sidebar .plustext {
                font-family: 'Oswald', sans-serif;
            }
            #sidebar .arch_month li {
                padding: 5px 0;
            }

            #splash {
                height: 285px;
                position: relative;
                width: 980px;
                background: #FFF;
                overflow: hidden;
            }

            #wrapper {
                width: 980px;
                position: relative;
                background: #151515 url(http://assets.over-blog-kiwi.com/themes/29/images/bg3.jpg) bottom center no-repeat;
                margin: 80px auto 0 auto;
            }

            .clear{
                clear: both;
            }


            .m-networks a {
                background: url(http://assets.over-blog-kiwi.com/themes/29/images/social.png) no-repeat;
                display: inline-block;
                height: 24px;
                margin-right: 4px;
                text-indent: -99999%;
                -webkit-transition: all 200ms ease-out;
                   -moz-transition: all 200ms ease-out;
                    -ms-transition: all 200ms ease-out;
                     -o-transition: all 200ms ease-out;
                        transition: all 200ms ease-out;
                width: 24px;
            }
            .m-networks a:hover {
                -webkit-opacity: 0.7;
                   -moz-opacity: 0.7;
                    -ms-opacity: 0.7;
                     -o-opacity: 0.7;
                        opacity: 0.7;
                width: 24px;
            }
            .m-networks a:last-child {
                margin-right: 0;
            }
            .m-networks .fb-follow {
                background-position: left top;
            }
            .m-networks .twt-follow {
                background-position: center top;
            }
            .m-networks .rss-follow {
                background-position: right top;
            }

            .ob-repost {
                background: #222;
                font-size: 13px;
                font-weight: bold;
                padding: .5em .8em;
                text-align: center;
            }
            .ob-repost p {
                margin: 0;
            }
            .ob-repost .ob-link {
                text-decoration: underline;
            }
            .ob-section {
                max-width: 100%;
            }

            /* Section image */
            .ob-img {
                max-width: 100%;
            }
            .ob-slideshow .ob-img {
                width: 100%;
            }
            /* Section File */
            .ob-section-file .ob-ctn {background: #111; border: none; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); display: block; max-width: 100%;}
            .ob-section-file .ob-ctn a.ob-link,
            .ob-section-file .ob-c a.ob-link:visited {color: #FFF; font-weight: normal; max-width: 513px; text-decoration: underline;}
            .ob-section-file .ob-ctn a.ob-link:hover {text-decoration: none;}

            /* Section Quote */
            .ob-section-quote {background: #111; border: none; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); margin-bottom: 20px;}
            .ob-section-quote .ob-quote p {color: #FFF; min-height: 20px;}
            .ob-section-quote .ob-quote p:before {color: #854646; margin-left: -90px\9; margin: 16px 0 0 -85px;}
            .ob-section-quote .ob-quote p:after {color: #854646; margin: 75px 0 0;}
            .ob-section-quote p.ob-author,
            .ob-section-quote p.ob-source {background: #1C1C1C; color: #555; font-size: 14px; font-style: italic; margin: 25px 0 0; max-height: 24px; max-width: 508px; overflow: hidden; padding: 2px 10px; padding: 0 10px 2px\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}
            .ob-section-quote p.ob-author .ob-link:hover,
            .ob-section-quote p.ob-source .ob-link:hover {color: #FFF !important;}

            /* Section Link */
            .ob-section-link .ob-ctn {background: #111; border: none; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
            .ob-section-link .ob-media-left {margin: 0;}
            .ob-section-link .ob-img {float: left; width: 170px;}
            .ob-section-link p.ob-title  {margin-left: 20px; max-height: 48px; overflow: hidden;}
            .ob-section-link p.ob-title .ob-link {color: #854646; text-decoration: none;}
            .ob-section-link p.ob-snippet {color: #EEE; margin-bottom: 44px; margin-left: 20px; margin-top: -10px; max-height: 28px; overflow: hidden;}
            .ob-section-link p.ob-url {background: #1C1C1C; margin: 0; max-height: 24px; max-width: 388px; padding: 2px 10px; padding: 0 10px 2px\9 ;}
            .ob-section-link .ob-url .ob-link:hover {color: #FFF !important;}
            .ob-section-link .ob-desc {margin-top: 5px;}

            /* twitter box */
            .ob-section .twitter-tweet-rendered,
            .ob-section .twt-border {
                max-width: 100% !important;
            }

            /* Section audio */
            .obsoundplayer .obsoundplayername {
                font-size: 12px;
                width: 150px !important;
            }

            /* Section video */
            .ob-video iframe,
            .ob-video object,
            .ob-video embed {
                max-height: 346px;
                width: 600px;
            }

            /* Section HTML */
            .ob-section-html iframe,
            .ob-section-html object,
            .ob-section-html embed {
                max-width: 100%
            }

            /* Section texte */
            .ob-text ol,
            .ob-text ul{
                margin: 0 0 0 25px;
            }
            .ob-text ol li,
            .ob-text ul li {
                list-style: disc;
                margin: 0;
            }
            .ob-text ol li {
                list-style: decimal;
            }

            .ob-text h3,
            .ob-text h4,
            .ob-text h5 {margin: 15px 0 5px;}
            .ob-text h3 {font-size: 18px;}
            .ob-text h4 {font-size: 16px;}
            .ob-text h5 {font-size: 14px; font-weight: bold;}

            .ob-text pre {
                background: #1A1A1A;
                border: 1px dashed #0F0F0F;
                padding: 15px;
                overflow: auto;
                white-space: -webkit-pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -ms-pre-wrap;
                white-space: -o-pre-wrap;
                white-space: pre-wrap;
                word-wrap: break-word;
            }

            .m-social-networks .google-share,
            .m-social-networks .twitter-share,
            .m-social-networks .facebook-share,
            .m-social-networks .ob-share {
                float: left;
            }
            .facebook-share {
                width: 105px;
            }
            .ob-share {
                line-height: normal;
            }

            .m-social-networks h4,
            .bloc-comment h4 {
                margin-bottom: 15px;
            }

            #logo{
                position: static;
                top: auto;
                width: 645px;
            }
            #logo h1{
                line-height: 1.2em;
            }
            #wrapper{
                background: #151515;
            }
            .m-footer{
                margin: 0 auto;
                width: 910px;
            }
            #col2{
                float: right;
                margin: 0;
            }
            .col1-wide{
                width: 655px !important;
            }

            #page .post{
                margin-bottom: {% if not isSingle %}50px{% endif %};
                max-width: 600px;
            }
            .post .meta {
                color: #AAA;
                margin: 0 0 5px 0;
            }
            .post_tag a,
            .post_tag a:visited {
                color: #854646;
            }
            .post_tag a:hover {
                color: #FFF;
            }
            .entry,
            #col2,
            #page .section-list{
                margin-top: 30px;
                word-wrap: break-word;
            }
            h1, h2, h3, h4, h5, h6{
                line-height: 1.3em;
            }

            .special h3 {
                color: #834546;
                text-shadow: 0 1px 1px #000;
            }
            .ob-form + a,
            .ob-terms {
                display: block;
                font-size: 14px;
                margin-top: 80px;
                text-align: center;
            }
            .ob-input{
                background: #222;
                border: 2px solid #191919;
                color: #FFF;
                padding: 7px 0;
            }
            .ob-input-submit{
                background: #854646;
                border: solid 1px #A05556;
                -webkit-border-radius: 3px;
                   -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                     -o-border-radius: 3px;
                        border-radius: 3px;
                color: #fff;
                cursor: pointer;
                font-family: 'Oswald', sans-serif;
                font-size: 16px;
                padding: 5px 15px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
            }
            .ob-input-submit:active {
                text-shadow: none;
            }

            .pagination {
                margin: {% if isSingle %}40{% else %}20{% endif %}px 0;
                overflow: hidden;
            }
            .pagination a {
                background: #854646;
                border: solid 1px #A05556;
                -webkit-border-radius: 3px;
                   -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                     -o-border-radius: 3px;
                        border-radius: 3px;
                color: #fff;
                cursor: pointer;
                font-family: 'Oswald', sans-serif;
                font-size: 16px;
                padding: 5px 15px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
            }
            .pagination a:active {
                text-shadow: none;
            }
            .pagination .prev {
                float: left;
            }
            .pagination .next {
                float: right;
                {% if not isSingle %}
                    margin-right: 55px;
                {% endif %}
            }

            .return a {display: block; text-align: center;}
        </style>
    </head>
    <body>
        <div id="wrapper">
            <!-- shortcut:[Header content] -->
            {% if Custom('custom_header_picture') is not empty %}
                <div id="splash">
                    <a class="cover" href="{{ Custom('custom_header_picture') }}" title="{{ Blog.Title }} - {{ Blog.Description }}">
                        <img src="{{ Custom('custom_header_picture')|resize(980, 285)|crop|default('http://assets.over-blog-kiwi.com/themes/29/images/105.jpg') }}" alt="" width="980" height="285" />
                    </a>
                </div>
            {% endif %}
            <div id="menu">
                <ul>
                    <li {% if isIndex %} class="current_page_item" {% endif %}>
                        <a href="{{ Blog.Url }}">{{ Lang.Get('Home') }}</a>
                    </li>
                    {% list Blog.PostsTags(6, 'SORT_POSTS_NUMBER_DESC') %}
                        <li {% if isTag and Tag is not empty and Tag.Title == PostsTag.Title %} class="current_page_item" {% endif %}><a href="{{ PostsTag.Url }}">{{ PostsTag.Title }}</a></li>
                    {% endlist %}
                    <li><a href="/contact">{{ Lang.Get('Contact') }}</a></li>
                </ul>
                <br class="clearfix">
            </div>
            <div id="header">
                <div id="logo">
                    <h1>
                        <a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Blog.Title }}</a>
                    </h1>
                </div>
                {% if Custom('custom_hide_widget_search_form') == false %}
                    <div id="search">
                        <form class="search" method="post" action="/search">
                            <div>
                                <input class="form-text" size="32" maxlength="64" type="text" name="q" placeholder="{{ Lang.Get('Search') }}..."  id="search-text" value="{{ Search }}" />
                                <input class="submit" type="submit" value="{{ Lang.Get('OK') }}" />
                            </div>
                        </form>
                    </div>
                {% endif %}
                <div class="clear"></div>
            </div>
            <div id="page">
                <div id="content">
                    <!-- shortcut:[Main content] -->
                    {% if isSpecial %}
                        <div class="special">
                            {{ SpecialContent }}
                        </div>
                    {% else %}
                            <div class="box">
                                {% if isIndex %}
                                    {% if Custom('custom_home_subtitle') is not empty %}
                                        <p class="tagline">
                                            {{ Custom('custom_home_subtitle') }}
                                        </p>
                                    {% endif %}
                                    <p>{{ Blog.Description }}</p>

                                {% elseif isSearch %}
                                    <p class="tagline">
                                        {{ Lang.Get('Search for') }} &ldquo;{{ Search.Keyword }}&rdquo;
                                    </p>
                                    {% if Posts is empty %}
                                        <p>{{ Lang.Get('No result for this expression') }}.<p>
                                    {% endif %}
                                {% elseif isTag %}
                                    <p class="tagline">
                                        {{ Lang.Get('Post(s) with') }} #{{ Tag.Title}} tag
                                    </p>
                                {% endif %}
                            </div>
                        {% list Posts %}
                            <article class="post">
                                <h2 class="title">
                                    {% if not isSingle %}
                                        <a href="{{ Post.Permalink }}" title="{% if Post.Snippet is not empty %} {{ Post.Snippet }} {% else %} {{ Lang.Get('More about this post') }}.{% endif %}">
                                    {% endif %}
                                        {% if Post.Title is not empty %}
                                            {{ Post.Title }}
                                        {% else %}
                                            {{ Lang.Get('Published from') }}
                                            {% list Post.Sources %}
                                                {{ Lang.Get(Source) }}{% if not loop.last %} {{ Lang.Get('and') }} {% endif %}
                                            {% endlist %}
                                        {% endif %}
                                    {% if not isSingle %}
                                        </a>
                                    {% endif %}
                                </h2>
                                 <p class="meta">
                                    {% if Post.Author and Post.Author is not empty %}
                                        {{ Lang.Get('Posted by') }} {{ Post.Author }} {{ Lang.Get('on') }}
                                    {% else %}
                                        {{ Lang.Get('Posted on') }}
                                    {% endif %}
                                    {{ Post.Date | datel(Lang.Get('Default date format')) | title }}
                                </p>
                                {% list Post.Tags %}
                                    {% if loop.index == 1 %}
                                        <div class="entry-meta">
                                            <span class="post_tag">
                                                <span class="before">{{ Lang.Get('Tags:') }}</span>
                                    {% endif %}
                                    <a href="{{ Tag.Url }}" title="{{ Tag.Title }}">#{{ Tag.Title }}</a>{% if not loop.last %}, {% endif %}
                                    {% if loop.last %}
                                            </span>
                                        </div>
                                    {% endif %}
                                {% endlist %}
                                <div class="entry">
                                    {% if isSingle or Custom('display_mode') == 'All' %}
                                        {{ Post.Body }}
                                    {% elseif not isSingle and Custom('display_mode') != 'Summary' and Custom('display_mode') != 'All' %}
                                        {{ Post.Body(Custom('display_mode')) }}
                                    {% else %}
                                        {% if Post.Cover is not empty or Custom('post_cover') is not empty %}
                                            <a class="ob-media ob-img ob-pull-left ob-media-left" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}" href="{{ Post.PermaLink }}">
                                                <img src="{{ Post.Cover|resize(152, 114) }}" alt="" />
                                            </a>
                                        {% else %}
                                            {% list Post.Sources %}
                                                {% if loop.first %}
                                                    {% if Source == "FS" %}
                                                        <img class="ob-media ob-img ob-pull-left ob-media-left" src="http://assets.over-blog-kiwi.com/themes/29/images/foursquare-cover.png" alt="" />
                                                    {% endif %}
                                                    {% if Source == "IG" %}
                                                        <img class="ob-media ob-img ob-pull-left ob-media-left" src="http://assets.over-blog-kiwi.com/themes/29/images/instagam-cover.png" alt="" />
                                                    {% endif %}
                                                    {% if Source == "OB" %}
                                                        <img class="ob-media ob-img ob-pull-left ob-media-left" src="http://assets.over-blog-kiwi.com/themes/29/images/overblog-cover.png" alt="" />
                                                    {% endif %}
                                                    {% if Source == "TW" %}
                                                        <img class="ob-media ob-img ob-pull-left ob-media-left" src="http://assets.over-blog-kiwi.com/themes/29/images/twitter-cover.png" alt="" />
                                                    {% endif %}
                                                    {% if Source == "FB" %}
                                                        <img class="ob-media ob-img ob-pull-left ob-media-left" src="http://assets.over-blog-kiwi.com/themes/29/images/facebook-cover.png" alt="" />
                                                    {% endif %}
                                                {% endif %}
                                            {% endlist %}
                                        {% endif %}
                                        <p>{{ Post.Snippet }}</p>
                                        <div class="clear"></div>
                                    {% endif %}
                                        <div class="ob-section m-social-networks">
                                            {% if Custom('share_service') != 'None' %}
                                                {% if isSingle %}
                                                    <h4>{% if isPage %}{{ Lang.Get('Share this page') }}{% else %}{{ Lang.Get('Share this post') }}{% endif %}</h4>
                                                {% endif %}
                                                {% if Custom('share_service') == 'Google +' %}
                                                    <div class="google-share">
                                                        <div class="g-plusone" data-size="medium" data-href="{{ Post.Permalink }}"></div>
                                                    </div>
                                                {% elseif Custom('share_service') == 'Twitter' %}
                                                    <div class="twitter-share">
                                                        <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
                                                    </div>
                                                {% elseif Custom('share_service') == 'Facebook' %}
                                                    <div class="facebook-share">
                                                        <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
                                                    </div>
                                                {% elseif Custom('share_service') == 'All' or Custom('share_service') is empty %}
                                                    <div class="google-share">
                                                        <div class="g-plusone" data-size="medium" data-href="{{ Post.Permalink }}"></div>
                                                    </div>
                                                    <div class="twitter-share">
                                                        <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
                                                    </div>
                                                    <div class="facebook-share">
                                                        <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div class="ob-share">
                                                {{ Post.RepostButton }}
                                            </div>
                                            <div class="clear"></div>
                                        </div>

                                    {% if (Navigation.PreviousPost is not empty or Navigation.NextPost is not empty) %}
                                        <div class="pagination">
                                            {% if Navigation.PreviousPost is not empty %}
                                                <a href="{{ Navigation.PreviousPost.Permalink }}" title="{{ Navigation.PreviousPost.Title }}" class="prev">&laquo; {{ Lang.Get('Previous post') }}</a>
                                            {% endif %}

                                            {% if Navigation.NextPost is not empty %}
                                                <a href="{{ Navigation.NextPost.Permalink }}" title="{{ Navigation.NextPost.Title }}" class="next">{{ Lang.Get('Next post') }} &raquo;</a>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    {% if isSingle and not isPage and Post.ShowComments is not empty %}
                                        <div class="bloc-comment" id="comments">
                                            <!-- Comments -->
                                            <h4>{{ Lang.Get('Comment this post') }}</h4>
                                            <div class="item-comments">
                                                {% if Custom("comment") == "Facebook" %}
                                                    <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="600" data-colorscheme="{{ Custom("custom_facebook_comments_color_theme")|default('dark') }}"></div>
                                                {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                                    <div id="disqus_thread"></div>
                                                    <script type="text/javascript">
                                                        var disqus_shortname = '{{ Custom('comment_disqus') }}';
                                                        (function() {
                                                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                                        })();
                                                    </script>
                                                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                                {% else %}
                                                    {{ Post.Comments }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if isSingle %}
                                        <div class="return">
                                            <a href="{{ Blog.Url }}">{{ Lang.Get('Return to home') }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </article>
                        {% endlist %}
                    {% endif %}

                    <!-- Pagination -->
                    {% if (Navigation.PreviousPage is not empty or Navigation.NextPage is not empty) %}
                        <div class="pagination clear">
                            {% if Navigation.PreviousPage is not empty %}
                                <a href="{{ Navigation.PreviousPage }}" class="prev">&laquo; {{ Lang.Get('Previous page') }}</a>
                            {% endif %}
                            {% if Navigation.NextPage is not empty %}
                                <a href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next page') }} &raquo;</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                <!-- shortcut:[Sidebar content] -->
                <div id="sidebar">
                    <!-- Tags -->
                    {% if Custom('tag_number') != 0 %}
                        {% if Blog.PostsTags is not empty %}
                            <div class="box">
                                <h3>{{ Lang.Get('Tags') }}</h3>
                                <ul class="list">
                                    {% list Blog.PostsTags(Custom('tag_number'), count) %}
                                        <li>
                                            <a href="{{ PostsTag.Url }}">#{{ PostsTag.Title }} ({{ PostsTag.PostCount }})</a>
                                        </li>
                                    {% endlist %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}

                    <!-- Pages -->
                    {% if Custom('custom_hide_widget_pages') == false %}
                        {% if Blog.ListPages and Blog.ListPages is not empty %}
                             <div class="box">
                                <h3>{{ Lang.Get('Pages') }}</h3>
                                <ul class="list">
                                    {% list Blog.ListPages %}
                                        <li>
                                            <a href="{{ListPage.Url}}">{{ListPage.Title}}</a>
                                        </li>
                                    {% endlist %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}

                    <!-- Archives -->
                    {% if Custom('custom_hide_widget_archives') == false %}
                        {% if Blog.Archives is not empty %}
                            <div class="box">
                                <h3>{{ Lang.Get('Archives') }}</h3>
                                <ul class="list" id="archivelist">
                                    {% list Blog.Archives %}
                                        <li>
                                            <a href="#" class="plustext" onclick="javascript: return switch_arch('{{Archive.Year}}')">{{Archive.Year}}</a>
                                            <ul id="arch_{{Archive.Year}}" class="arch_month">
                                            {% list Archive.Months %}
                                                {% if Month.PostCount > 0 %}
                                                    <li><a href="{{Month.Url}}">{{Lang.Get(Month.Name)}}</a> ({{Month.PostCount}})</li>
                                                {% endif %}
                                            {% endlist %}
                                            </ul>
                                        </li>
                                    {% endlist %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}

                    <!-- Blog owner -->
                    {% if Custom('custom_hide_widget_biography') == false %}
                        <div class="box">
                            {% if Blog.Owner.Nickname is not empty and Blog.Owner.Bio is not empty %}
                                <h3>{{ Blog.Owner.Nickname }}</h3>
                                {% if Blog.Owner.Bio is not empty %}
                                    <p>
                                        {% if Blog.Owner.Avatar is not empty %}
                                            <a class="fancybox ob-media ob-img ob-pull-left ob-media-left avatar" title="{{ Blog.Owner.Nickname }}" href="{{ Blog.Owner.Avatar }}">
                                                <img src="{{ Blog.Owner.Avatar | resize(225,100) | crop }}" alt="" width="225" height="150" />
                                        </a>
                                        {% endif %}
                                        {{ Blog.Owner.Bio }}
                                    </p>
                                {% endif %}

                                <p class="m-networks">
                                    {% if Custom('facebook_username') is not empty %}
                                        <a class="fb-follow" target="_blank" href="http://www.facebook.com/{{ Custom('facebook_username') }}" title="{{ Lang.Get('Follow me on') }} Facebook">{{ Lang.Get('Follow me on') }} Facebook</a>
                                    {% endif %}
                                    {% if Custom('twitter_username') is not empty %}
                                        <a class="twt-follow" target="_blank" href="https://www.twitter.com/{{ Custom('twitter_username') }}" title="{{ Lang.Get('Follow me on') }} Twitter">{{ Lang.Get('Follow me on') }} Twitter</a>
                                    {% endif %}
                                    <a class="rss-follow" target="_blank" href="{{ Blog.RssUrl }}" title="{{ Lang.Get('Subsribe to RSS feed') }}">{{ Lang.Get('Subsribe to RSS feed') }}</a>
                                </p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <br class="clearfix" />
            </div>
        </div>

        <!-- shortcut:[Footer content] -->
        <div class="m-footer">
            <div id="footer">
                <p>
                    {% if Custom('custom_footer') is not empty %}
                        {{ Custom('custom_footer') }}&nbsp;-&nbsp;
                    {% endif %}
                    {{ Lang.Get('Hosted by') }} <a href="http://www.over-blog.com" target="_blank">Overblog</a>
                </p>

            </div>
        </div>

        <!-- Archives -->
        {% if Custom('custom_hide_widget_archives') == false %}
            <script type="text/javascript">
                function switch_arch(year) {
                    'use strict';
                    var archiveYear, archiveMonths, displayStyle;
                    displayStyle = '';
                    archiveYear = document.getElementById('arch_' + year);
                    if (typeof (archiveYear) !== 'undefined') {
                        if (archiveYear.style.display !== 'none') {
                            // Hide years without months
                            archiveMonths = archiveYear.getElementsByTagName('li');
                            if (!archiveMonths.length) {
                                archiveYear.parentNode.style.display = 'none';
                            }
                            // Onclick management
                            displayStyle = 'none';
                        }
                        archiveYear.style.display = displayStyle;
                    }
                    return false;
                }
            </script>
        {% endif%}

        <!-- Facebook Script -->
        <div id="fb-root"></div>
        <script type="text/javascript">
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>

        <!-- Twitter Script -->
        <script>
            !function(d,s,id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,"script","twitter-wjs");
        </script>

        <!-- Google + button -->
        <script type="text/javascript">
          window.___gcfg = {lang: '{{ Blog.Lang }}'};

          (function() {
            var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
          })();
        </script>

    {% if Custom('google_analytics') is not empty %}
        <!-- Google Analytics -->
         <script type="text/javascript">
            window.google_analytics_uacct = '{{Custom('google_analytics')}}';
            var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{Custom('google_analytics')}}']);
                _gaq.push(['_trackPageview']);
                _gaq.push(['_trackPageLoadTime']);

            (function() {
                var ga = document.createElement('script');
                    ga.type = 'text/javascript';
                    ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}


        <!-- jQuery onReady -->
        <script type="text/javascript">
            jQuery(document).ready(function() {

                $(".cover, .ob-section-images a, .ob-link-img, .avatar").attr("rel", "fancybox");
                $("a[rel=fancybox]").fancybox({
                    'overlayShow'   : true,
                    'transitionIn'  : 'fadin',
                    'transitionOut' : 'fadin',
                    'type'          : 'image'
                });

                (function() {
                    {% if Custom('custom_hide_widget_search_form') == false %}
                        // HTML5 placeholder fallback
                        function isPlaceholderSupported() {
                            'use strict';
                            var o = document.createElement('input');
                            return 'placeholder' in o;
                        }
                        function initPlaceHolder(el){
                            if(jQuery.trim(el.val()) === '' || jQuery.trim(el.val()) === el.attr('placeholder')){
                                el.val(el.attr('placeholder'));
                                el.css({'color': '#999'});
                            }
                        }
                        function togglePlaceholder(el, submitMode) {
                            'use strict';
                            var v = jQuery.trim(el.val()), p = el.attr('placeholder');
                            if (v === '' && !submitMode) {
                                el.val(p);
                                el.css({'color': '#999'});
                            } else if (v === p) {
                                el.val('');
                            }
                        }
                        function emulatePlaceholder(form) {
                            'use strict';
                            if (!isPlaceholderSupported()) {
                                jQuery('input[placeholder]', form).each(function () {
                                    initPlaceHolder(jQuery(this));
                                }).focus(function () {
                                    togglePlaceholder(jQuery(this), false);
                                }).blur(function () {
                                    initPlaceHolder(jQuery(this));
                                });
                                form.submit(function () {
                                    jQuery(this).find('input[placeholder]').each(function () {
                                        togglePlaceholder(jQuery(this), true);
                                    });
                                });
                            }
                        }
                    {% endif%}

                    // Archives
                    {% if Custom('custom_hide_widget_archives') == false %}
                        {% list Blog.Archives %}
                            {% if Archive.Year != "now"|date("Y") %}
                                switch_arch('{{Archive.Year}}');
                            {% endif %}
                        {% endlist %}
                    {% endif%}
                })();
            });
        </script>
    </body>
</html>
