<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}" class="style_{{ Custom('theme_style')|default('orange') }}" itemscope="" itemtype="http://schema.org/Blog">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title, description, keyword, robots -->
        {% title %}
        <!-- metas description, keyword, robots -->
        {% meta %}
        {% if Custom('googleplus_userid') is not empty %}
            <link rel="author" href="https://plus.google.com/{{ Custom('googleplus_userid') }}">
            <link rel="publisher" href="https://plus.google.com/{{ Custom('googleplus_userid') }}">
        {% endif %}

        <!-- shortcut:[Custom vars] -->
        <meta name="list:display_mode:label.numberOfSections" items="Summary,1,2,3,4,5,6,7,8,9,10,All" default="All" />

        <meta name="list:theme_style:label.appearance" items="green, red, pink, blue, orange, neutral" default="orange" group="Design">
        <meta name="image:custom_background:label.backgroundImage" group="Design" />
        <meta name="image:custom_blog_cover:label.headerImage" group="Image 900x200 px" />

        <meta name="string:text_publishedby:Published by" default="Published by" group="Wordings">

        <meta name="image:default_post_cover:label.defaultPostCover" group="Posts" />

        <meta name="boolean:display_widget_profile:label.hideBiography" group="Widgets" />
        <meta name="boolean:display_widget_social:label.hideFollowUs" group="Widgets" />
        <meta name="boolean:display_widget_search:label.hideSearchForm" group="Widgets" />
        <meta name="boolean:custom_hide_widget_subscribe:label.hideSubscribeForm" group="Widgets" />
        <meta name="boolean:display_widget_pages:label.hidePages" group="Widgets" />
        <meta name="boolean:display_widget_tags:label.hideCategories" group="Widgets" />
        <meta name="boolean:custom_hide_widget_blog_archive:label.hideArchives" group="Widgets" />

        <meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, All" default="All" group="Social">
        <meta name="string:twitter_username:label.twitterUsername" group="Social" />
        <meta name="string:facebook_username:label.facebookUsername" group="Social" />

        <meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comment" />
        <meta name="string:comment_disqus:label.disqusAccount" default="obcomment" group="Comment" />

        <meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
        <meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
        <meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
        <meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />

        <!-- shortcut:[Includes] -->
        <!-- favicon -->
        {% favicon %}

        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {# Styles #}
        <!-- GoogleFont -->
        <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
        <!-- Fancybox -->
        <link href="//assets.over-blog-kiwi.com/themes/jquery/fancybox2.1.2/jquery.fancybox.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix {display: inline-block;} /* Hides from IE-mac \*/ * html .clearfix { height: 1%; } .clearfix {display: block;}

            /* @group Reset */

            html, body, div, span, applet, object, iframe,
            h1, h2, h3, h4, h5, h6, p, blockquote, pre,
            a, abbr, acronym, address, big, cite, code,
            del, dfn, em, font, img, ins, kbd, q, s, samp,
            small, strike, strong, sub, sup, tt, var,
            b, u, i, center,
            dl, dt, dd, ol, ul, li,
            fieldset, form, label, legend,
            table, caption, tbody, tfoot, thead, tr, th, td {
                margin: 0;
                padding: 0;
                border: 0;
                outline: 0;
                font-size: 100%;
                vertical-align: baseline;
                background: transparent;
            }
            body {
                line-height: 1;
            }
            ol, ul {
                list-style: none;
            }
            blockquote, q {
                quotes: none;
            }
            blockquote:before, blockquote:after,
            q:before, q:after {
                content: '';
                content: none;
            }

            /* remember to define focus styles! */
            :focus {
                outline: 0;
            }
            ::-webkit-input-placeholder { /* WebKit browsers */
                color: #666;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: #666;
            }
            ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: #666;
            }
            :-ms-input-placeholder { /* Internet Explorer 10+ */
                color: #666;
            }
            /* remember to highlight inserts somehow! */
            ins {
                text-decoration: none;
            }
            del {
                text-decoration: line-through;
            }

            /* tables still need 'cellspacing="0"' in the markup */
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            .visuallyhidden,
            .ob-form-subscription label {
              position: absolute;
              overflow: hidden;
              clip: rect(0 0 0 0);
              height: 1px; width: 1px;
              margin: -1px; padding: 0; border: 0;
            }

            /* @end */

            #global, .header {
                margin: 0px auto;
                width: 980px;
                position: relative;
            }

            .ln {
                clear: both;
            }

            .cl {
                float: left;
            }

            .clear {
                clear: both;
            }

            /* modele */

            #cl_0_0 {
                width: 100%;
            }

            #cl_1_0 {
                width: 610px;
            }

            #cl_1_1 {
                width: 329px;
                /* 330px - 1px (bordure gauche de la colonne de droite) */
            }

            #cl_2_0 {
                margin-bottom: 0;
                width: 100%;
            }

            .box {
                width: auto;
            }

            body {
                font: 12px/18px arial, verdana, helvetica, sans-serif;
                {% if Custom('custom_background') is not empty %}
                background:  url('{{ Custom('custom_background') }}') no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                {% else %}
                background: #1f1f1f url('http://assets.over-blog-kiwi.com/themes/4/images/dark_stripes.png') repeat left top;
                {% endif %}
                color: #d8d8d8;
            }
            h1,
            h2,
            h3,
            h4,
            h5{
                font-family: 'Fjalla One', arial, sans-serif;
                font-weight: normal;
            }

            html > body #global,
            .header {
                background: transparent url(http://assets.over-blog-kiwi.com/themes/4/images/main_dark_shadow.png) repeat-y 0 0;
                /* ombre du container global - invisible sur IE6 */
            }

            #ln_1 {
                width: 940px;
                margin: 0 20px 0 40px;
                margin-bottom: 0;
                background-color: #272727;
            }


            html > body #global #ln_1 {
                width: 940px;
                margin: 0 20px;
                border: none;
            }

            /* @group Header */
            #cl_0_0 {
                width: 940px;
                height: 200px;
                margin: 0 20px 0 20px;
            }
            #cl_0_0 a{
                display: block;
                height: 200px;
                text-indent: -3000em;
                overflow: hidden;
            }
            .topLien {text-shadow: 2px 2px 1px rgba(00, 00, 00, 0.80); }

            .style_green #cl_0_0 {
            {% if Custom('custom_blog_cover') is not empty %}
                background: #272727 url('{{ Custom('custom_blog_cover') }}') no-repeat center bottom;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            {% else %}
                background: #272727 url('http://assets.over-blog-kiwi.com/themes/4/images/green.jpg') no-repeat left bottom;
            {% endif %}
            }

            .style_red #cl_0_0 {
            {% if Custom('custom_blog_cover') is not empty %}
                background: #272727 url('{{ Custom('custom_blog_cover') }}') no-repeat center bottom;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            {% else %}
                background: #272727 url('http://assets.over-blog-kiwi.com/themes/4/images/red.jpg') no-repeat left bottom;
            {% endif %}
            }

            .style_pink #cl_0_0 {
            {% if Custom('custom_blog_cover') is not empty %}
                background: #272727 url('{{ Custom('custom_blog_cover') }}') no-repeat center bottom;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            {% else %}
                background: #272727 url('http://assets.over-blog-kiwi.com/themes/4/images/pink.jpg') no-repeat left bottom;
            {% endif %}
            }

            .style_blue #cl_0_0 {
            {% if Custom('custom_blog_cover') is not empty %}
                background: #272727 url('{{ Custom('custom_blog_cover') }}') no-repeat center bottom;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            {% else %}
                background: #272727 url('http://assets.over-blog-kiwi.com/themes/4/images/blue.jpg') no-repeat left bottom;
            {% endif %}
            }

            .style_orange #cl_0_0 {
            {% if Custom('custom_blog_cover') is not empty %}
                background: #272727 url('{{ Custom('custom_blog_cover') }}') no-repeat center bottom;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            {% else %}
                background: #272727 url('http://assets.over-blog-kiwi.com/themes/4/images/oranges.jpg') no-repeat left bottom;
            {% endif %}
            }

            .style_neutral #cl_0_0 {
            {% if Custom('custom_blog_cover') is not empty %}
                background: #272727 url('{{ Custom('custom_blog_cover') }}') no-repeat center bottom;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            {% else %}
                background: #272727 url('http://assets.over-blog-kiwi.com/themes/4/images/birds.jpg') no-repeat left bottom;
            {% endif %}
            }

            #top {
                text-align: left;
                margin: 0 20px;
                position: absolute;
                z-index: 30;
                bottom: 0;
                width: 940px;
                background: rgba(43,43,43,.8);
            }

            #top h1 {
                font-size: 32px;
                line-height: 48px;
                padding: 0 20px;
            }

            /* @end */

            /* @group Main */
            #cl_1_0 .column_content {
                padding: 20px;
            }

            .GcheTexte {
                margin: 10px;
                margin-left: 0;
            }

            img.DrteTexte {
                display: block;
                margin: 10px !important;
                margin-right: 0 !important;
            }

            .CtreTexte {
                margin: 3px auto;
            }

            .list-title {
                margin: 0 0 1em 0;
                font-size: 2em;
            }

            /* @end */

            /* @group Articles */
            .article {
                margin-bottom: 20px;
                /*padding-bottom: 20px;*/
            }

            .article p {
                margin-bottom: 10px;
            }

            .beforeArticle {
                font-size: 10px;
                line-height: 10px;
                padding-left: 4px;
            }

            .beforeArticle br {
                display: none;
            }

            .date {
                display: block;
            }

            .afterArticle {
                margin-bottom: 35px;
                padding: 5px;
                font-size: 10px;
                border: 1px solid;
                line-height: 14px;
            }

            .afterArticle a {
                font-weight: bold;
            }

            .post-title h2,
            .special h3,
            .special h2 {
                font-size: 24px;
                line-height: normal;
                margin: 0 0 20px -20px;
                padding: 5px 0 5px 20px;
                border-left: 4px solid;
            }
            .style_green .post-title {
                color: #5fa900;
            }
            .style_red .post-title {
                color: #d80003;
            }
            .style_pink .post-title {
                color: #dd2267;
            }
            .style_blue .post-title {
                color: #16aff8;
            }
            .style_orange .post-title {
                color: #f97d16;
            }
            .style_neutral .post-title {
                color: #d8d8d8;
            }

            .before_articles, .after_articles {
                text-align: center;
            }

            .pagination {
                margin: 10px 0 20px;
                font-size: 11px;
                padding: 2px 0;
            }

            .pagination .previous {
                float: left;
            }

            .pagination .top {
                position: absolute;
                left: 31%;
            }

            .pagination .next {
                float: right;
            }

            .pagination a, .pagination b {
                margin: 0 5px;
            }

            .article_navigation {
                margin-top: 10px;
                font-size: 11px;
                font-weight: bold;
            }

            .ob-section {
                margin: 2em 0;
            }

            /* @group Typographie */
            .contenuArticle .post-title {
                font-size: 20px;
                line-height: 20px;
                margin: 10px 0 5px;
            }
            .contenuArticle h1,
            .contenuArticle h2,
            .contenuArticle h3,
            .contenuArticle h4,
            .contenuArticle h5 {
                font-weight: normal;
                margin: 15px 0 5px;
                line-height: 1.5em;
            }
            .contenuArticle h1 {
                font-size: 22px;
            }
            .contenuArticle h2 {
                font-size: 20px;
            }
            .contenuArticle h3 {
                font-size: 18px;
            }
            .contenuArticle h4 {
                font-size: 16px;
            }
            .contenuArticle h5 {
                font-size: 14px;
            }

            .contenuArticle ul, .contenuArticle ol {
                margin-left: 30px;
                line-height: 18px;
                margin-bottom: 10px;
            }

            .contenuArticle ul {
                list-style-type: square;
            }

            .contenuArticle ol {
                list-style-type: decimal;
            }

            /* @end */

            /* @end */

            /* @Share buttons */
            .share{
                margin-bottom: 20px;
            }
            .share > div{
                float:left;
                height:20px;
                margin-right:22px;
            }
            .share .google-share{
                margin-right: 0;
            }
            .share iframe{
                border:none;
                width:90px;
            }

            /* @group Commentaires */

            .h4commentMessage,
            .share h3 {
                font-size: 18px;
                line-height: normal;
                margin: 0 0 20px -20px;
                padding: 5px 0 5px 20px;
                border-left: 4px solid;
            }

            .commentContainer {
                border: 1px solid;
                margin-bottom: 20px;
                padding: 10px;
            }

            .commentMessage {
                margin-bottom: 10px;
            }

            .commentOption {
                font-size: 11px;
                border-top: 1px solid;
            }

            .afterReactions {
                text-align: right;
                font-size: 14px;
                font-weight: bold;
            }

            .reponseMessage {
                margin-top: 10px;
                margin-left: 20px;
            }
            .reponseOption {
                margin-left: 20px;
            }

            /* @end */

            /* @group sidebar */
            #cl_1_1 {
                border-left: 1px solid;
            }

            .box-titre {
                font-size: 16px;
                margin-bottom: 10px;
            }

            .box {
                padding: 10px;
                border-bottom: 1px solid;
            }

            .box-content {
                font-size: 11px;
                padding-left: 10px;
            }

            .box-content a:hover {
                text-decoration: underline;
            }

            .box-footer, .search .box-titre {
                display: none;
            }

            .search input{
                margin: 0;
                border: 1px solid;
                float: left;
                border-right: none;
                height: 14px;
                padding: 2px;

            }
            .search button{
                width: auto;
                border: 1px solid;
                display: block;
                height: 20px;
                line-height: 16px;
                border-left: none;
                font-size: 11px;
                font-weight: bold;
            }

            .newsletter .box-content {
                overflow: auto;
                width: 100%;
            }
            #cl_1_1 .ob-form-field{
                display: inline-block;
                margin: 1px 0 0;
                width: 62%;
            }
            #cl_1_1 .ob-form-field .ob-input{
                width: 96%;
                display: inline-block;
                vertical-align: top;
                height: 14px;
            }
            #cl_1_1 .ob-input-submit{
                cursor: pointer;
                display: inline-block;
                font-size: 11px;
                font-weight: bold;
                height: 24px;
                margin: 0;
                /*padding: 0 3px 5px 2px;*/
                vertical-align: top;
                width: 35%;
            }
            .profile .avatar {
                float: left;
                margin-right: 10px;
            }
            .profile p{
                font-size: 13px;
                font-weight: bold;
            }
            /* @end */

            /* @group Footer */
            #ln_2 {
                width: 940px;
                margin: 0 20px;
                padding-bottom: 20px;
                background-color: #272727;
                text-align: center;
            }

            #footer {
                padding: 20px;
            }

            /* @end */

            /* @group Colors */
            a, a:hover {
                text-decoration: none;
            }
            .style_green a,
            .style_green a:hover,
            .style_green .special h3 {
                color: #5fa900;
            }
            .style_red a,
            .style_red a:hover,
            .style_red .special h3 {
                color: #d80003;
            }
            .style_pink a,
            .style_pink a:hover,
            .style_pink .special h3 {
                color: #dd2267;
            }
            .style_blue a,
            .style_blue a:hover,
            .style_blue .special h3 {
                color: #16aff8;
            }
            .style_orange a,
            .style_orange a:hover,
            .style_orange .special h3 {
                color: #f97d16;
            }
            .style_neutral a,
            .style_neutral a:hover,
            .style_neutral .special h3 {
                color: #D8D8D8;
            }


            .style_green a.titreArticle:hover {
                color: #477e00;
            }
            .style_red a.titreArticle:hover {
                color: #ff0004;
            }
            .style_pink a.titreArticle:hover {
                color: #dd97b1;
            }
            .style_blue a.titreArticle:hover {
                color: #72ccf8;
            }
            .style_orange a.titreArticle:hover {
                color: #f8b100;
            }
            .style_neutral a.titreArticle:hover {
                color: #FFF;
            }

            .style_green .beforeArticle,
            .style_green .dateExtrait {
                color: #54644d;
            }
            .style_red .beforeArticle,
            .style_red .dateExtrait {
                color: #940002;
            }
            .style_pink .beforeArticle,
            .style_pink .dateExtrait {
                color: #8c6070;
            }
            .style_blue .beforeArticle,
            .style_blue .dateExtrait {
                color: #4f8ead;
            }
            .style_orange .beforeArticle,
            .style_orange .dateExtrait {
                color: #95610e;
            }
            .style_neutral .beforeArticle,
            .style_neutral .dateExtrait {
                color: #989898;
            }

            .commentContainer {
                color: #989898;
            }

            .reponseMessage, .reponseOption {
                color: white;
                font-weight: bold;
            }

            .pagination {
                background-color: #2e2e2e;
            }

            .style_green .post-title{
                border-left-color: #5fa900;
            }
            .style_red .post-title{
                border-left-color: #d80003;
            }
            .style_pink .post-title{
                border-left-color: #dd2267;
            }
            .style_blue .post-title {
                border-left-color: #16aff8;
            }
            .style_orange .post-title{
                border-left-color: #f97d16;
            }
            .style_neutral .post-title {
                border-left-color: #d8d8d8;
            }

            .style_green .h4commentMessage,
            .style_green .share h3,
            .style_green .special h2  {
                border-left-color: #5fa900;
                color: #5fa900;
            }
            .style_red .h4commentMessage,
            .style_red .share h3,
            .style_red .special h2  {
                border-left-color: #d80003;
                color: #d80003;
            }
            .style_pink .h4commentMessage,
            .style_pink .share h3,
            .style_pink .special h2  {
                border-left-color: #dd2267;
                color: #dd2267;
            }
            .style_blue .h4commentMessage,
            .style_blue .share h3,
            .style_blue .special h2 {
                border-left-color: #16aff8;
                color: #16aff8;
            }
            .style_orange .h4commentMessage,
            .style_orange .share h3,
            .style_orange .special h2  {
                border-left-color: #f97d16;
                color: #f97d16;
            }
            .style_neutral .h4commentMessage,
            .style_neutral .share h3,
            .style_neutral .special h2 {
                border-left-color: #d8d8d8;
                color: #d8d8d8,
            }


            .style_green #cl_1_1 .box-titre h3 {
                color: #5fa900;
            }
            .style_red #cl_1_1 .box-titre h3 {
                color: #ff0004;
            }
            .style_pink #cl_1_1 .box-titre h3 {
                color: #dd2267;
            }
            .style_blue #cl_1_1 .box-titre h3 {
                color: #16aff8;
            }
            .style_orange #cl_1_1 .box-titre h3 {
                color: #f97d16;
            }
            .style_neutral #cl_1_1 .box-titre h3 {
                color: #FFF;
            }

            .style_green #cl_1_1 a {
                color: #5fa900;
            }
            .style_red #cl_1_1 a {
                color: #ff0004;
            }
            .style_pink #cl_1_1 a {
                color: #dd2267;
            }
            .style_blue #cl_1_1 a {
                color: #16aff8;
            }
            .style_orange #cl_1_1 a {
                color: #f97d16;
            }
            .style_neutral #cl_1_1 a {
                color: #FFF;
            }

            .style_green #cl_1_1 #form .ob-label {
                color: #5fa900;
            }
            .style_red #cl_1_1 #form .ob-label {
                color: #ff0004;
            }
            .style_pink #cl_1_1 #form .ob-label {
                color: #dd2267;
            }
            .style_blue #cl_1_1 #form .ob-label {
                color: #16aff8;
            }
            .style_orange #cl_1_1 #form .ob-label {
                color: #f97d16;
            }
            .style_neutral #cl_1_1 #form .ob-label {
                color: #FFF;
            }
            .box-titre h3 {
                color: #95610e;
            }

            #cl_1_1 .column_content {
                background: #2e2e2e;
                color: #7a7a7a;
            }
            #cl_1_1 {
                border-left-color: #404040;
            }
            .box {
                border-bottom-color: #404040;
                color: #cdcdcd;
                background: #373737;
            }

            #cl_1_1 .column_content .box:hover {

            }

            .calendarTable1 {
                width: 100%;
                border-color: #505050;
            }

            td.calendarDays1 {
                border-top-color: #505050;
            }

            /* @end */

            /* Form */
            form .ob-label{
                width:24%;
                text-align: right;
                padding-right: 10px;
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
            }
            form .ob-input-submit,
            form .ob-error{
                margin-left: 24%;
            }
            form .ob-input-text,
            form .ob-input-email,
            form .ob-input-textarea,
            form .ob-error{
                width: 70%;
            }

            form .ob-input-text,
            form .ob-input-email,
            form .ob-input-textarea{
                background: #d2d2d2;
                color: #353535;
                border: none;
                padding:4px;
            }

            .search button,
            .ob-input-submit {
                border: 1px solid #505050;
                color: #3d3d3d;
                background: #989898;
            }
            /* Archives */
            .arch_year > a{
                font-style: italic;
                font-size: 12px;
            }
            .arch_year ul{
                padding-left:5px;
            }


            /* @group menu */

            #articleAccueil {
                position: absolute;
                width: 920px;
                top: 230px;
                left: 20px;
                background-color: transparent;
                padding: 10px;
                height: 20px;
            }

            #articleAccueil.article {
                margin-bottom: 0;
            }

            #articleAccueil .divTitreArticle,
            #articleAccueil .afterArticle,
            .articleAccueil .afterArticle {
                display: none;
            }

            #articleAccueil a {
                font-size: 18px;
                color: #fff;
                margin-right: 10px;
                padding-bottom: 10px;
            }

            #articleAccueil a:visited {
                color: #fff;
            }

            #articleAccueil a:hover {
                border-bottom: 3px solid #fff;
            }

            /* @end */

            #menuob a {padding: 5px; color: #f97d16; }

            /* Repost banner */
            .ob-repost {background: #222; border: 1px solid #111; font-weight: bold; text-align: center;}
            .ob-repost .ob-link {text-decoration: underline;}

            /* Sections */
            .ob-section-text,
            .ob-section-images,
            .ob-section-video,
            .ob-section-audio,
            .ob-section-quote,
            .ob-secton-map {
                width: 570px;
            }

            /* Section File */
            .ob-section-file .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
            .ob-section-file .ob-ctn a.ob-link,
            .ob-section-file .ob-c a.ob-link:visited {text-decoration: none; text-shadow: none;}
            .ob-section-file .ob-ctn a.ob-link:hover {text-decoration: underline;}
            .ob-section-file .ob-ctn {display:block;width:100%;max-width:none;}
            .ob-section-file .ob-link {max-width:390px;}

            /* Section Quote */
            .ob-section-quote {background: #FFF; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); margin-bottom: 20px;}
            .ob-section-quote p {min-height: 20px;}
            .ob-section-quote .ob-quote p {color: white;font-size:1.2em; margin: 40px 70px 0px;}
            .ob-section-quote p:before {margin: -82px 0 0 -87px;}
            .ob-section-quote p:after {margin: -30px 0 0 -0;}
            .ob-section-quote p.ob-author,
            .ob-section-quote p.ob-source {font-size: 14px; font-style: italic; margin: 25px 0 0; max-height: 24px; max-width: 480px; overflow: hidden; padding-bottom: 0\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}

            .ob-section-quote p.ob-author, .ob-section-quote p.ob-source {background: #63645f; background:rgba(255, 255, 255, 0.2);}

            /* Section Link */
            .ob-section-link .ob-ctn {
                background: #fff;
                -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
                -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
                -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
            }
            .ob-section-link .ob-media-left {margin: 0;}
            .ob-section-link .ob-img {float: left; width: 170px;}
            .ob-section-link p.ob-title {margin-left: 20px; max-height: 36px; overflow: hidden;}
            .ob-section-link p.ob-snippet {margin-bottom: 35px; margin-left: 20px; max-height: 26px; overflow: hidden;font-size:1.2em;}
            .ob-section-link p.ob-url {background: #63645f; background: rgba(255, 255, 255, 0.2);margin: 0; max-height: 24px; max-width: 360px; padding-bottom: 0\9;}
            .ob-section-link .ob-desc {margin-top: 5px;}

            /* Sections color variations */
            .ob-section-quote p,
            .ob-section-quote .ob-link,
            .ob-author,
            .ob-section-link p.ob-snippet,
            .ob-section-link .ob-url .ob-link {color: white;}

            .style_green .ob-section-link .ob-url .ob-link:hover,
            .style_green .ob-section-file .ob-ctn a.ob-link:hover,
            .style_green .ob-section-quote .ob-link:hover,
            .style_green .ob-section-file .ob-ctn a.ob-link,
            .style_green .ob-section-file .ob-c a.ob-link:visited,
            .style_green .ob-section-link p.ob-title,
            .style_green .ob-section-link p.ob-title .ob-link,
            .style_green .ob-section-quote .ob-quote p:before,
            .style_green .ob-section-quote .ob-quote p:after {color: #5FA900;}

            .style_red .ob-section-link .ob-url .ob-link:hover,
            .style_red .ob-section-file .ob-ctn a.ob-link:hover,
            .style_red .ob-section-quote .ob-link:hover,
            .style_red .ob-section-file .ob-ctn a.ob-link,
            .style_red .ob-section-file .ob-c a.ob-link:visited,
            .style_red .ob-section-link p.ob-title,
            .style_red .ob-section-link p.ob-title .ob-link,
            .style_red .ob-section-quote .ob-quote p:before,
            .style_red .ob-section-quote .ob-quote p:after {color: #d80003;}

            .style_pink .ob-section-link .ob-url .ob-link:hover,
            .style_pink .ob-section-file .ob-ctn a.ob-link:hover,
            .style_pink .ob-section-quote .ob-link:hover,
            .style_pink .ob-section-file .ob-ctn a.ob-link,
            .style_pink .ob-section-file .ob-c a.ob-link:visited,
            .style_pink .ob-section-link p.ob-title,
            .style_pink .ob-section-link p.ob-title .ob-link,
            .style_pink .ob-section-quote .ob-quote p:before,
            .style_pink .ob-section-quote .ob-quote p:after {color: #dd2267;}

            .style_blue .ob-section-link .ob-url .ob-link:hover,
            .style_blue .ob-section-file .ob-ctn a.ob-link:hover,
            .style_blue .ob-section-quote .ob-link:hover,
            .style_blue .ob-section-file .ob-ctn a.ob-link,
            .style_blue .ob-section-file .ob-c a.ob-link:visited,
            .style_blue .ob-section-link p.ob-title,
            .style_blue .ob-section-link p.ob-title .ob-link,
            .style_blue .ob-section-quote .ob-quote p:before,
            .style_blue .ob-section-quote .ob-quote p:after {color: #16aff8;}

            .style_orange .ob-section-link .ob-url .ob-link:hover,
            .style_orange .ob-section-file .ob-ctn a.ob-link:hover,
            .style_orange .ob-section-quote .ob-link:hover,
            .style_orange .ob-section-file .ob-ctn a.ob-link,
            .style_orange .ob-section-file .ob-c a.ob-link:visited,
            .style_orange .ob-section-link p.ob-title,
            .style_orange .ob-section-link p.ob-title .ob-link,
            .style_orange .ob-section-quote .ob-quote p:before,
            .style_orange .ob-section-quote .ob-quote p:after {color: #f97d16;}

            .style_neutral .ob-section-link .ob-url .ob-link:hover,
            .style_neutral .ob-section-file .ob-ctn a.ob-link:hover,
            .style_neutral .ob-section-quote .ob-link:hover,
            .style_neutral .ob-section-file .ob-ctn a.ob-link,
            .style_neutral .ob-section-file .ob-c a.ob-link:visited,
            .style_neutral .ob-section-link p.ob-title,
            .style_neutral .ob-section-link p.ob-title .ob-link,
            .style_neutral .ob-section-quote .ob-quote p:before,
            .style_neutral .ob-section-quote .ob-quote p:after {color: #D8D8D8;}

            .ob-section-link .ob-title .ob-link,
            .ob-section-link .ob-snippet,
            .ob-section-link .ob-url .ob-link {
                font-family: Georgia,serif;
            }

            .ob-section-link .ob-ctn,
            .ob-section-file .ob-ctn,
            .ob-section-quote {
                border: 1px solid #636360;
                background: #3d3e39; background: rgba(255, 255, 255, 0);
            }

            /* Medias */
            .ob-cell,
            .ob-img,
            .ob-media,
            .ob-video,
            .ob-slideshow,
            .ob-section-map .ob-desc,
            .ob-section-images img,
            .yui3-slideshow-content {
                max-width: 570px;
            }
            .ob-video iframe,
            .ob-video object,
            .ob-video embed,
            .ob-section-html iframe,
            .ob-section-html object,
            .ob-section-html embed{
                width: 570px;
                max-height: 370px;
            }
            .ob-section-html iframe.twitter-tweet[style]{
                max-height: none;
                border:none !important;
            }
            .ob-map div {color: #272727;}
            /* Section image */
            .ob-row-1-col img {width: 570px;}
            .ob-row-2-col img {width: 285px;}
            .ob-row-3-col img {width: 190px;}
            .ob-text li:last-child {margin-bottom: 15px;}
            .ob-text li p {margin-bottom: 5px;}
            .ob-text pre {
                width: 570px;
                white-space: pre-wrap; /* CSS 3 */
                white-space: -moz-pre-wrap; /* Mozilla depuis 1999 */
                white-space: -pre-wrap; /* Opera 4 & 6 */
                white-space: -o-pre-wrap; /* Opera 7 */
                word-wrap: break-word; /* IE 5.5+ */
                overflow: auto;/* IE 6 */
            }
            .ob-section-audio .obsoundplayer .obsoundplayername {
                height: 31px;
                overflow: hidden;
                width: 200px;
            }

            .ob-form + a {display: block; margin-top: 80px; text-align: center;}
        </style>

    </head>
    <body>
        <div class="header">
            <div id="ln_0" class="ln">
                <div id="cl_0_0" class="cl">
                    <a href="{{ Blog.Url }}">{{ Blog.Title }}</a>
                </div>
                <div class="clear"></div>
            </div>
            <div id="top">
                <h1>
                    <a href="{{ Blog.Url }}" title="{{ Blog.Description }}" class="topLien">{{ Blog.Title }}</a>
                </h1>
            </div>
        </div>
        <div id="global">
            <div id="ln_1" class="ln">
                <div id="cl_1_0" class="cl">
                    <div class="column_content">
                        <div>
                            {# Pagination #}
                            {% if Navigation.PreviousPage is not empty or Navigation.NextPage is not empty or Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
                                {% if isIndex %}
                                    <div class="before_articles">
                                        <div class="pagination clearfix">
                                            {% if Navigation.PreviousPage is not empty %}
                                            <a href="{{ Navigation.PreviousPage }}" class="previous">&laquo; {{ Lang.Get('Previous page') }}</a>
                                            {% elseif Navigation.PreviousPost is not empty %}
                                            <a href="{{ Navigation.PreviousPost.Permalink }}" title="{{ Navigation.PreviousPost.Title }}" class="previous">&laquo; {% if Navigation.PreviousPost.Title is not empty %}{{ Navigation.PreviousPost.Title | truncate(25) }}{% else %}{{ Lang.Get('Previous post') }}{% endif %}</a>
                                            {% endif %}
                                            {% if Navigation.NextPage is not empty %}
                                            <a href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next page') }} &raquo;</a>
                                            {% elseif Navigation.NextPost is not empty %}
                                            <a href="{{ Navigation.NextPost.Permalink }}" title="{{ Navigation.NextPost.Title }}" class="next">{% if Navigation.NextPost.Title is not empty %}{{ Navigation.NextPost.Title | truncate(25) }}{% else %}{{ Lang.Get('Next post') }}{% endif %} &raquo;</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}

                            {# List title #}
                            {% if isSearch %}
                            <h3 class="list-title">{{ Lang.Get ('Search for') }} &ldquo;{{ Search.Keyword }}&rdquo;</h1>
                            {% endif %}
                            {% if isTag %}
                            <h3 class="list-title">{{ Lang.Get('Posts with') }} #<strong>{{ Tag.Title }}</strong></h1>
                            {% endif %}

                            {# Posts #}
                            {% if Posts is empty %}

                            {% if isSearch %}
                            <div class="contenuArticle">
                                <p>
                                    {{ Lang.Get('No result') }} !
                                </p>
                            </div>
                            {% elseif isSpecial %}
                                <div class="special">
                                    {{ SpecialContent }}
                                </div>
                            {% else %}
                            <div class="contenuArticle">
                                <p>
                                    {{ Lang.Get('No post') }}.
                                </p>
                            </div>
                            {% endif %}

                            {% else %}

                            {# shortcut:[Posts list] #}
                            {% list Posts %}

                            <div class="article index_{{ loop.index }} {% if (loop.index % 2) == 0 %}odd{% else %}even{% endif %}">
                                <div class="option beforeArticle">
                                    {% if not isPage %}
                                        <div class="date">
                                            <time datetime="{{ Post.Date }}">{{ Post.Date|datel(Lang.Get('EEEE')) | title }}, {{ Post.Date|datel(Lang.Get('Default date format')) | title }} {{ Post.Date | date('h:m') }}</time>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="divTitreArticle">
                                    <div class='post-title'>
                                        <h2>
                                            {% if isSingle %}
                                            <a href="{{ Post.Permalink }}" class="titreArticle" title="{{ Post.Snippet }}">{% if Post.Title is not empty %}{{ Post.Title }}{% else %}{{ Lang.Get('From') }} {% list Post.Sources %}{{ Lang.Get(Source) }}{% if not loop.last %}{{ Lang.Get('and') }} {% endif %}{% endlist %}{% endif %}</a>
                                            {% else %}
                                            <a href="{{ Post.Permalink }}" class="titreArticle" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}">{% if Post.Title is not empty %}{{ Post.Title }}{% else %}{{ Lang.Get('From') }} {% list Post.Sources %}{{ Lang.Get(Source) }}{% if not loop.last %}{{ Lang.Get('and') }} {% endif %}{% endlist %}{% endif %}</a>
                                            {% endif %}
                                        </h2>
                                    </div>
                                </div>
                                <div class="contenuArticle">
                                     {% if isSingle or Custom('display_mode') == 'All' %}
                                        {{ Post.Body }}
                                    {% elseif not isSingle and Custom('display_mode') != 'Summary' and Custom('display_mode') != 'All'  %}
                                        {{ Post.Body(Custom('display_mode')) }}
                                    {% else %}
                                        {% if Post.Cover is not empty %}
                                            <a href="{{ Post.Permalink }}" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}">
                                                <img src="{{ Post.Cover|resize(570,250)|crop }}" title="" alt="" width="570"/>
                                            </a>
                                        {% elseif Custom('default_post_cover') is not empty %}
                                            <a href="{{ Post.Permalink }}" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}">
                                                <img src="{{ Custom('default_post_cover')|resize(570,250)|crop }}" title="" alt="" width="570"/>
                                            </a>
                                        {% endif %}
                                        <p>{{ Post.Snippet }}</p>
                                    {% endif %}
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>

                            {# Author #}
                            <div class="option afterArticle">
                                <p>
                                {% if Post.Author.Nickname is not empty %}
                                    <span class="publishedBy">{{ Custom('text_publishedby') }} {{ Post.Author.Nickname }}</span>
                                {% endif %}
                                {% if isPage == false and Post.ShowComments is not empty %}
                                    {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                        - <a href="{{ Post.Permalink }}#disqus_thread" title="{{ Lang.Get('comments') }}" class="comments"></a>
                                    {% else %}
                                        - <a href="{{ Post.PermaLink }}#comments" title="{{ Lang.Get('comments') }}" class="comments">
                                            {% if Custom("comment") == "Facebook" %}
                                                <fb:comments-count href="{{ Post.Permalink }}"></fb:comments-count>
                                                {{ Lang.Get('comments') }}
                                            {% else %}
                                                {{ Post.CommentCount(Lang.Get('ncomment'), Lang.Get('ncomments')) }}
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                                    {% list Post.Tags %}
                                        {% if loop.first == 'true' %}
                                        -
                                        {% endif %}
                                        <a href="{{ Tag.Url }}">{{ Tag.Title }}</a>{% if loop.last is empty %}, {% endif %}
                                    {% endlist %}
                                </p>
                            </div>
                            {% if loop.last  %}
                                {# Pagination #}
                                {% if Navigation.PreviousPage is not empty or Navigation.NextPage is not empty or Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
                                    {% if isPage == false %}
                                        <div class="before_articles">
                                            <div class="pagination clearfix">
                                                {% if Navigation.PreviousPage is not empty %}
                                                <a href="{{ Navigation.PreviousPage }}" class="previous">&laquo; {{ Lang.Get('Previous page') }}</a>
                                                {% elseif Navigation.PreviousPost is not empty %}
                                                <a href="{{ Navigation.PreviousPost.Permalink }}" title="{{ Navigation.PreviousPost.Title }}" class="previous">&laquo; {% if Navigation.PreviousPost.Title is not empty %}{{ Navigation.PreviousPost.Title | truncate(25) }}{% else %}{{ Lang.Get('Previous post') }}{% endif %}</a>
                                                {% endif %}
                                                <a href="#" title="{{ Lang.Get('Go top') }}" class="top">{{ Lang.Get('Top') }}</a>
                                                {% if Navigation.NextPage is not empty %}
                                                <a href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next page') }} &raquo;</a>
                                                {% elseif Navigation.NextPost is not empty %}
                                                <a href="{{ Navigation.NextPost.Permalink }}" title="{{ Navigation.NextPost.Title }}" class="next">{% if Navigation.NextPost.Title is not empty %}{{ Navigation.NextPost.Title | truncate(25) }}{% else %}{{ Lang.Get('Next post') }}{% endif %} &raquo;</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {# Share #}
                            {% if isSingle %}
                                {% if Custom ('share_service') is not empty %}
                                    <div class="share clearfix">
                                        {{ Post.Share }}
                                    </div>
                                {% endif %}
                            {% endif %}

                            {# Comments #}
                            {% if isSingle and isPage == false and Post.ShowComments is not empty %}
                                <div class="item-comments">
                                    <h4 class="h4commentMessage" id="comments">{{ Lang.Get('Comments') }}</h4>
                                    {% if Custom("comment") == "Facebook" %}
                                    <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="570"></div>
                                    {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                        <div id="disqus_thread"></div>
                                        <script type="text/javascript">
                                        var disqus_shortname = '{{ Custom('comment_disqus') }}';

                                        (function() {
                                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                        })();
                                        </script>
                                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                    {% else %}
                                        {{Post.Comments}}
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endlist %} {# Posts #}

                            {% endif %}

                         </div>


                    </div>
                </div>
                <div id="cl_1_1" class="cl">
                    <div class="column_content">
                        {# Blog profile #}
                        {% if (Blog.Avatar or Blog.Description) and Custom("display_widget_profile") != true %}
                        <div class="box profile" >
                            <div class="box-content clearfix">
                                {% if Blog.Avatar is not empty %}
                                <h3 class="avatar">
                                    <a href="{{ Blog.Url }}"><img src="{{ Blog.Avatar | resize(100)|crop }}" alt="{{ Blog.Title }}" /></a>
                                </h3>
                                {% endif %}
                                {% if Blog.Description is not empty %}
                                <p>
                                    {{ Blog.Description }}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}

                        {# SOCIAL #}
                        {% if Custom('display_widget_social') != true %}
                        <div class="box social" >
                            <div class="box-titre"><h3><span>{{ Lang.Get('Follow us') }}</span></h3></div>
                            <div class="box-content">
                                <ul>
                                    {% if Custom('facebook_username') is not empty %}
                                    <li>
                                        <a href="http://facebook.com/{{ Custom('facebook_username') }}" title="{{ Lang.Get('Follow us on') }} Facebook" >Facebook</a>
                                    </li>
                                    {% endif %}
                                    {% if Custom('twitter_username') is not empty %}
                                    <li>
                                        <a href="http://twitter.com/{{ Custom('twitter_username') }}" title="{{ Lang.Get('Follow us on') }} Twitter">Twitter</a>
                                    </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ Blog.RssUrl }}" title="{{ Lang.Get('Follow us with') }} RSS">{{ Lang.Get('Flux RSS') }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                        {# Search #}
                        {% if Custom('display_widget_search') != true %}
                        <div class="box search" >
                            <div class="box-titre">
                                <h3><span>{{ Lang.Get('Search') }}</span></h3>
                            </div>
                            <div class="box-content">
                                <form action="/search" method="post">
                                    <div class="ob-form-field">
                                        <label class="ob-label visuallyhidden" for="fSearch">{{ Lang.Get('Search') }}</label>
                                        <input type="text" id="fSearch" name="q" placeholder="{{ Lang.Get('Search') }}..." value="{{ Search }}" class="ob-input ob-input-text" />
                                    </div>
                                        <button class="ob-input ob-input-submit" type="submit">{{ Lang.Get('Search') }}!</button>
                                </form>
                            </div>
                        </div>
                        {% endif %}

                        {# Subscribe Form #}
                        {% if Custom('custom_hide_widget_subscribe') == false %}
                            <div class="box subscribe">
                                <div class="box-titre">
                                    <h3><span>{{ Lang.Get('Subscribe') }}</span></h3>
                                </div>
                                <div class="box-content">
                                    <p>{{ Lang.Get('Subscribe to be notified about future posts.') }}</p>
                                    {% email_notification %}
                                </div>
                            </div>
                        {% endif %}

                        {# Navigation #}
                        <div class="box navigation" >
                            <div class="box-titre">
                                <h3><span>{{ Lang.Get('Navigation') }}</span></h3>
                            </div>
                            <div class="box-content">
                                <ul>
                                    <li><a href="{{ Blog.Url }}" title="{{ Lang.Get('Go Home') }}">{{ Lang.Get('Home') }}</a></li>
                                    <li><a href="/contact" title="{{ Lang.Get('Contact us') }}">{{ Lang.Get('Contact') }}</a></li>
                                </ul>
                            </div>
                        </div>

                        {# Pages #}
                        {% if Custom('display_widget_pages') != true and Blog.Pages is not empty %}
                        <div class="box pages" >
                            <div class="box-titre">
                                <h3><span>{{ Lang.Get('Pages') }}</span></h3>
                            </div>
                            <div class="box-content">
                                <ul>
                                    {% list Blog.Pages %}
                                    <li>
                                        <a  href="{{ Page.Url }}" title="{{ Page.Title }}">{{ Page.Title }}</a>
                                    </li>
                                    {% endlist %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                        {# Tags #}
                        {% if Custom('display_widget_tags') != true %}
                        <div class="box tags" >
                            <div class="box-titre">
                                <h3><span>{{ Lang.Get('Tags') }}</span></h3>
                            </div>
                            <div class="box-content">
                                <ul>
                                    {% list Blog.PostsTags(10) %}
                                    <li>
                                        <a  href="{{ PostsTag.Url }}"
                                            title="{{ PostsTag.Title }}">
                                            {{ PostsTag.Title }}
                                        </a>
                                        ({{ PostsTag.PostCount }})
                                    </li>
                                    {% endlist %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                        {% if Custom('custom_hide_widget_blog_archive') == false and Blog.Archives is not empty %}
                            <div class="box archives">
                                <div class="box-titre">
                                    <h3><span>{{ Lang.Get('Archives') }}</span></h3>
                                </div>
                                <div class="box-content">
                                    <ul id="archivelist">
                                        {% list Blog.Archives %}
                                             <li class="arch_year">
                                                <a href="#" class="year" data-year="{{ Archive.Year }}">{{ Archive.Year }}</a>
                                                <ul id="arch_{{ Archive.Year }}" class="arch_month">
                                                    {% list Archive.Months%}
                                                        {% if Month.PostCount > 0 %}
                                                            <li class="month">
                                                                <a href="{{ Month.Url }}">
                                                                    {{ Lang.Get(Month.Name) }} <span>{{ Month.PostCount }}</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endlist %}
                                                </ul>
                                            </li>
                                        {% endlist %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="ln_2" class="ln">
                <div id="cl_2_0" class="cl">
                    <div class="column_content">
                        <p>{{ Lang.Get('Hosted by') }} <a href="http://www.over-blog.com" target="_blank">Overblog</a></p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox2.1.2/jquery.fancybox.pack.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".ob-row-1-col a,.ob-row-2-col a,.ob-row-3-col a,.ob-link-img").attr("rel", "fancybox");
                $("a[rel=fancybox]").fancybox({
                    'overlayShow'   : false,
                    'transitionIn'  : 'fadin',
                    'transitionOut' : 'fadin',
                    'type'          : 'image'
                });
            });
        </script>
        {% if isSingle %}
            <!-- Disqus comments count -->
            {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
            <script type="text/javascript">
                var disqus_shortname = "{{ Custom('comment_disqus') }}";
                (function () {
                    var s = document.createElement('script'); s.async = true;
                    s.type = 'text/javascript';
                    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
            </script>
            {% endif %}

            <!-- Facebook Script -->
            <div id="fb-root"></div>
            <script type="text/javascript">
                {% if Custom('share_service') == 'Facebook' or Custom('share_service') == 'All' or Custom('comment') == 'facebook' %}
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('127607930619601')}}";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                {% endif %}
            </script>


            <!-- Google + button -->
            <script type="text/javascript">
              window.___gcfg = {lang: '{{ Blog.Lang }}'};

              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        {% endif %}
        <script type="text/javascript">
            //Twitter render
            $(document).ready(function(){
                !function(d,s,id){
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if(!d.getElementById(id)){
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js,fjs);
                    }
                }(document,"script","twitter-wjs");
            });

            {% if Custom('display_widget_archives') == false %}
                // Archives
                // Hide years without months
                $(".arch_year").each(function() {
                    if ($(this).find(".arch_month li").length == 0) {
                        $(this).hide();
                    }
                });

                $(".arch_month").hide();
                $('.arch_year > a').click(function(e) {
                    $(this).siblings(".arch_month").slideToggle(1);
                    e.preventDefault();
                });
            {% endif %}
        </script>
        {% if Custom('google_analytics') is not empty %}
            <!-- Google Analytics -->
            <script type="text/javascript">
                window.google_analytics_uacct = '{{Custom('google_analytics')}}';
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{Custom('google_analytics')}}']);
                _gaq.push(['_trackPageview']);
                _gaq.push(['_trackPageLoadTime']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}
    </body>
</html>
