<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title, description, keyword, robots -->
        {% if isSingle%}
            {% list Posts %}
                <title>{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }} - {% endif %}{{Blog.Title}}</title>
                <meta name="description" content="{{ Post.Snippet }}" />
                <meta name="keywords" content="{% list Post.Tags %}{{ Tag.Title }}{% if loop.last == false %}, {% endif %}{% endlist %}" />
                <meta name="robots" content="index,follow" />
            {% endlist %}
        {% elseif isTag and Tag is not empty %}
            <title>{{ Tag.Title|title }} - {{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Tag.Title|title }}" />
            <meta name="robots" content="index,follow" />
        {% elseif isSearch and Search is not empty %}
            <title>{{ Search|title }} - {{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Search|title }}" />
            <meta name="robots" content="noindex" />
        {% else %}
            <title>{{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="robots" content="index,follow" />
        {% endif %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />


        <!-- Social setting : Facebook, G+ .. -->
        <meta property="og:site_name" content="{{ Blog.Title }}" />
        <meta property="og:type" content="blog" />
        <meta property="fb:app_id" content="{% if Custom('facebook_appid') is not empty %}{{ Custom('facebook_appid') }}{% endif %}" />
        {% if Custom('facebook_username') is not empty %}
        	<meta property="fb:admins" content="{{ Custom('facebook_username') }}"/>
        {% endif %}
        <meta itemprop="name" content="{{ Blog.Title }}" />

        {% if isSingle %}
            {% list Posts %}
                <meta property="og:title" content="{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }}{% endif %}"/>
                <meta property="og:description" content="{{ Post.Snippet }}" />
                <meta itemprop="description" content="{{ Post.Snippet }}" />
                <meta property="og:url" content="{{ Blog.Url }}{{ Post.Permalink }}" />
                {% if Post.Cover %}
                    <meta property="og:image" content="{{ Post.Cover }}"/>
                    <meta itemprop="image" content="{{ Post.Cover }}" />
                {% endif %}
            {% endlist %}
            <meta property="og:type" content="overblogkiwi:see" />
        {% else %}
            <meta property="og:title" content="{{ Blog.Title }}"/>
            <meta property="og:description" content="{{ Blog.Description }}" />
            <meta itemprop="description" content="{{ Blog.Description }}" />
            {% if Blog.Avatar %}
            <meta property="og:image" content="{{ Blog.Avatar }}"/>
            <meta itemprop="image" content="{{ Blog.Avatar }}" />
            {% else %}
                {% list Posts %}
                {% if loop.index == 1 and Post.Cover %}
            <meta property="og:image" content="{{ Post.Cover }}"/>
            <meta itemprop="image" content="{{ Post.Cover }}" />
                {% endif %}
                {% endlist %}
            {% endif %}

            {% if isSearch %}
                <meta property="og:type" content="overblogkiwi:search" />
            {% else %}
                <meta property="og:type" content="overblogkiwi:visit" />
            {% endif %}
        {% endif %}
		
		
		<!-- shortcut:[Options] -->

		<meta name="list:display_mode:label.numberOfSections" items="Summary,1,2,3,4,5,6,7,8,9,10,All" default="All" />

		<meta name="image:background:Background image" group="Design" />

		<meta name="string:footer:label.footer" default="Theme: Dreamhigh &copy; 2012" group="Wording"  />
		
		<meta name="string:twitter_username:label.twitterUsername" group="Social" />
        <meta name="string:facebook_username:label.facebookUsername" group="Social" />
        <meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, All" default="All" group="Social" />

		<meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comment" />
        <meta name="string:comment_disqus:label.disqusAccount" default="obcomment" group="Comment" />

        <meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
        <meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
        <meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
        <meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />
		
		
        <!-- shortcut:[Includes] -->
        <!-- favicon -->       
        {% if Blog.FaviconUrl is not empty %}
            <link rel="icon" type="image/png" href="{{ Blog.FaviconUrl }}" />
        {% else %}
            <link rel="shortcut icon" type="image/x-icon" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.ico" />
            <link rel="icon" type="image/png" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.png" />
            <link rel="apple-touch-icon" href="http://fdata.over-blog.net/99/00/00/01/img/mobile-favicon.png" />
        {% endif %}   
       
        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />

        <!--[if IE 8]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- Fancybox -->
		<link rel="stylesheet" type="text/css" href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
        
        <link href='http://fonts.googleapis.com/css?family=Mountains+of+Christmas' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css' />

        <!-- shortcut:[Styles] -->
		<style rel="stylesheet" type="text/css">
			/**********
			** RESET **
			**********/
			body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,textarea,blockquote,th,td{ margin:0; padding:0;}
	        table {border-collapse:collapse; border-spacing:0;}
	        fieldset,img {border:0;}
	        address,caption,cite,code,dfn,var{ font-style:normal; font-weight:normal;}
	        ol,ul {list-style:none;}
	        caption,th { text-align:left;}
	        q:before,q:after {content:'';}
	        abbr,acronym {border:0;}			
	        a, a:hover, a:active, a:active {text-decoration: none; border: none; outline: none;}
			img {border: none; outline: none;}
			
			
			/**********
			** BASIC **
			**********/
			body {width: 100%; background: url({% if Custom('background') is not empty %}{{ Custom('background') }}{% else %}http://assets.over-blog-kiwi.com/themes/39/img/background.png{% endif %}) {% if Custom('background') is not empty %}fixed{% else %}repeat-x scroll center top  #FFF{% endif %}; {% if Custom('background') is not empty %}-webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; -o-background-size: cover; background-size: cover;{% endif %}color: #666; font-size: 14px; font-family: Georgia,'Times New Roman', Serif;}

			a,
			a:visited {color: #957F7F; text-decoration: none;}
			a:hover {color: #FF9A00; text-decoration: underline;}
			
			.clear {clear: both;}
			.left {float: left;}
			.right {float: right;}
			
			#global {width: 700px; margin: 0 auto 50px;}
			#header {width: 100%; margin: 20px auto; padding: 20px 0; background: url(http://assets.over-blog-kiwi.com/themes/39/img/border.png) no-repeat scroll center bottom transparent; text-align: center;}
			#main {width: 100%; margin: 0 auto; padding-top: 400px; background:  url({% if Custom('background') is empty %}http://assets.over-blog-kiwi.com/themes/39/img/planet.png{% endif %}) no-repeat left top;}
			#footer {margin: 20px auto 0; overflow: hidden; width: 600px;}
			
			
			/********
			** TOP **
			********/
			.blog-title a {color: #FFF; display: block; font-size: 60px; font-weight: normal; padding: 10px 0; font-family: 'Mountains of Christmas'; text-shadow: 1px 1px 0px #ACC1C5;}
			.blog-title a:hover {text-decoration: none;}
			.blog-description {color: #957F7F; font-size: 25px; font-family: 'Josefin Sans', sans-serif; text-shadow: 1px 1px 0px #ACC1C5;}
			
			
			/*********
			** MAIN **
			*********/
			.post {width: 600px; margin: 0 auto {% if not isSingle %}100px{% endif %}; {% if isSingle %}border-bottom: 1px dashed #DDD;{% endif %}}
			.post time {display: block; margin-bottom: 10px; font-size: 11px; text-align: center; text-transform: uppercase;}
			.post .title {background: url(http://assets.over-blog-kiwi.com/themes/39/img/hdr.gif) no-repeat center bottom; margin-bottom: 20px; padding-bottom: 25px; font-size: 35px; font-weight: normal; letter-spacing: -1px; text-align: center;}
			.post .title a, 
			.post .title a:visited {color: #7F7F7F; font-size: 35px;}
			.post .title a:hover {color: #FF9A00; text-decoration: none;}
			
			.post .cover {margin-bottom: 20px; -webkit-transition: opacity 250ms ease; -moz-transition: opacity 250ms ease; -ms-transition: opacity 250ms ease; -o-transition: opacity 250ms ease; transition: opacity 250ms ease;}
			.post .cover:hover {-webkit-opacity: 0.8; -moz-opacity: 0.8; -ms-opacity: 0.8; -o-opacity: 0.8; opacity: 0.8;}
			
			.post .author {height: 30px; font-size: 11px; text-align: center; text-transform: uppercase; line-height: 20px;}
			.post .author span {font-style: italic; text-transform: lowercase;}
			
			.post .tags {margin: -10px 0 0; font-size: 11px; text-align: center; text-transform: uppercase; line-height: 20px;}
			.post .tags span {font-style: italic; text-transform: lowercase;}

			.post .body {margin: 40px 0 10px; line-height: 22px;}
			.ob-section {width: 100%;}
			.ob-cell, 
			.ob-img, 
			.ob-media {max-width: 100%;}
			.ob-media-left {margin-right: 35px;}
			.ob-media-right {margin-left: 35px;}
			.ob-video iframe {max-height: 346px; width: 100%;}
			.ob-section-audio .obsoundplayer .obsoundplayername {width: 228px;}
			.ob-text pre {width: 100%; margin-bottom: 10px; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; overflow: auto;}
			.ob-text ol {margin: 0 0 15px 35px; list-style: decimal;}
			.ob-text ul {margin: 0 0 15px 15px; list-style: disc;}
			.ob-text li p {margin-bottom: 5px;}
			.ob-text h3,
            .ob-text h4,
            .ob-text h5 {margin: 15px 0 5px;}
            .ob-text h3 {font-size: 18px; font-weight: normal;}
            .ob-text h4 {font-size: 16px; font-weight: normal;}
            .ob-text h5 {font-size: 14px; font-weight: bold;}
            .ob-text p {margin: 0 0 15px;}

			/* Section File */
			.ob-section-file .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); display: block; max-width: 100%;}
			.ob-section-file .ob-ctn a.ob-link,
			.ob-section-file .ob-c a.ob-link:visited {color: #7F7F7F; max-width: 513px; text-decoration: underline;}
			.ob-section-file .ob-ctn a.ob-link:hover {color: #7F7F7F; text-decoration: none;}

			/* Section Quote */
			.ob-section-quote {background: #FFF; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); margin-bottom: 20px;}
			.ob-section-quote .ob-quote p {color: #7F7F7F; min-height: 20px;}
			.ob-section-quote .ob-quote p:before {color: #EEE; margin: 19px 0 0 -85px;}
			.ob-section-quote .ob-quote p:after {color: #EEE; margin: 73px 0 0;}
			.ob-section-quote p.ob-author,
			.ob-section-quote p.ob-source {background: #EEE; color: #555; font-size: 14px; font-style: italic; margin: 25px 0 0; max-height: 24px; max-width: 510px; overflow: hidden; padding-bottom: 0\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}
			.ob-section-quote p.ob-author .ob-link,
			.ob-section-quote p.ob-source .ob-link,
			.ob-section-quote p.ob-author .ob-link:hover,
			.ob-section-quote p.ob-source .ob-link:hover {text-decoration: none;}

 			/* Section Link */ 
			.ob-section-link .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
			.ob-section-link .ob-media-left {margin: 0;}
			.ob-section-link .ob-img {float: left; width: 170px;}
			.ob-section-link p.ob-title {margin-bottom: 5px;margin-left: 20px; max-height: 42px; overflow: hidden;}
			.ob-section-link p.ob-title .ob-link {color: #7F7F7F; font-family: Georgia,'Times New Roman', Serif;}
			.ob-section-link p.ob-snippet {font-family: Georgia,'Times New Roman', Serif; margin-bottom: 35px; margin-left: 20px; margin-top: 0; max-height: 40px; overflow: hidden;}
			.ob-section-link p.ob-url {background: #EEE; margin: 0; max-height: 24px; max-width: 390px; padding-bottom: 0\9;}
			.ob-section-link p.ob-url .ob-link {font-family: Georgia,'Times New Roman', Serif;}
			.ob-section-link .ob-desc {margin-top: 5px;}

			.post footer {width: 600px; height: 50px; margin: 0 auto; background: url(http://assets.over-blog-kiwi.com/themes/39/img/fin.gif) no-repeat scroll center bottom transparent;}
			.share {margin: 30px 0; overflow: hidden;}
			.share h6,
			.item-comments h6 {font-size: 12px; margin: 0 0 10px;}

			/** Tweeter render **/
			.ob-tweet.twitter-tweet-rendered,
			.ob-tweet.twitter-tweet-rendered .twt-border {max-width: 100% !important;}
			
			/** CONTACT **/
			.special h3 {background: url(http://assets.over-blog-kiwi.com/themes/39/img/hdr.gif) no-repeat center bottom; margin-bottom: 20px; padding-bottom: 25px; font-size: 35px; font-weight: normal; letter-spacing: -1px; text-align: center;}
			.ob-form {margin: 50px auto 0; padding: 0 20px;}
			.ob-input, 
			.ob-text-area {border: none; border: 1px dashed #ACC1C5; margin-bottom: 10px; padding: 5px 10px;}
			.ob-input-text, .ob-input-email {height: 20px;}
			.ob-input-submit {background-color: transparent; border: 0; color: #957F7F; font-size: 16px; font-family: Georgia,'Times New Roman', Serif; cursor: pointer; padding: 0;}
			.ob-input-submit:hover {color: #FF9A00;} 
			.ob-terms { display: block; text-align: center; margin-top: 60px;}
						
			/** Navigation **/
			.navigation {border-bottom: 1px dashed #DDDDDD; margin: 20px auto; overflow: hidden; width: 600px;}
			.navigation a, 
			.navigation a:visited {display: block; font-size: 10px; line-height: 30px; text-transform: uppercase;}
			#home {left: 48.8%; position: absolute; width: 40px;}	


			/** Footer **/
			#footer h3 {color: #957F7F; font-size: 18px; font-family: 'Covered By Your Grace', cursive; margin-bottom: 15px; text-align: left;}
			#footer ul {list-style: none;}
			
			#footer .left {width: 46.8%;} 
			#footer .left li {border-bottom: 1px dotted #DDDDDD; display: inline-block; margin-bottom: 6px; padding-bottom: 5px; width: 100%;}
			#footer .left a {display: inline-block; max-width: 210px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
			
			#footer .right {width: 45%;}
			#footer .right img {border: 2px solid #DDD; float: left; margin: 2px 10px 0 0;}
			
			.contact-button {float: left; display: block; width: 30px; height: 30px; margin: 20px 10px 0 0; background: url(http://assets.over-blog-kiwi.com/themes/39/img/dreamhigh-social-sprite.png) no-repeat; text-indent: -99999px; }
			.contact {background-position: left 0;}
			.contact:hover {background-position: right 0;}
			.facebook {background-position: left -30px;}
			.facebook:hover {background-position: right -30px;}
			.twitter {background-position: left -60px;}
			.twitter:hover {background-position: right -60px;}
			.rss {background-position: left -90px;}
			.rss:hover {background-position: right -90px;}

			#footer .credits {border-top: 1px dashed #DDD; margin-top: 20px; overflow: hidden; padding-top: 10px;}
			#footer .credits .right {text-align: right;}		
		</style>
	</head>
	<body>
		<div id="fb-root"></div>
		<div id="global">
			<header id="header">
				<h1 class="blog-title">
					<a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Blog.Title }}</a>
				</h1>
				<p class="blog-description">{{ Blog.Description }}</p>
			</header>
			<!-- shortcut:[Single Page] -->
			<section id="main">
				{% if isSearch %}
					<p>{{ Lang.Get('Search results for') }} "{{ Search.Keyword }}"</p>
				{% elseif isTag %}
					<p>{{ Lang.Get('Posts with') }} {{ Tag.Title }}</p>
				{% endif %}
					{% if isSpecial %}
						<article class="post special">
							{{ SpecialContent }}
						</article>
					{% else %}
						{% list Posts %}
							<article class="post">
								<header>
									<time datetime="{{ Post.Date }}">{{ Post.Date|datel('EEEE') }}, {{ Post.Date|datel(Lang.Get('Default date format')) }}</time>
									<h2 class="title">
										<a href="{{ Post.Permalink }}" title="{{ Post.Snippet }}">
											{% if Post.Title is not empty %}
												{{ Post.Title }}
											{% else %}
												{{ Lang.Get('Published from') }}
												{% list Post.Sources %}
													{{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
												{% endlist %}
											{% endif %}
										</a>
									</h2>
									<p class="author">
										<span>{{ Lang.Get('by') }}</span> 
										{% if Post.Author is not empty %}
											{{ Post.Author }} 
										{% else %}	
											{{ Blog.Owner.Nickname }}
										{% endif %}
									</p>
									
									{% list Post.Tags %}
										{% if loop.first is not empty %}
											<p class="tags">
												<span>{{ Lang.Get('posted in') }}</span>
										{% endif %} 
												<a href="{{ Tag.Url }}">{{ Tag.title }}</a> {% if loop.last is empty %}, {% endif %}
										{% if loop.last is not empty %}
											</p>
										{% endif %}
									{% endlist %}
								</header>

								<div class="body">
									{% if isSingle or Custom('display_mode') == 'All' %}
			                            {{ Post.Body }}
			                        {% elseif not isSingle and Custom('display_mode') != 'Summary' and Custom('display_mode') != 'All'  %}
			                            {{ Post.Body(Custom('display_mode')) }}
			                        {% else %}
			                        	{% if Post.Cover is not empty %}
											<a href="{{ Post.Permalink }}" title="{{ Post.Snippet }}">
												<img class="cover" src="{{ Post.Cover|resize(600,600)|crop }}" alt="" title="" width="600" height="600" />
											</a>
										{% endif %}
										{% list Post.Sources %}
											{% if loop.first is not empty and Source == 'TW' %}
												{{ Post.Body(1) }}
											{% else %}
												<p>{{ Post.Snippet }}</p>
											{% endif %}
										{% endlist %}
			                        {% endif %}
								</div>

								{% if Custom('share_service') != 'None' %}
									<div class="share">
				                		<h6>
				                			{% if isPage == false %}
				                				{{ Lang.Get('Share this post') }}
				                			{% else %}
				                				{{ Lang.Get('Share this page') }}
				                			{% endif %}
				                		</h6>
					                    {% if Custom('share_service') == 'Google +' %}
					                        <div class="google-share left">
					                            <div class="g-plusone" data-size="medium" data-href="{{ Blog.Url }}{{ Post.Permalink }}"></div>
					                        </div>
					                    {% endif %}
					                    {% if Custom('share_service') == 'Twitter' %}
					                        <div class="twitter-share left">
					                            <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Blog.Url }}{{ Post.PermaLink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
					                        </div>
					                    {% endif %}
					                    {% if Custom('share_service') == 'Facebook' %}
					                        <div class="facebook-share left">
					                            <div class="fb-like" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
					                        </div>
					                    {% endif %}
					                    {% if Custom('share_service') == 'All' %}
					                        <div class="google-share left">
					                            <div class="g-plusone" data-size="medium" data-href="{{ Blog.Url }}{{ Post.Permalink }}"></div>
					                        </div>
					                        <div class="twitter-share left">
					                            <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Blog.Url }}{{ Post.PermaLink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
					                        </div>
					                        <div class="facebook-share left">
					                            <div class="fb-like" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
					                        </div>
					                        <div class="cb"></div>
					                    {% endif %}
						         	</div>
						        {% endif %}
						        {% if Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}			
									<nav class="navigation">
										<a id="home" href="{{ Blog.Url }}">{{ Lang.Get('Home') }}</a>
										
										{% if Navigation.PreviousPost is not empty %}
					                    	<a class="left" href="{{ Navigation.PreviousPost.Permalink }}" title="{{ Navigation.PreviousPost.Title }}">
					                    		&laquo; {{ Lang.Get('Previous post') }}
					                    	</a>
					                    {% endif %}
										
										{% if Navigation.NextPost is not empty %}
					                    	<a class="right" href="{{ Navigation.NextPost.Permalink }}" title="{{ Navigation.NextPost.Title }}">
					                    		{{ Lang.Get('Next post') }} &raquo;
					                     	</a>
					                    {% endif %}
									</nav>
								{% endif %}
						        {% if isSingle and isPage == false and Post.ShowComments is not empty %}
						         	<div class="item-comments">
						         		<h6>{{ Lang.Get('Comment this post') }}</h6>
									    {% if Custom("comment") == "Facebook" %}
									    	<div class="fb-comments" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-num-posts="2" data-width="600"></div>
									    {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
									        <div id="disqus_thread"></div>
									        <noscript>{{ Lang.Get('Please enable JavaScript to view the') }} <a href="http://disqus.com/?ref_noscript">{{ Lang.Get('comments powered by') }} Disqus.</a></noscript>
									    {% else %}
									        {{ Post.Comments }}
									    {% endif %}
									</div>
								{% endif %}
							</article>
						{% endlist %}
					{% endif %}
					
					{% if Navigation.PreviousPage is not empty or Navigation.NextPage is not empty %}			
						<nav class="navigation">
							{% if Navigation.PreviousPage is not empty %}
								<a class="left" href="{{ Navigation.PreviousPage }}">&laquo; {{ Lang.Get('prev') }}</a>
		                    {% endif %}

		                    {% if isIndex == false %}
								<a id="home" href="{{ Blog.Url }}">{{ Lang.Get('Home') }}</a>
							{% endif %}
							
							{% if Navigation.NextPage is not empty %}
								<a class="right" href="{{ Navigation.NextPage }}">{{ Lang.Get('next') }} &raquo;</a>
							{% endif %}
						</nav>
				{% endif %}
			</section>
			
			<footer id="footer">
				<div class="left">
					<h3>{{ Lang.Get('Last Posts') }}</h3>
					<ul id="last-project">
					{% list Blog.Posts (4) %}
						<li>
							<a href="{{ Post.Permalink }}" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}">
								{% if Post.Title is not empty %}
									{{ Post.Title }}
								{% else %}
									{{ Lang.Get('Published from') }} 
									{% list Post.Sources %}
										{{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
									{% endlist %}
								{% endif %}
							</a> - {{ Post.Date|date('d/m/y') }}
						</li>
					{% endlist %}
					</ul>
				</div>
				<div class="right">
					<h3>{{ Lang.Get('About the author') }}</h3>
					<a class="avatar" href="{{ Blog.Owner.Avatar }}" title="{{ Blog.Owner.Nickname }}">
						<img src="{{ Blog.Owner.Avatar|default ('http://img.over-blog-kiwi.com/0/00/00/12/201204/obpicxXvl6I')|resize(88)|crop }}" alt="Avatar" title="{{ Blog.Owner.Nickname }}" width="88" height="88" />
					</a>
					<p>{{ Blog.Owner.Bio }}</p>
					{% if Custom('twitter_username') is not empty %}
						<a class="contact-button twitter" href="http://twitter.com/{{ Custom('twitter_account') }}" title="{{ Lang.Get('Follow us on') }} Twitter" target="_blank">{{ Lang.Get('Follow us on') }} Twitter</a>
					{% endif %}
					{% if Custom('facebook_username') is not empty %}
						<a class="contact-button facebook" href="http://facebook.com/{{ Custom('facebook_account') }}" title="{{ Lang.Get('Follow us on') }} Facebook" target="_blank">{{ Lang.Get('Follow us on') }} Facebook</a>
					{% endif %}
					<a class="contact-button rss" href="{{ Blog.RssUrl }}" title="{{ Lang.Get('Subscribe on RSS feed') }}" target="_blank">{{ Lang.Get('Follow us with') }} Rss</a>
					<a class="contact-button contact" href="{{ Blog.Url }}/contact">{{ Lang.Get('Contact us') }}</a>
				</div>
				<div class="clear"></div>
				<div class="credits clear">
					<p class="left">{{ Custom('footer')|default('Theme: Dreamhigh &copy; 2012') }}</p>
					<p class="right">{{ Lang.Get('Hosted by') }} <a href="http://overblog.com" target="_blank">OverBlog</a></p>
				</div>
			</footer>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		
		<script>
			// Facebook
		    (function(d, s, id) {
		        var js, fjs = d.getElementsByTagName(s)[0];
		        if (d.getElementById(id)) return;
		        js = d.createElement(s); 
		        js.id = id;
		        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
		        fjs.parentNode.insertBefore(js, fjs);
		    }(document, 'script', 'facebook-jssdk'));

		    // Google + button 
		     window.___gcfg = {lang: '{{ Blog.Lang }}'};
		
			  (function() {
			    var po = document.createElement('script'); 
			    	po.type = 'text/javascript'; 
			    	po.async = true;
			    	po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; 
			    	s.parentNode.insertBefore(po, s);
			  })();

			  {% if Custom('google_analytics') is not empty %}
				// Google Analytics
			    window.google_analytics_uacct = '{{Custom('google_analytics')}}';
			    var _gaq = _gaq || [];
			    	_gaq.push(['_setAccount', '{{Custom('google_analytics')}}']);
			    	_gaq.push(['_trackPageview']);
			    	_gaq.push(['_trackPageLoadTime']);
			
			    (function() {
			        var ga = document.createElement('script'); 
			        	ga.type = 'text/javascript'; 
			        	ga.async = true;
			        	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			        var s = document.getElementsByTagName('script')[0]; 
			        	s.parentNode.insertBefore(ga, s);
			    })();
			{% endif %}

			$(document).ready(function(){
				// Fancybox
				$(".ob-section-images a, .ob-link-img").attr("rel", "fancybox");
	            $("a[rel=fancybox], .avatar").fancybox({
	                'overlayShow'   : true,
	                'titlePosition' : 'over',
	                'transitionIn'  : 'fadin',
	                'transitionOut' : 'fadin',
	                'type'          : 'image'
	            });
	        });

			// Twitter button
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0]; 
                if(!d.getElementById(id)){
                    js=d.createElement(s); 
                    js.id=id; 
                    js.src="//platform.twitter.com/widgets.js"; 
                    fjs.parentNode.insertBefore(js,fjs);  
                }
            }(document,"script","twitter-wjs"); 

        	// Disqus 
        	var disqus_shortname = '{{ Custom('comment_disqus') }}';
			(function() {
				var dsq = document.createElement('script'); 
					dsq.type = 'text/javascript'; 
					dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
	</body>
</html>