<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie67 ie678" lang="{{ Blog.Lang|default('en') }}" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if IE 8]> <html class="ie8 ie678" lang="{{ Blog.Lang|default('en') }}" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="{{ Blog.Lang|default('en') }}" itemscope itemtype="http://schema.org/Blog"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{{ Blog.Lang|default('en') }}" itemscope itemtype="http://schema.org/Blog">
<!--<![endif]-->
	<head>
		<!-- shortcut:[Meta] -->
		<!-- title -->
        {% title %}
        <!-- metas description, keyword, robots -->
        {% meta %}

		<!-- shortcut:[Options] -->
		<meta name="list:nb_sections:label.numberOfSections" items="Summary,1,2,3,4,5,6,7,8,9,10,All" default="2" />

		<meta name="list:background:label.backgroundImage" items="Beach, Desert, Forest, Sky, Storm" default="Forest" group="Design" />
		<meta name="image:background_custom:label.backgroundImage" group="Design" />
	    <meta name="color:background_item:label.backgroundPostsColor" default="#F5F5F5" group="Design" />

	    <meta name="color:title_color:label.blogTitleColor" default="#F5F5F5" group="Colors" />
	    <meta name="color:font_color:label.postsFontColor" default="#9C9A9A" group="Colors" />
	    <meta name="color:footer_color:label.footerFontColor" default="#F5F5F5" group="Colors" />

		<meta name="boolean:custom_hide_widget_search_form:label.hideSearchForm" group="Widgets" />
		<meta name="boolean:custom_hide_widget_follow_us:label.hideFollowUs" group="Widgets" />

		<meta name="string:wording_footer:label.footer" default="Theme: Simple Image &copy; 2012" group="Footer" />

	    <meta name="string:twitter_username:label.twitterUsername" group="Social" />
		<meta name="string:facebook_username:label.facebookUsername" group="Social" />
		<meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, All" default="All" group="Social" />

		<meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comment" />
		<meta name="string:comment_disqus:label.disqusAccount" default="obcomment" group="Comment" />

		<meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
		<meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
		<meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
		<meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />

		<!-- favicon -->
	    {% favicon %}

		<!-- SEO -->
		{% if Custom('google_webmaster_id') is not empty %}
			<meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
		{% endif %}
		{% if Custom('msn_webmaster_id') is not empty %}
			<meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
		{% endif %}


		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- includes -->
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />

		<!-- Fancybox style -->
		<link href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox2.1.2/jquery.fancybox.css" rel="stylesheet" type="text/css" />

		<!-- shortcut:[Styles] -->
		<style type="text/css">
			/* Image copyright :
				- Beach : http://www.flickr.com/photos/tom_ruaat/5637528524/sizes/o/in/photostream/
				- Forest : http://www.flickr.com/photos/31246066@N04/5082779364/sizes/o/in/photostream/
				- Storm : http://www.flickr.com/photos/dhilung/3521047509/sizes/o/in/photostream/
				- Sky: http://www.flickr.com/photos/frankpierson/4562163986/sizes/o/in/photostream/
				- Desert : Gerald LONLAS
			*/

			/**
			 * Fonts import
			 */
			@import url(http://fonts.googleapis.com/css?family=Leckerli+One);

			/**
			 * YUI 3.4.1 (build 4118)
			 * Copyright 2011 Yahoo! Inc. All rights reserved.
			 * Licensed under the BSD License.
			 * http://yuilibrary.com/license/
			 */
			html {color:#000;background:#FFF}
			body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0}
			table {border-collapse:collapse;border-spacing:0}
			fieldset,img {border:0}
			address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal}
			ol,ul {list-style:none}caption,th {text-align:left}
			h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal}
			q:before,q:after {content:''}
			abbr,acronym {border:0;font-variant:normal}
			sup {vertical-align:text-top}
			sub {vertical-align:text-bottom}
			input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit}
			input,textarea,select {*font-size:100%}
			legend {color:#000}

			/*** Theme*/
			html {
				{% if Custom('background_custom') is not empty %}
					background: url({{ Custom('background_custom') }}) no-repeat center center fixed;
				{% elseif Custom('background')|default('Forest') is not empty %}
					background: url(http://assets.over-blog-kiwi.com/themes/14/images/bg-{{ Custom('background')|default('Forest') }}.jpg) no-repeat center center fixed;
				{% endif %}
				-webkit-background-size: cover;
				   -moz-background-size: cover;
				     -o-background-size: cover;
				        background-size: cover;
			}
			body {
				color: #333;
				font-family: 'Helvetica Neue', Helvetica,Arial,sans-serif;
				font-size: 13px;
				font-weight: normal;
				line-height: 18px;
				-webkit-font-smoothing: subpixel-antialiased;
				text-rendering: geometricPrecision;
				background: none;
				padding-bottom: 20px;
			}

			a, a:focus, a:visited, a:hover {
				color: whiteSmoke;
				text-decoration: none;
				-webkit-transition: color 300ms ease-in;
				   -moz-transition: color 300ms ease-in;
				    -ms-transition: color 300ms ease-in;
				     -o-transition: color 300ms ease-in;
				        transition: color 300ms ease-in;
			}

			img {
				border: 0;
				-ms-interpolation-mode: bicubic;
			}

			input, select, button, textarea {
				border: 1px solid #C4C7D0;
				font-size: 13px;
				font-family: arial,sans-serif;
			}

			.clearboth {
				clear: both;
			}

			.header {
				color: white;
				font-family: 'Leckerli One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				padding: 8px;
			}

			.header .logo a{
				font-size: 40px;
				line-height: 48px;
				color: {{ Custom('title_color') }};
				-webkit-text-shadow: 0 2px 6px rgba(0,0,0,0.4);
				   -moz-text-shadow: 0 2px 6px rgba(0,0,0,0.4);
					 -o-text-shadow: 0 2px 6px rgba(0,0,0,0.4);
						text-shadow: 0 2px 6px rgba(0,0,0,0.4);
			}

			.header .description {
				font-size: 22px;
				margin-top: 0.8em;
				color: rgba(255,255,255, 0.8);
			}

			.main {
				margin-top: 40px;
			}

			.posts {
				position: relative;
				display: table;
				height: 100%;
				margin: 0 auto;
				table-layout: fixed;
			}

			.indications {
				color: whitesmoke;
				display: block;
				font-size: 23px;
				margin: 20px 0 30px;
				text-align: center;
			}
			.indications:first-letter {
				text-transform: capitalize;
			}
			.indications span {
				font-family: 'Leckerli One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 35px;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
			}
			.indications .keyword {
				display: block;
				margin-top: 15px;
			}


			.single, .special {
				width: 630px;
				max-width: 630px;
			}

			.special {
				margin-bottom: 20px;
			}
			.single .post {
				margin-bottom: 20px;
			}

			.index {
				width: 402px;
				max-width: 400px;
			}

			.index .readmore {
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.index .readmore a {
				display: inline-block;
			}
			.index .readmore a:first-letter {
				text-transform: capitalize;
			}

			.index .post {
				margin-bottom: 40px;
			}
			.post .item-cover {
				height: 266px;
				margin-bottom: 10px;
				position: relative;
			}

			.post .item-cover img {
				-webkit-border-radius: 6px;
				   -moz-border-radius: 6px;
				    -ms-border-radius: 6px;
				     -o-border-radius: 6px;
				   		border-radius: 6px;

				-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				     -o-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				        box-shadow: 0 2px 6px rgba(0,0,0,0.4);

				-webkit-opacity: 0.9;
				   -moz-opacity: 0.9;
				    -ms-opacity: 0.9;
				     -o-opacity: 0.9;
				   		opacity: 0.9;

			-webkit-transition: opacity 300ms;
			   -moz-transition: opacity 300ms;
			    -ms-transition: opacity 300ms;
			     -o-transition: opacity 300ms;
			   		transition: opacity 300ms;
			}
			.post .item-cover img:hover {
				-webkit-opacity: 1;
				   -moz-opacity: 1;
				    -ms-opacity: 1;
				     -o-opacity: 1;
				   		opacity: 1;
			}

			.border-img {
				border: 1px solid rgba(255, 255, 255, 0.3);
				-webkit-border-radius: 5px;
				   -moz-border-radius: 5px;
				    -ms-border-radius: 5px;
				     -o-border-radius: 5px;
				   		border-radius: 5px;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				    -ms-box-sizing: border-box;
				     -o-box-sizing: border-box;
				        box-sizing: border-box;
				display: block;
				height: 100%;
				width: 100%;
			}

			.ob-repost {
				background: #FFF;
				border-radius: 5px;
				border: 1px solid #EEE;
				text-align: center;
			}
			.index .ob-repost {
				font-size: 12px;
			}
			.ob-repost .ob-link {
				text-decoration: underline;
			}

			/* Sections on Index  */
			.index .ob-section img,
			.index .ob-section .ob-desc,
			.index .ob-section-video iframe,
			.index .ob-section-video object,
			.index .ob-section-html object {
				width: 372px;
			}

			.index .ob-section-html object.flowplayer,
			.index .ob-section-images .ob-slideshow {
				width: 372px;
				height: 272px;
			}

			/* Section File */
	        .index .ob-section-file .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); border: none; display: block;}
	        .index .ob-section-file .ob-ctn a.ob-link,
	        .index .ob-section-file .ob-c a.ob-link:visited {color: {{ Custom('font_color')|default('#9C9A9A') }}; max-width: 270px; text-decoration: underline; text-shadow: none;}
	        .index .ob-section-file .ob-ctn a.ob-link:hover {color: {{ Custom('font_color')|default('#9C9A9A') }}; text-decoration: none;}
            .ob-section-file .ob-icon {background-image: url(http://assets.over-blog-kiwi.com/b/blog/bundles/overblogblogblog/images/paperclip.png?v=1);}

			 /* Section Quote */
			.index .ob-section-quote {background: #FFF; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); border: none; margin-bottom: 20px;}
			.index .ob-section-quote p {color: {{ Custom('font_color')|default('#9C9A9A') }}; min-height: 20px;}
			.index .ob-section-quote p:before {color: #EEE; margin: -82px 0 0 -87px;}
			.index .ob-section-quote p:after {color: #EEE; margin: -30px 0 0 -0;}
	        .index .ob-section-quote p.ob-author,
	        .index .ob-section-quote p.ob-source {background: #EEE; color: #555; font-size: 14px; font-style: italic; margin: 25px 0 0; max-height: 24px; max-width: 280px; overflow: hidden; padding-bottom: 0px\9; position: relative; text-overflow: ellipsis; -ms-white-space: nowrap; white-space: nowrap; z-index: 11;}

	        /* Section Link */
	        .index .ob-section-link .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); border: none;}
	        .index .ob-section-link .ob-media-left {margin: 0 !important;}
	        .index .ob-section-link p.ob-url {background: #EEE; margin: 0; max-height: 24px; max-width: 160px; padding-bottom: 0px\9;}
	        .index .ob-section-link p.ob-title,
	        .index .ob-section-link p.ob-snippet {color: {{ Custom('font_color')|default('#9C9A9A') }}; margin-bottom: 10px; margin-left: 20px;}
	        .index .ob-section-link p.ob-title .ob-link {color: {{ Custom('font_color')|default('#9C9A9A') }}; max-height: 42px; overflow: hidden;}
        	.index .ob-section-link p.ob-snippet {margin-bottom: 35px; max-height: 30px; overflow: hidden;}
	        .index .ob-section-link .ob-img {float: left; width: 170px;}
	        .index .ob-section-link .ob-desc {margin-top: 5px;}


			.index .obsoundplayercover {
				width: 50px;
				height: 33px;
			}
			.index .ob-section .obsoundplayer .obsoundplayername {
				width: 44px;
			}

			.index .obsoundplayer .obsoundplayervolume {
				margin: 10px 5px 5px 10px;
			}
			.index .ob-video iframe {
				max-height: 218px;
			}
			.index .ob-section .ob-media-left {
				float: none;
			}

			.index .ob-section img {
				float: none;
			}
			.index .ob-media-left,
			.index .ob-media-right {
				margin-left: auto;
				margin-right: auto;
			}
			.index .ob-map {
				height: 272px;
				width: 372px;
			}

			/* Sections on single page */

			.single .ob-section-text img,
			.single .ob-section-images .ob-default .ob-row-1-col a img {
				-webkit-border-radius: 5px;
				   -moz-border-radius: 5px;
				    -ms-border-radius: 5px;
				     -o-border-radius: 5px;
				max-width: 100%;
			}
			.single ol li {list-style: decimal; margin-left: 35px;}
			.single ul li {list-style: disc; margin-left: 20px;}
			.single pre {border-left: 3px solid #3A3A3A; padding-left: 4px; margin-top: 10px; margin-bottom: 10px;}
			.body .ob-text h3,
			.body .ob-text h4,
			.body .ob-text h5 {margin: 15px 0 5px;}

			/* Section File */
	        .single .ob-section-file .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); border: none; display: block; max-width: 100%;}
	        .single .ob-section-file .ob-ctn a.ob-link,
	        .single .ob-section-file .ob-c a.ob-link:visited {color: {{ Custom('font_color')|default('#9C9A9A') }}; max-width: 513px; text-decoration: underline; text-shadow: none;}
	        .single .ob-section-file .ob-ctn a.ob-link:hover {color: {{ Custom('font_color')|default('#9C9A9A') }}; text-decoration: none;}

			/* Section Quote */
			.single .ob-section-quote {background: #FFF; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); border: none; margin-bottom: 20px;}
			.single .ob-section-quote p {color: {{ Custom('font_color')|default('#9C9A9A') }}; min-height: 20px;}
			.single .ob-section-quote p:before {color: #EEE; margin: -82px 0 0 -87px;}
			.single .ob-section-quote p:after {color: #EEE; margin: -49px 0 0 0;}
	        .single .ob-section-quote p.ob-author,
	        .single .ob-section-quote p.ob-source {background: #EEE; color: gray; font-size: 14px; font-style: italic; margin: 25px 0 0; max-height: 24px; max-width: 510px; overflow: hidden; padding-bottom: 0\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}
	        .single .ob-section-quote p.ob-author .ob-link,
	        .single .ob-section-quote p.ob-source .ob-link {color: gray;}
	        .single .ob-section-quote p.ob-author .ob-link:hover,
	        .single .ob-section-quote p.ob-source .ob-link:hover {color: #000;}

	        /* Section Link */
	        .single .ob-section-link .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); border: none;}
	        .single .ob-section-link .ob-media-left {margin: 0;}
	        .single .ob-section-link p.ob-url {background: #EEE; margin: 0; max-height: 24px; max-width: 390px; padding-bottom: 0\9;}
	        .single .ob-section-link p.ob-title,
	        .single .ob-section-link p.ob-snippet {color: {{ Custom('font_color')|default('#9C9A9A') }}; margin-bottom: 10px; margin-left: 20px;}
	        .single .ob-section-link p.ob-title .ob-link {color: {{ Custom('font_color')|default('#9C9A9A') }}; max-height: 42px; overflow: hidden;}
        	.single .ob-section-link p.ob-snippet {margin-bottom: 35px; max-height: 30px; overflow: hidden;}
	        .single .ob-section-link .ob-img {float: left; margin-bottom: 0; width: 170px;}
	        .single .ob-section-link .ob-desc {margin-top: 5px;}

			.item-cover {
				margin-bottom: 5px;
			}
			.item-cover img {
				width: 400px;
			}
			.item-content {
				-webkit-border-radius: 5px;
				   -moz-border-radius: 5px;
				   	-ms-border-radius: 5px;
				     -o-border-radius: 5px;
						border-radius: 5px;
				-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				   	-ms-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
					 -o-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
						box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				position: relative;
				clear: both;
				color: {{ Custom('font_color')|default('#9C9A9A') }};
				font-size: 116%;
				line-height: 1.4;
				padding: 15px;
				position: relative;
				{% if Custom('background_item') == '#F5F5F5' %}
					text-shadow: 0 1px 0 white;
				{% endif %}
	            word-wrap: break-word;
			}
	        .item-content {
	            {% if Custom('background_item') %}
	                background: {{ Custom('background_item')|default('#F5F5F5') }};
	            {% else %}
	                background: #F5F5F5;
	            {% endif %}
	        }
			.item-content .title,
			.special h3 {
				color: #3A3A3A;
				font-size: 20px;
				font-weight: normal !important;
				line-height: 1.1;
				margin-bottom: 8px;
				word-wrap: break-word;
			}
			.item-content .title:first-letter,
			.special h3:first-letter {
				text-transform: capitalize;
			}
			.item-content a,
			.item-content a:visited {
				color: #3A3A3A;
				-webkit-transition: color 300ms ease-in;
				   -moz-transition: color 300ms ease-in;
				    -ms-transition: color 300ms ease-in;
				     -o-transition: color 300ms ease-in;
				        transition: color 300ms ease-in;
			}
			.item-content a:hover {
				color: #787878;
				-webkit-transition: color 300ms ease-in;
				   -moz-transition: color 300ms ease-in;
				    -ms-transition: color 300ms ease-in;
				     -o-transition: color 300ms ease-in;
				        transition: color 300ms ease-in;
			}

			.item-content .meta{
				color: #9C9A9A;
				font-size: 16px;
				line-height: 1.4;
				{% if Custom('background_item') == '#F5F5F5' %}
					text-shadow: 0 1px 0 white;
				{% endif %}
			}

			.item-content .meta .author,
			.item-content .meta .tags,
			.item-content .meta time{
				font-size: 12px;
				padding-top: 10px;
			}
			.item-content .meta .tags a {
				font-weight: bold;
			}
			.index .item-content .body img{
				max-width: 372px;
			}

			.item-content .body {
				font-size: 14px;
				text-align: justify;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.item-content .body:first-letter {
				text-transform: capitalize;
			}

			.item-content .body h1,
			.item-content .body h2,
			.item-content .body h3,
			.item-content .body h4,
			.item-content .body h5 {
				font-weight: bold;
				color: #3A3A3A;
				margin-bottom: 10px;
			}

			.item-content .body .ob-text h3 {
				font-size: 18px;
				font-weight: normal;
			}

			.item-content .body .ob-text h4 {
				font-size: 16px;
				font-weight: normal;
			}

			.item-content .body .ob-text h5 {
				font-size: 14px;
				font-weight: bold;
			}

			.item-content .body .ob-text p {
				margin-bottom: 15px;
			}

			.item-content .body .ob-text strong {
				font-weight: bold;
			}

			.item-content .body .ob-text ul li {
				list-style-type: disc;
				margin-left: 20px;
			}
			.item-content .body .ob-text ol li {
				list-style-type: decimal;
				margin-left: 45px;
			}

			.item-content .body .ob-text li p {
				margin-bottom: 0;
			}

			.item-content .body .ob-desc {
				font-size: 13px;
				font-style: italic;
				font-weight: bold;
				margin-top: 5px;
			}

			.item-comments {
				margin-top: 20px;
			}

			/* Sharing buttons */
			.single .social {
				clear: both;
			}
			.single .social h4 {
				margin-bottom: 10px;
			}
			.social {
				background: #EEE;
				-webkit-border-radius: 5px;
				   -moz-border-radius: 5px;
						border-radius: 5px;
				overflow: hidden;
				padding: 10px;
			}
			.social h4 {
				color: #333;
			}
			.social div {
				display: inline-block;
				vertical-align: bottom;
			}
			.social .gplus,
			.social .twt,
			.social .facebook {
				margin: 10px 31px 0 0;
			}
			.ie9 .social .gplus,
			.ie9 .social .twt,
			.ie9 .social .facebook {
				margin-right: 31px;
			}
			.social .twt {
				height: 62px;
			}
			.social .facebook {
				height: 61px;
			}
			.social .ob-share {
				height: 60px;
				margin-right: 0;
			}

			/* Navigation */
			.navigation .prev,
			.navigation .next {
				color: #3A3A3A;
				margin: 20px 0;
			}
			.navigation a {
				display: inline-block;
				font-size: 16px;
			}
			.navigation a:first-letter,
			.navigation .prev:first-letter {
				text-transform: capitalize;
			}
			.navigation .prev {
				float: left;
			}
			.navigation .next {
				float: right;
			}

			.footer {
				{% if Custom('custom_hide_widget_search_form') == true %}
					margin: {% if isSingle or isSpecial %}0{% else %}-20px{% endif %} 0 20px;
				{% endif %}
				padding-bottom: 100px;
	        	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	        }
			.footer p,
			.footer a,
			.footer a:visited {
				color: {{ Custom('footer_color')|default('#F5F5F5') }};
				text-align: center;
			}
			.footer a:hover {
				text-decoration: underline;
			}
	        .footer a.credits {
	        	color: #ffae00 !important;
	        }

			.footer span {
				display: inline-block;
			}
			.footer span:first-letter {
				text-transform: capitalize;
			}

			.search {
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 10px;
			}
			.search input[type=text]{
				border: none;
				border-radius: 5px;
				-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				     -o-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				        box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				padding: 5px;
			{% if Custom('background_item') != '#F5F5F5' %}
				background-color: {{ Custom('background_item')|default('#F5F5F5') }};
			{% else %}
				background-color: rgba(255,255,255,0.8);
			{% endif %}
			}
			.search input[type=text]:focus{
				background-color: #F5F5F5;
			}
			.search.index input[type=text]{
				margin-top: -20px;
				width: 390px;
			}
			.search.single input[type=text]{
				margin-top: 10px;
				width: 620px;
			}
			.search input[type=submit]{
				display: none;
			}

			/* Fix Deezer Section */
			.single .obsoundplayer .obsoundplayername {
				width: 235px;
			}

			/* Section HTML */
			.ob-section-html iframe,
			.ob-section-html object,
			.ob-section-html embed {max-width: 100%}

			/* Section Image with Slidshow */
			.ob-section-images .ob-slideshow img {width: 100%;}

			/* Section Video */
			.ob-section-video,
			.ob-section-video iframe,
			.ob-section-video object,
			.ob-section-video embed {max-width: 100%;}
			.ob-section-video .ob-video iframe {height: 340px; width: 100%;}


			/* twitter box */
	        .ob-section .twitter-tweet-rendered,
	        .ob-section .twt-border {max-width: 100% !important;}

	        .m-networks{
	            margin: 20px 0 10px 0;
	            text-align: center;
	        }
	        .m-networks a{
	            margin: 0 0 0 8px;
	        }
	        .ob-text pre{
	        	margin-bottom: 15px;
	            white-space: pre-wrap;
	        }
	        .ob-text em {
	        	font-style: italic;
	        }
	        .ob-section-file,
	        .ob-section-file .ob-ctn {
	        	margin-left: 0;
	        }
	        .ob-form + a {
	        	display: block;
	        	font-size: 12px;
	        	margin-top: 50px;
	        	text-align: center;
	        }
	        .ob-form-field{
	            margin: 8px 0;
	        }
	        .ob-desc {
	        	font-style: italic;
	        }
	        .ob-input-text, .ob-input-email {
	        	padding: 5px 0;
	        }
	        .ob-input-submit{
	            background: #FFF;
	            border: 1px solid #C4C7D0;
	            -moz-border-radius: 6px;
	            -webkit-border-radius: 6px;
	            -ms-border-radius: 6px;
	            -o-border-radius: 6px;
	            border-radius: 6px;
	            cursor: pointer;
	            padding: 6px 15px;
	            text-transform: capitalize;
	        }
	        .ob-input-submit:active{
	            border: 1px solid #AAA;
	        }


	        .main .posts .load-more {
	        	display: block;
				font-size: 18px;
				margin-bottom: 20px;
				text-align: center;
			}
			.main .posts .load-more a {
	        	display: inline-block;
			}
			.main .posts .load-more a:first-letter {
	        	text-transform: capitalize;
			}

	        .main .posts .read-more {
				margin: 20px 0 0 0;
			}
			.main .posts .read-more a,
			.main .posts .read-more a:visited {
				background: #c73542;
				border: 1px solid #A22230;
				-webkit-border-radius: 2px;
				   -moz-border-radius: 2px;
				    -ms-border-radius: 2px;
				     -o-border-radius: 2px;
				     	border-radius: 2px;

				color: #FFF;
				display: table;
				font-size: 14px;
				font-weight: bold;
				line-height: 27px;
				padding: 0 8px 2px;
				text-decoration: none;
				-webkit-transition: all 0.15s ease-out;
				   -moz-transition: all 0.15s ease-out;
				    -ms-transition: all 0.15s ease-out;
				     -o-transition: all 0.15s ease-out;
				     	transition: all 0.15s ease-out;
			}
			.main .posts .read-more a:hover {
				background: #C40037;
			}

			/* Infinite Scroll loader */
			.ias_loader {
			  color: #333;
			  background: #FFF;
			  background: rgba(255,255,255,0.9);
			  -webkit-border-radius: 10px;
				 -moz-border-radius: 10px;
				  -ms-border-radius: 10px;
				   -o-border-radius: 10px;
					  border-radius: 10px;
			  bottom: 55px;
			  font-size: 12px;
			  left: 45%;
			  padding: 10px 15px;
			  position: fixed;
			  text-align: center;
			}
			.ias_loader img {
				float: left;
				height: 20px;
				margin: 0 15px 0 0;
				width: 20px;
			}
			.ias_loader p {
				padding-right: 30px;
				white-space: nowrap;
			}

			/* Follow buttons */
			.follow {
				height: 286px;
				line-height: 286px;
				margin-top: -143px;
				position: fixed;
				right: 15px;
				top: 50%;
			}
			.follow .wrapper {
				display: inline-block;
				vertical-align: middle;
			}
			.follow a {
				background: #F5F5F5 url("http://assets.over-blog-kiwi.com/themes/14/images/social.png") no-repeat;
				-webkit-border-radius: 6px;
				   -moz-border-radius: 6px;
				    -ms-border-radius: 6px;
				     -o-border-radius: 6px;
			   		border-radius: 6px;
				-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				     -o-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				        box-shadow: 0 2px 6px rgba(0,0,0,0.4);
				display: block;
				height: 42px;
				margin: 0 0 10px;
				padding: 10px;
				text-indent: -99999%;
				width: 35px;
			}
			.follow a:active {
				background-color: #FFF;
			}
			.follow a.fb {
				background-position: 1px 3px;
			}
			.follow a.fb:hover {
				background-position: 1px -74px;
			}
			.follow a.tw {
				background-position: -81px 3px;
			}
			.follow a.tw:hover {
				background-position: -81px -74px;
			}
			.follow a.rss {
				background-position: -161px 3px;
				margin-bottom: 0;
			}
			.follow a.rss:hover {
				background-position: -161px -74px;
			}
		</style>

		<!-- End CSS -->
	</head>
	<body>
		<div id="fb-root"></div>
		<!-- shortcut:[Header] -->
		<div class="mask"></div>
		<header class="header">
			<!--Logo-->
			<div class="logo">
				<h1>
					<a href="{{ Blog.Url }}" title="{{Blog.Description}}">
						{{ Blog.Title|default('Simple Image') }}
					</a>
				</h1>
			</div>
			<div class="description">
				{{ Blog.Description }}
			</div>
		</header>
		<!-- End Header -->

		<!-- shortcut:[Main] -->
		<div class="main">
			<section class="posts {% if isSingle %}single{% elseif isSpecial%}special{% else %}index{% endif %}">
				{% if isSpecial %}
					<div class="post special">
						<div class="item-content">
							<div class="body">
								{{ SpecialContent }}
							</div>
						</div>
					</div>
				{% else %}
					{% if isSearch %}
						<p class="indications">
							{{ Lang.Get('Search results for') }}
							<span class="keyword">“{{ Search.Keyword }}”</span>
						</p>
					{% elseif isTag %}
						<p class="indications">
							<span>#{{ Tag.Title }}</span>
						</p>
					{% endif %}

					{% list Posts %}
						<!-- Post item -->
						<div class="post{% list Post.Sources %} {{ Source }}{% endlist %}">
								{% if not isSingle and Post.Cover is not empty and Custom('nb_sections') == 'Summary' %}
									<div class="item-cover">
										<a href="{{ Post.Permalink }}" title="{{ Post.Snippet }}" class="border-img">
											<img src="{{ Post.Cover|resize(400,266)|crop }}" alt="{{ Post.Title }}" title="{{ Post.Title }}" width="400" height="266" />
										</a>
									</div>
								{% endif %}
								<div class="item-content">
									<header>
										<hgroup>
											<h2 class="title">
												{% if not isSingle %}
													<a href="{{ Post.Permalink }}" title="{{ Post.Snippet }}">
												{% endif %}
														{% if Post.Title is not empty %}
															{{ Post.Title }}
														{% else %}
															{{ Lang.Get('Published from') }}
															{% list Post.Sources %}
																{{ Lang.Get(Source) }} {% if not loop.last %} {{ Lang.Get('and') }} {% endif %}
															{% endlist %}
														{% endif %}
												{% if not isSingle %}
													</a>
												{% endif %}
											</h2>
											<div class="meta">
												{% if Post.Author is not empty %}
													<span class="author">{{ Post.Author }}</span> —
												{% endif %}
												<time pubdate>{{ Post.Date|datel(Lang.Get('Default date format'))|title }}</time>
												{% list Post.Tags %}
													{% if loop.first %}
														— <span class="tags">
													{% endif %}
														<a href="{{ Tag.Url }}" title="{{ Tag.Title }}">#{{ Tag.Title }}</a>{% if loop.last == false %}, {% else %}</span>{% endif %}
												{% endlist %}
											</div>
										</hgroup>
									</header>
									<div class="body">
										{% if isSingle or Custom('nb_sections') == 'All'|default('All') %}
											{{ Post.Body }}
										{% elseif Custom('nb_sections') == 'Summary' %}
											{% list Post.Sources %}
												{% if loop.first %}
													{% if Source == 'TW' %}
														{{ Post.Body(1) }}
													{% else %}
														{{ Post.Snippet }}
													{% endif %}
												{% endif %}
											{% endlist %}
										{% else %}
											{{ Post.Body(Custom('nb_sections')) }}
										{% endif %}

										{% if not isSingle %}
											<div class="readmore">
												{% if Custom('nb_sections') != 'All' %}
													<a href="{{ Post.Permalink}}" title="{{Post.Title}}">{{ Lang.Get('Read this post') }}</a>
				                                    &nbsp;—&nbsp;
				                                {% else %}
				                                	<a href="{{ Post.Permalink}}" title="{{ Lang.Get('Comment this post') }}">{{ Lang.Get('Comment this post') }}</a>
				                                    &nbsp;—&nbsp;
				                                {% endif %}
			                                    <!-- Comments count -->
			                                    {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
			                                        <a title="{{ Lang.Get('comments') }}" class="comments" href="{{ Post.Permalink }}#disqus_thread"></a>
			                                    {% else %}
			                                        <a title="{{ Lang.Get('comments') }}" class="comments" href="{{ Post.PermaLink }}#comments">
			                                            {% if Custom("comment") == "Facebook" %}
			                                                <fb:comments-count href={{ Post.Permalink }}></fb:comments-count> {{ Lang.Get('comment(s)') }}
			                                            {% else %}
			                                                {{ Post.CommentCount(Lang.Get('comment'), Lang.Get('comments')) }}
			                                            {% endif %}
			                                        </a>
			                                    {% endif %}
											</div>
										{% endif %}
									</div>

									<div class="social">
										{% if Custom('share_service') != 'None'|default('All') or isSingle %}
	                                    		<h4>{% if isPage %}{{ Lang.Get('Share this page') }}{% else %}{{ Lang.Get('Share this post') }}{% endif %}</h4>
	                                    	{% if Custom('share_service') == 'Google +' %}
												<div class="gplus">
			                                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://plusone.google.com/u/0/_/+1/fastbutton?url={{ Post.Permalink }}&amp;size=tall&amp;annotation=bubble&amp;lang={{ Blog.Lang }}" style="border:none; overflow:hidden; width: 50px; height: 60px;" align="left"></iframe>
			                                    </div>
	                                        {% elseif Custom('share_service') == 'Twitter' %}
	                                            <div class="twt">
                                                    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url={{ Post.PermaLink }}{% if Custom('twitter_username') is not empty %}&via={{ Custom('twitter_username')}}{% endif %}&text={% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}&lang={{ Blog.Lang }}&count=vertical" style="border:none; overflow:hidden; height: 62px;"></iframe>
                                                </div>
	                                        {% elseif Custom('share_service') == 'Facebook' %}
                                                <div class="facebook">
                                                    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?&href={{ Post.Permalink }}&amp;send=false&amp;layout=box_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90"  style="border:none; overflow:hidden; width: 60px; height:61px;"></iframe>
                                                </div>
	                                        {% elseif Custom('share_service') == 'All' or Custom('share_service') is empty %}
	                                            <div class="gplus">
			                                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://plusone.google.com/u/0/_/+1/fastbutton?url={{ Post.Permalink }}&amp;size=tall&amp;annotation=bubble&amp;lang={{ Blog.Lang }}" style="border:none; overflow:hidden; width: 50px; height: 60px;" align="left"></iframe>
			                                    </div>
			                                    <div class="twt">
                                                    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url={{ Post.PermaLink }}{% if Custom('twitter_username') is not empty %}&via={{ Custom('twitter_username')}}{% endif %}&text={% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}&lang={{ Blog.Lang }}&count=vertical" style="border:none; overflow:hidden; height: 62px; width: 65px;"></iframe>
                                                </div>
                                                <div class="facebook">
                                                    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?&href={{ Post.Permalink }}&amp;send=false&amp;layout=box_count&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90"  style="border:none; overflow:hidden; width: 60px; height:61px;"></iframe>
                                                </div>
	                                        {% endif %}
                                        {% endif %}
                                        <div class="ob-share">
                                        	{{ Post.RepostButton('top') }}
                                        </div>
									</div>

									<!-- Pagination -->
									{% if (Navigation.PreviousPost is not empty or Navigation.NextPost is not empty) %}
										<nav class="navigation">
											{% if Navigation.PreviousPost is not empty %}
												<a href="{{ Navigation.PreviousPost.Permalink }}" class="prev">&larr; {{ Lang.Get('Previous post') }}</a>
											{% endif %}

											{% if Navigation.NextPost is not empty %}
												<a href="{{ Navigation.NextPost.Permalink }}" class="next">{{ Lang.Get('Next post') }} &rarr;</a>
											{% endif %}
											<div class="clearboth"></div>
										</nav>
									{% endif %}
									<!-- End Pagination -->

									{% if isSingle and not isPage %}
										<div class="item-comments" id="comments">
											{% if Custom("comment") == "Facebook" %}
												<div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="600" data-colorscheme="{{ Custom('facebook_comments_color') }}"></div>
											{% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
												<div id="disqus_thread"></div>
												<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
											{% else %}
												{{ Post.Comments }}
											{% endif %}
										</div>
									{% endif %}
								</div>
						</div>
						<!-- End Post item -->
					{% else %}
						<div class="post">
							<div class="item-content">
								<div class="body">
								{% if isSearch %}
									{{ Lang.Get('No result with this expression') }}.
								{% elseif isTag %}
									{{ Lang.Get('No post with this tag') }}.
								{% endif %}
								</div>
							</div>
							<div class="clearboth"></div>
						</div>
					{% endlist %}
				{% endif %}

				{% if Navigation.NextPage or Navigation.PreviousPage is not empty %}
					<!-- Pagination -->
					<p class="load-more">
						<a href="{{ Navigation.NextPage }}" title="Load more">{{ Lang.Get('Load more') }}</a>
					</p>
				{% endif %}
			</section>
		</div>

		<!-- shortcut:[Footer] -->
		<footer class="footer clearboth">
			{% if Custom('custom_hide_widget_search_form') == false and not isSpecial %}
	        	<form class="search {% if isSingle or isSpecial %}single{% else %}index{% endif %}" method="post" action="/search">
	                <input type="text" name="q" placeholder="{{ Lang.Get('Search') }}..." value="" />
	                <input type="submit" value="{{ Lang.Get('Search') }}" />
	            </form>
			{% endif %}
			<p>
	        	<span><a href="{{ Blog.Url }}/contact" title="{{ Lang.Get('Contact') }}">{{ Lang.Get('Contact me') }}</a></span>&nbsp;-&nbsp;<span>{{ Custom('wording_footer') }}</span>&nbsp;-&nbsp;<span>{{ Lang.Get('Hosted by') }}<span>&nbsp;<span><a class="credits" href="http://www.over-blog.com" target="_blank">Overblog</a><span>
			</p>
		</footer>

		{% if Custom('custom_hide_widget_follow_us') == false %}
			<div class="follow">
				<div class="wrapper">
					{% if Custom('facebook_username') is not empty %}
						<a class="fb" href="http://facebook.com/{{ Custom('facebook_username') }}" title="{{ Lang.Get('Follow me on') }} Facebook" target="_blank"></a>
					{% endif %}
					{% if Custom('twitter_username') is not empty %}
					<a class="tw" href="http://twitter.com/{{ Custom('twitter_username') }}" title="{{ Lang.Get('Follow me on') }} Twitter" target="_blank"></a>
					{% endif %}
					<a class="rss" href="{{ Blog.RssUrl }}" title="{{ Lang.Get('Subscribe to') }} RSS {{ Lang.Get('feed') }}" target="_blank"></a>
				</div>
			</div>
		{% endif %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox2.1.2/jquery.fancybox.pack.js"></script>
		<script src="http://assets.over-blog-kiwi.com/themes/jquery/infinite-ajax-scroll/jquery.ias.min.js"></script>

		<script>
			{% if not isSingle and Custom('comment') == 'Disqus' and Custom('comment_disqus') is not empty %}
                // Disqus comments count
                var disqus_shortname = "{{ Custom('comment_disqus') }}";
                (function () {
                    var s = document.createElement('script');
                        s.async = true;
                        s.type = 'text/javascript';
                        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());

            	var disqus_shortname = '{{ Custom('comment_disqus') }}';
            	(function() {
            	    var dsq = document.createElement('script');
            	        dsq.type = 'text/javascript';
            	        dsq.async = true;
            	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            	})();
            {% elseif Custom('comment') == 'Facebook' %}
            	// Facebook comments
            	(function(d, s, id) {
            	    var js, fjs = d.getElementsByTagName(s)[0];
            	    if (d.getElementById(id)) return;
            	        js = d.createElement(s);
            	        js.id = id;
            	        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
            	        fjs.parentNode.insertBefore(js, fjs);
            	}(document, 'script', 'facebook-jssdk'));
            {% endif %}

        	// Twitter render
            !function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src="//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,"script","twitter-wjs");


            {% if Custom('google_analytics') is not empty %}
                // Google Analytics
                window.google_analytics_uacct = '{{Custom('google_analytics')}}';
                var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', '{{Custom('google_analytics')}}']);
                    _gaq.push(['_trackPageview']);
                    _gaq.push(['_trackPageLoadTime']);

                (function() {
                    var ga = document.createElement('script');
                        ga.type = 'text/javascript';
                        ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(ga, s);
                })();
            {% endif %}

            var FancyboxControls = function(elements) {
                $(elements).find(".ob-link-img").attr("rel","fancybox");
            }

            var EnhancePictures = function(elements) {
            	$(elements).find('.ob-section-text img, .ob-section-images img').each(function(){
					$(this).attr(
						'src',
						$(this).attr('src').replace(/\/[0-9]+x[0-9]+(\-ct)?/, "/372x272-ct")
					);
				});
            }

            // Fancybox
            $(document).ready(function() {
            	// Placeholder Script
            	if($.browser.msie && $.browser.version <= 9.0 ){
            	    $('input[placeholder]').each(function(){
            	        var input = $(this);
            	        $(input).val(input.attr('placeholder'));
            	        $(input).focus(function(){
            	             if (input.val() == input.attr('placeholder')) {
            	                 input.val('');
            	             }
            	        });
            	        $(input).blur(function(){
            	            if (input.val() == '' || input.val() == input.attr('placeholder')) {
            	                input.val(input.attr('placeholder'));
            	            }
            	        });
            	    });
            	}

            	// Fancybox
            	$(".ob-link-img").attr("rel", "fancybox").fancybox({
            	    type: "image"
            	});

				{% if not isSingle %}
					EnhancePictures(".post");

					jQuery.ias({
						'container' 	 : ".posts",
						'item' 			 : ".post",
						'pagination' 	 : ".load-more",
						'next'			 : ".load-more a",
						'tresholdMargin' : -200,
						'history'		 : false,
						'loader' 		 : "<img src='http://assets.over-blog-kiwi.com/themes/14/images/ajax_loader.gif' alt='' title='' /><p>{{ Lang.Get('Loading new posts...') }}</p>",
						onLoadItems      : function(items) {
							FancyboxControls(items);
						},
						onRenderComplete : function(items) {
							if (typeof OB != "undefined") {
								OB.restart && OB.restart();
							}

							if (typeof twttr != "undefined") {
								twttr.widgets.load();
							}

							{% if Custom('comment') == 'Disqus' %}
								// Disqus callback
								if (typeof DISQUSWIDGETS != "undefined" ){ DISQUSWIDGETS && DISQUSWIDGETS.getCount();
								}
							{% elseif Custom('comment') == 'Facebook' %}
	                            // FB callback
	                            if (typeof FB != "undefined") {
	                            	FB.XFBML.parse(document.body);
	                            }
							{% endif %}

							EnhancePictures(items);

						}
					});
				{% endif %}
			});
		</script>
	</body>
</html>
