<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title, description, keyword, robots -->
        {% if isSingle%}
            {% list Posts %}
                <title>{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }} - {% endif %}{{Blog.Title}}</title>
                <meta name="description" content="{{ Post.Snippet }}" />
                <meta name="keywords" content="{% list Post.Tags %}{{ Tag.Title }}{% if loop.last == false %}, {% endif %}{% endlist %}" />
                <meta name="robots" content="index,follow" />
            {% endlist %}
        {% elseif isTag and Tag is not empty %}
            <title>{{ Tag.Title|title }} - {{ Blog.Title }}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Tag.Title|title }}" />
            <meta name="robots" content="index,follow" />
        {% elseif isSearch and Search is not empty %}
            <title>{{ Search|title }} - {{ Blog.Title }}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Search|title }}" />
            <meta name="robots" content="noindex" />
        {% else %}
            <title>{{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="robots" content="index,follow" />
        {% endif %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />


        <!-- Social setting : Facebook, G+ .. -->
        <meta property="og:site_name" content="{{ Blog.Title }}" />
        <meta property="og:type" content="blog" />
        <meta property="fb:app_id" content="{% if Custom('facebook_appid') is not empty %}{{ Custom('facebook_appid') }}{% endif %}" />
        {% if Custom('facebook_username') is not empty %}
            <meta property="fb:admins" content="{{ Custom('facebook_username') }}"/>
        {% endif %}
        <meta itemprop="name" content="{{ Blog.Title }}" />

        {% if isSingle %}
            {% list Posts %}
                <meta property="og:title" content="{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }}{% endif %}"/>
                <meta property="og:description" content="{{ Post.Snippet }}" />
                <meta itemprop="description" content="{{ Post.Snippet }}" />
                <meta property="og:url" content="{{ Post.Permalink }}" />
                {% if Post.Cover %}
                    <meta property="og:image" content="{{ Post.Cover }}"/>
                    <meta itemprop="image" content="{{ Post.Cover }}" />
                {% endif %}
            {% endlist %}
            <meta property="og:type" content="overblogkiwi:see" />
        {% else %}
            <meta property="og:title" content="{{ Blog.Title }}"/>
            <meta property="og:description" content="{{ Blog.Description }}" />
            <meta itemprop="description" content="{{ Blog.Description }}" />
            {% if Blog.Avatar %}
                <meta property="og:image" content="{{ Blog.Avatar }}"/>
                <meta itemprop="image" content="{{ Blog.Avatar }}" />
            {% else %}
                {% list Posts %}
                    {% if loop.index == 1 and Post.Cover %}
                        <meta property="og:image" content="{{ Post.Cover }}"/>
                        <meta itemprop="image" content="{{ Post.Cover }}" />
                    {% endif %}
                {% endlist %}
            {% endif %}

            {% if isSearch %}
                <meta property="og:type" content="overblogkiwi:search" />
            {% else %}
                <meta property="og:type" content="overblogkiwi:visit" />
            {% endif %}
        {% endif %}

        <!-- shortcut:[Includes] -->
        <!-- favicon -->
        {% if Blog.FaviconUrl is not empty %}
            <link rel="icon" type="image/png" href="{{ Blog.FaviconUrl }}" />
        {% else %}
            <link rel="shortcut icon" type="image/x-icon" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.ico" />
            <link rel="icon" type="image/png" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.png" />
            <link rel="apple-touch-icon" href="http://fdata.over-blog.net/99/00/00/01/img/mobile-favicon.png" />
        {% endif %}

        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- shortcut:[Options] -->
        <meta name="image:background:label.backgroundImage" group="Background & post cover" />
        <meta name="image:post_cover:label.defaultPostCover" group="Background & post cover" />

        <meta name="list:category_number:label.numberOfCategories" items="0,1,2,3,4,5,6,7,8,9,10,15,20,25,30,35,40" default="6" group="Navigation" />

        <meta name="color:titles_font_color:Titles font color" default="#222" group="Colors" />
        <meta name="color:text_font_color:Text font color" default="#888" group="Colors" />
        <meta name="color:links_font_color:Links font color" default="#668FBA" group="Colors" />

        <meta name="boolean:display_widget_bio:label.hideBiography" group="Widgets" />
        <meta name="boolean:display_widget_pages:label.hidePages" group="Widgets" />
        <meta name="boolean:display_widget_archives:label.hideArchives" group="Widgets" />
        <meta name="boolean:display_widget_follow:label.hideFollowUs" group="Widgets" />

        <meta name="string:facebook_username:label.facebookUsername" group="Social" />
        <meta name="string:twitter_username:label.twitterUsername" group="Social" />
        <meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, Pinterest, All" default="All" group="Social" />

        <meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comment" />
        <meta name="string:comment_disqus:label.disqusAccount" default="obcomment" group="Comment" />

        <meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
        <meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
        <meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
        <meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />

        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css" />
        <link href="//assets.over-blog-kiwi.com/themes/jquery/fancybox2.1.2/jquery.fancybox.css" rel="stylesheet" type="text/css" />

        <style type="text/css">
            /*
            KNACSS.com V1.3 @author : Raphael Goetter, Alsacreations
            Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
            */

            /* ----------------------------- */
            /* ==reset */
            /* ----------------------------- */

            /* base font-size corresponds to equiv 10px */
            html {font-size: 62.5%;}
            body {
                background: #E1E1E1;
                {% if Custom('background') is not empty %}
                background: url({{ Custom('background') }}) no-repeat fixed;
                -webkit-background-size: cover;
                   -moz-background-size: cover;
                    -ms-background-size: cover;
                     -o-background-size: cover;
                        background-size: cover;
                {% endif %}
                color: #222;
                font-family: 'Lato', sans-serif;
            }

            /* HTML5 tags */
            article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}

            /* soft reset */
            html, body, blockquote, ul, ol, form {margin: 0; padding: 0}
            p {margin: 0 0 1em;}
            ul, ol {padding-left: 2em;}
            .mreset {margin: 0 !important;}
            .preset {padding: 0 !important;}

            /* font-sizing for content */
            p, li, td, th, textarea, caption, pre {font-size: 1.5em;}
            li li, li p, td p, th p, li h1, li h2, li h3, li h4, li h5, li h6, button, input, select {font-size: 100%;}
            h1, .h1-like {font-size: 2.4em;} /* equiv 24 pixels */
            h2, .h2-like {font-size: 2.1em;} /* equiv 20 pixels */
            h3, .h3-like {font-size: 1.8em;} /* equiv 18 pixels */
            h4, .h4-like {font-size: 1.6em;} /* equiv 16 pixels */
            h5, .h5-like {font-size: 1.4em;} /* equiv 14 pixels */

            /* alternate font-sizing */
            .smallest {font-size: .7em;}
            .smaller {font-size: .8em;}
            .small {font-size: .9em;}
            .big {font-size: 1.07em;} /* 15 pixels */
            .bigger {font-size: 1.14em;} /* 16 pixels */
            .biggest {font-size: 1.28em;} /* 18 pixels */

            /* avoid collapsing margins */
            h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
                margin-top: 0;
            }
            /* avoid last paragraph bottom margin */
            p:last-child {margin-bottom: 0;}


            /* max values */
            img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
                max-width: 100%; height: auto;
            }

            /* you shall not pass */
            textarea, table, td, th, code, pre, samp, div, p {
                word-wrap: break-word;
                -webkit-hyphens: auto;
                   -moz-hyphens: auto;
                    -ms-hyphens: auto;
                     -o-hyphens: auto;
                        hyphens: auto;
            }
            code, pre, samp {
                white-space: pre-wrap;
            }

            /* pictures */
            img {width: auto; vertical-align: middle}
            a img {border: 0;}

            * {
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
            }

            /* clearfix */
            .clearfix:before, .clearfix:after{
                content: "";
                display: table;
            }
            .clearfix:after{
                clear: both;
            }

            /* ----------------------------- */
            /* ==GLOBAL */
            /* ----------------------------- */
            .global {
                margin: 0 auto;
                max-width: 980px;
                padding-bottom: 60px;
            }

            a,
            a:visited {
                color: {{ Custom('links_font_color')|default('#668FBA') }};
                text-decoration: none;
            }

            /* ----------------------------- */
            /* ==HEADER */
            /* ----------------------------- */
            .header {
                background: #FDFDFD;
                border: 1px solid #DDD;
                -webkit-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                   -moz-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                    -ms-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                     -o-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                        box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                overflow: hidden;
                margin: 50px auto 8px;
                max-width: 962px;
            }

            .header .banner,
            .header .menu {
                overflow: hidden;
                position: relative;
                padding: 13px;
            }

            /* BANNER */
            .header .banner .avatar {
                display: block;
                float: left;
                margin: 0 20px 0 0;
                position: relative;
            }
            .header .banner .avatar img {
                background: #F8F8F8;
                border: 1px solid #F2F2F2;
                border-radius: 3px;
                padding: 5px;
            }
            .header .banner h1 {
                margin: 0;
                max-width: 75%;
            }
            .header .banner h1 a {
                color: {{ Custom('links_font_color')|default('#668FBA') }};
                font-size: 1.6em;
                font-weight: bold;
                text-decoration: none;
            }
            .header .banner p {
                color: {{ Custom('text_font_color')|default('#888') }};
                margin-bottom: 0;
                max-width: 100%;
            }
            /* SEARCH FORM */
            .search {
                position: absolute;
                right: 13px;
                top: 13px;
                width: 213px;
            }
            .search input[type="text"] {
                background: #F5F5F5;
                border: 1px solid #DDD;
                border-bottom-color: #EEE;
                border-radius: 3px;
                color: #222;
                font-size: 12px;
                padding: 9px;
                width: 100%;
            }
            .search input[type="submit"] {
                background: url(//vivienkaufinger.com/ob/four_columns/sprite.png) no-repeat -2px -292px;
                border: none;
                cursor: pointer;
                padding: 5px 12px;
                position: absolute;
                right: 7px;
                top: 9px;
            }

            /* MENU */
            .header .menu {
                background: #ECECEC;
                border-top: 1px solid #E0E0E0;
                -webkit-box-shadow: 0 1px 0 0 #FFF inset;
                   -moz-box-shadow: 0 1px 0 0 #FFF inset;
                    -ms-box-shadow: 0 1px 0 0 #FFF inset;
                     -o-box-shadow: 0 1px 0 0 #FFF inset;
                        box-shadow: 0 1px 0 0 #FFF inset;
            }
            .header .menu ul {
                list-style: none;
                padding: 0;
            }
            .header .menu li {
                border-right: 1px solid #ddd;
                display: inline-block;
                padding: 2px 12px;
            }
            .header .menu li.last {
                border-right: none;
            }
            .header .menu a,
            .header .menu a:visited {
                color: {{ Custom('titles_font_color')|default('#888') }};;
                display: block;
                font-size: 14px;
                padding: 0 15px;
                text-decoration: none;
                -webkit-transition: all 250ms ease;
                   -moz-transition: all 250ms ease;
                    -ms-transition: all 250ms ease;
                     -o-transition: all 250ms ease;
                        transition: all 250ms ease;
            }
            .header .menu a:first-letter {
                display: inline-block;
                text-transform: uppercase;
            }
            .header .menu a:hover {
                color: {{ Custom('links_font_color')|default('#668FBA') }};
            }
            .header .menu .active a {
                font-weight: bold;
            }

            /* ----------------------------- */
            /* ==POSTS */
            /* ----------------------------- */
            .post {
                background-color: #F9F9F9;
                border: 1px solid #DDD;
                -webkit-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                   -moz-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                    -ms-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                     -o-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                        box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
            }
            .post .header {
                margin: 0;
            }
            .post .date {
                color: {{ Custom('text_font_color')|default('#888') }};
                display: block;
                font-size: 1.2em;
                font-style: italic;
                font-weight: bold;
            }
            .post .permalink {
                color: {{ Custom('titles_font_color')|default('#222') }};
                font-weight: bold;
                line-height: normal;
                text-decoration: none;
            }
            .post .permalink:hover {
                text-decoration: underline;
            }
            .post .tag p {
                color: #888;
            }
            .post .tag p:before {
                background: url(//vivienkaufinger.com/ob/four_columns/sprite.png) no-repeat center -263px;
                content: '';
                display: inline-block;
                height: 20px;
                vertical-align: middle;
                width: 20px;
            }
            .post .tag a {
                font-size: 0.9em;
                font-weight: bold;
                text-decoration: none;
            }
            .post .tag a:hover {
                text-decoration: underline;
            }
            .post .footer {
                background: #ECECEC;
                border-top: 1px solid #E0E0E0;
                -webkit-box-shadow: 0 1px 0 0 #FFF inset;
                   -moz-box-shadow: 0 1px 0 0 #FFF inset;
                    -ms-box-shadow: 0 1px 0 0 #FFF inset;
                     -o-box-shadow: 0 1px 0 0 #FFF inset;
                        box-shadow: 0 1px 0 0 #FFF inset;
            }
            .post .footer .item-comments > h3 {
                color: {{ Custom('titles_font_color')|default('#222') }};
            }
            .post .footer .item-comments #disqus_thread h3 {
                font-size: 1.4em;
            }
            .post .footer .item-comments .ob-commentsList .ob-avatar {
                margin-right: 10px;
            }
            .post .footer .item-comments .ob-commentsList .ob-website,
            .post .footer .item-comments .ob-commentsList .ob-date {
                font-size: 0.7em;
            }

            /* ----------------------------- */
            /* ==HOME PAGE */
            /* ----------------------------- */
            .index .post {
                float: left;
                margin: 8px;
                width: 227px;
                -webkit-transition: all 250ms ease;
                   -moz-transition: all 250ms ease;
                    -ms-transition: all 250ms ease;
                     -o-transition: all 250ms ease;
                        transition: all 250ms ease;
            }
            {% if Custom('display_widget_bio') == false or Custom('display_widget_pages') == false or Custom('display_widget_archives') == false or Custom('display_widget_follow') == false %}
                .index .post:nth-child(2) {
            {% else %}
                .index .post:nth-child(1) {
            {% endif %}
                width: 470px;
            }
            .index .post:hover {
                background: #FFF;
                -webkit-box-shadow: none;
                   -moz-box-shadow: none;
                    -ms-box-shadow: none;
                     -o-box-shadow: none;
                        box-shadow: none;
            }
            .index .post .cover {
                display: block;
                padding: 13px 13px 0 13px;
            }
            .index .post .date {
                padding: 13px 13px 0;
            }
            .index .post .title {
                font-size: 1.9em;
                margin: 0;
                padding: 0 13px 13px;
            }
            .index .post .snippet {
                color: {{ Custom('text_font_color')|default('#888') }};
                line-height: 1em;
                margin: 0;
                padding: 0 13px 13px 13px;
                word-wrap: break-word;
            }
            .index .tweet {
                padding: 0 13px 13px 13px;
                position: relative;
            }
            .index .tweet .ob-section {
                margin-bottom: 0;
            }
            .index blockquote.ob-tweet {
                background: none;
                border: none;
                border-radius: 0;
                -webkit-box-shadow: none;
                   -moz-box-shadow: none;
                    -ms-box-shadow: none;
                     -o-box-shadow: none;
                        box-shadow: none;
                font-family: 'Helvetica Neue', Arial, sans-serif;
                padding: 0;
            }
            /* Avatar */
            .index .twitter-tweet img,
            .index blockquote.ob-tweet .ob-media-left {
                border-radius: 0;
                float: left;
                height: auto;
                margin: 0 0 0 0;
                min-height: 0;
                width: 30px;
            }
            /* Author */
            .index blockquote.ob-tweet .ob-tweet-author {
                left: 35px;
                line-height: normal;
                top: -2px;
            }
            .index blockquote.ob-tweet .ob-tweet-author a {
                font-size: 12px;
                text-decoration: none;
            }
            /* Text */
            .index blockquote.ob-tweet .ob-text {
                color: {{ Custom('text_font_color')|default('#888') }};
                padding-top: 50px;
            }
            .index blockquote.ob-tweet .ob-text a {
                color: {{ Custom('links_font_color')|default('#0084B4') }};
                text-decoration: none;
            }
            .index blockquote.ob-tweet .ob-text a:hover {
                text-decoration: underline;
            }
            .index .ob-tweet-bird {
                display: none;
            }
            .index blockquote.ob-tweet .ob-tweet-date {
                border-top: 1px dashed #DDD;
                font-size: 1.08em;
                display: inline-block;
                padding-top: 5px;
                width: 100%;
            }
            .index .ob-tweet .ob-tweet-date a {
                text-decoration: none;
            }
            /* buttons */
            .index .tweet-actions {
                bottom: 10px;
                position: absolute;
                right: 13px;
            }
            .index .tweet-actions a {
                background-image: url(//data.over-blog-kiwi.com/0/19/10/50/201210/ob_25984ccd2eb18c6b89bb11adcc6fae3d_twitter-sprite.png);
                display: inline-block;
                height: 16px;
                margin: 0 2px;
                width: 16px;
            }
            .index .tweet-reply:hover {background-position: -16px top;}
            .index .tweet-retweet {background-position: -80px top;}
            .index .tweet-retweet:hover {background-position: -96px top;}
            .index .tweet-favorite {background-position: -32px top;}
            .index .tweet-favorite:hover {background-position: -48px top;}
            .index .post .tag {
                padding: 0 13px 13px;
            }

            .index .post .footer {
                padding: 5px;
                text-align: center;
            }
            .index .post .share {
                height: 31px;
            }
            .index .post .share a {
                display: inline-block;
                background: url(//vivienkaufinger.com/ob/four_columns/sprite.png) no-repeat;
                height: 32px;
                width: 32px;
            }
            .index .post .share .fb {
                background-position: 1px -130px;
            }
            .index .post .share .twt {
                background-position: 1px -174px;
            }
            .index .post .share .gplus {
                background-position: 1px -217px;
            }
            .index .post .share .pint {
                background-position: 1px -766px;
            }

            .index .post .share .fb:hover {
                background-position: 1px 1px;
            }
            .index .post .share .twt:hover {
                background-position: 1px -43px;
            }
            .index .post .share .gplus:hover {
                background-position: 1px -86px;
            }
            .index .post .share .pint:hover {
                background-position: 1px -719px;
            }
            .index .share-bar {
                display: none;
            }

            /* FANCYBOX */
            .fancybox-wrap {
                border: 1px solid #DDD;
            }
            .fancybox-wrap .fancybox-close {

            }
            .fancybox-wrap .post {
                border: none;
                -webkit-box-shadow: none;
                   -moz-box-shadow: none;
                    -ms-box-shadow: none;
                     -o-box-shadow: none;
                        box-shadow: none;
            }
            .fancybox-wrap .post .date {
                display: inline-block;
                float: left;
                font-size: 1.4em;
                padding: 13px 13px 0;
            }
            .fancybox-wrap .post .author {
                color: {{ Custom('text_font_color')|default('#888') }};
                float: right;
                margin: 0;
                padding: 13px 13px 0;
            }
            .fancybox-wrap .post .author span {
                color: {{ Custom('titles_font_color')|default('#222') }};
                font-weight: bold;
            }
            .fancybox-wrap .post .title {
                clear: both;
                font-size: 2.6em;
                margin: 0;
                padding: 0 13px 13px;
            }
            .fancybox-wrap .post .body {
                color: {{ Custom('text_font_color')|default('#888') }};
                padding: 13px 13px 0 13px;
            }
            .fancybox-wrap .post .tag {
                margin-bottom: 20px;
            }
            .fancybox-wrap .post .tag,
            .fancybox-wrap .post .item-comments {
                padding: 13px;
            }
            .fancybox-wrap .post .navigation {
                display: none;
            }
            .fancybox-wrap aside {
                background: #F9F9F9;
                border: 1px solid #DDD;
                -webkit-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                   -moz-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                    -ms-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                     -o-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                        box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                right: 50%;
                margin: 0 -408px 0 0;
                padding: 13px;
                position: fixed;
                top: 170px;
            }
            .fancybox-wrap aside div {
                display: block;
                margin: 0 auto 20px;
                overflow: hidden;
                text-align: center;
            }
            .fancybox-wrap aside .gplus {
                width: 50px;
            }
            .fancybox-wrap aside div:last-child {
                margin: 0;
            }
            /* ----------------------------- */
            /* ==NO POST */
            /* ----------------------------- */
            .no-post {
                position: absolute;
                right: 8px;
                text-align: center;
                top: 8px;
                width: 720px;
            }
            .no-post p {
                font-size: 1.4em;
                margin-top: 20px;
                text-transform: uppercase;
            }

            /* ----------------------------- */
            /* ==SINGLE PAGE */
            /* ----------------------------- */
            .single .post {
                float: left;
                margin: 8px 8px 70px 251px;
                width: 610px;
            }
            .single .widgets + .post {
                margin: 8px;
            }
            .single .post .date {
                display: inline-block;
                float: left;
                font-size: 1.4em;
                padding: 13px 13px 0;
            }
            /* author */
            .single .post .author {
                color: {{ Custom('text_font_color')|default('#888') }};
                float: right;
                margin: 0;
                padding: 13px 13px 0;
            }
            .single .post .author span {
                color: {{ Custom('titles_font_color')|default('#222') }};
                font-weight: bold;
            }
            .single .post .title {
                clear: both;
                font-size: 2.6em;
                margin: 0;
                padding: 0 13px 13px;
            }
            .single .post .body {
                color: {{ Custom('text_font_color')|default('#888') }};
                padding: 13px;
            }
            .single .post .tag {
                padding: 0 13px 13px;
            }
            .single .post .footer {
                padding: 13px;
            }
            .single .post .footer > h3 {
                color: red;
            }

            .single aside {
                background: #F9F9F9;
                border: 1px solid #DDD;
                -webkit-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                   -moz-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                    -ms-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                     -o-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                        box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, .5);
                left: 50%;
                margin: 8px 0 0 387px;
                padding: 13px;
                position: fixed;
            }
            .single aside div {
                display: block;
                margin: 0 auto 20px;
                overflow: hidden;
                text-align: center;
            }
            .single aside .gplus {
                width: 50px;
            }
            .single aside div:last-child {
                margin: 0;
            }

            /* ----------------------------- */
            /* ==WIDGETS */
            /* ----------------------------- */
            .widgets {
                background-color: #F9F9F9;
                border: 1px solid #DDD;
                float: left;
                margin: 8px;
                -webkit-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, 0.5);
                   -moz-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, 0.5);
                    -ms-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, 0.5);
                     -o-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, 0.5);
                        box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, 0.5);
                width: 227px;
            }
            .widgets .profile,
            .widgets .pages,
            .widgets .archives,
            .widgets .social {
                padding: 13px;
            }
            .widgets h3 {
                margin-bottom: 10px;
            }
            /* PROFILE */
            .widgets .avatar {
                display: block;
            }
            .widgets .avatar img {
                width: 100%;
            }
            .widgets h3 {
                color: {{ Custom('titles_font_color')|default('#222') }};
                margin-bottom: 0;
            }
            .widgets .profile p {
                color: {{ Custom('text_font_color')|default('#888') }};
                margin-top: 13px;
            }

            /* PAGES */
            .widgets .list-pages,
            .widgets .list-pages li {
                list-style: none;
                padding: 0;
            }
            .widgets .list-pages li {
                margin-bottom: 10px;
            }
            .widgets .list-pages li:last-child {
                margin: 0;
            }
            .widgets .list-pages li a:hover {
                color: #222;
            }

            /* ARCHIVES */
            .widgets .archives ul,
            .widgets .archives li {
                list-style: none;
                padding: 0;
            }
            .arch_year .year {
                background: #ECECEC;
                color: #222;
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                padding: 4px 0;
                text-align: center;
            }
            .widgets .arch_year .year:hover {
                background: #E3E3E3;
            }
            .widgets .arch_month .month {
                margin-bottom: 6px;
                padding: 3px 4px 3px;
                -webkit-transition: all 200ms ease;
                   -moz-transition: all 200ms ease;
                    -ms-transition: all 200ms ease;
                     -o-transition: all 200ms ease;
                        transition: all 200ms ease;
            }
            .widgets .arch_month .month:hover {
                background: #F6F6F6;
            }
            .widgets .arch_month .month a {
                display: block;
                font-size: 0.9em;
                -webkit-transition: all 200ms ease;
                   -moz-transition: all 200ms ease;
                    -ms-transition: all 200ms ease;
                     -o-transition: all 200ms ease;
                        transition: all 200ms ease;
            }
            .widgets .arch_month .month a span {
                float: right;
                font-size: 0.8em;
                font-weight: bold;
            }
            .widgets .arch_month .month:hover a {
                color: #222;
            }

            /* SOCIAL */
            .widgets .social {
                background: #ECECEC;
            }
            .widgets .widget + .social {
                border-top: 1px solid #E0E0E0;
                -webkit-box-shadow: 0 1px 0 0 #FFF inset;
                   -moz-box-shadow: 0 1px 0 0 #FFF inset;
                    -ms-box-shadow: 0 1px 0 0 #FFF inset;
                     -o-box-shadow: 0 1px 0 0 #FFF inset;
                        box-shadow: 0 1px 0 0 #FFF inset;
                margin-top: 10px;
            }
            .widgets .social li {
                display: inline;
                list-style: none;
            }
            .widgets .social a {
                background: url(//vivienkaufinger.com/ob/four_columns/sprite.png) no-repeat center -500px;
                background-color: #CCC;
                color: #FFF;
                display: inline-block;
                font-size: 0.6em;
                font-weight: bold;
                margin: 0 -3px;
                padding: 55px 0 5px;
                text-align: center;
                text-decoration: none;
                -webkit-transition: all 250ms ease;
                   -moz-transition: all 250ms ease;
                    -ms-transition: all 250ms ease;
                     -o-transition: all 250ms ease;
                        transition: all 250ms ease;
                width: 60px;
            }
            .widgets .social .tw a {
                background-position: center -567px;
            }
            .widgets .social .rss a {
                background-position: center -637px;
            }
            .widgets .social a:hover {
                background-color: #999;
            }
            .widgets .social li:nth-child(2) a {
                margin: 0 12px;
            }

            /* ----------------------------- */
            /* ==Sections */
            /* ----------------------------- */
            .ob-section {
                width: 100%;
            }
            /* DESCRIPTION */
            .ob-desc {
                color: #888;
                font-size: 1.3em;
                font-style: italic;
                font-weight: bold;
                margin-top: 5px;
            }
            /* IMAGES */
            .ob-section-images img {
                max-width: 100%;
            }
            .ob-section-images .ob-row-1-col {
                margin-bottom: 13px;
                text-align: center;
            }
            .ob-section-images .ob-row-1-col:last-child {
                margin-bottom: 0;
            }
            .ob-section-images .ob-row-2-col img {
                width: 50%;
            }
            .ob-section-images .ob-row-3-col img {
                width: 194px;
            }
            .ob-section-images .ob-slideshow {
                max-width: 100%;
            }
            .ob-section-images .ob-slideshow img {
                width: 100%;
            }
            /* VIDEO */
            .ob-section-video iframe,
            .ob-section-video embed {
                height: 345px;
                width: 100%;
            }
            /* TWEETS */
            .ob-section-html .twitter-tweet-rendered,
            .ob-section-html .twitter-tweet-rendered .twt-border {
                max-width: 100% !important;
                width: 100% !important;
            }
            /* TEXT */
            .ob-section ul,
            .ob-section ol {
                display: inline-block;
                margin-bottom: 25px;
            }
            /* AUDIO */
            .ob-section-audio .obsoundplayer {
                height: auto;
                overflow: hidden;
            }
            div.obsoundplayer span.obsoundplayername {
                font-size: 1.3em;
                width: 160px;
            }
            /* FILE */
            .ob-section-file .ob-ctn {
                background: #F1F1F1;
                border-color: #DDD;
                display: block;
                max-width: 100%;
            }
            .ob-section-file .ob-link {
                color: #222;
                font-size: 1.4em;
                max-width: 100%;
            }
            .ob-section-file .ob-link:hover {
                text-decoration: underline;
            }
            /* QUOTE */
            .ob-section-quote {
                background: #F1F1F1;
                border-color: #DDD;
                margin-bottom: 20px;
            }
            .ob-section-quote .ob-author,
            .ob-section-quote .ob-source {
                color: #666;
                max-width: 525px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-transition: color 200ms ease;
                   -moz-transition: color 200ms ease;
                    -ms-transition: color 200ms ease;
                     -o-transition: color 200ms ease;
                        transition: color 200ms ease;
                white-space: nowrap;
            }
            .ob-section-quote .ob-author .ob-link,
            .ob-section-quote .ob-source .ob-link {
                color: #666;
            }
            .ob-section-quote .ob-quote p {
                color: #222;
                margin-bottom: 40px;
            }
            .ob-section-quote .ob-quote p:before {
                color: #DCDCDC;
                margin: -64px 0 0 -80px;
            }
            .ob-section-quote .ob-quote p:after {
                color: #DCDCDC;
                margin: -14px 0 0 0;
            }
            /* LINK */
            .ob-section-link .ob-media-left {
                margin: 0;
            }
            .ob-section-link .ob-title,
            .ob-section-link .ob-snippet {
                padding-left: 20px;
            }
            .ob-section-link .ob-title .ob-link {
                color: #222;
                font-family: "Lato";
            }
            .ob-section-link .ob-snippet {
                font-family: "Lato";
            }
            .ob-section-link .ob-url {
                background: #DCDCDC;
                color: gray;
                max-width: 405px;
            }
            .ob-section-link .ob-url .ob-link {
                font-family: "Lato";
            }
            /* MAP */
            .ob-section-map .ob-map,
            .ob-section-map .ob-desc {
                width: 100%;
            }

            /* ----------------------------- */
            /* ==NAVIGATION */
            /* ----------------------------- */
            .navigation {
                margin: 20px 0;
                overflow: hidden;
                padding: 0 20px;
            }
            .navigation a {
                color: #888;
                display: inline-block;
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 15px;
                text-decoration: none;
            }
            .navigation a:hover {text-decoration: underline;}
            .navigation .prev {float: left;}
            .navigation .prev:before {
                background: url(//vivienkaufinger.com/ob/four_columns/sprite.png) no-repeat center -477px;
                content: '';
                display: inline-block;
                height: 15px;
                width: 15px;
                margin-right: 5px;
                vertical-align: top;
            }
            .navigation .next {float: right;}
            .navigation .next:after {
                background: url(//vivienkaufinger.com/ob/four_columns/sprite.png) no-repeat center -447px;
                content: '';
                display: inline-block;
                height: 15px;
                width: 15px;
                margin-left: 5px;
                vertical-align: middle;
            }


            /* ----------------------------- */
            /* ==SPECIAL PAGE */
            /* ----------------------------- */
            .special .contact {
                background: #F9F9F9;
                border: 1px solid #CCC;
                -webkit-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, 0.5);
                   -moz-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, 0.5);
                    -ms-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, 0.5);
                     -o-box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, 0.5);
                        box-shadow: 0 0.3125em 0.875em -0.3125em rgba(0, 0, 0, 0.5);
                float: left;
                margin: 8px 8px 8px 251px;
                width: 720px;
            }
            .special .widgets + .contact {
                margin: 8px;
            }
            .special .inner {
                padding: 13px;
            }
            .special h2 {
                color: {{ Custom('titles_font_color')|default('#222') }};
            }
            .special .ob-label {
                font-size: 1.4em;
                margin-left: 85px;
                width: 15%;
            }
            .special .ob-input-text,
            .special .ob-input-email,
            .special .ob-input-textarea,
            .special .ob-input-submit {
                background: #F5F5F5;
                border: 1px solid #DDD;
                border-bottom-color: #EEE;
                border-radius: 3px;
                color: #222;
                font-size: 12px;
                padding: 9px;
            }
            .special .ob-input-submit {
                cursor: pointer;
                font-weight: bold;
                margin-left: 27%;
                text-transform: capitalize;
            }
            .special .ob-succes {
                font-size: 1.4em;
                text-align: center;
                text-transform: uppercase;
            }
            .special .ob-terms {
                color: #222;
                display: block;
                font-size: 1.1em;
                font-weight: 600;
                margin: 60px 0 10px;
                text-align: center;
                text-decoration: none;
            }
            .special .ob-terms:hover {
                text-decoration: underline;
            }

            /* ----------------------------- */
            /* ==LOADER */
            /* ----------------------------- */
            .ias_loader {
                bottom: -40px;
                left: 50%;
                margin-left: -100px;
                position: absolute;
                text-align: center;
                width: 200px;
            }
            .ias_loader img {
                float: left;
                margin: 0 10px 10px 0;
                width: 20px;
            }
            .ias_loader p {
                font-size: 1.4em;
            }

            /* ----------------------------- */
            /* ==SCROLL TO TOP */
            /* ----------------------------- */
            body.withsharebar .scroll-to-top {
                bottom: 45px;
                position: fixed;
                right: 20px;
            }
            .scroll-to-top {
                bottom: 5px;
                position: fixed;
                right: 20px;
            }
            .scroll-to-top a {
                background: rgba(225, 225, 225, 0.7) url(//vivienkaufinger.com/ob/four_columns/sprite.png) no-repeat left -361px;
                border-radius: 3px;
                color: {{ Custom('titles_font_color')|default('#222') }};
                display: block;
                font-size: 1.6em;
                padding: 10px 10px 10px 30px;
                text-decoration: none;
            }
            .scroll-to-top a:hover {
                background-position: left -397px;
                color: {{ Custom('links_font_color')|default('#668FBA') }};
            }
        </style>
    </head>
    <body>
        <div id="fb-root"></div>

        <!-- header -->
            <div class="global">
                <header class="header">
                    <div class="banner">
                        {% if Blog.Avatar is not empty %}
                            <a class="avatar" href="{{ Blog.Url }}" title="{{ Blog.Title }}">
                                <img src="{{ Blog.Avatar|resize(100)|crop }}" alt="" title="" width="100" height="100" />
                            </a>
                        {% endif %}

                        <!--blog title -->
                        <h1>
                            <a href="{{ Blog.Url }}" title="{{ Blog.Description }}">{{ Blog.Title }}</a>
                        </h1>

                        {% if Blog.Description is not empty %}
                            <p>{{ Blog.Description }}</p>
                        {% endif %}

                        <form class="search" action="/search/" method="post">
                            <input type="text" placeholder="{{ Lang.Get('Search') }}" {% if isSearch %}value="{{ Search.Keyword }}"{% endif %} name="q" />
                            <input type="submit" title="{{ Lang.Get('Search') }}" value="" />
                        </form>
                    </div>

                    <!-- menu -->
                    <nav class="menu">
                        <ul>
                            <li class="{% if isIndex %} active{% endif %}">
                                <a  href="{{ Blog.Url }}">{{ Lang.Get('Home') }}</a>
                            </li>
                            {% if Custom('category_number') > 0 %}
                                {% list Blog.PostsTags(Custom('category_number'), count) %}
                                    <li class="{% if Tag.Title is not empty and PostsTag.Title == Tag.Title %} active{% endif %}">
                                        <a  href="{{ PostsTag.Url }}" title="{{ PostsTag.Title }}">{{ PostsTag.Title }}</a>
                                    </li>
                                {% endlist %}
                            {% endif %}
                            <li class="{% if isSpecial %} active {% endif %}last">
                                <a href="/contact">{{ Lang.Get('Contact me') }}</a>
                            </li>
                        </ul>
                    </nav>
            </header>

            <!-- main -->
            <section class="main{% if isSpecial %} special clearfix{% elseif isSingle %} single clearfix{% else %} index{% endif %}">
                {% if Custom('display_widget_bio') == false or Custom('display_widget_pages') == false or Custom('display_widget_archives') == false or Custom('display_widget_follow') == false %}
                    <!-- widgets -->
                    <article class="{% if not isSingle and not isSpecial %}masonry-item {% endif %}widgets">
                        {% if Custom('display_widget_bio') == false %}
                            <!-- blog owner about -->
                            <div class="widget profile">
                                {% if Blog.Owner.Avatar is not empty %}
                                    <img class="avatar" src="{{ Blog.Owner.Avatar|resize(211,251)|crop }}" alt="" title="" width="211" height="251" />
                                {% endif %}
                                {% if Blog.Owner.Nickname is not empty %}
                                    <h3>{{ Blog.Owner.Nickname }}</h3>
                                {% endif %}
                                {% if Blog.Owner.Bio is not empty %}
                                    <p>{{ Blog.Owner.Bio }}</p>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if Custom('display_widget_pages') == false and Blog.ListPages is not empty %}
                            <div class="widget pages">
                                <h3>{{ Lang.Get('Pages') }}</h3>
                                <ul class="list-pages">
                                    {% list Blog.ListPages %}
                                        <li>
                                            <a  href="{{ ListPage.Url }}" title="{{ ListPage.Title }}">{{ ListPage.Title }}</a>
                                        </li>
                                    {% endlist %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if Custom('display_widget_archives') == false and Blog.Archives is not empty %}
                        <!-- blog archives -->
                            <div class="widget archives">
                                <h3>{{ Lang.Get('Archives') }}</h3>
                                <ul id="archivelist">
                                    {% list Blog.Archives %}
                                         <li class="arch_year">
                                            <a href="#" class="year" data-year="{{ Archive.Year }}">{{ Archive.Year }}</a>
                                            <ul id="arch_{{ Archive.Year }}" class="arch_month">
                                                {% list Archive.Months%}
                                                    {% if Month.PostCount > 0 %}
                                                        <li class="month">
                                                            <a href="{{ Month.Url }}">
                                                                {{ Lang.Get(Month.Name) }} <span>{{ Month.PostCount }}</span>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endlist %}
                                            </ul>
                                        </li>
                                    {% endlist %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if Custom('display_widget_follow') == false %}
                            <!-- follow blog owner -->
                            <div class="widget social">
                                {% if Custom('facebook_username') is not empty %}
                                    <li class="fb">
                                        <a href="//facebook.com/{{ Custom('facebook_username') }}" target="_blank" >FACEBOOK</a>
                                    </li>
                                {% endif %}
                                {% if Custom('twitter_username') is not empty %}
                                    <li class="tw">
                                        <a href="//twitter.com/{{ Custom('twitter_username') }}" target="_blank">TWITTER</a>
                                    </li>
                                {% endif %}
                                <li class="rss">
                                    <a href="{{ Blog.RssUrl }}" target="_blank" >RSS</a>
                                </li>
                            </div>
                        {% endif %}
                    </article>
                {% endif %}

                {% if isSpecial %}
                    <article class="contact">
                        <div class="inner">
                            {{ SpecialContent }}
                        </div>
                    </article>
                {% else %}
                    {% list Posts %}
                        <article class="post{% if not isSingle %} masonry-item{% endif %}">
                            <header>
                                {% if not isSingle and Custom('post_cover') is not empty or not isSingle and Post.Cover is not empty %}
                                    <!-- post cover -->
                                    <a class="cover permalink" href="{{ Post.Permalink }}" {% if Post.Snippet is not empty %}title="{{ Post.Snippet }}"{% endif %}>
                                        <img src="{% if Post.Cover is not empty %}{{ Post.Cover }}{% else %}{{ Custom('post_cover') }}{% endif %}" alt="" title="" />
                                    </a>
                                {% endif %}
                                <!-- post date -->
                                <time class="date" pubdate="{{ Post.Date }}">{{ Post.Date|datel(Lang.Get('Default date format'))|title }}</time>

                                {% if isSingle and Post.Author is not empty %}
                                    <!-- post author -->
                                    <p class="author">
                                        {{ Lang.Get('Published by') }} <span>{{ Post.Author }}</span>
                                    </p>
                                {% endif %}

                                <!-- post title -->
                                <h2 class="title">
                                    <a class="permalink" href="{{ Post.Permalink }}" {% if Post.Snippet is not empty %}title="{{ Post.Snippet }}"{% endif %}>
                                        {% if Post.Title is not empty %}
                                            {{ Post.Title }}
                                        {% else %}
                                            {{ Lang.Get('Published from') }}
                                            {% list Post.Sources %}
                                                {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                            {% endlist %}
                                        {% endif %}
                                    </a>
                                </h2>
                            </header>

                            {% if isSingle %}
                                <!-- post body -->
                                <div class="body">
                                    {{ Post.Body }}
                                </div>
                            {% else %}
                                {% list Post.Sources %}
                                    {% if loop.first and Source == 'TW' %}
                                        <!-- tweet on home page -->
                                        <div class="tweet">
                                            {{ Post.Body(1) }}
                                            <div class="tweet-actions">
                                                <a class="tweet-reply" href=""></a>
                                                <a class="tweet-retweet" href=""></a>
                                                <a class="tweet-favorite" href=""></a>
                                            </div>
                                        </div>
                                    {% elseif loop.first and Post.Snippet is not empty %}
                                        <!-- post snippet -->
                                        <p class="snippet">
                                            {{ Post.Snippet }}
                                        </p>
                                    {% endif %}
                                {% endlist %}
                            {% endif %}

                            {% if Post.Tags is not empty %}
                                <!-- post tag -->
                                <div class="tag">
                                    <p>
                                        {% list Post.Tags %}
                                            <a class="active" href="{{ Tag.url }}">#{{ Tag.Title }}</a>{% if loop.last is empty %}, {% endif %}
                                            {% if Tag.Title is not empty and PostsTag.Title == Tag.Title %}{{ PostsTag.Title }}{% endif %}
                                        {% endlist %}
                                    </p>
                                </div>
                            {% endif %}

                            {% if not isPage and Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
                                <!-- Pagination -->
                                <nav class="navigation">
                                     {% if Navigation.PreviousPost is not empty %}
                                        <a href="{{ Navigation.PreviousPost.Permalink }}" class="prev">
                                            {% if Navigation.PreviousPost.Title is not empty %}
                                                {{ Navigation.PreviousPost.Title }}
                                            {% else %}
                                                {{ Lang.Get('Previous post') }}
                                            {% endif %}
                                       </a>
                                    {% endif %}

                                    {% if Navigation.NextPost is not empty %}
                                        <a href="{{ Navigation.NextPost.Permalink }}" class="next">
                                            {% if Navigation.NextPost.Title is not empty %}
                                                {{ Navigation.NextPost.Title }}
                                            {% else %}
                                                {{ Lang.Get('Next post') }}
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                </nav>
                            {% endif %}

                            <footer class="footer">
                                {% if isSingle and not isPage and Post.ShowComments is not empty %}
                                    <!-- post comments -->
                                    <div class="item-comments" id="comments">
                                        <h3>{{ Lang.Get('Comment this post') }}</h3>
                                        {% if Custom("comment") == "Facebook" %}
                                            <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="582"></div>
                                        {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                            <div id="disqus_thread"></div>
                                            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                        {% else %}
                                            {{ Post.Comments }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if not isSingle %}
                                    <!-- post share buttons on home page -->
                                    <div class="share">
                                        <!-- facebook share -->
                                        <a class="fb" href="https://www.facebook.com/sharer/sharer.php?u={{ Post.Permalink }}&t={% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" target="_blank"></a>

                                        <!-- twitter share -->
                                        <a class="twt" href="https://twitter.com/share?url={{ Post.Permalink }}&text={% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}&via={% if Custom('twitter_username') is not empty %}{{ Custom('twitter_username') }} {% endif %}&" target="_blank"></a>

                                        <!-- google + share -->
                                        <a class="gplus" href="https://plus.google.com/share?url={ {{ Post.Permalink }} }"></a>

                                        {% if Post.Cover is not empty %}
                                            <a class="pint" href="//pinterest.com/pin/create/button/?url={{ Post.Permalink }}&media={{ Post.Cover }}&description={% if Post.Snippet is not empty %}{{ Post.Snippet }}{% else %}{{ Post.Title }}{% endif %}"></a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </footer>
                        </article>

                        {% if isSingle and Custom('share_service') != 'None' %}
                            <aside class="share-bar" role="complementary">
                                {% if Custom('share_service') == 'Google +' %}
                                    <div class="gplus">
                                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://plusone.google.com/u/0/_/+1/fastbutton?url={{ Post.Permalink }}&amp;size=tall&amp;annotation=bubble&amp;lang={{ Blog.Lang }}" style="border:none; overflow:hidden; width: 50px; height: 60px;" align="left"></iframe>
                                    </div>
                                {% elseif Custom('share_service') == 'Twitter' %}
                                    <div>
                                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url={{ Post.PermaLink }}&via={% if Custom('twitter_username') is not empty %}{{ Custom('twitter_username')}}{% else %}{{ Blog.Owner.Nickname }}{% endif %}&text={% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}&lang={{ Blog.Lang }}&count=vertical" style="border:none; overflow:hidden; width: 66px; height: 62px;"></iframe>
                                    </div>
                                {% elseif Custom('share_service') == 'Facebook' %}
                                    <div>
                                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?href={{ Post.Permalink }}&amp;send=false&amp;layout=box_count&amp;width=58&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90"  style="border:none; overflow:hidden; width:58px; height:61px;"></iframe>
                                    </div>
                                {% elseif Custom('share_service') == 'Pinterest' and Post.Cover is not empty %}
                                    <div>
                                        <iframe scrolling="no" frameborder="0" src="http://pinit-cdn.pinterest.com/pinit.html?url={{ Post.Permalink }}&media={{ Post.Cover }}&description={% if Post.Snippet is not empty %}{{ Post.Snippet }}{% else %}{{ Post.Title }}{% endif %}&layout=vertical" style="border:none; overflow:hidden; width: 43px; height: 58px;"></iframe>
                                    </div>
                                {% elseif Custom('share_service') == 'All' or Custom('share_service') is empty %}
                                    <div class="gplus">
                                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://plusone.google.com/u/0/_/+1/fastbutton?url={{ Post.Permalink }}&amp;size=tall&amp;annotation=bubble&amp;lang={{ Blog.Lang }}" style="border:none; overflow:hidden; width: 50px; height: 60px;" align="left"></iframe>
                                    </div>
                                    <div>
                                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url={{ Post.PermaLink }}&via={% if Custom('twitter_username') is not empty %}{{ Custom('twitter_username')}}{% else %}{{ Blog.Owner.Nickname }}{% endif %}&text={% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}&lang={{ Blog.Lang }}&count=vertical" style="border:none; overflow:hidden; width: 66px; height: 62px;"></iframe>
                                    </div>
                                    <div>
                                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/like.php?href={{ Post.Permalink }}&amp;send=false&amp;layout=box_count&amp;width=58&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90"  style="border:none; overflow:hidden; width:58px; height:61px;"></iframe>
                                    </div>
                                    {% if Post.Cover is not empty %}
                                        <div>
                                            <iframe scrolling="no" frameborder="0" src="http://pinit-cdn.pinterest.com/pinit.html?url={{ Post.Permalink }}&media={{ Post.Cover }}&description={% if Post.Snippet is not empty %}{{ Post.Snippet }}{% else %}{{ Post.Title }}{% endif %}&layout=vertical" style="border:none; overflow:hidden; width: 43px; height: 58px;"></iframe>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </aside>
                        {% endif %}
                    {% else %}
                        <!-- query without results -->
                        <article class="no-post">
                            <p>{{ Lang.Get('No post found') }}.</p>
                        </article>
                    {% endlist %}
                {% endif %}
            </section>
            {% if Navigation.NextPage is not empty %}
                <nav class="load-more">
                    <a href="{{ Navigation.NextPage }}"></a>
                </nav>
            {% endif %}
        </div>

        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        {% if not isSingle and not isSpecial %}
            <script src="//assets.over-blog-kiwi.com//themes/jquery/masonry/jquery.masonry.min.js"></script>
            <script src="//assets.over-blog-kiwi.com/themes/jquery/infinite-ajax-scroll/jquery.ias.min.js"></script>
        {% endif %}
        <script src="//assets.over-blog-kiwi.com/themes/jquery/fancybox2.1.2/jquery.fancybox.pack.js"></script>
        {% if Custom('background') is not empty %}
            <script src="http://assets.over-blog-kiwi.com/themes/13/js/jquery.backstretch.min.js" type="text/javascript"></script>
        {% endif %}

        <script>
            {% if not isSingle and not isSpecial %}
                // Twitter controls
                var TwitterControls = function(elements) {
                    $(elements).find(".ob-tweet").each(function() {
                        var datatwitter = $(this).find("a[data-twitter]").attr("data-twitter");

                        $(this).parent().parent().find(".tweet-reply").attr("href", "https://twitter.com/intent/tweet?in_reply_to=" + datatwitter);
                        $(this).parent().parent().find(".tweet-retweet").attr("href", "https://twitter.com/intent/retweet?tweet_id=" + datatwitter);
                        $(this).parent().parent().find(".tweet-favorite").attr("href", "https://twitter.com/intent/favorite?tweet_id=" + datatwitter);
                    });
                }

                // Disable tweets render
                var TwitterDisabled = function(elements) {
                    $(elements).find(".twitter-tweet").removeClass("twitter-tweet");
                }
                // Social popup
                var SocialPopup = function(elements) {
                    $(elements).find(".tweet-reply, .tweet-retweet, .tweet-favorite, .share a").click(function() {
                        var popup = window.open($(this).prop("href"), '',"width=650, height=400, scrollbars=0, left=" +((screen.width - 650)/2) + ", top=" + ((screen.height - 400)/2) );
                        if (window.focus){
                            popup.focus();
                        }
                        return false;
                    });
                }

                // Opening of the posts with fancybox
                var ItemFancybox = function (elements) {
                    var ItemPermalink,
                        ShareBar,
                        url;

                    ItemPermalink = $(elements).find(".permalink");
                    if (!ItemPermalink) {
                        return false;
                    };

                    ItemPermalink.fancybox({
                        autoHeight  : true,
                        autoSize    : false,
                        closeEffect : "elastic",
                        fitToView   : false,
                        margin      : [80, 20, 20, 20],
                        openEffect  : "none",
                        padding     : 0,
                        scrolling   : "no",
                        topRatio    : 0,
                        type        : "ajax",
                        width       : 608,
                        helpers : {
                            overlay : {
                                css : {
                                    "background" : "rgba(255, 255, 255, 0.93)"
                                },
                                showEarly : false
                            },
                            title : null
                        },
                        afterLoad     : function() {
                            ShareBar = $(".share-bar", this.content);
                            this.content = $(".post", this.content);
                        },
                        beforeShow : function() {
                            if(!$.browser.msie && !$.browser.version <= 9.0 ){
                                url = $(this.element).attr('href');
                                history.pushState("", "", url);
                            }
                        },
                        afterShow     : function() {
                            // Insert share bar
                            $(".fancybox-inner").append(ShareBar);

                            // OB callback
                            if (typeof OB != "undefined") { OB.restart && OB.restart(); }

                            {% if Custom('comment') == "Facebook" %}
                                // FB callback
                                if (typeof FB != "undefined") { FB.XFBML.parse(document.body); }
                            {% endif %}

                            // TWT callback
                            if (typeof twttr != "undefined") { twttr.widgets.load(); }

                            // Disable image link
                            $('.ob-link-img').click(function() {
                                return false;
                            });
                            $('.ob-link-img').hover(function() {
                                $(this).css('cursor','default');
                            });

                            {% if Custom('comment') == 'Disqus' %}
                                var disqus_shortname = '{{ Custom('comment_disqus') }}';
                                (function() {
                                    var dsq = document.createElement('script');
                                        dsq.type = 'text/javascript';
                                        dsq.async = true;
                                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            {% endif %}
                        },
                        beforeClose : function() {
                            if(!$.browser.msie && !$.browser.version <= 9.0 ){
                                history.back(1);
                            }

                            // kill Disqus
                            if(typeof(DISQUS) === 'object' ){
                                DISQUS = false;
                            }
                        }
                    });
                }
            {% endif %}

            {% if Custom('display_widget_archives') == false %}
                // Archives
                function switch_arch(year) {
                    'use strict';
                    var archiveYear,
                        archiveMonths,
                        displayStyle;

                        displayStyle = '';
                    archiveYear = document.getElementById('arch_' + year);
                    if (typeof (archiveYear) !== 'undefined') {
                        if (archiveYear.style.display !== 'none') {
                            // Hide years without months
                            archiveMonths = archiveYear.getElementsByTagName('li');
                            if (!archiveMonths.length) {
                                archiveYear.parentNode.style.display = 'none';
                            }
                            // Onclick management
                            displayStyle = 'none';
                        }
                        archiveYear.style.display = displayStyle;
                    }
                    return false;
                }
            {% endif %}

            //Twitter render
            !function(d,s,id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,"script","twitter-wjs");

            // Comments
            {% if Custom('comment') == 'Facebook' %}
                // Facebook comments
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/{{ Blog.Lang }}_{{ Blog.Lang|upper }}/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
                        fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            {% elseif Custom('comment') == 'Disqus' and isSingle %}
                // Disqus comments
                var disqus_shortname = '{{ Custom('comment_disqus') }}';
                (function() {
                    var dsq = document.createElement('script');
                        dsq.type = 'text/javascript';
                        dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            {% endif %}

            $(document).ready(function(){
                {% if isSingle %}
                    // Fancybox on single pages via url
                    $(".ob-section-images a, .ob-link-img").attr("rel", "fancybox").fancybox({
                        helpers : {
                            overlay : {
                                css : {
                                    "background" : "rgba(255, 255, 255, 0.93)"
                                }
                            }
                        }
                    });

                {% elseif not isSpecial %}
                    var container = $(".main");

                    // Masonry
                    container.imagesLoaded(function(){
                        container.masonry({
                            itemSelector : ".masonry-item",
                            columnWidth  : 245,
                            isAnimated   : false
                        });
                    });

                    TwitterControls($(".masonry-item"));

                    TwitterDisabled($(".masonry-item"));

                    SocialPopup($(".masonry-item"));

                    ItemFancybox($(".masonry-item"));

                    // Load more with Masonry
                    jQuery.ias({
                        container      : ".main",
                        item           : ".masonry-item",
                        pagination     : ".load-more",
                        next           : ".load-more a",
                        loader         : "<img src='http://assets.over-blog-kiwi.com/themes/14/images/ajax_loader.gif' alt='' title='' /><p>{{ Lang.Get('Loading new posts') }}...</p>",
                        history        : false,
                        tresholdMargin : -800,
                        onLoadItems    : function(items) {
                            var newElems;

                            items.shift();

                            newElems = $(items);
                            newElems.css({ opacity: 0 });

                            newElems.imagesLoaded(function() {
                                newElems.animate({ opacity: 1 });
                                container.masonry( "appended", newElems, true );
                            });

                            TwitterControls(items);

                            TwitterDisabled(items);

                            SocialPopup(items);

                            ItemFancybox(items);
                        }
                    });
                {% endif %}

                // Scroll top button
                $(window).scroll(function() {
                    if($(window).scrollTop() <= 0) {
                        $('.scroll-to-top').slideUp("250");
                    }
                    else {
                        if($('.scroll-to-top').length == 0) {
                            $('body').append(
                                '<div class="scroll-to-top">'+
                                    "<a href='#'>{{ Lang.Get('Go top') }}</a>"+
                                '</div>');
                        }
                        $('.scroll-to-top').slideDown("250");
                    }
                });

                $('.scroll-to-top a').live('click', function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop: 0}, 'slow');
                });

                {% if Custom('background') is not empty %}
                    // Backstretch
                    if($.browser.msie && $.browser.version <= 8.0 ){
                        $.backstretch('{{ Custom('background') }}');
                        $('body').css('background', 'none');
                    }
                {% endif %}

                {% if Custom('display_widget_archives') == false %}
                    // Archives
                    $('.arch_year > a').click(function() {
                        switch_arch($(this).attr('data-year'));
                        {% if not isSingle %}
                            container.masonry('reload');
                        {% endif %}

                        return false;
                    });

                    {% list Blog.Archives %}
                        switch_arch('{{ Archive.Year }}');
                    {% endlist %}
                {% endif %}
            });
        </script>
    </body>
</html>
