<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title -->
        {% title %}
        <!-- metas description, keyword, robots -->
        {% meta %}

        <!-- shortcut:[Includes] -->
        <!-- favicon -->
        {% favicon %}

        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}

        <!-- Custom vars -->
        <meta name="constant:displayArticlesLimit" content="9" />

        <meta name="image:custom_logo_picture:label.logoRecommanded60x100" group="Template" />
        <meta name="string:custom_footer:label.footer" default="Theme: Photofolio &copy; 2012" group="Footer" />

        <meta name="tag:pinned_tag:label.pinnedTag" group="Slider" />

        <meta name="image:custom_default_post_cover:label.defaultPostCover" default="http://assets.over-blog-kiwi.com/themes/34/images/default_cover.jpg" group="Home" />

        <meta name="list:custom_titles_font:label.titlesFont" items="Aladin, Boogaloo, Cookie, Dosis, Kranky, Lusitana, Marmelad, Montez, Oxygen, Playball" default="Dosis" group="Design" />
        <meta name="color:custom_page_background_color:label.pageBackgroundColor" default="#1F1F1F" group="Design" />
        <meta name="color:custom_header_font_color:label.headerFontColor" default="#FFFFFF" group="Design" />
        <meta name="color:custom_headline_font_color:label.descriptionFontColor" default="#A9A9A9" group="Design" />
        <meta name="color:custom_highlight_font_color:label.highlightFontColor" default="#13C5FF" group="Design" />
        <meta name="color:custom_images_border_color:label.imagesBorderColor" default="#FFFFFF" group="Design" />
        <meta name="color:custom_content_background_color:label.contentBackgroundColor" default="#EBEBEB" group="Design" />
        <meta name="color:custom_content_font_color:label.contentFontColor" default="#0F0F0F" group="Design" />
        <meta name="color:custom_content_titles_font_color:label.contentTitlesFontColor" default="#0F0F0F" group="Design" />
        <meta name="color:custom_footer_background_color:label.footerBackgroundColor" default="#414141" group="Design" />
        <meta name="color:custom_footer_font_color:label.footerFontColor" default="#FFFFFF" group="Design" />
        <meta name="color:custom_footer_titles_font_color:label.footerTitlesFontColor" default="#FFFFFF" group="Design" />

        <meta name="boolean:custom_hide_widget_search_form:label.hideSearchForm" group="Widgets" />
        <meta name="boolean:custom_hide_widget_subscribe:label.hideSubscribeForm" group="Widgets" />
        <meta name="boolean:custom_hide_widget_follow_us:label.hideFollowUs" group="Widgets" />
        <meta name="boolean:custom_hide_widget_blog_archive:label.hideArchives" group="Widgets" />
        <meta name="boolean:custom_hide_widget_blog_about:label.hideBlogAbout" group="Widgets" />
        <meta name="boolean:custom_hide_widget_last_posts:label.hideLastPosts" group="Widgets" />

        <meta name="string:twitter_username:label.twitterUsername" group="Social" />
        <meta name="string:facebook_username:label.facebookUsername" group="Social" />
        <meta name="list:share_service:label.socialSharingServices" items="None, Facebook, Twitter, Google +, Pinterest, All" default="All" group="Social" />

        <meta name="list:comment:label.commentsServices" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comments" />
        <meta name="string:comment_disqus:label.disqusAccount" default="obcomment" group="Comments" />
        <meta name="list:custom_facebook_comments_color_theme:label.facebookCommentsColorTheme" items="light, dark" default="light" group="Comments" />

        <meta name="string:facebook_appid:label.facebookAppid" group="Settings" />
        <meta name="string:google_analytics:label.googleAnalyticsId" group="Settings" />
        <meta name="string:google_webmaster_id:label.googleWebmasterToolsId" group="Settings" />
        <meta name="string:msn_webmaster_id:label.msnWebmasterId" group="Settings" />

        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />

        <!-- jQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <!-- NivoSlider -->
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/themes/default/default.css" type="text/css" />
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>

        <!-- Fancybox -->
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

        <!-- Template resources -->
        <link href="http://fonts.googleapis.com/css?family={{ Custom("custom_titles_font") }}" rel="stylesheet" type="text/css" />

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <style type="text/css">
                .bg {behavior:url(http://assets.over-blog-kiwi.com/themes/34/js/PIE.htc)}
            </style>
        <![endif]-->
        <style type="text/css">
            a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {background: transparent; border: 0 none; font-size: 100%; margin: 0; padding: 0; border: 0; outline: 0;}
            ol,
            ul {list-style:none}
            blockquote,
            q {quotes:none}
            table,
            table td {padding:0;border:none;border-collapse:collapse}
            img {vertical-align:top}
            embed {vertical-align:top}


            /* Left & Right alignment */
            .left {float: left}
            .right {float: right}
            .relative {position: relative;}
            .clear {clear: both;}

            /* Global properties */
            body {background: {{ Custom("custom_page_background_color")|default('#1F1F1F') }}; border: 0; font: 14px "Arial", Helvetica, sans-serif; color: {{ Custom("custom_page_font_color")|default('#0f0f0f') }}; line-height: 20px;}
            a {color: #13c5ff; outline: none; text-decoration: none;}


            /* Global Structure */
            #content {overflow: hidden; {% if isSpecial or isSingle %}padding-bottom: 50px;{% endif %} position: relative;}
            #content2 {padding: 39px 0 60px;}
            .main {margin: {% if not isSingle or not isSpecial %}40{% else %}30{% endif %}px auto 0; position: relative; width: 916px;}
            .m-top {position: relative;}
            .m-top .s-bg {background: -moz-radial-gradient(center, ellipse cover,  rgba(130,130,130,1) 0%, rgba(63,63,63,0) 63%, rgba(24,24,24,0) 100%); /* FF3.6+ */ background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(130,130,130,1)), color-stop(63%,rgba(63,63,63,0)), color-stop(100%,rgba(24,24,24,0))); /* Chrome,Safari4+ */ background: -webkit-radial-gradient(center, ellipse cover, rgba(130,130,130,1) 0%,rgba(63,63,63,0) 63%,rgba(24,24,24,0) 100%); /* Chrome10+,Safari5.1+ */ background: -o-radial-gradient(center, ellipse cover, rgba(130,130,130,1) 0%,rgba(63,63,63,0) 63%,rgba(24,24,24,0) 100%); /* Opera 12+ */ background: -ms-radial-gradient(center, ellipse cover,  rgba(130,130,130,1) 0%,rgba(63,63,63,0) 63%,rgba(24,24,24,0) 100%); /* IE10+ */ background: radial-gradient(center, ellipse cover,  rgba(130,130,130,1) 0%,rgba(63,63,63,0) 63%,rgba(24,24,24,0) 100%); /* W3C */ height: 750px; left: 0; position: absolute; top: 0; width: 100%; z-index: -1;}
            .m-bottom {background: {{ Custom("custom_footer_background_color")|default('#414141') }};}
            .m-bottom .main {overflow: hidden; position: relative;}
            .m-list {float: left; width: 600px;}
            .m-middle {background: {{ Custom("custom_content_background_color")|default('#EBEBEB') }}; padding-top: 60px;}
            .wrapper {overflow: hidden; width: 100%;}

            /* header */
            header {height: auto; min-height: 165px;}
                #logo {margin-top: 14px; margin-bottom: 5px; padding: 0; width: 530px;}
                #logo a {color: {{ Custom('custom_header_font_color')|default('#FFF') }}; display: block; font-size: 50px; line-height: 67px; max-height: 100px; overflow: hidden; text-decoration: none; text-overflow: ellipsis; white-space: nowrap;}
                #logo a:first-letter {color: #13C5FF;}
                #headline {color: {{ Custom("custom_headline_font_color")|default('#A9A9A9') }}; float: left; font-size: 20px; line-height: 25px; {% if not isIndex %}padding: 0 0 30px;{% endif %} width: 520px;}

                #search {padding: 41px 20px 0 0;}
                #search .input {float:right;width:148px;padding: 5px 8px; font:14px Arial, Helvetica, sans-serif; background: #fff; color:#999;height:16px}
                #search .submit {background: #FFF url(http://assets.over-blog-kiwi.com/themes/34/images/search.gif) center center no-repeat; border: none; cursor:pointer; display:block; float: right; height: 30px; margin-left: 4px; width: 30px;}

                #menu {float: right; max-width: 520px; margin: 40px 19px 40px 0;}
                #menu li {display: inline-block; padding-right: 28px;}
                #menu li.end {padding-right: 0;}
                #menu a {background: url(http://assets.over-blog-kiwi.com/themes/34/images/menu_marker.png) 0 4px no-repeat; color: {{ Custom('custom_header_font_color')|default('#FFF') }}; display: block; font-size: 16px; max-width: 100%; overflow: hidden; padding-left: 18px; text-overflow: ellipsis; text-decoration: none; text-transform: capitalize; white-space: nowrap;}
                #menu a:hover,
                #menu .active a {color: #13c5ff;}

                #menu li ul {background: {{ Custom("custom_page_background_color")|default('#1F1F1F') }}; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; -webkit-opacity: 0; -moz-opacity: 0; -ms-opacity: 0; -o-opacity: 0;  opacity: 0; padding-bottom: 7px; position: absolute; -webkit-transition: opacity 400ms ease; -moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease; -o-transition: opacity 400ms ease; margin-right: 8px; transition: opacity 400ms ease; visibility: hidden; width: 180px; z-index: 1000;}
                #menu li:hover ul { -webkit-opacity: 1; -moz-opacity: 1; -ms-opacity: 1; -o-opacity: 1; opacity: 1; visibility: visible;}
                #menu li ul li {display: block; float: none; padding: 2px 5px;}

                #gallery {height: 520px; margin: 0 0 -70px; width: 100%;}
                #myRoundabout {height: 100%; margin-left: -9px; width: 100%;}
                #myRoundabout .roundabout-moveable-item {background: #FFF; border: solid 14px {{ Custom("custom_images_border_color")|default('#FFF') }}; -webkit-box-shadow: 0 60px 30px -60px #000; -moz-box-shadow: 0 60px 30px -60px #000; -ms-box-shadow: 0 60px 30px -60px #000; -o-box-shadow: 0 60px 30px -60px #000; box-shadow: 0 60px 30px -60px #000; display: block; overflow: hidden; position: relative; width: 709px;}
                #myRoundabout .roundabout-moveable-item img {display: block; height: 100%; -webkit-transition: all 300ms ease 0s; -moz-transition: all 300ms ease 0s; -ms-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s;}
                #myRoundabout .caption {background: #111; background: rgba(34, 34, 34, 0.7); bottom: -50px; color: #FFF; display: block; font-size: 20px; font-weight: bold; line-height: 25px; max-height: 30px; padding: 7px 10px 10px; position: absolute; text-overflow: ellipsis; -webkit-transition: all 200ms ease 0s; -moz-transition: all 200ms ease 0s; -ms-transition: all 200ms ease 0s; -o-transition: all 200ms ease 0s; transition: all 200ms ease 0s; overflow: hidden; white-space: nowrap; width: 97%;}
                #myRoundabout .roundabout-in-focus:hover img {-webkit-opacity: 0.5; -moz-opacity: 0.5; -ms-opacity: 0.5; -o-opacity: 0.5; opacity: 0.5;}
                #myRoundabout .roundabout-in-focus:hover .caption {bottom: 0;}

            .tag-title,
            .search-title,
            .special h2 {
                display: block;
                font-size: 28px;
                line-height: 40px;
                margin-bottom: 40px;
            }

            .post {background: url(http://assets.over-blog-kiwi.com/themes/34/images/line_ver1.gif) repeat-y -1px 0; border-left: 1px solid #DDD; margin: 0 0 40px; padding: 10px 35px 20px 33px; -webkit-transition: background 350ms ease; -moz-transition: background 350ms ease; -ms-transition: background 350ms ease; -o-transition: background 350ms ease; transition: background 350ms ease; width: 236px; word-wrap: break-word;}
                .post:hover {background: #E3E3E3;}
                .post h2 {font-size: 26px; letter-spacing: -1px; line-height: 36px; margin-bottom: 5px; max-height: 35px; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
                    .post h2 a {text-decoration: none;}
                    .post .cover {border: solid 7px {{ Custom("custom_images_border_color")|default('#FFF') }}; -webkit-box-shadow: 0 25px 30px -30px #000; -moz-box-shadow: 0 25px 30px -30px #000; -ms-box-shadow: 0 25px 30px -30px #000; -o-box-shadow: 0 25px 30px -30px #000; box-shadow: 0 25px 30px -30px #000; margin-bottom: 15px; display: block; overflow: hidden; position: relative;}
                        .post .cover img {-webkit-opacity: 1; -moz-opacity: 1; -ms-opacity: 1; -o-opacity: 1; opacity: 1; padding: 0; -webkit-transition: all 300ms ease 0s; -moz-transition: all 300ms ease 0s; -ms-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s;}
                        .post .cover:hover img {-webkit-opacity: 0.5; -moz-opacity: 0.5; -ms-opacity: 0.5; -o-opacity: 0.5; opacity: 0.5;}
                        .post .snippet {margin-bottom: 20px; {% if not isSingle or not isSpecial %}max-height: 80px;{% endif %} overflow: hidden;}
                        .post .buttons {min-height: 0;}
                        .comment-count {background-color: #13c5ff; background: rgba(34, 34, 34, 0.7) url(http://assets.over-blog-kiwi.com/themes/34/images/bubble.png) no-repeat 40px 9px; bottom: -30%; display: block; height: 30%; position: absolute; -webkit-transition: bottom 200ms ease 0s; -moz-transition: bottom 200ms ease 0s; -ms-transition: bottom 200ms ease 0s; -o-transition: bottom 200ms ease 0s; transition: bottom 200ms ease 0s; width: 100%;}
                            .comment-count a {color: #FFF; display: block; font-weight: bold; height: 100%; padding: 7px 0 0 12px; text-align: center; width: 100%;}
                        .post .cover:hover .comment-count {bottom: 0;}
                    .post .meta {font-size: 18px; margin-bottom: 15px;}
                    .ob-repost {background: #F5F5F5; border: 1px solid #DDD; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-weight: bold; padding: .5em .8em; text-align: center;}
                        .ob-repost  .ob-link {text-decoration: underline;}


                /* single page */
                .single .date {color: #13c5ff; margin: 0 10px 0 0; text-align: center;}
                .single .date .day {display: block; font-size: 35px; line-height: 35px; margin: 0 0 5px;}
                .single .date .month {display: block; font-size: 20px; line-height: 20px;}
                .single h2 {font-size: 35px; line-height: 35px; margin: 0 0 5px;}
                .single .meta {font-size: 18px; margin: 0 0 40px;}
                .single .meta a:hover {text-decoration: underline;}

                    .entry-content,
                    .ob-section-images,
                    .ob-section-video,
                    .ob-section-map,
                    .ob-section-images .ob-slideshow {width: 100%;}

                    /* Section texte */
                    .ob-text h3,
                    .ob-text h4,
                    .ob-text h5 {line-height: normal; margin: 15px 0 5px;}
                    .ob-text h3 {font-size: 28px;}
                    .ob-text h4 {font-size: 22px;}
                    .ob-text h5 {font-size: 16px; font-weight: bold;}
                    .ob-text pre {background: #EEE; border: 1px dashed #AAA; margin: 15px 0; overflow: auto; padding: 7px; white-space: -webkit-pre-wrap; white-space: -moz-pre-wrap;  white-space: pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}
                    .ob-text p {margin-bottom: 7px;}
                    .ob-text ol,
                    .ob-text ul {margin: 0 0 20px 35px;}
                    .ob-text ul {list-style: disc;}
                    .ob-text ol {list-style: decimal;}
                    .ob-text li p {margin-bottom: 5px; padding: 0;}

                    /* Section image */
                    .ob-media {max-width: 100%;}
                    .ob-slideshow .ob-img {width: 100%;}

                    /* Section video */
                    .ob-section-video .ob-video iframe,
                    .ob-section-video .ob-video embed,
                    .ob-section-video .ob-video iframe {max-height: 335px; width: 100%;}

                    /* Section HTML */
                    .ob-section-html iframe,
                    .ob-section-html object,
                    .ob-section-html embed {max-width: 100%}

                    /* Section File */
                    .ob-section-file .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); display: block; max-width: 100%;}
                    .ob-section-file .ob-ctn a.ob-link,
                    .ob-section-file .ob-c a.ob-link:visited {color: {{ Custom('custom_highlight_font_color')|default('#13C5FF') }}; max-width: 513px; text-decoration: underline;}
                    .ob-section-file .ob-ctn a.ob-link:hover {text-decoration: none;}

                    /* Section Quote */
                    .ob-section-quote {background: #FFF; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); margin-bottom: 20px;}
                    .ob-section-quote .ob-quote p {color: #0F0F0F; min-height: 20px; padding-bottom: 0 !important;}
                    .ob-section-quote .ob-quote p:before {color: {{ Custom('custom_highlight_font_color')|default('#13C5FF') }}; margin: 19px 0 0 -85px;}
                    .ob-section-quote .ob-quote p:after {color: {{ Custom('custom_highlight_font_color')|default('#13C5FF') }}; margin: 53px 0 0;}
                    .ob-section-quote p.ob-author,
                    .ob-section-quote p.ob-source {background: #EEE; color: gray; font-size: 14px; font-style: italic; margin: 25px 0 0; max-height: 24px; max-width: 510px; overflow: hidden; padding-bottom: 0\9; position: relative; text-overflow: ellipsis; white-space: nowrap; z-index: 11;}
                    .ob-section-quote p.ob-author .ob-link,
                    .ob-section-quote p.ob-source .ob-link {color: gray;}
                    .ob-section-quote p.ob-author .ob-link:hover,
                    .ob-section-quote p.ob-source .ob-link:hover {color: #222;}

                    /* Section Link */
                    .ob-section-link .ob-ctn {background: #fff; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);}
                    .ob-section-link .ob-media-left {margin: 0;}
                    .ob-section-link .ob-img {float: left; width: 170px;}
                    .ob-section-link p.ob-title {margin-left: 20px; max-height: 42px; overflow: hidden; padding-bottom: 0 !important}
                    .ob-section-link p.ob-title .ob-link {color: {{ Custom('custom_highlight_font_color') }};}
                    .ob-section-link p.ob-snippet {margin-bottom: 35px; margin-left: 20px; max-height: 35px; overflow: hidden;}
                    .ob-section-link p.ob-url {background: #EEE; color: gray; margin: 0; max-height: 24px; max-width: 390px; padding-bottom: 0\9;}
                    .ob-section-link .ob-desc {margin-top: 5px;}

                    /* Section audio */
                    .obsoundplayer .obsoundplayername{width: 235px !important;}

                    /* Twitter box */
                    .ob-section .twitter-tweet-rendered,
                    .ob-section .twt-border {max-width: 100% !important;}

                    .ob-desc {font-size: 12px; font-style: italic; font-weight: bold;}

                    /* share */
                    .social-share {margin: 30px 0;}
                    .social-share .facebook-share {width: 105px;}
                    .social-share .ob-share {margin-top: -2px;}
                    .social-share h6,
                    .item-comments h6 {font-size: 18px; margin-bottom: 10px;}

                .sidebar {background: url(http://assets.over-blog-kiwi.com/themes/34/images/line_ver1.gif) repeat-y -1px 0; border-left: 1px solid #DDD; padding-left: 17px; width: 270px;}
                    .sidebar article {margin-bottom: 60px;}
                    .sidebar h3 {font-size: 24px; margin-bottom: 15px; padding-left: 11px;}
                        .sidebar .bio img {border: 7px solid {{ Custom('custom_images_border_color')|default('#FFF') }}; -webkit-box-shadow: 0 25px 30px -30px #000; -moz-box-shadow: 0 25px 30px -30px #000; -ms-box-shadow: 0 25px 30px -30px #000; -o-box-shadow: 0 25px 30px -30px #000; box-shadow: 0 25px 30px -30px #000; margin-bottom: 15px; -webkit-opacity: 1; -moz-opacity: 1; -ms-opacity: 1; -o-opacity: 1; opacity: 1; padding: 0; -webkit-transition: all 300ms ease 0s; -moz-transition: all 300ms ease 0s; -ms-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s;}
                        .sidebar .bio img:hover {-webkit-opacity: 0.5; -moz-opacity: 0.5; -ms-opacity: 0.5; -o-opacity: 0.5; opacity: 0.5;}
                        .sidebar .button {margin: 30px 0 0;}

                        .sidebar .follow li {background: url(http://assets.over-blog-kiwi.com/themes/34/images/social.png) no-repeat; height: 40px; margin-bottom: 15px; max-width: 100%;}/* http://www.yootheme.com/icons */
                        .sidebar .follow .fb {background-position: left top;}
                        .sidebar .follow .twt {background-position: left center;}
                        .sidebar .follow .rss {background-position: left bottom;}
                            .sidebar .follow a {display: block; max-width: 100%; overflow: hidden; padding-left: 50px; text-overflow: ellipsis; white-space: nowrap;}
                            .sidebar .follow li > a {font-size: 16px;}
                            .sidebar .follow span a {color: #333; font-size: 13px; font-style: italic;}


            /* Pagination */
            .pagination { {% if not isSingle and not isSpecial %}margin: 10px 0 40px;{% else %}margin-bottom: 30px;{% endif %} width: {% if isSingle %}600px;{% else %}100%{% endif %}}
            .pagination .prev {float: left; {% if not isSingle and not isSpecial %}margin-left: 33px;{% endif %}}
            .pagination .next {float: right; {% if not isSingle and not isSpecial %}margin-right: 35px;{% endif %}}
            .pagination a {background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EEE), color-stop(1, #DDD) ); background -moz-linear-gradient( center top, #EEE 5%, #DDD 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DDDDDD'); background-color: #EEE; border: 1px solid #CCC; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0px 1px 0px 0px #EEE; -moz-box-shadow: inset 0px 1px 0px 0px #EEE; -ms-box-shadow: inset 0px 1px 0px 0px #EEE; -o-box-shadow: inset 0px 1px 0px 0px #EEE; box-shadow: inset 0px 1px 0px 0px #EEE; color: #888; display: inline-block; font-size: 14px; font-weight: bold; padding: 3px 10px; text-decoration: none; text-shadow: 1px 1px 0px #EEE; -webkit-transition: color 200ms; -moz-transition: color 200ms; -ms-transition: color 200ms; -o-transition: color 200ms; transition: color 200ms;}
            .pagination span {display: inline-block;}
            .pagination a:hover {color: #444;}
            .pagination a:active {background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #DDD), color-stop(1, #EEE) ); background: -moz-linear-gradient( center top, #DDD 5%, #EEE 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#EEEEEE'); background-color: #DDD;}

            .button {-webkit-box-shadow:inset 0px 1px 0px 0px #13c4ff; -moz-box-shadow:inset 0px 1px 0px 0px #13c4ff; -ms-box-shadow:inset 0px 1px 0px 0px #13c4ff; -o-box-shadow:inset 0px 1px 0px 0px #13c4ff; box-shadow:inset 0px 1px 0px 0px #13c4ff; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #13c4ff), color-stop(1, #14a1ff) ); background:-moz-linear-gradient( center top, #13c4ff 5%, #14a1ff 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#13c4ff', endColorstr='#14a1ff'); background-color:#13c4ff; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; border:1px solid #17a5d4; display:inline-block; color: #fff; font-size: 15px; font-weight: bold; padding: 3px 10px; text-decoration: none; text-shadow: 1px 1px 0px #13c4ff; -webkit-transition: color 200ms; -moz-transition: color 200ms; -ms-transition: color 200ms; -o-transition: color 200ms; transition: }
            .button:hover {color: #444444;}
            .button:active {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #14a1ff), color-stop(1, #13c4ff) ); background:-moz-linear-gradient( center top, #14a1ff 5%, #13c4ff 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14a1ff', endColorstr='#13c4ff'); background-color: #14a1ff;}

            /* Special page */
            .special h3 {font-size: 30px; line-height: 35px;}
            .ob-form-field {margin: 0 0 5px;}
            .ob-label {font-weight: bold; width: 20%;}
            .ob-form .ob-input-text,
            .ob-form .ob-input-email,
            .ob-form .ob-input-textarea {background: #fff; border: 1px solid #d7d7d7; color: #000; font: 14px Arial, Helvetica, sans-serif; line-height: 16px; padding: 5px; width: 70%;}
            .ob-input-textarea {margin-top: 2px;}
            .ob-input-submit {cursor: pointer; margin-left: 20%; padding-bottom: 5px;}
            .ob-terms {display: block; font-size: 12px; margin-top: 80px; text-align: center;}
            .ob-terms:hover {text-decoration: underline;}

            /* widgets */
            .widget {background: url(http://assets.over-blog-kiwi.com/themes/34/images/line_ver2.gif) repeat-y 0 0; min-height: 245px; padding: 10px 33px; width: 239px;}
            .widget h3 {color:#fff; font-size: 2.143em; margin-bottom: 20px; padding: 0; letter-spacing: -1px;}

            .widget .avatar img {border: 7px solid {{ Custom('custom_images_border_color')|default('#FFF') }}; -webkit-box-shadow: 0 25px 30px -30px #000; -moz-box-shadow: 0 25px 30px -30px #000; -ms-box-shadow: 0 25px 30px -30px #000; -o-box-shadow: 0 25px 30px -30px #000; box-shadow: 0 25px 30px -30px #000; margin-bottom: 15px; -webkit-opacity: 1; -moz-opacity: 1; -ms-opacity: 1; -o-opacity: 1; opacity: 1; padding: 0; -webkit-transition: all 300ms ease 0s; -moz-transition: all 300ms ease 0s; -ms-transition: all 300ms ease 0s; -o-transition: all 300ms ease 0s; transition: all 300ms ease 0s;}
            .widget .avatar img:hover {-webkit-opacity: 0.5; -moz-opacity: 0.5; -ms-opacity: 0.5; -o-opacity: 0.5; opacity: 0.5;}

            .widget .archivelist a {text-decoration: none;}
            .widget .arch_month li {color: {{ Custom('custom_highlight_font_color')|default('#13c5ff') }}; margin: 1px 0 2px 25px;}
            .widget .arch_month li a {color: {{ Custom('custom_footer_font_color')|default('#FFF') }};}
            .widget .plustext {font-size: 20px;}
            .widget .plustext:before {content: "• "}

            .widget .last-post {margin-bottom: 20px;}
            .widget .last-post:last-child {margin-bottom: 0;}
            .widget .last-post .title {display: block; font-family: "{{ Custom('custom_titles_font')|default('Dosis') }}", Georgia, Times New Roman, serif; font-weight: normal; font-size: 26px; line-height: 35px; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: break-word;}
            .widget .last-post .date {color: {{ Custom('custom_footer_font_color')|default('#FFF') }}; font-family: "Arial", Helvetica, sans-serif; font-size: 14px;}
            .widget .last-post .snippet {max-height: 44px; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word;}

            /* footer */
            footer {color: {{ Custom("custom_page_font_color")|default('#6b6b6b') }}; font-size: 12px;  text-align: left;}
            footer .main {margin-top: 20px; margin-bottom: 15px;}
            footer p {text-align: center;}
            footer a {-webkit-transition: color 200ms ease-out; -moz-transition: color 200ms ease-out; -ms-transition: color 200ms ease-out; -o-transition: color 200ms ease-out; transition: color 200ms ease-out;}
            footer a:hover {color: #ffae00;}


            .pad {padding:0 10px}


            /* Custom fonts */
            .caption,
            .date,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            #headline,
            .pageSingle .m-list .meta,
            .post .cover .comment-count,
            .post .meta,
            .search-title,
            .sidebar .follow li > a,
            .tag-title,
            .widget .plustext {
                font-family: "{{ Custom('custom_titles_font')|default('Dosis') }}", Georgia, Times New Roman, serif;
                font-weight: normal;
            }


            #content2 {color: {{ Custom('custom_footer_font_color')|default('#FFF') }};}
            #content2 h3,
            #content2 .link1 {color: {{ Custom('custom_footer_titles_font_color')|default('#FFF') }};}

            .m-middle {color: {{ Custom('custom_content_font_color')|default('#0F0F0F') }};}

            h2,
            h2 a {color: {{ Custom('custom_content_titles_font_color')|default('#0F0F0F') }};}

            h1,
            h1 a,
            #menu li a,
            #menu li.active ul li a {color: {{ Custom('custom_header_font_color')|default('#FFF') }};}

            a,
            .color1,
            .date,
            h2 span,
            #menu li a:hover,
            #menu .active a,
            #menu li.active ul li.active a,
            #menu li ul li a:hover,
            #menu li a:hover,
            #menu #active a,
            .sidebar .follow li > a,
            .tabs ul.nav li a:hover, .tabs ul.nav .selected a {color: {{ Custom('custom_highlight_font_color')|default('#13C5FF') }};}

        </style>
    </head>
    <body id="{% if isIndex %}index{% else %}page2{% endif %}">
        <div id="fb-root"></div>
        <div class="m-top">
            <div class="s-bg"></div>
            <div class="main">
                <!-- shortcut:[Header content] -->
                <header>
                    <div class="wrapper">
                        <!-- Main title -->
                        <h1 id="logo" class="left">
                            <a href="{{ Blog.Url }}" title="{{ Blog.Description }}">
                                {% if Custom('custom_logo_picture') is not empty %}
                                    <img src="{{ Custom('custom_logo_picture')|resize(600,100)|crop }}" alt="{{ Blog.Title }}" title="{{ Blog.Title }}" width="600" height="100" />
                                {% else %}
                                    {{ Blog.Title }}
                                {% endif %}
                            </a>
                        </h1>

                        <!-- Search form -->
                        {% if Custom('custom_hide_widget_search_form') == false %}
                            <form class="search right" id="search" method="post" action="/search">
                                <div>
                                    <input type="submit" class="submit" value="" />
                                    <input class="input" type="text" name="q" value="{{ Search }}"  placeholder="{{ Lang.Get('Search') }}...">
                                </div>
                            </form>
                        {% endif %}

                        <!--[if lt IE 8]>
                            <div class="clear"></div>
                        <![endif]-->

                        {% if Blog.Description is not empty %}
                            <p id="headline" class="clear">{{ Blog.Description }}</p>
                        {% endif %}

                        <!-- Navigation -->
                        <nav id="menu">
                            <ul>
                                <li{% if isIndex %} class="active"{% endif %}>
                                    <a {% if isIndex %} {% endif %} href="{{ Blog.Url }}">{{ Lang.Get('Home') }}</a>
                                </li>

                                {% list Blog.PostsTags(10) %}
                                    {% if loop.first is not empty %}
                                        <li {% if isTag %} class="active"{% endif %}>
                                            <a href="#">{{ Lang.Get('Tags') }}</a>
                                            <ul>
                                    {% endif %}
                                                <li {% if isTag and Tag.Title == PostsTag.Title %} class="active" {% endif %}>
                                                    <a href="{{ PostsTag.Url }}">{{ PostsTag.Title }}</a>
                                                </li>
                                    {% if loop.last is not empty %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endlist %}

                                {% list Blog.Pages %}
                                    {% if loop.first is not empty %}
                                        <li {% if isPage %} class="active"{% endif %}>
                                            <a href="#">{{ Lang.Get('Pages') }}</a>
                                            <ul>
                                    {% endif %}
                                                <li>
                                                    <a href="{{ Page.Url }}">{{ Page.Title }}</a>
                                                </li>
                                    {% if loop.last is not empty %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endlist %}
                                {% if Custom('custom_hide_widget_subscribe') == false %}
                                    <li>
                                        <a href="{{ Blog.Url }}/mail/form">{{ Lang.Get('Subscribe') }}</a>
                                    </li>
                                {% endif %}
                                 <li class="end">
                                    <a href="{{ Blog.Url }}/contact">{{ Lang.Get('Contact') }}</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="clear"></div>
                    </div>

                    {% if isIndex %}
                        <!-- Galery -->
                        <div id="gallery" class="relative">
                            <ul id="myRoundabout">
                            {% if Custom('pinned_tag') is not empty %}
                                {% list Blog.TaggedPosts(Custom('pinned_tag'), 10) %}
                                    {% if TaggedPost.Cover is not empty %}
                                        <li>
                                            <a title="{{ TaggedPost.Snippet }}" href="{{ TaggedPost.PermaLink }}">
                                                <img src="{{ TaggedPost.Cover|resize(608,450)|crop }}" alt="" width="608" height="450" />
                                                <span class="caption">
                                                    {% if TaggedPost.Title is not empty %}
                                                        {{ TaggedPost.Title }}
                                                    {% else %}
                                                        {{ Lang.Get('Published from') }}
                                                        {% list TaggedPost.Sources %}
                                                            {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                                        {% endlist %}
                                                    {% endif %}
                                                </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endlist %}
                            {% else %}
                                {% list Blog.Posts(10) %}
                                    {% if Post.Cover is not empty %}
                                        <li>
                                            <a title="{{ Post.Snippet }}" href="{{ Post.PermaLink }}">
                                                <img src="{{ Post.Cover|resize(608,450)|crop }}" alt="" width="608" height="450" />
                                                <span class="caption">
                                                    {% if Post.Title is not empty %}
                                                        {{ Post.Title }}
                                                    {% else %}
                                                        {{ Lang.Get('Published from') }}
                                                        {% list Post.Sources %}
                                                            {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                                        {% endlist %}
                                                    {% endif %}
                                                </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endlist %}
                            {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </header>
            </div>
        </div>
        <div class="m-middle">
            <div class="s-bg"></div>
            <div class="main">
                <!-- shortcut:[Main content] -->
                <section id="content">
                    {% if isTag %}
                        <p class="tag-title">{{ Lang.Get('Posts with') }} <strong>#{{ Tag.Title }}</strong> tag</p>
                    {% elseif isSearch %}
                        <p class="search-title">{{ Lang.Get('Search for') }} <strong>&ldquo;{{ Search.Keyword }}&rdquo;</strong></p>
                    {% endif %}

                    <div class="wrapper{% if isSingle %} single{% endif %}">
                        {% if isSpecial or isSingle %}
                            {% if isSpecial %}
                                <!-- Special -->
                                <div class="m-list special">
                                    {{ SpecialContent }}
                                </div>
                            {% else %}
                                <div class="m-list">
                                    <article>
                                        <!-- Single Page -->
                                        {% if not isPage %}
                                        <span class="date left">
                                            <span class="day">{{ Post.Date|date("d") }}</span>
                                            <span class="month">{{ Post.Date|date("M") }}</span>
                                        </span>
                                        {% endif %}
                                        <h2>
                                            {% if Post.Title is not empty %}
                                                {{ Post.Title }}
                                            {% else %}
                                                {{ Lang.Get('Published from') }}
                                                {% list Post.Sources %}
                                                    {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                                {% endlist %}
                                            {% endif %}
                                        </h2>

                                        <p class="meta">
                                            {% if Post.Author.Nickname is not empty %}
                                                <span class="posted">{{ Lang.Get('Published by') }} {{ Post.Author.Nickname }}</span>
                                            {% endif %}
                                            {% list Post.Tags %}
                                                {% if loop.index == 1 %}
                                                    &nbsp;-&nbsp;{{ Lang.Get('Tags:')|title }}&nbsp;
                                                {% endif %}
                                                <a href="{{ Tag.Url }}" title="{{ Tag.Title }}">#{{ Tag.Title }}</a>{% if not loop.last %}, {% endif %}
                                            {% endlist %}
                                        </p>

                                        <div class="body">
                                            {{ Post.Body }}
                                        </div>
                                    </article>

                                    <div class="social-share">
                                        <h6>{{ Lang.Get('Share this') }} {% if isPage %}{{ Lang.Get('page') }}{% else %}{{ Lang.Get('post') }}{% endif %}</h6>
                                        <!-- Social networks : share -->
                                        {% if Custom('share_service') == 'Google +' %}
                                            <div class="google-share left">
                                                <div class="g-plusone" data-size="medium" data-href="{{ Post.Permalink }}"></div>
                                            </div>
                                        {% elseif Custom('share_service') == 'Twitter' %}
                                            <div class="twitter-share left">
                                                <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
                                            </div>
                                        {% elseif Custom('share_service') == 'Facebook' %}
                                            <div class="facebook-share left">
                                                <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
                                            </div>
                                        {% elseif Custom('share_service') == 'All' or Custom('share_service') is empty %}
                                            <div class="google-share left">
                                                <div class="g-plusone" data-size="medium" data-href="{{ Post.Permalink }}"></div>
                                            </div>
                                            <div class="twitter-share left">
                                                <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Post.Permalink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_username') is not empty %} data-via="{{Custom('twitter_username')}}"{% endif %}></a>
                                            </div>
                                            <div class="facebook-share left">
                                                <div class="fb-like" data-href="{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
                                            </div>
                                        {% endif %}
                                        <div class="ob-share left">
                                            {{ Post.RepostButton }}
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <!-- Pagination -->
                                    {% if  Navigation.PreviousPost is not empty or Navigation.NextPost is not empty %}
                                        <div class="pagination {% if isSingle %}left{% endif %}">
                                            {% if Navigation.PreviousPost is not empty %}
                                                <a href="{{ Navigation.PreviousPost.Permalink }}" class="prev button-dark" title="{{ Lang.Get('Go to') }} {% if Navigation.PreviousPost.Title is not empty %}&quot;{{ Navigation.PreviousPost.Title|truncate(30) }}&quot;{%
                                else %}{{ Lang.Get('previous post') }}{% endif %}">
                                                    &laquo; <span>{{ Lang.Get('Previous post') }}</span>
                                                </a>
                                            {% endif %}
                                            {% if Navigation.NextPost is not empty %}
                                                <a href="{{ Navigation.NextPost.Permalink }}" class="next button-dark" title="{{ Lang.Get('Go to') }} {% if Navigation.NextPost.Title is not empty %}&quot;{{ Navigation.NextPost.Title|truncate(30) }}&quot;{% else %}{{ Lang.Get('next post') }}{% endif %}">
                                                    <span>{{ Lang.Get('Next post') }}</span> &raquo;
                                                </a>
                                            {% endif %}
                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear"></div>
                                    {% endif %}

                                    {% if not isPage and Post.ShowComments is not empty %}
                                        <!-- Comments -->
                                        <div id="comments" class="item-comments">
                                            {% if Custom("comment") == "Facebook" %}
                                                <div class="fb-comments" data-href="{{ Post.Permalink }}" data-num-posts="2" data-width="600" data-colorscheme="{{ Custom("custom_facebook_comments_color_theme")|default('light') }}"></div>
                                            {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                                <div id="disqus_thread"></div>
                                                <script type="text/javascript">
                                                    var disqus_shortname = '{{ Custom('comment_disqus') }}';
                                                    (function() {
                                                        var dsq = document.createElement('script');
                                                            dsq.type = 'text/javascript';
                                                            dsq.async = true;
                                                            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                                    })();
                                                </script>
                                                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                            {% else %}
                                                <h6>{{ Lang.Get('Comment this post') }}</h6>
                                                {{ Post.Comments }}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <div class="sidebar right">
                                <div class="border"></div>

                                {% if Custom('custom_hide_widget_follow_us') == false %}
                                    <article>
                                        <!-- Blog owner -->
                                        <h3>{{ Lang.Get('Follow me') }}</h3>
                                        <div class="pad follow">
                                            <ul>
                                                {% if Custom('facebook_username') is not empty %}
                                                    <li class="fb">
                                                        <a href="{{ Custom('facebook_username') }}">Facebook</a>
                                                        <span>
                                                            <a href="http://facebook.com/{{ Custom('facebook_username') }}" target="_blank">http://facebook.com/{{ Custom('facebook_username') }}</a>
                                                        </span>
                                                    </li>
                                                {% endif %}
                                                {% if Custom('twitter_username') is not empty %}
                                                    <li class="twt">
                                                        <a href="{{ Custom('twitter_username') }}">Twitter</a>
                                                        <span>
                                                            <a href="http://twitter.com/{{ Custom('twitter_username') }}" target="_blank">http://twitter.com/{{ Custom('twitter_username') }}</a>
                                                        </span>
                                                    </li>
                                                {% endif %}
                                                <li class="rss">
                                                    <a href="{{ Blog.RssUrl }}">RSS</a>
                                                    <span>
                                                        <a href="{{ Blog.RssUrl }}" target="_blank">{{ Blog.Url }}{{ Blog.RssUrl }}</a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                    </article>
                                {% endif %}
                            </div>
                        {% else %}
                            <!-- Index -->
                            {% list Posts %}
                                <article class="post left">
                                    <h2>
                                        <a title="{{ Post.Snippet }}" href="{{ Post.PermaLink }}">
                                            {% if Post.Title is not empty %}
                                                {{ Post.Title }}
                                            {% else %}
                                                {{ Lang.Get('Published from') }}
                                                {% list Post.Sources %}
                                                    {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                                {% endlist %}
                                            {% endif %}
                                        </a>
                                    </h2>
                                    <figure class="cover">
                                        <a class="" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}" href="{{ Post.PermaLink }}">
                                            {% if Post.Cover is not empty %}
                                                <img alt="" src="{{ Post.Cover|resize(222,122)|crop }}" width="222" height="122" />
                                            {% else %}
                                                <img src="{{ Custom('custom_default_post_cover')|default('http://assets.over-blog-kiwi.com/themes/34/images/default_cover.jpg')|resize(222,122)|crop }}" width="222" height="122" alt="" />
                                            {% endif %}
                                        </a>
                                        {%  if Post.ShowComments is not empty %}
                                            <span class="comment-count">
                                                {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                                    <a title="{{ Lang.Get('comments') }}" href="{{ Post.Permalink }}#disqus_thread"></a>
                                                {% else %}
                                                    <a title="{{ Lang.Get('comments') }}" href="{{ Post.PermaLink }}#comments">
                                                        {% if Custom("comment") == "Facebook" %}
                                                            <fb:comments-count href={{ Post.Permalink }}></fb:comments-count> {{ Lang.Get('comment(s)') }}
                                                        {% else %}
                                                            {{ Post.CommentCount(Lang.Get('ncomment'), Lang.Get('ncomments')) }}
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </figure>
                                    <p class="snippet">{{ Post.Snippet }}</p>
                                    <a class="button" title="{{ Lang.Get('More about') }} {% if Post.Title is not empty %}&quot;{{ Post.Title }}&quot;{% else %}{{ Lang.Get('this post') }}{% endif %}" href="{{ Post.PermaLink }}">
                                        {{ Lang.Get('Read more') }}
                                    </a>
                                </article>
                                {% if loop.index % 3 == 0 %}
                                    <div class="clear"></div>
                                {% endif %}

                            {% else %}
                                {% if isSearch and Posts is empty %}
                                    <!-- No result for search -->
                                    <p class="search-null">{{ Lang.Get('No result for this expression') }}.</p>
                                {% endif %}
                            {% endlist %}
                        {% endif %}
                    </div>

                    <!-- Pagination -->
                    {% if Navigation.PreviousPage is not empty or Navigation.NextPage %}
                        <div class="pagination">
                            {% if Navigation.PreviousPage is not empty %}
                                <a href="{{ Navigation.PreviousPage }}" class="prev button-dark">&laquo; <span>{{ Lang.Get('Previous page') }}</span></a>
                            {% endif %}
                            {% if Navigation.NextPage is not empty %}
                                <a href="{{ Navigation.NextPage }}" class="next button-dark"><span>{{ Lang.Get('Next page') }}</span> &raquo;</a>
                            {% endif %}
                            <div class="clear"></div>
                        </div>
                    {% endif %}
                </section>
            </div>
        </div>

        <!-- shortcut:[Widgets] -->
        <div class="m-bottom">
            <div class="main">
                <div id="content2">
                    {% if Custom('custom_hide_widget_blog_archive') == false and Blog.Archives is not empty %}
                        <!-- Archives -->
                        <article class="widget left">
                            <h3>{{ Lang.Get('Archives') }}</h3>
                            <ul id="archivelist">
                                {% list Blog.Archives %}
                                    <li>
                                        <a href="#" class="plustext" onclick="javascript: return switch_arch('{{ Archive.Year }}')">{{ Archive.Year }}</a>
                                        <ul id="arch_{{Archive.Year}}" class="arch_month">
                                        {% list Archive.Months %}
                                            {% if Month.PostCount > 0 %}
                                                <li><a href="{{ Month.Url }}">{{ Lang.Get(Month.Name) }}</a> ({{ Month.PostCount }})</li>
                                            {% endif %}
                                        {% endlist %}
                                        </ul>
                                    </li>
                                {% endlist %}
                            </ul>
                        </article>
                    {% endif %}

                    {% if Blog.Description is not empty or Custom('custom_hide_widget_blog_about') == false %}
                        <article class="widget left">
                            <h3>{{ Lang.Get('About this blog') }}</h3>
                            {% if Blog.Avatar is not empty %}
                                 <figure class="post-cover">
                                    <a class="avatar" href="{{ Blog.Avatar }}" title="{{ Blog.Title }}">
                                        <img src="{{ Blog.Avatar|resize(226,126)|crop }}" alt="" width="226" height="126" />
                                    </a>
                                </figure>
                            {% endif %}
                            <p>{{ Blog.Description }}</p>
                        </article>
                    {% endif %}

                    {% if Custom('custom_hide_widget_last_posts') == false %}
                        <!-- Last posts -->
                        <article class="widget left">
                            <h3>{{ Lang.Get('Last posts') }}</h3>
                            {% list Blog.Posts(3) %}
                                <article class="last-post">
                                    <a class="title" title="{{ Post.Snippet }}" href="{{ Post.PermaLink }}">
                                        {% if Post.Title is not empty %}
                                            {{ Post.Title }}
                                        {% else %}
                                            {{ Lang.Get('Published from') }}
                                            {% list Post.Sources %}
                                                {{ Lang.Get(Source) }} {% if not loop.last %}{{ Lang.Get('and') }} {% endif %}
                                            {% endlist %}
                                        {% endif %}
                                    </a>
                                    <p class="date">{{ Post.Date|datel(Lang.Get("Default date format"))|title }}</p>
                                </article>
                            {% endlist %}
                        </article>
                    {% endif %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <!-- shortcut:[Footer] -->
        <footer>
            <div class="main">
                <div class="wrapper">
                    <p>
                        {% if Custom('custom_footer') %}
                            {{ Custom('custom_footer')|default('Theme: Photofolio &copy; 2012') }}&nbsp;-&nbsp;
                        {% endif %}
                        {{ Lang.Get('Hosted by') }} <a href="http://www.over-blog.com" target="_blank">Overblog</a>
                    </p>
                    <div class="clear"></div>
                </div>
            </div>
        </footer>

        <!-- Template scripts -->
        <script type="text/javascript" src="http://assets.over-blog-kiwi.com/themes/34/js/atooltip.jquery.js"></script>
        <script src="http://assets.over-blog-kiwi.com/themes/34/js/roundabout.js" type="text/javascript"></script>
        <script src="http://assets.over-blog-kiwi.com/themes/34/js/roundabout_shapes.js" type="text/javascript"></script>
        <script src="http://assets.over-blog-kiwi.com/themes/34/js/jquery.easing.1.2.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://assets.over-blog-kiwi.com/themes/34/js/script.js"></script>
        <script src="//assets.over-blog-kiwi.com/themes/jquery/imagesloaded/jquery.imagesloaded.min.js"></script>
        <script>
            $(document).ready(function() {
                {% if isIndex %}
                    $('#myRoundabout').imagesLoaded(function() {
                        $(this).roundabout({
                             shape          : 'square',
                             minScale       : 0.85, // tiny!
                             maxScale       : 0.95, // tiny!
                             easing         : 'easeOutExpo',
                             clickToFocus   : 'true',
                             focusBearing   : '0',
                             duration       : 750,
                             reflect        : true
                        });
                    });
                {% endif %}

                $(".ob-section-images a, .ob-link-img").attr("rel", "fancybox");
                $("a[rel=fancybox], .avatar").fancybox({
                    'overlayShow'   : true,
                    'titlePosition' : 'over',
                    'transitionIn'  : 'fadin',
                    'transitionOut' : 'fadin',
                    'type'          : 'image'
                });

                (function() {
                    {% if Custom('custom_hide_widget_search_form') == false %}
                        // HTML5 placeholder fallback
                        function isPlaceholderSupported() {
                            'use strict';
                            var o = document.createElement('input');
                            return 'placeholder' in o;
                        }
                        function initPlaceHolder(el){
                            if(jQuery.trim(el.val()) === '' || jQuery.trim(el.val()) === el.attr('placeholder')){
                                el.val(el.attr('placeholder'));
                                el.css({'color': '#999'});
                            }
                        }
                        function togglePlaceholder(el, submitMode) {
                            'use strict';
                            var v = jQuery.trim(el.val()), p = el.attr('placeholder');
                            if (v === '' && !submitMode) {
                                el.val(p);
                                el.css({'color': '#999'});
                            } else if (v === p) {
                                el.val('');
                            }
                        }
                        function emulatePlaceholder(form) {
                            'use strict';
                            if (!isPlaceholderSupported()) {
                                jQuery('input[placeholder]', form).each(function () {
                                    initPlaceHolder(jQuery(this));
                                }).focus(function () {
                                    togglePlaceholder(jQuery(this), false);
                                }).blur(function () {
                                    initPlaceHolder(jQuery(this));
                                });
                                form.submit(function () {
                                    jQuery(this).find('input[placeholder]').each(function () {
                                        togglePlaceholder(jQuery(this), true);
                                    });
                                });
                            }
                        }
                    {% endif%}
                })();

                // posts border / background management
                var post  = $(".post:first-child");
                    posts = $(".clear").next(".post");
                post.css("background-image", "none");
                posts.css("background-image", "none");
                post.css("border", "none");
                posts.css("border", "none");

                // widget border / background management
                var firstWidget = $(".widget:first-child");
                firstWidget.css("background-image", "none");

                // form button management
                var formSubmit = $(".ob-input-submit");
                formSubmit.addClass("button");
            });

            {% if Custom('share_service') == 'Google +' or Custom('share_service') == 'All' or Custom('share_service') is empty %}
                // Social networks : Google +
                window.___gcfg = {lang: '{{ Blog.Lang }}'};

                (function() {
                    var po = document.createElement('script');
                        po.type = 'text/javascript';
                        po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(po, s);
                })();
            {% endif %}

            // Social networks : Facebook
            (function(d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
                    fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            // Social networks : Twitter
            !function(d, s, id){
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src="//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,"script","twitter-wjs");

            {% if Custom('google_analytics') is not empty %}
                // Google Analytics
                window.google_analytics_uacct = '{{ Custom('google_analytics') }}';
                var _gaq = _gaq || [];
                    _gaq.push(['_setAccount', '{{ Custom('google_analytics') }}']);
                    _gaq.push(['_trackPageview']);
                    _gaq.push(['_trackPageLoadTime']);

                (function() {
                    var ga = document.createElement('script');
                        ga.type = 'text/javascript';
                        ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(ga, s);
                })();
            {% endif %}

            {% if Custom('custom_hide_widget_blog_archive') == false %}
                // Archives
                function switch_arch(year) {
                    'use strict';
                    var archiveYear, archiveMonths, displayStyle;
                    displayStyle = '';
                    archiveYear = document.getElementById('arch_' + year);
                    if (typeof (archiveYear) !== 'undefined') {
                        if (archiveYear.style.display !== 'none') {
                            // Hide years without months
                            archiveMonths = archiveYear.getElementsByTagName('li');
                            if (!archiveMonths.length) {
                                archiveYear.parentNode.style.display = 'none';
                            }
                            // Onclick management
                            displayStyle = 'none';
                        }
                        archiveYear.style.display = displayStyle;
                    }
                    return false;
                }

                {% list Blog.Archives %}
                    {% if Archive.Year != "now"|date("Y") %}
                        switch_arch('{{ Archive.Year }}');
                    {% endif %}
                {% endlist %}
            {% endif%}

            {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                // Disqus comments count
                var disqus_shortname = "{{ Custom('comment_disqus') }}";
                (function () {
                    var s = document.createElement('script');
                        s.async = true;
                        s.type = 'text/javascript';
                        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
            {% endif %}
        </script>
    </body>
</html>
