<div id="legals" style="visibility:visible!important; display:block !important; height:auto!important; width:100%!important; text-align:center!important; clear:both;">
    {{ Lang.Get('Create a free blog on overblog.com') }} - 
    <a  href="/contact"
        style="visibility:visible!important; display:inline!important; height:auto!important; width:auto!important;">
        {{ Lang.Get('Contact') }}
    </a> -
    <a  href="/terms"
        rel="nofollow"
        style="visibility:visible!important; display:inline!important; height:auto!important; width:auto!important;">
        {{ Lang.Get('Terms') }}
    </a> -
    <!--<a href="#" class="popup">
        {{ Lang.Get('Revenue Share') }}
    </a> - -->
    <!--<a href="#" rel="nofollow"
        style="visibility:visible!important; display:inline!important; height:auto!important; width:auto!important;">
        {{ Lang.Get('Report abuse') }}
    </a>-->
</div>