<!DOCTYPE html>
<html lang="{{ Blog.Lang|default('en') }}">
    <head>
        <!-- shortcut:[Meta] -->
        <!-- title, description, keyword, robots -->
        {% if isSingle%}
            {% list Posts %}
                <title>{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }} - {% endif %}{{Blog.Title}}</title>
                <meta name="description" content="{{ Post.Snippet }}" />
                <meta name="keywords" content="{% list Post.Tags %}{{ Tag.Title }}{% if loop.last == false %}, {% endif %}{% endlist %}" />
                <meta name="robots" content="index,follow" />
            {% endlist %}
        {% elseif isTag and Tag is not empty %}
            <title>{{ Tag.Title|title }} - {{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Tag.Title|title }}" />
            <meta name="robots" content="index,follow" />
        {% elseif isSearch and Search is not empty %}
            <title>{{ Search|title }} - {{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="keywords" content="{{ Search|title }}" />
            <meta name="robots" content="noindex" />
        {% else %}
            <title>{{Blog.Title}}</title>
            <meta name="description" content="{{ Blog.Description }}" />
            <meta name="robots" content="index,follow" />
        {% endif %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />


        <!-- Social setting : Facebook, G+ .. -->
        <meta property="og:site_name" content="{{ Blog.Title }}" />
        <meta property="og:type" content="blog" />
        <meta property="fb:app_id" content="{% if Custom('facebook_appid') is not empty %}{{ Custom('facebook_appid') }}{% endif %}" />
        <meta itemprop="name" content="{{ Blog.Title }}" />

        {% if isSingle %}
            {% list Posts %}
                <meta property="og:title" content="{% if Post.Title is not empty %}{{ Post.Title }} - {% elseif Post.Snippet is not empty %}{{ Post.Snippet|truncate(80) }}{% endif %}"/>
                <meta property="og:description" content="{{ Post.Snippet }}" />
                <meta itemprop="description" content="{{ Post.Snippet }}" />
                <meta property="og:url" content="{{ Blog.Url }}{{ Post.Permalink }}" />
                {% if Post.Cover %}
                    <meta property="og:image" content="{{ Post.Cover }}"/>
                    <meta itemprop="image" content="{{ Post.Cover }}" />
                {% endif %}
            {% endlist %}
            <meta property="og:type" content="overblogkiwi:see" />
        {% else %}
            <meta property="og:title" content="{{ Blog.Title }}"/>
            <meta property="og:description" content="{{ Blog.Description }}" />
            <meta itemprop="description" content="{{ Blog.Description }}" />
            {% if Blog.Avatar %}
            <meta property="og:image" content="{{ Blog.Avatar }}"/>
            <meta itemprop="image" content="{{ Blog.Avatar }}" />
            {% else %}
                {% list Posts %}
                {% if loop.index == 1 and Post.Cover %}
            <meta property="og:image" content="{{ Post.Cover }}"/>
            <meta itemprop="image" content="{{ Post.Cover }}" />
                {% endif %}
                {% endlist %}
            {% endif %}

            {% if isSearch %}
                <meta property="og:type" content="overblogkiwi:search" />
            {% else %}
                <meta property="og:type" content="overblogkiwi:visit" />
            {% endif %}
        {% endif %}

        <!-- shortcut:[Options] -->             
        <meta name="constant:displayArticlesLimit" content="4" />
        
        <!-- shortcut:[Custom vars] -->
        <meta name="image:custom_thumbnail:Default thumbnail custom" default="http://img.over-blog-kiwi.com/194x127-ct/0/00/00/12/201204/obpicHScseg" groupe="Thumbnails"/>     
        
        <meta name="color:textcolor:Text Color" group="Colors" default="#1a222a" />
        <meta name="color:post_title_color:Post Title Color" group="Colors" default="#6c83ad" />
        <meta name="color:sidebar_title_textcolor:Sidebar Title Bg color" group="Colors" default="#222" />

        <meta name="image:body_background:Body Background Image URL" group="Images" default="http://assets.over-blog-staging.com/themes/12/images/bg.jpg" />
        
        <meta name="boolean:hide_widget_search:Hide search widget" group="Widget" />
        <meta name="boolean:hide_widget_pages:Hide pages widget" group="Widget" />
        <meta name="boolean:hide_widget_labels:Hide labels widget" group="Widget" />
        <meta name="boolean:hide_widget_follow:Hide follow widget" group="Widget" />
                
        <meta name="string:facebook_account:Enter your Facebook Username" default="overblog" group="Social" />
        <meta name="string:twitter_account:Enter your Twitter Account" default="overblog" group="Social" />
        <meta name="list:share_button:Chose your share button" items="Facebook, Twitter, Google +, All" default="All" group="Social">
        
        <meta name="string:facebook_appid:Enter your FaceBook App ID" group="Settings" />
        <meta name="string:google_analytics:Enter your Google Analytics ID" group="Settings" />
        <meta name="string:google_webmaster_id:Enter your Google Webmaster Tools ID" group="Settings" />
        <meta name="string:msn_webmaster_id:Enter your MSN Webmaster Tools ID" group="Settings" />
        
        <meta name="list:comment:Comment service" items="OverBlog, Facebook, Disqus" default="OverBlog" group="Comment" />
        <meta name="string:comment_disqus:Disqus account" default="obcomment" group="Comment" />        

        
        <!-- shortcut:[Includes] -->
        <!-- favicon -->       
        {% if Blog.FaviconUrl is not empty %}
            <link rel="icon" type="image/png" href="{{ Blog.FaviconUrl }}" />
        {% else %}
            <link rel="shortcut icon" type="image/x-icon" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.ico" />
            <link rel="icon" type="image/png" href="http://fdata.over-blog.net/99/00/00/01/img/favicon.png" />
            <link rel="apple-touch-icon" href="http://fdata.over-blog.net/99/00/00/01/img/mobile-favicon.png" />
        {% endif %}   
       
        <!-- SEO -->
        {% if Custom('google_webmaster_id') is not empty %}
            <meta name="google-site-verification" content="{{ Custom('google_webmaster_id') }}" />
        {% endif %}
        {% if Custom('msn_webmaster_id') is not empty %}
            <meta name="msvalidate.01" content="{{ Custom('msn_webmaster_id') }}" />
        {% endif %}
       
        <!-- includes -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ Blog.RssUrl }}" />

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- shortcut:[Styles] -->      
        <link rel="stylesheet" type="text/css" href="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
        
        <style id='page-skin-1' type='text/css'>
            /*
            **************************************************
            Template name: Sekapur Sirih
            Version:1.0
            Author: Biyan
            url: http://www.dzignine.com
            **************************************************
            */
            /* Reset And General */
            body {
                background: #ad966c url({{ Custom('body_background') }}) repeat scroll top center;
                margin: 0;
                color: {{ Custom('textcolor') }};
            }
            a:link, a:visited, a:hover {
                color: #cc2610;
                text-decoration: none;
            }
            a:hover {
                color: #9b1806;
                text-decoration: underline;
            }
            a img {
                border-width: 0;
            }
            .firstline {
                text-transform: uppercase;
                font-size: 11px;
            }
            h1, h2, h3, h4, h5, h6 {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: normal;
                /*clear: both;*/
            }
            h1 {
                font-size: 28px;
            }
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 12px;
            }
            h5 {
                font-size: 10px;
            }
            h6 {
                font-size: 8px;
            }
            hr {
                background-color: #696969;
                border: 0;
                height: 1px;
                margin-bottom: 2px;
                clear: both;
            }
            
            pre {
                background: #EEE;
                border: 1px dashed #635c5c;
                line-height: 20px;
                margin-bottom: 15px;
                overflow: auto;
                padding: 10px;
                white-space: pre-wrap; 
                white-space: -moz-pre-wrap; 
                white-space: -pre-wrap; 
                white-space: -o-pre-wrap;
                word-wrap: break-word; 
            }
                
            /* Fonts */
            @font-face {
              font-family: 'Covered By Your Grace';
              font-style: normal;
              font-weight: normal;
              src: local('Covered By Your Grace'), local('CoveredByYourGrace'), url('http://themes.googleusercontent.com/static/fonts/coveredbyyourgrace/v3/6ozZp4BPlrbDRWPe3EBGA64n8r8FWv-F_IKl-GwAils.woff') format('woff');
            }
            @font-face {
              font-family: 'Oswald';
              font-style: normal;
              font-weight: normal;
              src: local('Oswald '), local('Oswald'), url('http://themes.googleusercontent.com/static/fonts/oswald/v4/eBq_dWQWEBofOsHLVExZqvesZW2xOQ-xsNqO47m55DA.woff') format('woff');
            }
            @font-face {
              font-family: 'Permanent Marker';
              font-style: normal;
              font-weight: normal;
              src: local('Permanent Marker'), local('PermanentMarker'), url('http://themes.googleusercontent.com/static/fonts/permanentmarker/v2/9vYsg5VgPHKK8SXYbf3sMoE3foD3neXOjchKgoeog7I.woff') format('woff');
            }
            @font-face {
              font-family: 'Rock Salt';
              font-style: normal;
              font-weight: normal;
              src: local('Rock Salt'), local('RockSalt'), url('http://themes.googleusercontent.com/static/fonts/rocksalt/v3/ZSk1ILpoJ0Ye0Mg369bM9wLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
            }
            /* Header */
            #header-wrapper {
                width: 600px;
                margin-left: 62px;
                overflow: hidden;
                padding: 107px 0 0 0;
            }
            #header {
                padding-left: 20px;
                height: 120px;
                text-align: left;
            }
            #header .caption {
                font-size: 16px;
                font-family: Garamond, Georgia, 'Times New Roman', serif;
                font-style: italic;
            }
            #header .title {
                font-size: 28px;
                margin: 0;
                padding: 10px 0 0 0;
                font: normal normal 36px Permanent Marker;
                color: #666;
            }
            #header .description {
                margin: 0;
                padding: 0;
                font: normal normal 10px Verdana, Geneva, sans-serif;
            }
            #header a {
                color: #666;
                text-decoration: none;
            }
            #header a:hover {
                color: #111;
            }
            #header img {
                margin: 0 auto;
            }
            /* Outer-Wrapper */
            #outer-wrapper {
                background: url(http://assets.over-blog-staging.com/themes/12/images/top.png) no-repeat top center;
                width: 869px;
                margin: 20px auto;
                padding: 0;
                text-align: left;
                font: normal normal 11px Verdana, 'Trebuchet MS', Helvetica, Arial, Sans;
            }
            #wrap2 {
                background: url(http://assets.over-blog-staging.com/themes/12/images/bottom.png) no-repeat center bottom
            }
            #content-container {
                overflow: hidden;
                margin: 0 auto 50px auto;
                background: url(http://assets.over-blog-staging.com/themes/12/images/center.png) repeat-y center;
            }
            #content-wrapper {
                width: 750px;
                margin-left: 62px;
                background: url(http://assets.over-blog-staging.com/themes/12/images/content.png) no-repeat center top;
            }
            /* Navigation
            ************************************************** */
            #PageList1 h2 {
                display: none
            }
            #PageList1 ul {
                list-style: none;
                margin: 10px 0 0 0;
                padding: 0;
                border-top: 2px solid #c2c2c2;
            }
            #PageList1 ul li {
                padding: 5px 0;
                color: #666;
                text-align: center;
                background: none;
                border-bottom: 2px solid #c2c2c2
            }
            #PageList1 ul li a {
                font: normal normal 16px Rock Salt;
            }
            .selected {
                border-bottom: 3px solid #f2f2f2;
            }
            .selected a {
                color: #111;
                font-weight: normal;
            }
            /* Primary Content --------------------- */
            #main-wrapper {
                float: left;
                width: 550px;
                text-align: left;
            }
            #main {
                padding: 10px 10px 10px 20px
            }
            .main .widget {
                margin: 0;
                margin-top: 20px;
            }
            .main .Blog {
                border-bottom-width: 0;
            }
            .post-header-line-1 {
                clear: both;
                font-size: 11px;
                text-align: lleft;
                line-height: 1.6em;
            }
            .hentry-top {
                font-size: 10px;
                text-transform: uppercase;
                text-align: left;
            }
            .post {
                margin: 0 0 30px 0;
            }
            .post .post-title {
                margin: 0;
                padding: 0
            }
            .post .post-title a, .post .post-title a:visited, .post .post-title strong {
                width: 100%;
                font: normal normal 24px Oswald;
                float: left;
                text-decoration: none;
                color: {{ Custom('post_title_color') }};
                text-align: left;
                padding: 5px 0 0 0;
                margin-bottom: 0;
            }
            .post .post-title strong, .post .post-title a:hover {
                color: {{ Custom('post_title_color') }};
            }
            .post-body {
                margin: 0 0 .75em;
                line-height: 1.8em;
            }
            .post-body blockquote {
                line-height: 1.8em;
                border-left: 1px solid #ddd;
                padding: 10px;
                color: #828282;
            }
            .post blockquote {
                margin: 0 20px;
            }
            .post blockquote p {
                margin: .75em 0;
            }
            .post-footer {
                margin: 30px 0 0;
                font-size: 11px;
                padding: 0;
                background: url(http://assets.over-blog-staging.com/themes/12/images/footer.png) no-repeat;
            }
            .post-footer-line-2 {
                margin-top: 5px
            }
            .comment-link {
                margin-left: .6em;
            }
            
            /* sections */
            .ob-section-text, 
            .ob-section-images, 
            .ob-section-video, 
            .ob-section-audio, 
            .ob-section-quote {width: 520px;}
            
            /* medias */
            .ob-text, 
            .ob-img, 
            .ob-media,
            .obsoundplayer, 
            .ob-quote {max-width: 100%;}
            
            /* section image */
            
            .ob-row-2-col img {max-width: 50%;}
            .ob-row-3-col img {max-width: 33.3%;}
            .ob-section-images .ob-slideshow {height: 395px;}
            .ob-section-images .ob-slideshow img {width: 520px}
            
            /* section video */
            .ob-video iframe {width: 100%;}
            
            /* section file */
            .ob-section-file,
            .ob-ctn {margin-left: 0;}
            
            
            .ob-desc {max-width: 100%; text-align: left; font-size: 11px; font-style: italic;}
            
            .ob-section-quote {border: none;}
            .ob-section-quote blockquote {font-style: italic;}
            
            /* section text */
            .ob-text h2, 
            .ob-text h3, 
            .ob-text h4, 
            .ob-text h5 {font-weight: bold; text-align: left;}
            .ob-text h2 {margin: 10px 0 5px; font-size: 24px; line-height: 22px;}
            .ob-text h3 {margin: 10px 0 5px; font-size: 18px; line-height: 18px;}
            .ob-text h4 {margin: 10px 0 5px; font-size: 16px; line-height: 16px;}   
            .ob-text h5 {margin: 10px 0 5px; font-size: 14px; line-height: 14px;}
            .ob-text p a, 
            .ob-text p a:visited, 
            .ob-text p a:hover, 
            .ob-link:hover {text-decoration: underline;}
            
            
            /* section audio */
            .ob-section-audio .obsoundplayer .obsoundplayername {height: 31px; width: 117px; overflow: hidden;}
            
            .share {width: 520px; margin: 20px 0 40px;}
            .share h3 {margin-bottom: 5px;}
            .facebook-share, 
            .twitter-share,
            .google-share {float: left;}
            
            
            .jump-link a {
                font-size: 11px;
                border-bottom: 1px dotted #cc2610;
            }
            .jump-link {
                margin-top: 20px;
            }
            /* Page Navigation */
            #blog-pager-newer-link {
                float: left;
                margin-right: 10px;
            }
            #blog-pager-older-link {
                float: right;
            }
            #blog-pager {
                text-align: center;
                text-transform: uppercase;
                font-size: 10px;
            }
            /* Secondary Content ----------------- */
            #sidebar-wrapper {
                float: right;
                width: 180px;
                margin-right: 20px;
                min-height: 400px;
                background: url(http://assets.over-blog-staging.com/themes/12/images/sdbr.png) no-repeat center top
            }
            .sidebar {
                color: $sidebartextcolor;
                line-height: 1.8em;
                padding: 60px 15px 0 15px;
            }
            .sidebar .title {
                font: normal normal 20px 'Covered By Your Grace';
                margin: 0;
                padding: 4px 0;
                color: {{ Custom('sidebar_title_textcolor') }};
            }
            .sidebar ul {
                list-style: none;
                margin: 0 0 0;
                padding: 0 0 0;
            }
            .sidebar li {
                margin: 0;
                padding: 0 0 .25em 15px;
                line-height: 1.8em;
                background: url(http://assets.over-blog-staging.com/themes/12/images/list-li.png) no-repeat left center;
                border-bottom: 1px solid #f2f2f2
            }
            .sidebar .widget {
                margin: 0 0 20px 0;
                padding: 0 0 15px 0;
            }
            .sidebar form,
            .sidebar fieldset {
                border: none;
                margin: 0;
                padding: 0;
            }
            .sidebar form input {
                width: 100px;
            }
            .sidebar form button {
                width: 40px;
            }
            .follow-link {
                display: block;
                width: 50px;
                margin-bottom: 5px;
                padding-left: 60px;
                background: url('http://vivienkaufinger.com/ob/sekapursirih/sekapursirih-social-sprite.png') no-repeat;
                font-size: 14px;
            }
            
            .facebook {
                height: 38px;
                padding-top: 12px;
                background-position: -2px top;
            }
            
            .twitter {
                height: 37px;
                padding-top: 13px;
                background-position: left center;
            }
            
            .rss {
                height: 35px;
                padding-top: 15px;
                background-position: left bottom;
            }
            /* Footer */
            #credit-wrapper {
                width: 700px;
                text-align: center;
                margin: 0 auto;
                padding-top: 30px;
                clear: both;
                color: #000;
                font-style: italic;
                font-family: Times New Roman, Serif;
                font-size: 12px;
                text-shadow: 0px 0px 1px #555
            }
            .credit p {
                margin: 0 auto;
                padding: 10px 15px;
            }
            .credit a, .footer a:visited {
                color: #000;
                text-decoration: none
            }
            .credit a:hover {
                color: #FFF;
                text-decoration: underline;
            }
            .cover {
                float: left;
                margin: 0 5px 5px 0
            }
            .ob-section {
                clear: both;
            }
        </style>
    </head>
    <body>
        <div id='outer-wrapper'>
            <div id='wrap2'>
                <!-- skip links for text browsers -->
                <span id='skiplinks' style='display:none;'>
                    <a href='#main'>{{ Lang.Get('skip to main') }}</a> |
                    <a href='#sidebar'>{{ Lang.Get('skip to sidebar') }}</a>
                </span>
                <div id='header-wrapper'>
                    <div class='header section' id='header'>
                        <div class='widget Header'>
                            <div id='header-inner'>
                                <div class='titlewrapper'>
                                    <{% if isIndex %}h1{% else %}p{% endif %} class='title'>
                                        <a href="{{ Blog.Url }}" title="{{ Blog.Description }}">
                                            {{ Blog.Title }}
                                        </a>
                                    </{% if isIndex %}h1{% else %}p{% endif %}>
                                </div>
                                <div class='descriptionwrapper'>
                                    <p class='description'>
                                        <span>{{ Blog.Description }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='content-container'>
                    <div id='content-wrapper'>
                        <div id='main-wrapper'>
                            <div class='main section' id='main'>
                                <div class='widget Blog'>
                                    <div class='blog-posts hfeed'>
                                        <div class="date-outer">
                                            <div class="date-posts">
                                                {% if isSearch %}
                                                    <h1>Search for “{{ Search.Keyword }}”</h1>
                                                    {% if Posts is empty %}
                                                        <p>
                                                            {{ Lang.Get('There is no result') }}.
                                                        </p>
                                                    {% endif %}
                                                {% elseif isSpecial %}
                                                     <h1>{{ Lang.Get('Contact us') }}</h1>
                                                     <div class='post-outer'>
                                                         <div class='post hentry'>
                                                             <div class='post-body entry-content'>
                                                                {{ SpecialContent }}
                                                             </div>
                                                         </div>
                                                     </div>

                                                {% elseif isTag %}
                                                    <h1>Posts with #<strong>{{ Tag.Title }}</strong> {{ Lang.Get('tag') }}</h1>
                                                    {% if Posts is empty%}
                                                        <p>
                                                            {{ Lang.Get('There is no post') }}.
                                                        </p>
                                                    {% endif %}
                                                {% endif %}
                                                {% list Posts %}
                                                <div class='post-outer'>
                                                    <div class='post hentry'>
                                                        <div class='hentry-top'>
                                                            <span>{{ Post.Date }}</span>
                                                        </div>
                                                        <h{% if isSingle %}1{% else %}2{% endif %} class='post-title entry-title'>
                                                            <a href='{{ Post.Permalink }}' title="{{ Post.Snippet }}">{% if Post.Title is not empty %}{{ Post.Title }}{% else %}{{ Lang.Get('A post from') }} {% list Post.Sources %}{{ Lang.Get(Source) }}{% if not loop.last %}{{ Lang.Get('and') }} {% endif %}{% endlist %}{% endif %}</a>
                                                        </h{% if isSingle %}1{% else %}2{% endif %}>
                                                        <div class='post-header'>
                                                            <div class='post-header-line-1'></div>
                                                        </div>
                                                        <div class='post-body entry-content'>
                                                            {% if isSingle %}
                                                                {{ Post.Body }}
                                                            {% else %}
                                                                {% if Post.Cover is not empty %}
                                                                    <p class="cover">
                                                                        <img src="{{ Post.Cover | resize(100) | crop }}" />
                                                                    </p>
                                                                {% endif %}
                                                                {% list Post.Sources %}
                                                                    {% if Source == 'TW' %}
                                                                        {{ Post.Body(1) }}
                                                                    {% else %}
                                                                        {{ Post.Snippet }}
                                                                    {% endif %}
                                                                {% endlist %}
                                                            {% endif %}
                                                            <div style='clear: both;'></div>
                                                        </div>
                                                        <div class='post-footer'>
                                                            <div class='post-footer-line post-footer-line-1'>
                                                                <span class='post-author vcard' style='margin-right:10px;'>
                                                                    <span class='fl'>{{ Lang.Get('Author') }}: </span>
                                                                    <span class='fn'>{{ Post.Author }}</span>
                                                                </span>
                                                                <span class='post-labels'>
                                                                    {% list Post.Tags %}
                                                                        {% if loop.first is not empty %}
                                                                            <span class='fl'>{{ Lang.Get('Label') }}: </span>
                                                                        {% endif %}
                                                                    {% endlist %}
                                                                    {% list Post.Tags %}
                                                                    <a href='{{ Tag.Url }}' rel='tag'>#{{ Tag.Title }}</a>{% if not loop.last %}, {% endif%}
                                                                    {% endlist %}
                                                                </span>
                                                            </div>
                                                            <div class='post-footer-line post-footer-line-2'>
                                                                {% if isSingle and Custom('comment') is empty and isPage == false %}
                                                                    {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                                                        <a class="comments-counter" href="{{ Blog.Url }}{{ Post.PermaLink }}#disqus_thread" title="{{ Lang.Get('comments') }}"></a>
                                                                    {% else %}
                                                                        <a class="comments-counter" href="{{ Post.PermaLink }}#comments" title="{{ Lang.Get('comments') }}">
                                                                            {% if Custom("comment") == "Facebook" %}
                                                                                <fb:comments-count href="{{ Blog.Url }}{{ Post.Permalink }}"></fb:comments-count> {{ Lang.Get('comment(s)') }}
                                                                            {% else %}
                                                                                {{ Post.CommentCount(Lang.Get('comment'), Lang.Get('comments')) }}
                                                                            {% endif %}
                                                                       </a>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </div>
                                                            <div class='post-footer-line post-footer-line-3'></div>
                                                        </div>
                                                        {% if isSingle and Custom ('share_button') is not empty %}
                                                        <div class="share">
                                                            <h3>{% if isPage == true %}{{ Lang.Get('Share this page') }}{% else %}{{ Lang.Get('Share this post') }}{% endif %}</h3>
                                                            {% if Custom ('share_button') == 'Facebook' %}
                                                            <div class="facebook-share">
                                                                <div class="fb-like" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
                                                            </div>
                                                            {% elseif Custom ('share_button') == 'Twitter' %}
                                                            <div class="twitter-share">
                                                                <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Blog.Url }}{{ Post.PermaLink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_account') is not empty %} data-via="{{Custom('twitter_account')}}"{% endif %}></a>
                                                            </div>
                                                            {% elseif Custom ('share_button') == 'Google +' %}
                                                            <div class="google-share">
                                                                <g:plusone href="{{ Blog.Url }}{{ Post.Permalink }}" size="medium"></g:plusone>
                                                            </div>
                                                            {% elseif Custom ('share_button') == 'All' %}
                                                            <div class="facebook-share">
                                                                <div class="fb-like" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
                                                            </div>
                                                             <div class="twitter-share">
                                                                <a href="https://twitter.com/share" class="twitter-share-button"  data-text="{% if Post.Title is not empty %}{{ Post.Title }}{% elseif Post.Snippet is not empty %}{{ Post.Snippet}}{% else %}{{ Blog.Title }}{% endif %}" data-url="{{ Blog.Url }}{{ Post.PermaLink }}" data-lang="{{ Blog.Lang }}"{% if Custom('twitter_account') is not empty %} data-via="{{Custom('twitter_account')}}"{% endif %}></a>
                                                            </div>
                                                            <div class="google-share">
                                                                <g:plusone href="{{ Blog.Url }}{{ Post.Permalink }}" size="medium"></g:plusone>
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="clear"></div>
                                                        {% endif %}
                                                        {% if isSingle and isPage == false %}
                                                            <div class="bloc-comment" id="comments">
                                                                <div class="item-comments">
                                                                    {% if Custom("comment") == "Facebook" %}
                                                                    <div class="fb-comments" data-href="{{ Blog.Url }}{{ Post.Permalink }}" data-num-posts="2" data-width="520"></div>
                                                                    {% elseif Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
                                                                        <div id="disqus_thread"></div>
                                                                        <script type="text/javascript">
                                                                        var disqus_shortname = '{{ Custom('comment_disqus') }}';
                    
                                                                        (function() {
                                                                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                                                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                                                        })();
                                                                        </script>
                                                                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                                                    {% else %}
                                                                        {{ Post.Comments }}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% endlist %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class='blog-pager' id='blog-pager'>
                                        {% if Navigation.PreviousPage %}
                                            <span id="blog-pager-newer-link">
                                                <a class="blog-pager-newer-link" href="{{ Navigation.PreviousPage }}" title="{{ Lang.Get('Previous page') }}">{{ Lang.Get('Previous page') }}</a>
                                            </span>
                                        {% elseif Navigation.PreviousPost is not empty %}
                                            <span id="blog-pager-newer-link">
                                                <a class="blog-pager-newer-link" href="{{ Navigation.PreviousPost.Permalink }}" title="{{ Navigation.PreviousPost.Title }}">{{ Lang.Get('Previous post') }}</a>
                                            </span>
                                        {% endif %}
                                        
                                        {% if Navigation.NextPage %}
                                        <span id="blog-pager-older-link">
                                            <a class="blog-pager-older-link" href="{{ Navigation.NextPage }}" title="{{ Lang.Get('Next page') }}">{{ Lang.Get('Next page') }}</a>
                                        </span>
                                        {% elseif Navigation.NextPost is not empty %}
                                            <span id="blog-pager-older-link">
                                                <a class="blog-pager-older-link" href="{{ Navigation.NextPost.Permalink }}" title="{{ Navigation.NextPost.Title }}">{{ Lang.Get('Next post') }}</a>
                                            </span>
                                        {% endif %}
                                    </div>
                                    <div class='clear'></div>
                                </div>
                            </div>
                        </div>
                        <div id='sidebar-wrapper'>
                            
                            <div class='sidebar section' id='rightsidebar'>
                            {% if Custom('hide_widget_search') == false %}
                                <div class='widget search'>
                                    <form action="/search" method="post">
                                        <fieldset>
                                            <legend class="title">{{ Lang.Get('Search') }}</legend>
                                            <input type="text" name="q" placeholder="{{ Lang.Get('Search') }}..." value="{{ Lang.Get('Search') }}..." />
                                            <button>{{ Lang.Get('OK') }}</button>
                                        </fieldset>
                                    </form>
                                </div>
                            {% endif %}
                            {% if Custom('hide_widget_pages') == false %}
                                <div class='widget PageList'>
                                    <h2 class="title">{{ Lang.Get('Pages') }}</h2>
                                    <div class='widget-content'>
                                        <ul>
                                            <li{% if isIndex %} class='selected'{% endif %}><a href='{{ Blog.Url }}'>{{ Lang.Get('Home') }}</a></li>
                                            {% list Blog.ListPages %}
                                                <li><a href='{{ Blog.url }}/{{ ListPage.Url }}'>{{ ListPage.Title }}</a></li>
                                            {% endlist %}
                                            <li><a href="{{ Blog.Url }}/contact">{{ Lang.Get('Contact') }}</a></li>
                                        </ul>
                                        <div class='clear'></div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if Custom('hide_widget_labels') == false %}
                                <div class='widget Label' id='Label1'>
                                    <h2 class="title">{{ Lang.Get('Labels') }}</h2>
                                    <div class='widget-content list-label-widget-content'>
                                        <ul>
                                            {% list Blog.PostsTags(20) %}
                                                <li>
                                                    <a href='{{ PostsTag.Url }}'>
                                                        {{ PostsTag.Title }}
                                                    </a>
                                                    <span dir='ltr'>
                                                        ({{ PostsTag.PostCount }})
                                                    </span>
                                                </li>
                                            {% endlist %}
                                        </ul>
                                        <div class='clear'></div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if Custom('hide_widget_follow') == false %}
                                <div class='widget Social'>
                                    <h2 class="title">{{ Lang.Get('Follow us') }}</h2>
                                    <div class='widget-content list-label-widget-content'>
                                    {% if Custom('facebook_account') %}
                                        <a class="follow-link facebook" href="http://facebook.com/{{ Custom('facebook_account') }}" title="{{ Lang.Get('Follow us on') }} Facebook">
                                            Facebook
                                        </a>
                                    {% endif %}
                                    {% if Custom('twitter_account') %}
                                        <a class="follow-link twitter" href="http://facebook.com/{{ Custom('twitter_account') }}" title="{{ Lang.Get('Follow us on') }} Twitter">
                                            Twitter
                                        </a>
                                    {% endif %}
                                        <a class="follow-link rss" href="{{ Blog.RssUrl }}" title="{{ Lang.Get('Follow us with') }} RSS feed">
                                            RSS
                                        </a>   
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        <div class='clear'>&#160;</div>
                    </div>
                </div>
                <div id='credit-wrapper'>
                    <div class='credit'>
                        <p>&#169; <a href='http://sekapursirih-dzignine.blogspot.com/' target="_blank">Sekapur Sirih</a>, {{ Lang.Get('All Rights Reserved') }}<br/>{{ Lang.Get('Design by') }} <a href='http://dzignine.com' target="_blank">Dzignine</a> and <a href='http://1000wordsinside.com' target="_blank">Conceptual photography</a> {{ Lang.Get('Hosted by') }} <a href="http://over-blog.com" target="_blank">Overblog</a></p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        
        <!-- Fancybox -->
        <script src="http://assets.over-blog-kiwi.com/themes/jquery/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".ob-row-1-col a,.ob-row-2-col a,.ob-row-3-col a,.ob-link-img, .avatar").attr("rel", "fancybox");
                $("a[rel=fancybox]").fancybox({
                    'overlayShow'   : true,
                    'transitionIn'  : 'fadin',
                    'transitionOut' : 'fadin',
                    'type'          : 'image'
                });
            });                 
        </script>
        
        <!-- Disqus comments count -->
        {% if Custom("comment") == "Disqus" and Custom('comment_disqus') is not empty %}
            <script type="text/javascript">
                var disqus_shortname = "{{ Custom('comment_disqus') }}";
                (function () {
                    var s = document.createElement('script'); s.async = true;
                    s.type = 'text/javascript';
                    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
            </script>
        {% endif %}

        <!-- Facebook Script -->
        <div id="fb-root"></div>
        <script type="text/javascript">
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ Custom('facebook_appid')|default('284865384904712')}}";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <!-- Twitter Script -->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs); }}(document,"script","twitter-wjs");</script>
        
         <!-- Social networks : Google + -->
        <script type="text/javascript">
          window.___gcfg = {lang: '{{ Blog.Lang }}'};
        
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
        
        {% if Custom('google_analytics') is not empty %}
        <!-- Google Analytics -->
         <script type="text/javascript">
            window.google_analytics_uacct = '{{Custom('google_analytics')}}';
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{Custom('google_analytics')}}']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);
        
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- End Google Analytics -->
        {% endif %} 
        
        <!-- Placeholder script -->
        <script>
            $('input[placeholder]').each(function(){  
                var input = $(this);                        
                $(input).val(input.attr('placeholder'));
                $(input).focus(function(){
                     if (input.val() == input.attr('placeholder')) {
                         input.val('');
                     }
                });
                $(input).blur(function(){
                    if (input.val() == '' || input.val() == input.attr('placeholder')) {
                        input.val(input.attr('placeholder'));
                    }
                });
            });     
        </script>
    </body>
</html>