<!DOCTYPE html>
<html lang="{{ Blog.Lang | default('en') }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% if isSingle%}{{ Post.Title }} - {% elseif isTag and Tag is not empty %}{{ Tag.Title|title }} - {% elseif isSearch and Search is not empty %}{{ Search|title }} - {% endif %}{{Blog.Title}}</title>
    <meta name="description" content="{{ Blog.Description }}" />

    <meta name="list:style:Theme style" items="cowboy, dusk, grasslands" default="cowboy">

    <meta name="string:text_publishedby:“Published by”" default="Published by" group="Wordings">

    <meta name="boolean:display_widget_profile:Show Widget &quot;Blog Profile&quot;" group="Widgets" default="true">
    <meta name="boolean:display_widget_search:Show Widget &quot;Search&quot;" group="Widgets" default="true">
    <meta name="boolean:display_widget_pages:Show Widget &quot;Pages&quot;" group="Widgets" default="true">
    <meta name="boolean:display_widget_tags:Show Widget &quot;Tags&quot;" group="Widgets" default="true">
    <meta name="boolean:display_widget_navigation:Show Widget &quot;Navigation&quot;" group="Widgets" default="true">

    <style type="text/css" media="screen">
        @charset "utf-8";
        /* CSS Document */
        /*
            Theme Name: jeans
            Theme URI: http://www.wpart.org/wordpress-themes-jeans/
            Description: "Jeans" theme WORDPRESS template, visually rich and interesting, perfect details. Specially developed to hide  / display the sidebar, the                  user could select whether display the Sidebar or not, it's facilitate to read the article better, browse photos and watch videos.
                         Home Articles display as abstracts and thumbnail, maintaining the homepage rich and clean. Template also supports the head images switch,                  background images and background color change.
            Version: 1.2.1
            Author:WPart.org
            Author URI: http://www.wpart.org
            tags:blue,white,brown,orange,light,red,yellow,flexible-width,sticky-post,two-columns,right-sidebar,threaded-comments,custom-background,custom-header,photoblogging
            License: GNU General Public License v2.0
            License URI: http://www.gnu.org/licenses/gpl-2.0.html
        */


        body {
            background: url(http://assets.over-blog-kiwi.com/themes/8/images/body_bg.jpg) repeat #e8e7e5;
            margin:0 auto;
            padding:0;
            font-family: Arial, Tahoma, Helvetica, sans-serif;
            color:#343434;
            font-size:12px;
        }

        body a {
            color:#902400;
        }
        body a:hover {
            text-decoration:underline;
        }

        .alignright{
           float:right;
           margin:15px;
           margin-right:0;
           }

        .alignleft{
            float:left;
            margin:15px;
            margin-left:0;
           }

        .aligncenter {
           display:block;
           clear: both;
           margin:15px auto;
           }

        #container .main .entry img.alighleft{
            display: inline;
            float: left;
            margin:4px 0 0 24px;
        }

        #container .main .entry img.alignright {
            display: inline;
            float: right;
            margin:4px 0 0 24px;
        }

        #container .main .entry img.aligncenter {
            clear: both;
            float:none;
            display:block;
            margin:auto;
        }

        #container .main .entry img.alignnone {
            float:none;
        }

        #container .main .entry img.alignleft,
        #container .main .entry img.alignright,
        #container .main .entry img.aligncenter,
        #container .main .entry img.alignnone{
            margin-bottom: 12px;
        }

        table,tr, th, td {
            background: transparent;
            border: 0;
            margin: 0;
            padding: 0;
            vertical-align: baseline;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .main table {
            border: 1px solid #e7e7e7;
            margin: 0 -1px 24px 0;
            text-align: left;
            width: 100%;
        }
        .main  tr th,
        .main  thead th {
            color: #888;
            font-size: 12px;
            font-weight: bold;
            line-height: 18px;
            padding: 9px 24px;
        }
        .main tr td {
            border-top: 1px solid #e7e7e7;
            padding: 6px 24px;
        }
        .main  tr.odd td {
            background: #f2f7fc;
        }

        .wp-caption {
            line-height: 18px;
            margin-bottom: 20px;
            padding: 4px;
            text-align: center;
        }

        .wp-caption-text {
            color:#8f2425;
            font-size: 12px;
            margin: 5px;
        }

        .home .sticky {
            border-top: 4px solid #8f2425;
            margin:10px -20px;
            padding: 18px 20px;
            }

        .gallery-caption {
            color: #8f2425;
            font-size: 12px;
            margin: 0 0 12px;
        }
        .bypostauthor {
        }

        .white{
            color:#fff;
            }

        #header {
            width:100%;
            height:200px;
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/header_bg.jpg) repeat-x top left;
            margin:0 auto;
            clear:both;
            position:relative;
        }

        #headerContent {
            width:960px;
            margin:0 auto;
            position:relative;
        }

        .site-title {
            margin: 0;
            padding:0;
        }
        .site-title a {
            color: #fff;
            text-decoration: none;
            font-size:28px;
            font-weight:bold;
            position:absolute;
            left:0;
            top:10px;
            width: auto;
        }
        .site-title a:hover,
        .site-title a:focus,
        .site-title a:active {
            color: #1982d1;
        }
        .site-description {
            color: #fff;
            font-size:14px;
            font-weight:normal;
            margin: 0;
            position:absolute;
            left:0;
            top:70px;
            width: auto;
        }


        /* =search form
        -------------------------------------------------------------- */
        #searchTop {
            position:absolute;
            text-align:right;
            width:330px;
            right:0px;
            top:40px;
            z-index:100;
        }
        #searchTop form {
            padding:0;
            margin:0;
            height:39px;
        }
        #searchTop .txtField {
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/search_form.jpg) no-repeat left center;
            width:247px;
            height:29px;
            margin:15px 5px 0 0;
            padding:5px 10px;
            border:none;
            font-family: Arial, Tahoma, Helvetica, sans-serif;
            font-size:14px;
            color:#fff;
            line-height:30px;
            float:left;
        }
        #searchTop .btnSearch {
            margin:0;
            padding:2px;
            float:left;
            height:66px;
            width:58px;
            border:none;
            color:#999999;
            font-size:10px;
            background: url(http://assets.over-blog-kiwi.com/themes/8/images/search_btn.jpg) no-repeat top transparent;
            text-indent:-999px;
            cursor:hand;
        }
        #search {
            text-align:right;
            width:180px;
            padding:20px 0 0 5px;
        }
        #search form {
            padding:0;
            margin:0;
            height:26px;
        }
        #search .txtField {
            border:1px solid #cfcecc;
            background-color:#F0F0F0;
            width:135px;
            margin-right:5px;
            padding:5px;
            font-family: Arial, Tahoma, Helvetica, sans-serif;
            font-size:12px;
            float:left;
        }
        #search .btnSearch {
            margin:0;
            padding:2px;
            float:left;
            height:23px;
            width:18px;
            color:#999999;
            font-size:10px;
            background: url(http://assets.over-blog-kiwi.com/themes/8/images/searchBtn02.jpg) no-repeat top transparent;
            border:none;
            text-indent:-999px;
            cursor:hand;
        }


        /* =Menu
        -------------------------------------------------------------- */
        #menu {
            height:46px;
            width:100%;
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/nav_bg.jpg) repeat-x;
            padding:0;
            margin:0 auto;
            top:132px;
            left:0;
            position:absolute;
            text-transform: uppercase;
        }

        #menuLeft {
            height:46px;
            width:76px;
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/nav_l.jpg) no-repeat left;
            float:left;
        }

        #menuRight {
            height:46px;
            width:76px;
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/nav_r.jpg) no-repeat right;
            float:right;
        }

        #nav {
            height:31px;
            width:960px;
            padding:15px 0 0 0;
            margin:0 auto;
            text-transform:uppercase;
        }

        #nav .menu-header,
        div.menu {
            font-size: 13px;
            margin-left: 12px;
            width: 960px;
        }
        #nav .menu-header ul,
        div.menu ul {
            list-style: none;
            margin: 0;
            padding:0;
        }
        #nav .menu-header li,
        div.menu li {
            float: left;
            position: relative;
        }

        #nav ul li {
            margin:0px 15px 0 0;

        }

        #nav a {
            font-size:14px;
            color:#2a0b01;
            font-weight:bold;
            text-shadow:1px 1px #d5642d;
            display: block;
            height:35px;
            vertical-align:bottom;
            text-decoration:none;
        }

        #nav ul ul {
            display: none;
            position: absolute;
            top:20px;
            left:0;
            float: left;
            width:180px;
            z-index: 99999;
        }
        #nav ul ul li {

        }
        #nav ul ul ul {
            left: 100%;
            top: 0;
        }
        #nav ul ul a {
            background-color: #751600;
            line-height: 1em;
            padding:10px;
            height: auto;
        }
        #nav li:hover > a,
        #nav ul ul :hover > a {
            color: #fff;
        }
        #nav ul li:hover > ul {
            display: block;
        }
        #nav ul li.current_page_item > a,
        #nav ul li.current-menu-ancestor > a,
        #nav ul li.current-menu-item > a,
        #nav ul li.current-menu-parent > a {
            color: #fff;
        }
        * html #nav ul li.current_page_item a,
        * html #nav ul li.current-menu-ancestor a,
        * html #nav ul li.current-menu-item a,
        * html #nav ul li.current-menu-parent a,
        * html #nav ul li a:hover {
            color:#fff;
        }

        #headerImg{
            width:960px;
            height:auto;
            margin:0 auto;
            margin-top:20px;
            clear:both;
            }

        #headerImg img{
            border:1px solid #ac9889;
            }

        /* =content
        -------------------------------------------------------------- */
        .wrapper {
            width:966px;
            height:auto;
            margin:0 auto;
        }
        .post-wrapper {
            clear: both;
        }
        #container,#contentTop,#contentBot {
            width:966px;
            float:left;
        }

        #container {
            height:auto;
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/content_bg.png) repeat-y right;
            position:relative;
        }

        #contentTop {
            height:23px;
            margin-top:20px;
            background: url(http://assets.over-blog-kiwi.com/themes/8/images/content_top.png) no-repeat right top;
        }

        #contentBot {
            height:34px;
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/content_bot.png) no-repeat right top;
        }


        /* =main
        -------------------------------------------------------------- */
        #container .main {
            width:676px;
            margin:0 38px 20px 25px;
            float:left;
            display:inline;
            line-height:20px;
        }


        .main .posts .postmetadata {
            font-size:12px;
            float:left;
            width:670px;
            padding-bottom:5px;
            margin-bottom:15px;
            border-bottom:3px solid #8f2425;
        }

        .page-title {
            color: #6c3714;
            font-size: 14px;
            font-weight: bold;
            margin: 0 0 20px 0;
        }
        .page-title span {
            color: #6c3714;
            font-size: 16px;
            font-style: italic;
            font-weight: normal;
        }
        .page-title a:link,
        .page-title a:visited {
            color: #8F2425;
            text-decoration: none;
        }
        .page-title a:active,
        .page-title a:hover {
            color: #ff4b33;
        }

        .month {
            position: absolute;
            top: 13px;
            left: 25px;
            -moz-transform: rotate(-9deg);
            -webkit-transform: rotate(-9deg);
            -o-transform: rotate(-9deg);
            -ms-transform: rotate(-9deg);
            transform: rotate(-9deg);
        }

        .title {
            color:#6c3714;
            font-size:18px;
            font-weight:bold;
            height:25px;
            margin:0;
            padding-bottom:15px;
            border-bottom:1px solid #d8d8d8;
        }
        #container .main .entry img {
            padding:5px;
            border:1px solid #CCCCCC;
            margin:12px 12px 12px 0;
            float:left;
            height: auto;
            max-width: 100%;
        }

        #container .main .entry .post-title{
            clear:both;
        }

        #container .main .entry p{
            word-wrap:break-word;
        }

        .entry-thumbnails {
            width:145px;
            height:145px;
            padding:0 8px 8px 8px;
            margin:0 12px 12px 0;
            float:left;
            position:relative;
        }

        .entry-thumbnailsBg {
            width:130px;
            height:32px;
            margin:0 12px 12px 0;
            position:absolute;
            top:-18px;
            left:15px;
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/thambnail_bg.png) no-repeat top left;
            z-index:9999;
        }

        .entry-thumbnails img {
            width:145px;
            height:130px;
            border:1px solid #ccc;
        }
        .time {
            position:absolute;
            left:-85px;
            height:60px;
            width:73px;
            text-align: center;
            text-decoration:none;
            font-weight:bold;
            display:block;
            padding:15px 0 0 0;
            font-size:14px;
            line-height:25px;
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/postTime_bg.png) no-repeat;
        }

        .singleTitle{
            font-size:16px;
            font-weight:bold;
            line-height:20px;
            clear:both;
            padding-bottom:10px;
            margin-top:20px;
            border-bottom:2px solid #8f2425;
        }

        .post-title{
            color:#8f2425;
            font-size:16px;
            font-weight:bold;
            line-height:20px;
            clear:both;
            margin:0;
            padding:0;
        }
        .post-title a{
            color:#8f2425;
            text-decoration:none;
        }
        .post-title a:hover{
            color:#8f2425;
            text-decoration:underline;
        }
        .posts-quick .entry-summary {
            font-size: 12px;
            overflow:hidden;
            white-space:normal;
        }
        .posts-quick .postmetadata,
        .post .postmetadata {
            font-size:12px;
            width:100%;
            clear:both;
            padding-bottom:5px;
            margin-bottom:10px;
            border-bottom:2px solid #8f2425;
        }
        .posts-quick .postmetadata a,
        .post .postmetadata as {
            text-decoration:underline;
        }
        .posts-quick .quick-read-more a:link, .posts-quick .quick-read-more a:visited {
            padding:0 3px;
            font-size: 12px;
            text-decoration: none;
            float:right;
        }
        .posts-quick .quick-read-more a:hover {
            color:#fff;
            background:#8f2425;
        }
        .ob-repost {
            border: 1px solid #DDD;
            font-weight: bold;
            margin-top: 2em;
            text-align: center;
        }

        .edit-link {
            clear: both;
            display: block;
        }

        pre {
            overflow: auto;
        }

        .page-link {
            font-weight: bold;
            margin: 0 0 22px 0;
            word-spacing: 0.5em;
            clear:both;
        }
        .page-link a:link,
        .page-link a:visited {
            background: #f1f1f1;
            color: #333;
            font-weight: normal;
            padding: 0.5em 0.75em;
            text-decoration: none;
        }
        .home .sticky .page-link a {
            background: #d9e8f7;
        }
        .page-link a:active,
        .page-link a:hover {
            color: #ff4b33;
        }


        /* next previous */
        .previous a {
            float:left;
            width:93px;
            height:33px;
        }
        .previous a:hover {
            font-weight:bold;
        }
        .next a {
            float:right;
            width:93px;
            height:33px;
        }
        .next a:hover {
            font-weight:bold;
        }
        /*main end*/



        /* =sidebar
        -------------------------------------------------------------- */
        #sidebar {
            width:189px;
            padding:0;
            margin:0;
            float:left;
        }

        #sidebarBtn {
            width:45px;
            height:148px;
            right:-8px;
            top:100px;
            position: absolute;
            z-index:9999;
        }


        .close-sidebar, .show-sidebar {
            width:45px;
            height:148px;
            cursor: hand;
        }

        .close-sidebar img, .show-sidebar img{
            border:0;
        }


        #sidebar h2 {
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/sidebarTitle.jpg) no-repeat bottom;
            height:32px;
            width:169px;
            line-height:30px;
            padding-left:20px;
            margin-top:30px;
            font-size:14px;
            font-weight:bold;
            text-transform:uppercase;
            color:#fff;
            float:left;
        }
        #sidebar ul {
            font-size:12px;
            line-height: 25px;
            margin:0;
            padding:0;
        }
        #sidebar ul li {
            float:left;
            list-style-type: none;
        }
        #sidebar ul li ul {
            width:170px;
            float: left;
            margin-left:17px;
            _margin-left:5px;
        }
        #sidebar ul li ul ul {
            width:95%;
            float: left;
            background-image: none;
            margin: 0px;
            padding: 0px;
        }
        #sidebar ul li ul li {
            list-style-type: none;
            padding-left:15px;
            width: 85%;
            display: block;
            float: left;
            margin:0 5px;
        }
        #sidebar a {
            color: #5c5c5c;
            text-decoration:none;
        }
        #sidebar .tagcloud {
            width:160px;
            padding-left:20px;
        }
        #sidebar .tagcloud a {
            color: #5c5c5c;
            text-decoration:none;
            display:inline;
        }
        #sidebar a:hover {
            text-decoration: underline;
            font-weight:bold;
            color:#386878;
        }
        #sidebar h2 a,
        #sidebar h2 a:hover {
            color: white;
            text-decoration: none;
        }

        .navigation {
            height:20px;
            margin:10px 0;
            list-style:none;
            text-align:center;
            clear:both;
        }

        .navigation a {
            float:none;
            text-decoration: none;
            padding:3px 5px;
            margin-top:10px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            display: inline-block;
        }

        .navigation a:hover {
            background-color:#8f2425;
            color: #FFF;
            text-decoration: none;
        }

        #nav-below {
            margin: 18px 0 0 0;
        }

        .nav-previous {
            float: left;
            width: 50%;
            text-align:left;
        }
        .nav-next {
            float: right;
            text-align: right;
            width: 50%;
        }


        /* =comments
        -------------------------------------------------------------- */
        #comments{
            /*float:left;*/
            margin:10px 0;
            }

        .commentlist {
          list-style:none;
          margin:0;
          padding:0;
        }

        .commentlist li.comment {
            border-bottom: 1px dashed #8f2425;
            line-height: 24px;
            margin: 0 0 24px 0;
            padding:10px 0 30px 0;
            float:left;
            width:100%;

        }

        #respond{
            padding-top:20px;
            float:left;
            position:relative;
            }

        #reply-title {
            width:207px;
            height:32px;
            padding-left:8px;
            margin:0;
            line-height:30px;
            color:#fff;
            background: url(http://assets.over-blog-kiwi.com/themes/8/images/commentTitle.jpg) top left no-repeat;
            position:absolute;
            left:-25px;
            top:0;
        }

        #comments-title    {
            color:#999;
        }

        .commentlist ol {
            list-style: decimal;
        }

        .commentlist .avatar {
            border: 1px solid #8f2425;
            padding: 2px;
            float: left;
            margin: 0 15px 10px 0;
        }
        .commentlist cite {
            font-weight: 700;
            font-style: normal;
            line-height: 20px;
            font-size: 14px;
            color:#8f2425;
        }

        .commentlist .children {
            list-style: none;
            margin: 0;
        }
        .commentlist .children li {
            border: none;
            margin: 0;
        }

        .commentlist p {
            font-size: 12px;
        }
        .commentlist .comment-meta, #commentlist .comment-meta abbr {
            border: none;
            text-decoration: none;
            font-size: 11px;
        }

        .commentlist .reply a{
            color:#8f2425;
            float:right;
            text-decoration: none;
            padding:3px 8px;
            margin: 0;
        }

        .comments-navigation a, .read-more {
            color:#666;
            float:right;
            text-decoration: none;
            padding:3px 8px;
            margin: 0;
            border: 1px solid #8f2425;
        }
        .commentlist .reply a:hover, .comments-navigation a:hover,  .read-more:hover {
            background: #8f2425;
            color: #FFF;
        }
        .comments-navigation {
            padding: 0 10px 10px;
        }
        .comments-navigation a {
            display: inline-block;
        }
        .nocomments {
            border: solid #E7E7E7;
            border-width: 0 1px 1px;
            padding: 15px 10px;
            margin: 0 10px 10px 0;
            font-size: 12px;
            display:none;
        }



        #commentform {
            margin:10px 10px 0 0;
            padding: 10px;
        }
        #commentform label {
            color: #8f2425;
        }
        #commentform label.error {
            margin: 5px 0;
            color: #A80009;
            font-weight: bold;
            padding: 5px;
        }
        #commentform span.required {
            color: #A80009;
        }
        #commentform input[type=text] {
            display: block;
            width: 300px;
            border:1px solid #ccc;
            font: 12px 'Lucida Grande', Arial, Helvetica, sans-serif;
            margin: 5px 0;
            padding: 5px;
        }
        #commentform textarea {
            display: block;
            font: 14px 'Lucida Grande', Arial, Helvetica, sans-serif;
            border:1px solid #ccc;
            width: 90%;
            margin-bottom: 5px;
        }

        #commentform #submit {
            color:#fff;
            padding:5px;
            margin:7px 0;
            border:0;
            text-align: center;
            background:#8f2425;
        }

        #commentform #submit:hover{
            border: 1px solid #ccc;
        }

        #cancel-comment-reply-link a{
            font-size: 11px;
            float:right;
            color:#fff;
        }

        /* =footer
        -------------------------------------------------------------- */

        #footer {
            margin:0 auto;
            margin-top:50px;
            clear: both;
            width:100%;
            height:175px;
            color:#fff;
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/footer_bg.png) repeat-x top;
        }

        #footerContent {
            margin:0 auto;
            width:947px;
            height:175px;
            background:url(http://assets.over-blog-kiwi.com/themes/8/images/footerImg.png) no-repeat 0 3px;
        }

        #footer a{
            font-weight:bold;
            color:#fff;
        }

        #footer a:hover{
            text-decoration:underline;
        }

        #footer p{
            padding:100px 10px 0 10px;
            clear:both;
        }
        /*footer end*/


        /* =Gallery listing
        -------------------------------------------------------------- */

        .format-gallery .size-thumbnail img,
        .category-gallery .size-thumbnail img {
            border: 10px solid #f1f1f1;
            margin-bottom: 0;
        }
        .format-gallery .gallery-thumb,
        .category-gallery .gallery-thumb {
            float: left;
            margin-right: 20px;
            margin-top: -4px;
        }

        #container .main .center .entry-utility {
            padding-top: 4px;
            margin:10px 0;
        }

        #container .main .entry .gallery {
            margin: 0 auto 18px;
        }
        #container .main .entry .gallery .gallery-item {
            float: left;
            margin-top:10px;
            text-align: center;
            width: 33%;
        }
        #container .main .entry .gallery-columns-2 .gallery-item {
            width: 50%;
        }
        #container .main .entry .gallery-columns-4 .gallery-item {
            width: 25%;
        }

        #container .main .entry .gallery-columns-2 .attachment-medium {
            max-width: 92%;
            height: auto;
        }
        #container .main .entry .gallery-columns-4 .attachment-thumbnail {
            max-width: 84%;
            height: auto;
        }
        #container .main .entry .gallery .gallery-caption {
            color: #888;
            font-size: 12px;
            margin: 0 0 12px;
        }
        #container .main .entry .gallery dl {
            margin: 0;
        }
        #container .main .entry .gallery img {
            border: 10px solid #f1f1f1;
        }
        #container .main .entry .gallery br+br {
            display: none;
        }

        #container .attachment img { /* single attachment images should be centered */
            display: block;
            margin: 0 auto;
        }

        /* =Attachment pages
        -------------------------------------------------------------- */

        .attachment .entry-content .entry-caption {
            font-size: 140%;
            margin-top: 24px;
        }
        .attachment .entry-content .nav-previous a:before {
            content: '\2190\00a0';
            float:left;
        }
        .attachment .entry-content .nav-next a:after {
            content: '\00a0\2192';
            float:right;
        }

        /* =Widgets
        ----------------------------------------------- */

        .widget-area {
            font-size: 12px;
        }
        .widget {
            clear: both;
            margin: 0 0 2.2em;
        }
        .widget-title {
            color: #666;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: 0.1em;
            line-height: 2.6em;
            text-transform: uppercase;
        }
        .widget ul {
            font-size: 15px;
            margin: 0;
        }
        .widget ul ul {
            margin-left: 1.5em;
        }
        .widget ul li {
            color: #777;
            font-size: 13px;
        }
        .widget a {
            font-weight: bold;
            text-decoration: none;
        }
        .widget a:hover,
        .widget a:focus,
        .widget a:active {
            text-decoration: underline;
        }

        /* =error404
        ----------------------------------------------- */
        .error404 #main {
            clear: none;
            float: left;
            margin: 0 25px;
            width:900px;
        }

        .error404 #main .widget {
            clear: none;
            float: left;
            margin-right: 3.7%;
            width: 30.85%;
        }
        .error404 #main .widget_archive {
            margin-right: 0;
        }
        .error404 #main .widget_tag_cloud {
            float: none;
            margin-right: 0;
            width: 100%;
            clear:both;
        }
        .error404 .widgettitle {
            font-size: 10px;
            letter-spacing: 1px;
            line-height: 20px;
            text-transform: uppercase;
        }

        .profile .avatar {
            text-align: center;
        }
        .profile p {
            text-align: right;
            margin: 1em;
        }
        .pagination {
            clear: both;
        }
        .pagination .previous {
            float: left;
        }
        .pagination .next {
            float: right;
        }
    </style>
</head>

<body class="home blog">
    <div id="header">
        <div id="headerContent">
            <{% if isIndex %}h1{% else %}p{% endif %} class="site-title">
            <span><a href="{{ Blog.Url }}" title="{{ Blog.Title }}" rel="home">{{ Blog.Title }}</a></span>
            </{% if isIndex %}h1{% else %}p{% endif %}>
            <p class="site-description">{{ Blog.Description }}</p>
            <div id="searchTop">
                <form method="get" id="searchform" action="/search" method="get">
                    <input type="text" value="" name="q" id="q" class="txtField" />
                    <input type="submit" id="searchsubmit" class="btnSearch" value="{{ Search }}" />
                </form>
            </div>
        </div>
        <!-- #headerContent -->
        <div id="menu">
            <div id="menuLeft"></div>
            <div id="menuRight"></div>
            <div id="nav">
                <div class="menu">
                    <ul>{#
                        #}<li class="current_page_item"><a href="{{ Blog.Url }}" title="Home">Home</a></li>{#
                        #}{% list Blog.ListPages %}{#
                        #}<li class="current_page_item"><a href="{{ ListPage.Url }}" title="{{ ListPage.Title }}">{{ ListPage.Title }}</a></li>{#
                        #}{% endlist %}
                    </ul>
                </div>
            </div>
            <!-- #nav  -->
        </div>
        <!-- #menu  -->
    </div>
    <!-- #header -->
    <div id="headerImg">
        <img src="http://assets.over-blog-kiwi.com/themes/8/images/{{ Custom('style') }}.jpg" width="960" height="302" alt="" />
    </div>

    <div class="wrapper">
        <div id="contentTop"></div>
        <div id="container">
            <div class="main">

                {# List title #}
                {% if isSearch %}
                <h1 class="list-title">Search for “{{ Search }}”</h1>
                {% endif %}
                {% if isTag %}
                <h1 class="list-title">Posts with #<strong>{{ Tag.Title }}</strong> tag</h1>
                {% endif %}

                {# Posts #}
                {% if Posts is empty %}

                {% if isSearch %}
                <div class="contenuArticle">
                    <p>
                        No result… Try again !
                    </p>
                    <form action="/search" method="get">
                        <input type="text" name="q" value="{{ Search }}" placeholder="{{ Lang.Get('Search') }}" />
                        <button type="submit">{{ Lang.Get('Search') }}!</button>
                    </form>
                </div>
                {% else %}
                <div class="contenuArticle">
                    <p>
                        {{ Lang.Get('No post') }}…
                    </p>
                </div>
                {% endif %}

                {% else %}

                {% list Posts %}

                <div class="post-wrapper">
                    <div class="time">
                        <time datetime="{{ Post.Date }}"><span class="month">{{ Post.Date | date('M') }}</span><br /><span class="white">{{ Post.Date | date('j') }}</span></time>
                    </div>
                    <div class="post-{{ loop.index }} post">
                        <h{% if isSingle %}1{% else %}2{% endif %} class='post-title'>
                            <a href="{{ Post.Permalink }}" rel="bookmark" title="{{ Post.Title | default(Post.Snippet | truncate(100)) }}">{{ Post.Title | default(Post.Snippet | truncate(100)) }}</a>
                        </h{% if isSingle %}1{% else %}2{% endif %}>
                        <div class="entry-summary">
                            <div class="postmetadata">
                                {% if Post.Author is not empty %}{{ Custom('text_publishedby') }} {{ Post.Author}}&nbsp;|&nbsp;{% endif %}{{ Post.Date | date('h:m A') }}&nbsp;|&nbsp;{% if Post.Comments is empty %}&nbsp;|&nbsp;<span>{{ Lang.Get('Comments Off') }}</span>{% else %}<a href="{{ Post.Permalink }}#comments">{{ Post.CommentCount('%c comment', '%c comments') }}</a>{% endif %}&nbsp;|&nbsp;{% list Post.Tags %}<a href="{{ Tag.Url }}">#{{ Tag.Title }}</a>{% if  not loop.last %}, {% endif %}{% endlist %}
                            </div>

                            {% if isSingle %}

                                <div class="entry">
                                    <article>
                                        {{ Post.Body }}
                                    </article>

                                    <div id="comments">
                                        {{ Post.Comments }}
                                    </div>
                                </div>

                            {% else %}

                            <div class="entry-thumbnails">
                                <div class="entry-thumbnailsBg"></div>
                                <a href="{{ Post.Permalink }}" title="{{ Lang.Get('ReadMore') }}"><img src="{{ Post.Cover | default('http://assets.over-blog-kiwi.com/themes/8/images/thumbnail.png') | resize(145, 130) | crop }}" alt="thumbnail" /></a>
                            </div>
                            <div class="entry">
                                {{ Post.Snippet }}
                                <p class="quick-read-more"><a href="{{ Post.Permalink }}" title="{{ Post.Title }}">{{ Lang.Get('Read more') }}&nbsp;&gt;&gt;</a></p>
                            </div>

                            {% endif %}
                        </div>
                    </div>
                    <!--post end-->
                </div>

                {% endlist %}

                {% endif %}

                {% if Navigation.PreviousPage is not empty or Navigation.NextPage is not empty %}
                <div class="before_articles">
                    <div class="pagination clearfix">
                        {% if Navigation.PreviousPage is not empty %}
                        <a href="{{ Navigation.PreviousPage }}" class="previous">{{ Lang.Get('Previous page') }}</a>
                        {% endif %}

                        {% if Navigation.NextPage is not empty %}
                        <a href="{{ Navigation.NextPage }}" class="next">{{ Lang.Get('Next page') }}</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            <!--main end-->

            <div id="sidebar">
                <ul>

                    {# Blog profile #}
                    {% if Custom('display_widget_profile') %}
                    <li>
                        <h2><a href="{{ Blog.Url }}">{{ Blog.Title }}</a></h2>
                        <div class="profile clearfix">
                            {% if Blog.Avatar is not empty %}
                            <p class="avatar">
                                <img src="{{ Blog.Avatar | resize(100) }}" alt="{{Blog.Title}}" />
                            </p>
                            {% endif %}
                            {% if Blog.Description is not empty %}
                            <p>
                                “{{ Blog.Description }}”
                            </p>
                            {% endif %}
                            {% if Blog.Owner.Nickname is not empty %}
                            <p>
                                {{ Lang.Get('Written by') }} {{ Blog.Owner.Nickname }}
                            </p>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}

                    {# Tags #}
                    {% if Custom('display_widget_tags') %}
                    <li>
                        <h2>tag cloud</h2>
                        {% list Blog.PostsTags(20) %}
                        <a href="{{ PostsTag.Url }}"{# class='tag-link-12'#} title="{{ PostsTag.Title }}"{# style='font-size: 8pt;'#}>{{ PostsTag.Title }}</a>
                        {% endlist %}
                    </li>
                    {% endif %}

                    {# Search #}
                    {% if Custom('display_widget_search') %}
                    <li>
                        <h2>Search</h2>
                        <div id="search">
                            <form method="get" id="searchform" action="/search/">
                                <input type="text" value="" name="q" id="q" class="txtField" />
                                <input type="submit" id="searchsubmit" class="btnSearch" value=" " />
                            </form>
                        </div>
                    </li>
                    {% endif %}

                    {# Navigation #}
                    {% if Custom('display_widget_navigation') %}
                    <li>
                        <h2>Navigation</h2>
                        <ul class="blogroll">
                            <li>
                                <a href="{{ Blog.Url }}/contact">
                                    {{ Lang.Get('Contact') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ Blog.Url }}/terms">
                                    {{ Lang.Get('Terms') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div><!-- sidebar -->
        </div>
        <div id="contentBot"></div>
    </div>
    <!--content end-->

    <div id="footer">
        <div id="footerContent">
            <p>
                <span class="alignleft"><a href="http://www.over-blog.com/">Overblog</a></span>
                <span class="alignright"><strong>Designed by <a href="http://www.wpart.org">wpart.org</a></strong></span>
           </p>
       </div>
   </div>
</body>
</html>